.import-job-view-edit {

  label {
    padding-left: 0;
  }

  &__button-panel {
    display: flex;
  }

  &__button-group {
    display: flex;
  }

  &__provider-select {
    width: 50%;
    color: black;
    margin-right: 0.5rem;
  }

}