.users-import {
  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__row {
    display: flex;

    &--footer {
      justify-content: flex-end;
    }

    * {
      margin-left: 0.5rem;
    }
  }
  &__finish {
    padding: 5rem 0;
    text-align: center;
  }
  &__link {
    cursor: pointer;
  }
  &__provider-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}