<select data-bind="options: conceptSets, 
	optionsText: function(item) { return item.name }, 
	optionsCaption: 'Please select codeset to modify...', 
	value: selectedConceptSet" class="mediumInputField">
</select>
<button class="btn btn-primary btn-sm" data-bind="click: function () { $component.createConceptSet() }">New Concept Set</button>
<button class="btn btn-primary btn-sm" data-bind="visible: !(selectedConceptSet()), click: function () { $component.isLoadEnabled(true) }">Load</button>
<button class="btn btn-primary btn-sm" data-bind="visible: selectedConceptSet, click: function () { $component.isImportEnabled(true) }">Import</button>
<button class="btn btn-primary btn-sm" data-bind="visible: selectedConceptSet, click: function () { $component.isExportEnabled(true) }">Export</button>
<button class="btn btn-danger btn-sm" data-bind="visible: selectedConceptSet, click: function () { $component.deleteConceptSet() }">Delete</button>
<div data-bind="if: selectedConceptSet">
		<div class="tabs" data-bind="tabs: { widget: $component.tabWidget }">
		<ul>
			<li data-bind="attr: { 'aria-controls': 'csExpression' }">
				<a data-bind="attr: { title: 'Concept Set Expression', href: '#csExpression' }, text: 'Concept Set'"></a>
			</li>
			<li data-bind="attr: { 'aria-controls': 'csIncluded' }">
				<a data-bind="attr: { title: 'Concept Sets', href: '#csIncluded' }">
					Included Concepts
					<!-- ko if: includedConceptsComponent() && includedConceptsComponent().isLoading() -->
					<img class="spin" style="width: 14px; height: 14px" src="images/running.png" />
					<!-- /ko -->
					<!-- ko if: !(includedConceptsComponent() && includedConceptsComponent().isLoading()) -->
					<span style="font-size: .75em" class="badge" data-bind="text: includedConceptsComponent() && includedConceptsComponent().includedConcepts().length"></span>
					<!-- /ko -->
				</a>
			</li>
			<li data-bind="attr: { 'aria-controls': 'csMapped' }">
				<a data-bind="attr: { title: 'Mapped Concepts', href: '#csMapped' }">
					Mapped Concepts
					<!-- ko if: mappedConceptsComponent() && mappedConceptsComponent().isLoading() -->
					<img class="spin" style="width: 14px; height: 14px" src="images/running.png" />
					<!-- /ko -->
					<!-- ko if: !(mappedConceptsComponent() && mappedConceptsComponent().isLoading()) -->
					<span style="font-size: .75em" class="badge" data-bind="text: mappedConceptsComponent() && mappedConceptsComponent().mappedConcepts().length"></span>
					<!-- /ko -->
				</a>
			</li>
		</ul>
		<div data-bind="attr: { id: 'csExpression' }">
			<div data-bind="with: selectedConceptSet" style="padding: 5px;">
				<input style="width: 100%" data-bind="value:name, hasFocus: $component.nameHasFocus, selectOnFocus: true"></input>
				<table class="stripe compact hover" cellspacing="0" width="100%" data-bind="dataTable: {
						data: expression.items,
						api: $component.dtApi,
						options: {
							orderClasses: false,
							deferRender: true,
							order: [[2, 'desc']],																																											 	
							columns: [
									'select',
									{ title: 'Concept Id', data: 'concept.CONCEPT_ID'},
									{ title: 'Concept Code', data: 'concept.CONCEPT_CODE'},
									{ title: 'Concept Name', data: 'concept.CONCEPT_NAME'},
									{ title: 'Domain', data: 'concept.DOMAIN_ID' },
									{ title: 'Vocabulary', data: 'concept.VOCABULARY_ID' },
									{ title: 'Exclude', class:'text-center', orderable:false, render: function() { return $component.renderCheckbox('isExcluded');} },
									{ title: 'Descendants', class:'text-center', orderable:false,render: function() { return $component.renderCheckbox('includeDescendants');} },
									{ title: 'Mapped', class:'text-center', orderable:false,render: function() { return $component.renderCheckbox('includeMapped');} }																																																		 
							],
							language: {
								search: 'Filter records:'
							}
					 }
				}">
				</table>
			</div>
			<concept-picker params="onAdd: $component.addConcepts"></concept-picker><button class="btn btn-danger btn-sm" data-bind="click: function () { $component.removeSelected() }">Remove Selected</button>
		</div>
		<div data-bind="attr: { id: 'csIncluded' }">
			<div style="padding: 5px;">
				<input style="width: 100%" data-bind="value:name, hasFocus: $component.nameHasFocus, selectOnFocus: true"></input>
				<concept-set-included-concepts params="conceptSet: selectedConceptSet, widget:includedConceptsComponent"></concept-set-included-concepts>
			</div>
		</div>
		<div data-bind="attr: { id: 'csMapped' }">
			<div style="padding: 5px;">
				<input style="width: 100%" data-bind="value:name, hasFocus: $component.nameHasFocus, selectOnFocus: true"></input>
				<concept-set-mapped-concepts params="conceptSet: selectedConceptSet, widget:mappedConceptsComponent"></concept-set-mapped-concepts>
			</div>

		</div>
	</div>
	<!-- ko if: isImportEnabled -->
	<div title="Import Concept Set...." style="padding: 0px; padding-top: 5px; padding-right: 5px" data-bind="dialog: { isOpen: isImportEnabled, modal: true, width:700, height:500}">
		<div style="height:100%; overflow: none; padding-top: 5px; padding-bottom: 40px;">
			<textarea style="width: 100%; height: 100%; resize: none" data-bind="textInput: importValues"></textarea>
		</div>
		<div style="position: relative; margin-top: -30px; height: 30px; clear: both;">
			<button class="btn btn-sm btn-primary" data-bind="click: doImport">Import</button>
		</div>		
	</div>
	<!-- /ko -->
	<!-- ko if: isExportEnabled -->
	<div title="Export Concept Set..." style="padding: 0px; padding-top: 5px; padding-right: 5px" data-bind="dialog: { isOpen: isExportEnabled, modal: true, width:700, height:500}">
		<div style="height:100%; overflow: none; padding-top: 5px; padding-bottom: 10px;">
			<textarea style="width: 100%; height: 100%; resize: none" data-bind="value: getConceptSetJson()"></textarea>
		</div>
	</div>
	<!-- /ko -->
</div>
<!-- ko if: isLoadEnabled -->
<div data-bind="modal: isLoadEnabled" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">Select Concept Set...</div>
			<div class="paddedWrapper">
				<cohort-concept-set-browser params="{onRespositoryConceptSetSelected: $component.repositoryConceptsetSelected}"></cohort-concept-set-browser>
			</div>
		</div>
	</div>
</div>
<!-- /ko -->
