<!-- ko if: isLoading() -->
<loading></loading>
<!-- /ko -->

<!-- ko if: !isLoading() -->
	<heading-title params="name: ko.i18n('cs.manager.concept.title', 'Vocabulary > Concept'), icon: 'search', theme: 'dark'"></heading-title>
	<div class="asset-heading" data-bind="with:currentConcept()">
		<span data-bind="css: {classification: STANDARD_CONCEPT=='C', invalid: STANDARD_CONCEPT=='N'}, text:CONCEPT_NAME"></span>
	</div>

	<tabs params="
		tabs: [
			{
				title: ko.i18n('cs.manager.concept.tabs.details.caption', 'Details'),
				key: 'details',
				componentName: 'concept-details',
				componentParams: $component.tabParams
			},
			{
				title: ko.i18n('cs.manager.concept.tabs.relatedConcepts.caption', 'Related Concepts'),
				key: 'related',
				componentName: 'concept-related',
				componentParams: $component.tabParams
			},
			{
				title: ko.i18n('cs.manager.concept.tabs.hierarchy.caption', 'Hierarchy'),
				key: 'hierarchy',
				componentName: 'concept-hierarchy',
				componentParams: $component.tabParams
			},
			{
				title: ko.i18n('cs.manager.concept.tabs.recordCounts.caption', 'Record Counts'),
				key: 'count',
				componentName: 'concept-count',
				componentParams: $component.tabParams
			},
			{
				title: ko.i18n('cs.manager.concept.tabs.drilldownReport.caption', 'Drilldown Report'),
				key: 'report',
				componentName: 'concept-drilldown-report',
				componentParams: $component.tabParams
			}
		]">
	</tabs>
<!-- /ko -->