<div>
	<div class="wrapperTitle">
		<i class="fa fa-users"></i> Cohorts
	</div>
	<div data-bind="if:$component.canReadCohorts">
		<div class="paddedWrapper">
			<div class="row">
				<div class="col-sm-offset-10 col-sm-1" data-bind="attr: {title: $component.newCohortButtonCaption()}">
					<div class="btn btn-sm btn-primary" data-bind="click:$component.newDefinition, css: {disabled: pageModel.currentCohortDefinition() != undefined || !$component.canCreateCohort()}">New Cohort</div>
				</div>
			</div>
			<cohort-definition-browser params="{cohortDefinitionSelected: cohortDefinitionId}"></cohort-definition-browser>
		</div>
	</div>
	<div data-bind="ifnot:$component.canReadCohorts">
		<div class="padded">
			<access-denied params="isAuthenticated: isAuthenticated"></access-denied>
		</div>
	</div>
</div>
