<script type='text/html' id='conceptsets-comparison-headers'>
  <tr>
    <th data-bind="text: ko.i18n('columns.match', 'Match')"></th>
    <th data-bind="text: ko.i18n('columns.id', 'Id')"></th>
    <th data-bind="text: ko.i18n('columns.code', 'Code')"></th>
    <th data-bind="text: ko.i18n('columns.name', 'Name')"></th>
    <th data-bind="text: ko.i18n('columns.class', 'Class')"></th>
    <th data-bind="text: ko.i18n('columns.validStartDate', 'Valid Start Date')"></th>
    <th data-bind="text: ko.i18n('columns.validEndDate', 'Valid End Date')"></th>
    <th><i id="dtConeptManagerRC" class="fa fa-database" aria-hidden="true"></i> RC</th>
    <th><i id="dtConeptManagerDRC" class="fa fa-database" aria-hidden="true"></i> DRC</th>
    <th><i id="dtConeptManagerPC" class="fa fa-database" aria-hidden="true"></i> PC</th>
    <th><i id="dtConeptManagerDPC" class="fa fa-database" aria-hidden="true"></i> DPC</th>
    <th data-bind="text: ko.i18n('columns.domain', 'Domain')"></th>
    <th data-bind="text: ko.i18n('columns.vocabulary', 'Vocabulary')"></th>
  </tr>
</script>

<div class="paddedWrapper">
  <div class="heading">
    <b data-bind="text: ko.i18n('cs.browser.compare.headingMessage', 'Use this utility to compare the contents of two concept sets to see which concepts they may share')"></b>:
    <span data-bind="text: ko.i18n('cs.browser.compare.heading', 'Concept Set Comparison')"></span>
  </div>
  <div>
    <label data-bind="text: ko.i18n('cs.browser.compare.conceptSet1', 'Concept Set 1:')"></label>
    <div class="input-group">
      <input class="form-control" type="text" disabled data-bind="value: $component.compareCS1Caption" />
      <span class="input-group-btn">
        <button class="btn btn-primary" data-bind="click: chooseCS1">
          <i class="fa fa-folder-open"></i>
        </button>
        <div class="upload-container">
        <input id="file-CS1" type="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" data-bind="event: { change: function(data, event) { uploadCS1(event) } }">
        <label  class="btn btn-primary" for="file-CS1"><i class="fas fa-file-excel"></i></label>
        </div>
        <button class="btn btn-danger" data-bind="
          disable: $component.compareCS1Id() == 0,
          click: clearCS1
        " type="button">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </div>
  <br/>
  <div>
    <label data-bind="text: ko.i18n('cs.browser.compare.conceptSet2', 'Concept Set 2:')"></label>
    <div class="input-group">
      <input class="form-control" type="text" disabled data-bind="
        value: $component.compareCS2Caption
      " />
      <span class="input-group-btn">
        <button class="btn btn-primary" data-bind="click:chooseCS2">
          <i class="fa fa-folder-open"></i>
        </button>
        <div class="upload-container">
        <input id="file-CS2" type="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" data-bind="event: { change: function(data, event) { uploadCS2(event) } }">
        <label  class="btn btn-primary" for="file-CS2"><i class="fas fa-file-excel"></i></label>
        </div>
        <button class="btn btn-danger" data-bind="
          disable: $component.compareCS2Id() == 0,
          click: clearCS2
        " type="button">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
      </span>
    </div>
  </div>
  <loading data-bind="visible: $component.conceptSetLoading"></loading>
  <div data-bind="if: $component.compareReady()">
    <div class="paddedWrapper compare-pane">
      <button type="button" class="btn btn-sm btn-primary" data-bind="
        click: $component.compareConceptSets;
      ">
        <i data-bind="css: $component.compareLoadingClass"></i>
        <span data-bind="text: ko.i18n('cs.browser.compare.compareConceptSets', 'Compare Concept Sets')"></span>
      </button>
    </div>
  </div>
  <div data-bind="if: !$component.compareReady() && currentConceptSetDirtyFlag().isDirty()">
    <div class="paddedWrapper compare-pane">
      <i class="fa fa-exclamation-triangle"></i>
      <span data-bind="text: ko.i18n('cs.browser.compare.saveWarning', 'You must save the current concept set before you can perform this comparison.')"></span>
    </div>
  </div>
  <div data-bind="if: $component.compareError()">
    <div class="paddedWrapper">
      <span class="compare-message" data-bind="text: ko.i18n('cs.browser.compare.sameWarning', 'You cannot compare the same concept sets.')"></span>
    </div>
  </div>
  <div data-bind="if: $component.compareReady() && $component.compareUnchanged() && $component.compareResults()">
    <div class="heading compare-results">
      <b data-bind="text: ko.i18n('cs.browser.compare.comparisonResults', 'Comparison Results')"></b>
    </div>
    <div class="container-fluid">
      <div class="pull-left">
        <button class="btn btn-sm btn-primary" data-bind="click: showSaveNewModal, text: ko.i18n('cs.browser.compare.saveMessage', 'Save New Concept Set From Selection Below')"></button>
      </div>
      <div class="pull-right compare-results">
        <i data-bind="attr: { class: $component.recordCountClass }" aria-hidden="true">
        </i>
        <span data-bind="text: ko.i18n('cs.browser.compare.viewCountMessage', 'View database record counts (RC) and descendant record counts (DRC) for:')"></span>
        <select data-bind="
          options: $component.resultSources,
          optionsText: 'sourceName',
          optionsValue: 'sourceKey',
          value: $component.currentResultSource().sourceKey,
          event: { change: $component.refreshRecordCounts }
        "></select>
      </div>
    </div>
    <div class="panel panel-default" data-bind="collapsable: showDiagram, collapseTargetClass: 'panel-body', collapseOptions: { selectorClass: 'panel-heading', collapsabledClass: 'active' }">
      <div class="panel-heading panel-subheading panel-heading-collapsible div-enabled" data-bind="click: toggleShowDiagram">
        <span class="glyphicon-chevron-up"><i class="fas fa-chart-pie"></i> <span data-bind="text: ko.i18n('cs.browser.compare.vennDiagram', 'Venn Diagram')"></span></span>
      </div>
      <div class="panel-body collapse">
          <!-- ko if: !compareResultsSame() -->
          <div class="compare-results-same" data-bind="text: ko.i18n('cs.browser.compare.sameConcepts', 'Compared Concept Sets contain Concepts which are identical')"></div>
          <!-- /ko -->
          <!-- ko if: compareResultsSame() -->
          <venn-diagram params="{
            data: compareResults,
            firstConceptSet: compareCS1Caption,
            secondConceptSet:compareCS2Caption,
            updateOutsideFilters: $component.updateOutsideFilters,
            lastSelectedMatchFilter: $component.lastSelectedMatchFilter
            }"></venn-diagram>
          <!-- /ko -->
      </div>
    </div>
    <div id="compareResults">
      <faceted-datatable params="{
        reference:$component.compareResults,
        outsideFilters: $component.outsideFilters,
        updateLastSelectedMatchFilter: $component.updateLastSelectedMatchFilter,
        columns: compareResultsColumns,
        options:compareResultsOptions,
        order: $component.compareResultsOptions.order,
        pageLength: $component.compareResultsOptions.pageLength,
        lengthMenu: $component.compareResultsOptions.lengthMenu,
        headersTemplateId: 'conceptsets-comparison-headers',
        language: ko.i18n('datatable.language')
      }">
    </faceted-datatable>

  </div>
</div>
</div>

<atlas-modal
  params="{
    showModal: isModalShown,
    title: ko.i18n('cs.browser.compare.modalTitle', 'Choose a concept set'),
    data: {
      conceptsetSelected: conceptsetSelected
    },
  }"
>
	<concept-set-browser params="
		onRespositoryConceptSetSelected: conceptsetSelected,
		repositoryConceptSetTableId: 'csCompareConceptSets',
		buttonActionEnabled: false">
	</concept-set-browser>
</atlas-modal>

<conceptset-save params="
  conceptSetName: compareNewConceptSetName,
  onSave: compareCreateNewConceptSet,
  show: saveConceptSetShow"
></conceptset-save>