.conceptset-metadata {

    &__tbl-col {
      &--search-data {
        min-width: 40%;
      }
      &--concept-data{
        width: 400px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
}

.deleteIcon {
  color: red;
  cursor: pointer;
}