<div class="conceptset-import-tab">
  <ul class="nav nav-pills" data-bind="foreach: Object.keys(importModes)">
    <li
      role="presentation"
      data-bind="
        click: () => $component.changeImportMode($component.importModes[$data].key),
        attr: {
          class: $component.currentImportMode() == $component.importModes[$data].key ? 'active' : '',
        },
      "
    >
      <a data-bind="text: $component.importModes[$data].title"></a>
    </li>
  </ul>

  <!-- ko foreach: pills -->
    <div data-bind="if: $component.currentImportMode() === $data.key">
      <access-denied params=" isAuthenticated: $data.isAuthenticated, isPermitted: $data.isPermitted"></access-denied>
      <!-- ko if: $data.isAuthenticated() && $data.isPermitted() -->
        <div class="heading">
          <span data-bind="text: $data.titleText"></span>&nbsp;
          (<a class="linkish" data-bind="click: () => $data.onClear($data.textareaId)">click to clear</a>)
        </div>
        <textarea class="form-control" rows="5" data-bind="attr: { id: $data.textareaId }"></textarea>
        <div class="btn-group pull-right">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-upload"></span>&nbsp;
            <span data-bind="text: $data.importText"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" data-bind="text: $data.appendText, click: () => $data.onImport($data.textareaId, $component.importTypes.APPEND)"></a></li>
            <li><a href="#" data-bind="text: $data.overwriteText, click: () => $data.onImport($data.textareaId, $component.importTypes.OVERWRITE)"></a></li>
          </ul>
        </div>
      <!-- /ko -->
    </div>
  <!-- /ko -->

  <!-- ko if: loading -->
    <loading></loading>
  <!-- /ko -->

  <!-- ko if: error -->
    <empty-state params="message: error"></empty-state>
  <!-- /ko -->
</div>
