.conceptset-lock-history {

    &__tbl-col {
      &--search-data {
        min-width: 40%;
      }
      &--concept-data{
        max-width: 500px;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
}

.deleteIcon {
  color: #d9534f;
  cursor: pointer;
  min-width: 30px;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Aligns children (button) to the right */
  margin-bottom: 10px; /* Optional: Adds some space between the button and the table */
}