.upload-container {
  display: inline-block;
  position: relative;

  label {
    border-radius: 0;
  }
}

input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}