<!-- ko if: loading -->
  <loading></loading>
<!-- /ko -->
<!-- ko ifnot: loading -->

<faceted-datatable params="{
  columns: $component.searchConceptsColumns,
  options: $component.searchConceptsOptions,
  reference: $component.includedConcepts,
  rowCallback: $component.commonUtils.contextSensitiveLinkColor,
  deferRender: true,
}">
</faceted-datatable>
<concept-legend></concept-legend>
<concept-add-box params="{
  isActive: canAddConcepts,
  onSubmit: addConcepts
}"></concept-add-box>
<!-- /ko -->
<conceptset-concept-modal params="{
  isShown: $component.ancestorsModalIsShown,
  conceptSetList: $component.ancestors,
  title: 'Common Ancestors'
}"></conceptset-concept-modal>