<script type="text/html" id="included-conceptsets-headers">
  <tr>
    <th><i class="fa fa-shopping-cart"></i></th>
    <th>Id</th>
    <th>Code</th>
    <th>Name</th>
    <th>Class</th>
    <th>Standard Concept Caption</th>
    <th>RC</th>
    <th>DRC</th>
    <th>Domain</th>
    <th>Vocabulary</th>
    <th>Ancestors</th>
  </tr>
</script>
<!-- ko if: loading -->
  <loading></loading>
<!-- /ko -->
<!-- ko ifnot: loading -->
<faceted-datatable params="{
  columns: $component.searchConceptsColumns,
  options: $component.searchConceptsOptions,
  reference: $root.includedConcepts,
  drawCallback: $component.includedDrawCallback,
  rowCallback: $root.contextSensitiveLinkColor,
  headersTemplateId: 'included-conceptsets-headers',
}"> 
</faceted-datatable>
<div class="linkLegend">
  <div class="linkLegendItem">
    <div class="swatch standard">
    </div>
    <div class="linkLegendTitle">Standard</div>
  </div>
  <div class="linkLegendItem">
    <div class="swatch nonStandard">
    </div>
    <div class="linkLegendTitle">Non-Standard</div>
  </div>
  <div class="linkLegendItem">
    <div class="swatch classification">
    </div>
    <div class="linkLegendTitle">Classification</div>
  </div>
</div>
<!-- /ko -->
<conceptset-list-modal params="{
  isShown: $component.ancestorsModalIsShown,
  conceptSetList: $component.ancestors,
  model: model,
  title: 'Common Ancestors'
}"></conceptset-list-modal>