<div class="wrapperTitle">
    <i class="fa fa-shopping-cart"></i> Concept Sets
</div>
<div data-bind="ifnot:$component.canReadConceptsets">
    <div class="padded">
        <access-denied params="isAuthenticated: isAuthenticated"></access-denied>
    </div>
</div>
<div data-bind="if:$component.canReadConceptsets" class="clear">
	<div class="paddedWrapper">
        <div data-bind="if:$component.mode() == 'add'">
            <cohort-concept-set-browser params="criteriaContext: model.criteriaContext, onRespositoryConceptSetSelected: $component.onRespositoryConceptSetSelected, onActionComplete: $component.onConceptSetBrowserAction, disableConceptSetButton: model.currentConceptSet() != undefined || !canCreateConceptSet()"></cohort-concept-set-browser>
        </div>
        <div data-bind="if:$component.mode() == 'export'">
            <div class="heading">
                Concept Set Export
            </div>
            <b>Instructions:</b>Select the concept sets for export by selecting each row in the grid. When done, use the 'Export Concept Sets' button which will start the download in a new window.
            <hr/>
            <cohort-concept-set-browser params="criteriaContext: model.criteriaContext, onRespositoryConceptSetSelected: $component.exportOnConceptSetSelected, onActionComplete: $component.onExportAction, buttonActionText: 'Export Concept Sets', repositoryConceptSetTableId: 'exportConceptSetTable'"></cohort-concept-set-browser>            
            <hr/>
            <b><span data-bind="text: $component.exportRowCount()"></span></b> concept sets selected for export.
        </div>
        <div class="btn btn-sm btn-primary" style="width: 175px" data-bind="click: toggle, text: $component.toggleText"></div>
	</div>
</div>
