<table class="conceptSetTable stripe compact hover" cellspacing="0" width="100%" data-bind="dataTable:{
            data: conceptSetItems(),
            options: {
							dom: 'Clfiprt',
							colVis: {
								buttonText: 'Change Columns',
								align: 'right',
								overlayFade: 0,
								showAll: 'Show All Columns',
								restore: 'Reset Columns'
							},
							rowCallback: $component.commonUtils.contextSensitiveLinkColor,
							lengthMenu: [[25, 50, 100, -1], [25, 50, 100,'All']],
							orderClasses: false,
							deferRender: true,
							autoWidth: false,
							order: [[3, 'desc']],
							language: ko.i18n('datatable.language'),
							columns: columns,
           }
        }">
</table>
<concept-legend></concept-legend>
<div class="clear"></div>