<table class="conceptSetTable stripe compact hover" cellspacing="0" width="100%" data-bind="dataTable:{
            data: conceptSetItems(),
            options: {
							dom: 'Clfiprt',
							colVis: {
								buttonText: ko.i18n('datatable.language.buttons.changeColumns', 'Change Columns'),
								align: 'right',
								overlayFade: 0,
								showAll: ko.i18n('datatable.language.buttons.showAllColumns', 'Show All Columns'),
								restore: ko.i18n('datatable.language.buttons.resetColumns', 'Reset Columns')
							},
							rowCallback: $component.commonUtils.contextSensitiveLinkColor,
							lengthMenu: $component.tableOptions.lengthMenu,
							pageLength: $component.tableOptions.pageLength,
							orderClasses: false,
							deferRender: true,
							autoWidth: false,
							order: [[3, 'desc']],
							language: ko.i18n('datatable.language'),
							columns: columns,
           }
				}">
	<thead>
		<th>
			<!-- ko if: canEditCurrentConceptSet -->
				<span data-bind="
					css: classes({
							element: 'checkmark',
							extra: `fa fa-check ${areAllItemsCheckedForRemoval() ? 'selected' : ''}`
					}),
					click: toggleSelectedItemsForRemoval
				"></span>
			<!-- /ko -->
	</th>
		<th>Concept Id</th>
		<th>Concept Code</th>
		<th>Concept Name</th>
		<th>Domain</th>
		<th>Standard Concept Code</th>
		<th>Standard Concept Caption</th>
		<th>
			<!-- ko if: canEditCurrentConceptSet -->
				<span data-bind="
					css: classes({
							element: 'checkmark',
							extra: `fa fa-check ${allExcludedChecked() ? 'selected' : ''}`
					}),
					click: toggleExcluded
				"></span>
			<!-- /ko --> Exclude
		</th>
		<th>
			<!-- ko if: canEditCurrentConceptSet -->
			<span data-bind="
				css: classes({
						element: 'checkmark',
						extra: `fa fa-check ${allDescendantsChecked() ? 'selected' : ''}`
				}),
				click: toggleDescendants
			"></span>
			<!-- /ko --> Descendants
		</th>
		<th>
				<!-- ko if: canEditCurrentConceptSet -->
					<span data-bind="
						css: classes({
								element: 'checkmark',
								extra: `fa fa-check ${allMappedChecked() ? 'selected' : ''}`
						}),
						click: toggleMapped
					"></span>
				<!-- /ko --> Mapped
		</th>
	</thead>
</table>
<concept-legend></concept-legend>
<div class="clear"></div>