<div class="modal" data-bind="modal: isShown" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title" data-bind="text: $component.title"></div>
			</div>
      <div class="modal-body">
        <div data-bind="eventListener: { event: 'click', selector: 'a', callback: onNavigate }">
          <div class="paddedWrapper">
            <table class="conceptSetTable stripe compact hover" cellspacing="0" width="100%" data-bind="dataTable:{
                  data:conceptSetList,
                  options: {
                    dom: 'Clfiprt',
                    colVis: {
                        buttonText: ko.i18n('datatable.language.buttons.changeColumns', 'Change Columns'),
                        align: 'right',
                        overlayFade: 0,
                        showAll: ko.i18n('datatable.language.buttons.showAllColumns', 'Show All Columns'),
                        restore: ko.i18n('datatable.language.buttons.resetColumns', 'Reset Columns')
                    },
                    language: ko.i18n('datatable.language'),
                    rowCallback: $component.commonUtils.contextSensitiveLinkColor,
                    pageLength: $component.tableOptions.pageLength,
                    lengthMenu: $component.tableOptions.lengthMenu,
                    orderClasses: false,
                    deferRender: true,
                    autoWidth: false,
                    order: [[2, 'desc']],
                    columns: [
                      { title: ko.i18n('columns.conceptId', 'Concept Id'), data: 'concept.CONCEPT_ID'},
                      { title: ko.i18n('columns.conceptCode', 'Concept Code'), data: 'concept.CONCEPT_CODE'},
                      { title: ko.i18n('columns.conceptName', 'Concept Name'), render: $component.commonUtils.renderBoundLink},
                      { title: ko.i18n('columns.domain', 'Domain'), data: 'concept.DOMAIN_ID' },
                      { title: ko.i18n('columns.standardConceptCode', 'Standard Concept Code'), data: 'concept.STANDARD_CONCEPT', visible:false },
                      { title: ko.i18n('columns.standardConceptCaption', 'Standard Concept Caption'), data: 'concept.STANDARD_CONCEPT_CAPTION' }
                    ]
                 }
              }">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>