<loading data-bind="visible: resolvingConceptSetExpression() || loading()" params="status: ko.i18n('components.conceptSet.loadingForExport', 'Loading for export...')"></loading>
<div data-bind="visible: !(resolvingConceptSetExpression() || loading())">
    <div class="heading"><span data-bind="text: ko.i18n('components.conceptSet.conceptSetExpressionJSON', 'Concept Set Expression JSON')"></span>&nbsp;&nbsp;<button class="btn btn-sm btn-primary" id="btnCopyExpressionClipboard" data-bind="click: copyExpressionToClipboard, title: ko.i18n('common.copyToClipboard', 'Copy to clipboard')" data-clipboard-target="#conceptSetExpression"><i class="fa fa-clipboard" aria-hidden="true"></i></button>&nbsp;&nbsp;
        <span id="copyExpressionToClipboardMessage" style="display:none" class="alert alert-success" role="alert"><i class="fa fa-check-square-o" aria-hidden="true"></i><strong data-bind="text: ko.i18n('common.copiedToClipboard', 'Copied To Clipboard!')"></strong></span>
    </div>
    <pre id="conceptSetExpression" data-bind="html: currentConceptSetExpressionJson, selectOnFocus: {events: ['click']}"></pre>
    <div class="heading"><span data-bind="text: ko.i18n('components.conceptSet.conceptIdentifierList', 'Concept Identifier List')"></span>&nbsp;&nbsp;<button class="btn btn-sm btn-primary" id="btnCopyIdentifierListClipboard" data-bind="click: copyIdentifierListToClipboard, title: ko.i18n('common.copyToClipboard', 'Copy to clipboard')" data-clipboard-target="#conceptIdentifierList"><i class="fa fa-clipboard" aria-hidden="true"></i></button>&nbsp;&nbsp;
        <span id="copyIdentifierListMessage" style="display:none" class="alert alert-success" role="alert"><i class="fa fa-check-square-o" aria-hidden="true"></i><strong data-bind="text: ko.i18n('common.copiedToClipboard', 'Copied To Clipboard!')"></strong></span>
    </div>
    <pre id="conceptIdentifierList" data-bind="html: currentConceptIdentifierList, selectOnFocus: {events: ['click']}"></pre>
    <div class="heading"><span data-bind="text: ko.i18n('components.conceptSet.includedConceptIdentifierList', 'Included Concept Identifier List')"></span>&nbsp;&nbsp;<button class="btn btn-sm btn-primary" id="btnCopyIncludedConceptIdentifierListClipboard" data-bind="click: copyIncludedConceptIdentifierListToClipboard, title: ko.i18n('common.copyToClipboard', 'Copy to clipboard')" data-clipboard-target="#includedConceptIdentifierList"><i class="fa fa-clipboard" aria-hidden="true"></i></button>&nbsp;&nbsp;
        <span id="copyIncludedConceptIdentifierListMessage" style="display:none" class="alert alert-success" role="alert"><i class="fa fa-check-square-o" aria-hidden="true"></i><strong data-bind="text: ko.i18n('common.copiedToClipboard', 'Copied To Clipboard!')"></strong></span>
    </div>
    <pre id="includedConceptIdentifierList" data-bind="html: $component.currentIncludedConceptIdentifierList, selectOnFocus: {events: ['click']}"></pre>
    <br/>
    <button type="button" class="btn btn-success" data-bind="click: exportCsv">
        <i class="fa fa-download" aria-hidden="true"></i> <span data-bind="text: ko.i18n('components.conceptSet.exportToCsv', 'Export To CSV')"></span>
    </button>
</div>
