<div data-bind="css: classes('conceptset-tabs')">
    <tabs params="
        selectedTabKey: $component.selectedTabKey,
        selectTab: $component.selectTab,
        tabs: $component.tabs,
    "></tabs>
</div>

<atlas-modal params="
		showModal: $component.showImportConceptSetModal,
		title: ko.i18n('components.atlasCohortEditor.importConceptSet', 'Import Concept Set From Repository...'),
		data: {
			onRespositoryConceptSetSelected: $component.onConceptSetRepositoryImport,
			tableOptions: $component.tableOptions,
		}
	"
>
    <concept-set-browser params="
			onRespositoryConceptSetSelected: onRespositoryConceptSetSelected,
			buttonActionEnabled: false,
			pageLength: tableOptions.pageLength,
			lengthMenu: tableOptions.lengthMenu,
		"></concept-set-browser>
</atlas-modal>
