<loading params="status: ko.i18n('components.conceptSet.loadingIncludedConcepts', 'Loading Included Concepts')" data-bind="visible: loading"></loading>
<div data-bind="hidden: loading">
    <datasource-select params="{conceptSetStore: $component.conceptSetStore, selectedSource: $component.selectedSource, tab: 'included'}"></datasource-select>
    <faceted-datatable params="{
      orderColumn:7,
      columns: $component.includedConceptsColumns,
      options: $component.includedConceptsOptions,
      reference: $component.includedConcepts,
      drawCallback: $component.includedDrawCallback,
      rowCallback: commonUtils.contextSensitiveLinkColor,
      pageLength: tableOptions.pageLength,
      lengthMenu: tableOptions.lengthMenu,
      language: ko.i18n('datatable.language')
    }"></faceted-datatable>
    <concept-add-box params="{
        isActive: canAddConcepts,
        concepts: getSelectedConcepts,
      }"></concept-add-box>
    <conceptset-concept-modal params="{
      isShown: $component.ancestorsModalIsShown,
      conceptSetList: $component.ancestors,
      title: ko.i18n('components.conceptSet.commonAncestors', 'Common Ancestors')
    }"></conceptset-concept-modal>
</div>