<div data-bind="css: classes()">
    <div data-bind="css: classes('nav-block')">
        <a data-bind="css: classes('back-link'), click: $component.displaySummary">
            <i data-bind="css: classes({ element: 'back-ico', extra: ['fa fa-chevron-left'] })"></i>
            <span data-bind="css: classes('back-text'), text: ko.i18n('cohortDefinitions.costUtilization.drugUtilDetailedText_1', 'Return to the drugs summary')">
            </span>
        </a>
    </div>
    <div data-bind="css: classes('filters-block')">
        <visualizations-filter-panel params="{ filterList: $component.filterList, apply: $component.applyFilters, live: true }"/>
        <div data-bind="visible: filtersLoading()">
            <loading params="status:'loading'" />
        </div>
    </div>
    <div data-bind="css: classes('loader'), visible: loading()">
        <loading params="status:'loading'" />
    </div>
    <div data-bind="visible: !loading()">
        <div data-bind="css: classes('block')">
            <ul class="nav nav-tabs">
                <!-- ko foreach: Object.keys(tabLabels) -->
                <li role="presentation" data-bind="click: function() { $component.currentTab($data); }, attr: {class: $component.currentTab() == $data ? 'active' : ''}">
                    <a data-bind="text: $component.tabLabels[$data]" />
                </li>
                <!-- /ko -->
                <li data-bind="css: classes('save-csv-tab'), click: $component.saveAsCsv">
                    <a data-bind="css: classes('save-csv-link'), text: ko.i18n('cohortDefinitions.costUtilization.saveAsCSV', 'Save as CSV')"></a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" data-bind="if: $component.currentTab() == $component.visualizationTab && !loading(), css: $component.classes('charts-view')">
                    <div data-bind="css: $component.classes('chart-filter-line')">
                        <div data-bind="css: $component.classes('chart-filter')">
                            <label>
                                <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.displayCharts', 'Displayed charts:')"></span>
                            </label>
                            <multi-select params="{ options: chartOptions, selectedValues: displayedCharts, multiple: true, selectedTextFormat: 'count > 10' }"/>
                        </div>
                    </div>
                    <!-- ko foreach: chartDataList -->
                    <div data-bind="css: $component.classes('chart-line')">
                        <line-chart data-bind="
                                    css: $component.classes('chart'),
                                    visible: $data.visible
                                "
                                    params="{lineChart: {
                                    data: $data.values,
                                    xLabel: ($index() == ($component.chartDataList().length - 1)) ? 'Period start' : '',
                                    xFormat: $component.formatDate,
                                    yLabel: $data.name,
                                    yFormat: $component.formatRounded,
                                    tickFormat: $component.dateTickFormat,
                                    height: 250,
                                    showLegend: false,
                                    getTooltipBuilder: $component.getTooltipBuilder
                                    }
                                }"
                        />
                    </div>
                    <!-- /ko -->
                </div>
                <div role="tabpanel" data-bind="if: $component.currentTab() == $component.rawDataTab && !loading(), css: $component.classes('table-view')">
                    <div data-bind="css: classes('table-block')">
                        <table data-bind="
                            css: classes({ element: 'drugs-table', extra: ['table', 'table-bordered', 'table-hover'] }),
                            dataTable:{
                                data: $component.dataList,
                                options: {
                                    columns: $component.drugsTableColumns,
                                    pageLength: $component.tableOptions.pageLength,
                                    lengthMenu: $component.tableOptions.lengthMenu,
                                }
                            }
                            "
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>