<!-- ko if:$component.showSelectionArea -->
<div class="wrapperTitle">
	<span data-bind="if:!$root.loadingReport()"><i class="fa fa-area-chart"></i></span>
	<span data-bind="if:$root.loadingReport()"><i class="fa fa-circle-o-notch fa-spin"></i></span> Cohort Reporting
</div>

<div class="modal fade" id="cohortDefinitionChooser" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">Choose Cohort Definition</div>
			<div class="modal-body">
				<cohort-definition-browser params="{cohortDefinitionSelected: data => $root.reportCohortDefinitionId(data.id)}"></cohort-definition-browser>
			</div>
		</div>
	</div>
</div>

<div class="reportControls">
	<div class="row">
		<div class="col-xs-12">
			<button class="form-control btn btn-sm btn-primary" data-bind="click: $component.showBrowser, text:$component.cohortCaption"></button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<select class="form-control" data-bind="css : { invalid: $root.reportReportName()==undefined }, options:$root.reports(), optionsCaption:'Select a Report', value:$root.reportReportName"></select>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<select class="form-control" data-bind="css : { invalid: $root.reportSourceKey()==undefined }, options:$component.sharedState.sources().filter($root.hasResults), optionsValue:'sourceKey', optionsText:'sourceName', value:$root.reportSourceKey, optionsCaption:'Select a Source'"></select>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10"></div>
		<div class="col-xs-2">
			<button class="pull-right form-control btn btn-sm btn-primary" data-bind="click: $component.runReport, enable: $root.reportValid(), text: $root.loadingReport() ? 'Loading...' : 'View Report'"></button>
		</div>
	</div>
	<div class="clear"></div>
</div>
<!-- /ko -->

<div id="reportHeel" data-bind="if: $root.currentReport() == 'Heracles Heel' && !$root.loadingReport()">
	<div class=" report">
		<faceted-datatable params="{columns: $component.heelDataColumns, reference:$component.reference, options:$component.heelOptions }"></faceted-datatable>
	</div>
</div>

<div id="reportDataCompleteness" data-bind="if: $root.currentReport() == 'Data Completeness' && !$root.loadingReport()">
	<div class="pad-10 report">
		<div class="reportHeading"><i class="fa fa-area-chart"></i> Data Completeness (<span data-bind="text:$root.reportSourceKey()"></span>)</div>
		<faceted-datatable params="{columns: $component.dataCompletColumns, reference:$component.dataCompleteReference, options:$component.dataCompleteOptions, rowClick:$component.dataCompleteRowClick }"></faceted-datatable>
	</div>
	<div class="pad-10 report">
		<span data-bind="text:$component.currentAgeGroup()"></span>
	</div>
	<div class="pad-10 report" id="dataCompletenessSvgDiv">
	</div>
</div>

<div id="reportEntropy" data-bind="if: $root.currentReport() == 'Entropy' && !$root.loadingReport()">
	<div class="tab-pane" id="care_site_div">
		<table id="care_site_table" class="stripe compact hover dataTable no-footer">
			<thead>
				<tr>
					<th>Care Site</th>
				</tr>
			</thead>
		</table>
	</div>

	<div class=" report">
		<div class="reportSectionHeading">Entropy by Date</div>
		<div class="evidenceVisualization" id="entropyByDate" />
	</div>
</div>

<div id="reportPerson" data-bind="if: $root.currentReport() == 'Person' && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Year of Birth <i data-bind="click:function(){ setHelpContent('year-of-birth') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="hist"></div>
			</div>
			<div class="panel-footer">The number of people in this cohort shown with respect to their year of birth.</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Demographics <i data-bind="click:function(){ setHelpContent('demographics') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-4">
						<div class="evidenceVisualization" id="gender"></div>
						<div class="evidenceDescription">Gender</div>
					</div>
					<div class="col-xs-4">
						<div class="evidenceVisualization" id="race"></div>
						<div class="evidenceDescription">Race</div>
					</div>
					<div class="col-xs-4">
						<div class="evidenceVisualization" id="ethnicity"></div>
						<div class="evidenceDescription">Ethnicity</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ko if: $root.currentReport() == 'Measurement' && !$root.loadingReport() -->
<div class="panel panel-danger">
	<div class="panel-heading">
		Report Not implemented
	</div>
	<div class="panel-body">
		This report has not been implemented.
	</div>
</div>
<!-- /ko -->

<div id="reportCohortSpecific" data-bind="if: $root.currentReport() == 'Cohort Specific' && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Prevalence by Month <i data-bind="click:function(){ setHelpContent('cohort-specific-prevalence-per-month') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="prevalenceByMonth"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Cohort Start<i data-bind="click:function(){ setHelpContent('cohort-specific-cohort-start') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="cohort_trellisLinePlot"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Persons in Cohort from Start to End<i data-bind="click:function(){ setHelpContent('cohort-specific-start-to-end') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="personinCohortFromStartToEnd"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Number of Persons by Duration from Cohort Start to Cohort End<i data-bind="click:function(){ setHelpContent('cohort-specific-duration-start-to-end') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="personsByDurationFromStartToEnd"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Distribution of Age at Cohort Start by Cohort Start Year<i data-bind="click:function(){ setHelpContent('cohort-specific-duration-start-to-end') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="distributionAgeCohortStartByCohortStartYear"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Age Distributions<i data-bind="click:function(){ setHelpContent('cohort-specific-age-distributions') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="evidenceVisualization" id="distributionAgeCohortStartByGender"></div>
						<div class="evidenceDescription">Distribution of Age at Cohort Start by Gender</div>
					</div>
					<div class="col-sm-6">
						<div class="evidenceVisualization" id="ageAtIndex"></div>
						<div class="evidenceDescription">Age at Index</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="reportTornado" data-bind="if: $root.currentReport() == 'Tornado' && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Tornado<i data-bind="click:function(){ setHelpContent('tornado') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body pad-5">
				<div id="tornadoPlot" class="text-center"><svg width="1000" height="300" preserveAspectRatio></svg></div>
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			Sample Profiles<i data-bind="click:function(){ setHelpContent('tornado') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
		</div>
		<div class="panel-body" style="background-color:#222;">
			<div id="tornadoProfiles" class="text-center">
				<div style="color:#eee;" data-bind="if:$component.tornadoProfiles().length == 0">
					Select a Bar from the Tornado Plot to view Sample Profiles for that Strata.
				</div>
				<div class="col-sm-1"></div>
				<!-- ko foreach:$component.tornadoProfiles -->
				<div class="col-sm-2">
					<a target="_new" data-bind="attr: {href: $component.buildProfileLink($data)}">
						<i data-bind="css: $component.genderIcon($data)" class="fa"></i>
						<div data-bind="html:personId"></div>
					</a>
				</div>
				<!-- /ko -->
			</div>
		</div>
	</div>
</div>

<div id="reportConditionsByIndex" data-bind="if: $root.currentReport() == 'Conditions by Index' && !$root.loadingReport()">
	<div class="pad-5 report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Condition Prevalence<i data-bind="click:function(){ setHelpContent('conditions-by-index-condition-prevalence') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#condition-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li id="treemap-tab"><a href="#condition-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="condition-treemap-panel">
						<div id="condition_treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Log of Relative Risk (Red to Green = Negative to Positive), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="condition-table-panel" data-bind="eventListener: { event: 'click', selector: 'tr', callback: (d,c,e) => handleGenericRowClick(e, 'condition', 'condition_table')}">
						<table id="condition_table" class="stripe compact hover dataTable no-footer" type="condition">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>SOC</th>
									<th>HLGT</th>
									<th>HLT</th>
									<th>PT</th>
									<th>SNOMED</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Relative Risk per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- ko if:$root.loadingReportDrilldown -->
		<loading params="status:'Loading Drilldown Report'">
		</loading>
		<!-- /ko -->
		<!-- ko if: $root.activeReportDrilldown -->
		<div class="panel panel-primary">
			<div class="panel-heading">Drilldown Report</div>
			<div class="panel-body">
				<div>
					<div id="conditionDrilldownScatterplotHeading" class="reportSectionHeading">
					</div>
					<div class="evidenceVisualization" id="conditionDrilldownScatterplot"></div>
				</div>
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>

<div id="reportDrugErasByIndex" data-bind="if: $root.currentReport() == 'Drugs by Index' && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Drugs by Index Date <i data-bind="click:function(){ setHelpContent('drugs-by-index') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#drugs-by-index-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li id="treemap-tab"><a href="#drugs-by-index-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="drugs-by-index-treemap-panel">
						<div id="drugindex_treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Log of Relative Risk (Red to Green = Negative to Positive), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="drugs-by-index-table-panel" data-bind="eventListener: { event: 'click', selector: 'tr', callback: (d,c,e) => handleGenericRowClick(e, 'drug', 'drugs-by-index-table')}">
						<table id="drugs-by-index-table" class="stripe compact hover dataTable no-footer" type="drug">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>ATC 1</th>
									<th>ATC 3</th>
									<th>ATC 4</th>
									<th>Ingredient</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Relative Risk per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>

			</div>
		</div>

		<div class="loader" data-bind="if:$root.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$root.activeReportDrilldown">
			<div id="drugDrilldownScatterplotHeading" class="reportSectionHeading">
			</div>
			<div class="evidenceVisualization" id="drugDrilldownScatterplot"></div>
		</div>
	</div>
</div>

<div id="reportConditionPeriods" data-bind="if: $root.currentReport() == 'Observation Periods' && !$root.loadingReport()">
	<div class="report">

		<div class="panel panel-primary">
			<div class="panel-heading">
				Age at First Observation <i data-bind="click:function(){ setHelpContent('observation-periods-age-at-first-observation') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="ageatfirstobservation"></div>
			</div>
			<div class="panel-footer">
				The distribution of age at first observation in the cohort.
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Age by Gender <i data-bind="click:function(){ setHelpContent('observation-periods-age-by-gender') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="agebygender"></div>
			</div>
			<div class="panel-footer">
				The distribution of age at first observation in the cohort stratified by gender.
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Observation Length<i data-bind="click:function(){ setHelpContent('observation-periods-length') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="observationlength"></div>
			</div>
			<div class="panel-footer">
				Distribution of total observation time in cohort.
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Observation Length by Gender<i data-bind="click:function(){ setHelpContent('observation-periods-length-by-gender') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="opbygender"></div>
			</div>
			<div class="panel-footer">
				Distribution of total observation time in cohort by gender.
			</div>
		</div>

		<!-- charting library error pending -->
		<!--
		<div class="reportSectionHeading">Cumulative Observation</div>
		<div class="evidenceDescription">Observation time in cohort by % of people in the cohort.</div>
		<div class="evidenceVisualization" id="cumulativeobservation"></div>
		-->

		<div class="panel panel-primary">
			<div class="panel-heading">
				Observation Length by Age Decile<i data-bind="click:function(){ setHelpContent('observation-periods-length-by-age-decile') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="opbyage"></div>
			</div>
		</div>

		<!-- tooltip bug
		<div class="panel panel-primary">
			<div class="panel-heading">
				Persons with Continuous Observation by Year<i data-bind="click:setHelpContent('observation-periods-continuous')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="opbyage"></div>
			</div>
		</div>
		-->

		<div class="panel panel-primary">
			<div class="panel-heading">
				Observation Periods per Person<i data-bind="click:function(){ setHelpContent('observation-periods-per-person') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="opperperson"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Persons With Continuous Observation By Month<i data-bind="click:function(){ setHelpContent('observation-periods-continuous-by-month') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="oppeoplebymonthsingle"></div>
			</div>
		</div>

	</div>
</div>

<div id="reportConditionEras" data-bind="if: $root.currentReport() == 'Condition Eras' && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Condition Era Prevalence<i data-bind="click: function(){ setHelpContent('condition-era-prevalence') }"  class="fa fa-question-circle pull-right"></i>

			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#conditionera-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li><a href="#conditionera-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="conditionera-treemap-panel">
						<div id="conditionera_treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Length of Era (Light to Dark = Low to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="conditionera-table-panel" data-bind="eventListener: { event: 'click', selector: '.conditionera_table_selector', callback: handleConditionEraTableClick}">
						<table id="conditionera_table" class="stripe compact hover dataTable no-footer">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>SOC</th>
									<th>HLGT</th>
									<th>HLT</th>
									<th>PT</th>
									<th>SNOMED</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Length of Era</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="loader" data-bind="if:$root.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$root.activeReportDrilldown">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Condition Era Prevalence
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="conditionera_trellisLinePlot"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Condition Era Prevalence by Month
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="conditioneraPrevalenceByMonth"></div>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					Age at First Diagnosis
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="conditioneras_age_at_first_diagnosis"></div>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					Length of Condition Era
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="conditioneras_length_of_era"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="reportProceduresByIndex" data-bind="if: $root.currentReport() == 'Procedures by Index' && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Procedure Prevalence<i data-bind="click:function(){ setHelpContent('procedure-by-index-prevalence') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li id="treemap-tab"><a href="#procedure-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
					<li class="active"><a href="#procedure-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="procedure-treemap-panel">
						<div id="procedureindex_treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Log of Relative Risk (Red to Green = Negative to Positive), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="procedure-table-panel" data-bind="eventListener: { event: 'click', selector: 'tr', callback: (d,c,e) => handleGenericRowClick(e, 'procedure', 'procedure_table')}">
						<table id="procedure_table" class="stripe compact hover dataTable no-footer" type="procedure">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>Level 4</th>
									<th>Level 3</th>
									<th>Level 2</th>
									<th>Procedure</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Relative Risk per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="loader" data-bind="if:$root.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$root.activeReportDrilldown">
			<div id="procedureDrilldownScatterplotHeading" class="reportSectionHeading">
			</div>
			<div class="evidenceVisualization" id="procedureDrilldownScatterplot"></div>
		</div>
	</div>
</div>

<script type="text/html" id="help-modal">
	<div data-bind="html:helpContent"></div>
</script>
<atlas-modal params="{
		showModal: helpModalOpened,
		title: helpTitle,
		template: 'help-modal',
		data: {
			helpContent: helpContent,
		}
	}"></atlas-modal>

<div id="reportCondition" data-bind="visible: $root.currentReport() == 'Condition' && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Condition Prevalence <i data-bind="click:function(){ setHelpContent('condition-prevalence') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#condition-table-panel" role="tab" data-toggle="tab">Table</a></li>
					<li id="treemap-tab"><a href="#condition-treemap-panel" role="tab" data-toggle="tab">Treemap</a></li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="condition-treemap-panel">
						<div id="condition_treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Records per Person (Light to Dark = Low to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="condition-table-panel" data-bind="eventListener: { event: 'click', selector: '.condition_table_selector', callback: handleConditionTableClick}">
						<table id="condition_table" class="stripe compact hover dataTable no-footer">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>SOC</th>
									<th>HLGT</th>
									<th>HLT</th>
									<th>PT</th>
									<th>SNOMED</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Records per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="loader" data-bind="if:$root.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$root.activeReportDrilldown">
			<div class="heading" id="conditionDrilldown"></div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					Condition Prevalence
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="condition_trellisLinePlot"></div>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					Condition Prevalence by Month
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="conditionPrevalenceByMonth"></div>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					Condition Type
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="conditionsByType"></div>
				</div>
			</div>
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					Age at First Diagnosis
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="ageAtFirstDiagnosis"></div>
				</div>
		</div>
		</div>
	</div>
</div>

<div id="reportDrugEras" data-bind="if: $root.currentReport() == 'Drug Eras' && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Drug Era Prevalence<i data-bind="click:function(){ setHelpContent('drug-era-prevalence') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#drugera-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li><a href="#drugera-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="drugera-treemap-panel">
						<div id="drugera_treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Length of Era (Light to Dark = Low to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="drugera-table-panel" data-bind="eventListener: { event: 'click', selector: '.drugera_table_selector', callback: handleDrugEraTableClick}">
						<table id="drugera_table" class="stripe compact hover dataTable no-footer">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>ATC 1</th>
									<th>ATC 3</th>
									<th>ATC 4</th>
									<th>Ingredient</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Length of Era</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="loader" data-bind="if:$root.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>

		<div data-bind="if:$root.activeReportDrilldown">
			<div class="heading" id="drugeraDrilldown"></div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					Drug Era Prevalence
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="drugera_trellisLinePlot"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Drug Era Prevalence by Month
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="drugeraPrevalenceByMonth"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Age at First Exposure by Gender
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="drugeras_age_at_first_exposure"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Length of Era Distribution
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="drugeras_length_of_era"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="reportDrugExposure" data-bind="if: $root.currentReport() == 'Drug Exposure' && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Drug Exposure<i data-bind="click:function(){ setHelpContent('drug-exposure') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#drug_table_panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li id="treemap-tab"><a href="#drug_treemap_panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div class="tab-pane" id="drug_treemap_panel">
						<div id="drug_treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Records per Person (Light to Dark = Low to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div class="tab-pane active" id="drug_table_panel" data-bind="eventListener: { event: 'click', selector: '.drug_table_selector', callback: handleDrugTableClick}">
						<table id="drug_table" class="stripe compact hover dataTable no-footer">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>ATC 1</th>
									<th>ATC 3</th>
									<th>ATC 4</th>
									<th>Ingredient</th>
									<th>RxNorm</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Records per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="loader" data-bind="if:$root.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$root.activeReportDrilldown">
			<div class="heading" id="drugExposureDrilldown"></div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					Drug Exposure Prevalence
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="drug_trellisLinePlot"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Drug Exposure Prevalence by Month
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="drugPrevalenceByMonth"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Age at First Exposure
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="ageAtFirstExposure"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Days Supply Distribution
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="daysSupplyDistribution"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Quantity Distribution
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="quantityDistribution"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Refills Distribution
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="refillsDistribution"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Drugs by Type
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="drugsByType"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="reportProcedure" data-bind="if: $root.currentReport() == 'Procedure' && !$root.loadingReport()">
	<div class=" report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Procedure Prevalence<i data-bind="click:function(){ setHelpContent('procedure-prevalence') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#procedure-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li><a href="#procedure-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div class="tab-pane" role="tabpanel" id="procedure-treemap-panel">
						<div id="procedure_treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Records per Person (Light to Dark = Low to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div class="tab-pane active" role="tabpanel" id="procedure-table-panel" data-bind="eventListener: { event: 'click', selector: '.procedure_table_selector', callback: handleProcedureTableClick}">
						<table id="procedure_table" class="stripe compact hover dataTable no-footer">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>Level 3</th>
									<th>Level 2</th>
									<th>Level 1</th>
									<th>Procedure</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Records per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="loader" data-bind="if:$root.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$root.activeReportDrilldown">
			<div class="heading" id="procedureDrilldown"></div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					Procedure Prevalence
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="procedure_trellisLinePlot"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Procedure Prevalence by Month
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="procedurePrevalenceByMonth"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Procedures by Type
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="proceduresByType"></div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Age at First Occurrence
				</div>
				<div class="panel-body">
					<div class="evidenceVisualization" id="ageAtFirstOccurrence"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="reportDeath" data-bind="if: $root.currentReport() == 'Death' && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Death Prevalence by Age, Gender, Year<i data-bind="click:function(){ setHelpContent('death-prevalence') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="death_trellisLinePlot"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Death Prevalence by Month<i data-bind="click:function(){ setHelpContent('death-prevalence-by-month') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="deathPrevalenceByMonth"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Death Details<i data-bind="click:function(){ setHelpContent('death-details') }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="evidenceVisualization" id="ageAtDeath"></div>
						<div class="evidenceDescription">Age at Death</div>
					</div>
					<div class="col-sm-6">
						<div class="evidenceVisualization" id="deathByType"></div>
						<div class="evidenceDescription">Death by Type</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-bind="if: $root.currentReport() == visualizationPacks.healthcareUtilPersonAndExposureBaseline.name && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span data-bind="text: visualizationPacks.healthcareUtilPersonAndExposureBaseline.name" /><i data-bind="click:function(){ setHelpContent(visualizationPacks.healthcareUtilPersonAndExposureBaseline) }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<cost-utilization-persons-exposure params="{
					window: costUtilConst.windowType.baseline,
					source: $root.reportSourceKey(),
					cohortId: $root.reportCohortDefinitionId(),
				}"/>
			</div>
		</div>
	</div>
</div>

<div data-bind="if: $root.currentReport() == visualizationPacks.healthcareUtilPersonAndExposureCohort.name && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span data-bind="text: visualizationPacks.healthcareUtilPersonAndExposureCohort.name" /><i data-bind="click:function(){ setHelpContent(visualizationPacks.healthcareUtilPersonAndExposureCohort) }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<cost-utilization-persons-exposure params="{
					window: costUtilConst.windowType.atrisk,
					source: $root.reportSourceKey(),
					cohortId: $root.reportCohortDefinitionId(),
				}"/>
			</div>
		</div>
	</div>
</div>

<div data-bind="if: $root.currentReport() == visualizationPacks.healthcareUtilVisitRecordsBaseline.name && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span data-bind="text: visualizationPacks.healthcareUtilVisitRecordsBaseline.name" /><i data-bind="click:function(){ setHelpContent(visualizationPacks.healthcareUtilVisitRecordsBaseline) }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<cost-utilization-visit-util params="{
					source: $root.reportSourceKey(),
					cohortId: $root.reportCohortDefinitionId(),
					window: costUtilConst.windowType.baseline,
					visitStat: costUtilConst.visitStat.occurrence,
				}"/>
			</div>
		</div>
	</div>
</div>

<div data-bind="if: $root.currentReport() == visualizationPacks.healthcareUtilVisitDatesBaseline.name && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span data-bind="text: visualizationPacks.healthcareUtilVisitDatesBaseline.name" /><i data-bind="click:function(){ setHelpContent(visualizationPacks.healthcareUtilVisitDatesBaseline) }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<cost-utilization-visit-util params="{
					source: $root.reportSourceKey(),
					cohortId: $root.reportCohortDefinitionId(),
					window: costUtilConst.windowType.baseline,
					visitStat: costUtilConst.visitStat.visitdate,
				}"/>
			</div>
		</div>
	</div>
</div>

<div data-bind="if: $root.currentReport() == visualizationPacks.healthcareUtilCareSiteDatesBaseline.name && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span data-bind="text: visualizationPacks.healthcareUtilCareSiteDatesBaseline.name" /><i data-bind="click:function(){ setHelpContent(visualizationPacks.healthcareUtilCareSiteDatesBaseline) }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<cost-utilization-visit-util params="{
					source: $root.reportSourceKey(),
					cohortId: $root.reportCohortDefinitionId(),
					window: costUtilConst.windowType.baseline,
					visitStat: costUtilConst.visitStat.caresitedate,
				}"/>
			</div>
		</div>
	</div>
</div>

<div data-bind="if: $root.currentReport() == visualizationPacks.healthcareUtilVisitRecordsCohort.name && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span data-bind="text: visualizationPacks.healthcareUtilVisitRecordsCohort.name" /><i data-bind="click:function(){ setHelpContent(visualizationPacks.healthcareUtilVisitRecordsCohort) }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<cost-utilization-visit-util params="{
					source: $root.reportSourceKey(),
					cohortId: $root.reportCohortDefinitionId(),
					window: costUtilConst.windowType.atrisk,
					visitStat: costUtilConst.visitStat.occurrence,
				}"/>
			</div>
		</div>
	</div>
</div>
<div data-bind="if: $root.currentReport() == visualizationPacks.healthcareUtilVisitDatesCohort.name && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span data-bind="text: visualizationPacks.healthcareUtilVisitDatesCohort.name" /><i data-bind="click:function(){ setHelpContent(visualizationPacks.healthcareUtilVisitDatesCohort) }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<cost-utilization-visit-util params="{
					source: $root.reportSourceKey(),
					cohortId: $root.reportCohortDefinitionId(),
					window: costUtilConst.windowType.atrisk,
					visitStat: costUtilConst.visitStat.visitdate,
				}"/>
			</div>
		</div>
	</div>
</div>
<div data-bind="if: $root.currentReport() == visualizationPacks.healthcareUtilCareSiteDatesCohort.name && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span data-bind="text: visualizationPacks.healthcareUtilCareSiteDatesCohort.name" /><i data-bind="click:function(){ setHelpContent(visualizationPacks.healthcareUtilCareSiteDatesCohort) }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<cost-utilization-visit-util params="{
					source: $root.reportSourceKey(),
					cohortId: $root.reportCohortDefinitionId(),
					window: costUtilConst.windowType.atrisk,
					visitStat: costUtilConst.visitStat.caresitedate,
				}"/>
			</div>
		</div>
	</div>
</div>
<div data-bind="if: $root.currentReport() == visualizationPacks.healthcareUtilDrugBaseline.name && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span data-bind="text: visualizationPacks.healthcareUtilDrugBaseline.name" /><i data-bind="click:function(){ setHelpContent(visualizationPacks.healthcareUtilDrugBaseline) }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<cost-utilization-drug-util params="{
					source: $root.reportSourceKey(),
					cohortId: $root.reportCohortDefinitionId(),
					window: costUtilConst.windowType.baseline,
				}"/>
			</div>
		</div>
	</div>
</div>
<div data-bind="if: $root.currentReport() == visualizationPacks.healthcareUtilDrugCohort.name && !$root.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span data-bind="text: visualizationPacks.healthcareUtilDrugCohort.name" /><i data-bind="click:function(){ setHelpContent(visualizationPacks.healthcareUtilDrugCohort) }" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<cost-utilization-drug-util params="{
					source: $root.reportSourceKey(),
					cohortId: $root.reportCohortDefinitionId(),
					window: costUtilConst.windowType.atrisk,
				}"/>
			</div>
		</div>
	</div>
</div>