<div data-bind="css: classes()">
    <div data-bind="css: classes('block')">
        <visualizations-filter-panel params="{ filterList: $component.filterList, apply: $component.applyFilters, live: true }"/>
    </div>
    <div data-bind="visible: loading()">
        <loading params="status:'loading'" />
    </div>
    <div data-bind="visible: !loading()">
        <div data-bind="css: classes('table-block')" style="margin-bottom:5px">
            <table data-bind="css: classes({ element: 'summary-table', extra: ['table', 'table-bordered', 'table-hover'] })">
                <thead data-bind="css: classes('summary-table-head')">
                <tr>
                    <th data-bind="css: classes('summary-table-cell')">
                        <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.personCount', 'Person Count')"></span>
                    </th>
                    <th data-bind="css: classes('summary-table-cell')">
                        <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.personPercent', 'Person Percent')"></span>
                    </th>
                    <th data-bind="css: classes('summary-table-cell')">
                        <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.totalRecords', 'Total Records')"></span>
                    </th>
                    <th data-bind="css: classes('summary-table-cell')">
                        <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.recordsPer1000', 'Records per 1,000')"></span>
                    </th>
                    <th data-bind="css: classes('summary-table-cell')">
                        <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.recordsPer1000WithRecord', 'Records per 1,000 with record')"></span>
                    </th>
                    <th data-bind="css: classes('summary-table-cell')">
                        <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.recordsPer1000PerYear', 'Records per 1,000 Per Year')"></span>
                    </th>
                    <th data-bind="css: classes('summary-table-cell')">
                        <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.totalLengthOfStay', 'Total length of stay (in days)')"></span>
                    </th>
                    <th data-bind="css: classes('summary-table-cell')">
                        <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.averageLengthOfStay', 'Average Length of Stay (in days)')"></span>
                    </th>
                    <!-- ko if: $component.enableCosts -->
                        <th data-bind="css: classes('summary-table-cell')">
                            <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.allowedCost', 'Allowed cost')"></span>
                        </th>
                        <th data-bind="css: classes('summary-table-cell')">
                            <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.allowedCostPmpm', 'Allowed cost pmpm')"></span>
                        </th>
                        <th data-bind="css: classes('summary-table-cell')">
                            <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.chargedCost', 'Charged cost')"></span>
                        </th>
                        <th data-bind="css: classes('summary-table-cell')">
                            <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.chargedCostPMPM', 'Charged cost PMPM')"></span>
                        </th>
                        <th data-bind="css: classes('summary-table-cell')">
                            <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.paidCost', 'Paid cost')"></span>
                        </th>
                        <th data-bind="css: classes('summary-table-cell')">
                            <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.paidCostPMPM', 'Paid Cost PMPM')"></span>
                        </th>
                        <th data-bind="css: classes('summary-table-cell')">
                            <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.allowedCharged', 'Allowed/Charged')"></span>
                        </th>
                        <th data-bind="css: classes('summary-table-cell')">
                            <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.paidAllowed', 'Paid/Allowed')"></span>
                        </th>
                    <!-- /ko -->
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-bind="text: summary.personsCount"/>
                    <td data-bind="text: summary.personsPct"/>
                    <td data-bind="text: summary.visitsCount"/>
                    <td data-bind="text: summary.visitsPer1000"/>
                    <td data-bind="text: summary.visitsPer1000WithVisits"/>
                    <td data-bind="text: summary.visitsPer1000PerYear"/>
                    <td data-bind="text: summary.lengthOfStayTotal"/>
                    <td data-bind="text: summary.lengthOfStayAvg"/>
                    <!-- ko if: $component.enableCosts -->
                        <td data-bind="text: summary.allowed"/>
                        <td data-bind="text: summary.allowedPmPm"/>
                        <td data-bind="text: summary.charged"/>
                        <td data-bind="text: summary.chargedPmPm"/>
                        <td data-bind="text: summary.paid"/>
                        <td data-bind="text: summary.paidPmPm"/>
                        <td data-bind="text: summary.allowedChargedRatio"/>
                        <td data-bind="text: summary.paidAllowedRatio"/>
                    <!-- /ko -->
                </tr>
                </tbody>
            </table>
        </div>
        <div data-bind="if: $component.dataList().length <= 0, css: classes('block')">
            <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.costUtilizationText_1', 'Detailed statistics are not available')"></span>
        </div>
        <div data-bind="if: $component.dataList().length > 0, css: classes('block')">
            <ul class="nav nav-tabs">
                <!-- ko foreach: Object.keys(tabLabels) -->
                <li role="presentation" data-bind="click: function() { $component.currentTab($data); }, attr: {class: $component.currentTab() == $data ? 'active' : ''}">
                    <a data-bind="text: $component.tabLabels[$data]" />
                </li>
                <!-- /ko -->
                <li data-bind="css: classes('save-csv-tab'), click: $component.saveAsCsv">
                    <a data-bind="css: classes('save-csv-link')">
                        <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.costUtilizationText_1', 'Save as CSV')"></span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" data-bind="if: $component.currentTab() == $component.visualizationTab && !loading()">
                    <div data-bind="css: $component.classes('chart-filter-line')">
                        <div data-bind="css: $component.classes('chart-filter')">
                            <label>
                                <span data-bind="text: ko.i18n('cohortDefinitions.costUtilization.displayCharts', 'Displayed charts:')"></span>
                            </label>
                            <multi-select params="{ options: chartOptions, selectedValues: displayedCharts, multiple: true, selectedTextFormat: 'count > 10' }"/>
                        </div>
                    </div>
                    <!-- ko foreach: chartDataList -->
                        <div data-bind="css: $component.classes('chart-line')">
                            <line-chart data-bind="
                                    css: $component.classes('chart'),
                                    visible: $data.visible
                                "
                                params="{lineChart: {
                                    data: $data.values,
                                    xLabel: ($index() == ($component.chartDataList().length - 1)) ? 'Period start' : '',
                                    xFormat: $component.formatDate,
                                    yLabel: $data.name,
                                    yFormat: $data.yFormat || $component.formatRounded,
                                    tickFormat: $component.dateTickFormat,
                                    height: 125,
                                    ticks:6,
                                    yTicks:2,
                                    yAxisWidth:56,
                                    showLegend: false,
                                    getTooltipBuilder: $component.getTooltipBuilder
                                    }
                                }"
                            />
                        </div>
                    <!-- /ko -->
                </div>
                <div role="tabpanel" data-bind="if: $component.currentTab() == $component.rawDataTab && !loading()">
                    <div data-bind="css: classes('table-block')">
                        <table data-bind="
                            css: classes({ element: 'table', extra: ['table', 'table-bordered', 'table-hover'] }),
                            dataTable:{ data: $component.dataList, options: {columns: $component.tableColumns, pageLength: 100} }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>