<div>
    <div class="heading"><span data-bind="text: ko.i18n('components.conceptSet.enterConceptIdentifiers', 'Enter Concept Identifiers')"></span> (<a class="linkish" data-bind="click: function() { identifiers(''); }, text: ko.i18n('components.conceptSet.clickToClear', 'click to clear')"></a>)</div>
    <textarea class="form-control" rows="5" data-bind="textInput: identifiers"></textarea>
    <concept-add-box params="{
        isActive: canAddConcepts,
        onSubmit: doImport,
        noPreview: true
      }"></concept-add-box>	
    <div class="clear"></div>
</div>