<div>
    <div class="heading"><span data-bind="text: ko.i18n('components.conceptSet.enterSourceCodes', 'Enter Source Codes')"></span> (<a class="linkish" data-bind="click: function() { sourcecodes(''); }, text: ko.i18n('components.conceptSet.clickToClear', 'click to clear')"></a>)</div>
    <textarea class="form-control" rows="5" data-bind="textInput: sourcecodes"></textarea>
    <concept-add-box params="{
        isActive: canAddConcepts,
        onSubmit: doImport,
      }"></concept-add-box>
    <div class="clear"></div>
</div>