<div>
    <div class="heading"><span data-bind="text: ko.i18n('components.conceptSet.import.sourceCodes.enterSourceCodes', 'Enter Source Codes')"></span> (<a class="linkish" data-bind="click: function() { sourcecodes(''); }, text: ko.i18n('components.conceptSet.clickToClear', 'click to clear')"></a>)</div>
    <textarea class="form-control" rows="5" data-bind="textInput: sourcecodes"></textarea>
    <div class="clear"></div>
    <button data-bind="click: loadConcepts, text: ko.i18n('components.conceptSet.import.sourceCodes.searchConcepts', 'Search concepts')" class="btn btn-sm btn-primary"></button>
    <div class="clear"></div>

    <loading data-bind="css: classes('loading-panel'), visible: isSearching()" params="status: ko.i18n('components.conceptSet.import.sourceCodes.searchingConcepts', 'Searching concepts...')"></loading>

    <div data-bind="hidden: loadedConcepts().length === 0">

        <div class="not-found-codes" data-bind="hidden: notFoundCodes().length === 0">
            <b data-bind="text: ko.i18n('components.conceptSet.import.sourceCodes.notFound', 'Not found:')"></b> <span data-bind="text: notFoundCodes().join(', ')"></span>
        </div>

        <faceted-datatable params="{
            columns: searchColumns,
            options: searchOptions,
            reference: loadedConcepts,
            rowCallback: commonUtils.contextSensitiveLinkColor,
            pageLength: tableOptions.pageLength,
            lengthMenu: tableOptions.lengthMenu,
            language: ko.i18n('datatable.language')
        }"></faceted-datatable>

        <concept-add-box params="{
            isActive: canAddConcepts,
            concepts: getSelectedConcepts
        }"></concept-add-box>
    </div>
    <div class="clear"></div>
</div>