.configuration {

  &__source-select {
    margin-bottom: 0;
  }

  &__command-pane {
    display: flex;
  }

  &__padded {
    padding: 5px;
    display: flex;
  }

  &__manage-btn {
    width: 175px;
  }
}