<div>
    <table width="100%" class="stripe compact hover" cellspacing="0" data-bind="dataTable:{
            data: $component.permissionItems,
            options: {
                        dom: 'lfiprt',
                        pageLength: tableOptions.pageLength,
                        lengthMenu: tableOptions.lengthMenu,
                        orderClasses: false,
                        deferRender: true,
                        autoWidth: false,
                        ordering: true,
                        columnDefs: [
                                { targets: 0, width: '80px', orderable: false },
                        ],
                        columns: [
                                { title: ko.i18n('columns.included', 'Included'), class:'text-center', render: function() { return renderCheckbox('isRolePermission', $component.canEditRolePermissions()); } },
                                { title: ko.i18n('columns.permission', 'Permission'), data: 'permission' },
                                { title: ko.i18n('columns.description', 'Description'), data: 'description' }
                        ],
                        language: ko.i18n('datatable.language')
                }
        }"></table>
</div>