<div>
    <table width="100%" class="roles-table stripe compact hover" cellspacing="0" data-bind="dataTable:{
            data: $component.userItems,
            options: {
                        dom: 'lfiprt',
                        pageLength: tableOptions.pageLength,
                        lengthMenu: tableOptions.lengthMenu,
                        orderClasses: false,
                        deferRender: true,
                        autoWidth: false,
                        ordering: false,
                        columns: [
                                { class:'text-center', render: function() { return renderCheckbox('isRoleUser', $component.canEditRoleUsers); } },
                                { data: 'login' }
                        ],
                        language: ko.i18n('datatable.language')
                }
        }">
        <thead>
        <tr role="row">
            <th class="roles-table__included-th text-center sorting_disabled" rowspan="1" colspan="1">
                <span class="fa fa-check" data-bind="css: { selected: $component.areUsersSelected }, click: function(){$component.areUsersSelected()?$component.deselectAllUsers():$component.selectAllUsers();}"></span>
                <span data-bind="text: ko.i18n('columns.included', 'Included')"></span>
            </th>
            <th tabindex="0" rowspan="1" colspan="1" data-bind="text: ko.i18n('columns.login', 'Login')"></th>
        </tr>
        </thead>
    </table>
</div>