html, body {
  height: 100%;
  min-height: 1px;
}

table.cohort-generate-sources {
  width: 100%;
  border-bottom: solid 1px #888;
}

table.cohort-generate-sources td {
  padding: 3px;
  line-height: 28px;
}

table.cohort-generate-sources tbody.overflow {
  display: block;
  overflow: auto;
}

table.cohort-generate-sources tbody.max-height {
  max-height: 210px;
}

table.cohort-generate-sources thead, table.cohort-generate-sources tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table.cohort-generate-sources thead {
  width: calc(100%-1em)
}

td.date-column {
	width: 125px;
}

td.author-column {
	width: 125px;
}

td.id-column {
	width: 45px;
}

.breadcrumb-container {
  background-color: #333;
  color: #fff;
  border-bottom: solid 1px #ccc;
  padding-left: 10px;
  line-height: 32px;
  font-size: 12px;
  height: 32px;
}

.btn.btn-sm {
  /* padding-top: 0px; */
  /* padding-bottom: 0px; */
  /* margin-top: 0px; */
  /* line-height: 25px; */
}

.asset-heading {
  background-color: #333333;
  padding: 7px;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
}

.asset-heading-link {
  color: #fff;
  text-decoration: underline;
}

.asset-heading-link:hover {
  color: #fff;
  text-decoration: none;
}

body {
  font-size: 12px;
  /* researched font stack used by github */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
}


.importedTable {
  padding: 10px;
}

.heading {
  font-size: 14px;
  color: #000;
  font-weight: normal;
  margin: 12px 0px 3px 0px;
}

.heading.strong {
  font-weight: bold;
}

.heading b {
  color: #333;
}

.subheading {
  font-size: 12px;
  color: #000;
  font-weight: normal;
  margin: 7px 0px 3px 0px;
  padding: 0px 5px 0px 5px;
}

#wrapperConfigure {
  padding: 10px;
}

.paddedWrapper {
  margin: 5px;
}

.padded td {
  padding: 5px;
}

.paddedFloater {
  margin-right: 10px;
  margin-top: 5px;
}

.linkish {
  text-decoration: underline;
  color: #0070dd;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.serviceName {
  float: left;
  margin-right: 10px;
}

.serviceStatus {
  float: left;
  font-size: 16px;
  padding: 0px 5px 0px 0px;
}

.serviceAvailable {
  color: green;
}

.serviceUnavailable {
  color: red;
}

.serviceUrl {
  clear: both;
  font-size: .9em;
  color: #888;
  font-style: italic;
}

.sourceWrapper {
  padding: 5px;
}

.statusIndicator {
  vertical-align: middle;
  padding-left: 20px;
  margin-left: 20px;
}

.configureRadio {
  text-align: center;
}

.configureCheckbox {
  text-align: center;
}

#wrapperIncludedTable {
  padding: 10px;
}

#wrapperImportTable {
  padding: 10px;
}

#wrapperImportTable {
  margin-top: 50px;
}

#wrapperImport textarea {
  margin-bottom: 10px;
  font-size: 11px;
}

textarea {
  padding: 2px 0px 2px 5px;
}

#wrapperConcept .nav.nav-pills {
  padding: 7px;
  cursor: pointer;
}

#wrapperConceptDetails table {
  width: 500px;
}

#wrapperConceptSetExport {
  padding: 10px;
}

#wrapperConceptDetails th {
  padding: 7px;
  font-size: 12px;
}

pre span.key {
  color: #428bca;
}

#wrapperConceptDetails td {
  padding: 7px;
  font-size: 12px;
  border-bottom: solid 1px #ccc;
}

#wrapperLogo {
  position: relative;
  height: 34px;
  padding: 0px 10px 0px 10px;
  line-height: 36px;
  font-size: 14px;
  background-color: #003142;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-bottom: solid 1px #CCC;
  flex-shrink: 0;
  flex-grow: 0;
}

#wrapperLogo img {
  height: 42px;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: -5px;
}

#wrapperMainWindowContainer {
  position: relative;
  margin-left: 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 768px;
}

.flexed {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.panel-heading a {
  color: #003142;
}

.wrapperTitle {
  position: relative;
  background-color: #333333;
  height: 28px;
  color: #fff;
  line-height: 28px;
  padding: 0px 0px 0px 30px;
  font-size: 14px;
  border-bottom: solid 1px #333;
  white-space: nowrap;
}

.wrapperHeader {
  position: relative;
  background-color: #003142;
  height: 34px;
  color: #FFFFFF;
  line-height: 28px;
  padding: 0px 1px 0px 0px;
  font-size: 14px;
  border-bottom: solid 1px #ccc;
  white-space: nowrap;
  text-align: right;
}

.wrapperHeader a {
  margin-right: 10px;
  color: #eee;
  text-decoration: underline;
  cursor: pointer;
}

.wrapperHeader a:hover {
  text-decoration: underline;
}

.wrapperTitle textarea {
  position: absolute;
  top: 2px;
  left: 35px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #FFFFFF;
  color: #003142;
  border: solid 1px white;
}

.nav-tabs>li {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.tab-content .nav-tabs #wrapperLeftMenu li {
  list-style: none;
  text-indent: 0px;
  padding: 2px 0px 2px 12px;
  color: #fff;
  line-height: 14px;
}



.feFilter {
  padding-left: 0px;
  padding-top: 75px;
}

.fa.fa-refresh.fa-spin {
  font-weight: normal;
}

.feFilter .facetName {
  padding: 2px;
  font-size: 12px;
  background-color: #c1c1c1;
}

.feFilter .facetMemberName {
  font-size: 11px;
  cursor: pointer;
  padding: 0px 2px 0px 5px;
  margin: 1px 0px 1px 0px;
}

.feFilter .facetMemberName:hover {
  background-color: #ddd;
}

.feFilter .facetMemberName.selected {
  background-color: #F9B813;
}

.panel-default>.panel-highlighted {
  background-color: #F9B813;
  background-image: linear-gradient(to bottom, #F9B813 0, #EFAB00 100%);
}

.omHighlight {
  color: #337ab7;
}

.feFilter .facetScrollBox {
  max-height: 75px;
  overflow-y: auto;
  border-bottom: solid 1px #eee;
}

#wrapperSearchResultsTable {
  position: absolute;
  left: 200px;
  padding: 7px;
  width: 100%;
  margin-left: -200px;
  padding-left: 196px;
  padding-top: 5px;
}

#wrapperRelatedConceptsTable {
  position: absolute;
  left: 200px;
  padding: 7px;
  padding-left: 210px;
  width: 100%;
  margin-left: -200px;
}

.facetedDataTable {
  width: 100%;
}

table.datatable {
  font-size: 11px;
  width: 100%;
}

td.numeric {
  text-align: right;
}

#feasibilityResultTable {
  width: 100%;
}

#feasibilityResultTable td {
  padding-left: 3px;
  padding-right: 3px;
}

#feasibilityResultTable th {
  white-space: nowrap;
  background-color: #eee;
  border: solid 1px #444;
}

#feasibilityResultTable td {
  border: solid 1px #444;
}

#wrapperRelatedConcepts {
  position: relative;
}

#wrapperSearchResultsTable table {
  font-size: 11px;
  width: 100%;
}

#wrapperConceptEvidence table {
  font-size: 11px;
}

th .fa {
  font-size: 12px;
  cursor: pointer;
}

td .fa {
  font-size: 14px;
}

table.datatable thead th {
  padding: 4px 5px !important;
}

div.dt-button-collection {
  width: max-content !important;
}

.asset-heading .fa-shopping-cart, td .fa-shopping-cart {
  color: #ccc;
  cursor: pointer;
}

.asset-heading ul li .fa-shopping-cart {
  color: #000;
}

.fa-shopping-cart.selected {
  color: #F19119;
}

.hidden {
  display: none;
}

.empty-name-error {
   font-size: 1.4rem;
   color: #F44;
}

.empty-name-error .i {
   margin-right: 0.5rem
 }

.conceptDetail {
  background-color: #505050;
  padding: 2px 7px 2px 7px;
  color: #eee;
  font-size: .8em;
  cursor: help;
  margin: 2px;
  white-space: nowrap;
}

td.classification {
  background-color: #a335ee;
  color: #fff;
}

span.classification {
  color: #fff;
  background-color: #a335ee;
  padding: 5px;
}

a.classification {
  color: #a335ee;
}

a.non-standard {
  color: #a71a19;
}

td.invalid {
  background-color: #a71a19;
  color: #fff;
}

span.invalid {
  color: #fff;
  background-color: #a71a19;
  padding: 5px;
}

label {
  font-weight: normal;
  font-size: 11px;
}

.fa-check {
  cursor: pointer;
  color: #eee;
  background-color: #fff;
  padding: 2px;
  border: solid 1px #888;
  border-radius: 2px;
}

.fa-check.selected {
  color: #F19119;
}

td.select .fa-check-circle {
  color: #000;
}

td.select .fa-check-circle.selected {
  color: #F19119;
}

.error {
  font-size: 14px;
  text-align: center;
  padding: 7px;
  color: #F44;
  margin: 7px;
}

.errorInline {
  font-size: 14px;
  color: #F44;
}

.helpText {
  color: #888;
  font-style: italic;
}

.configureSourceTable td {
  padding-left: 7px;
  padding-right: 7px;
  font-size: 11px;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}

.configureSourceTable tr.selected {
  background-color: #f8b88f;
}

th {
  line-height: 20px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 11px;
  border-bottom: solid 1px #CCC;
}

.configureHeader {
  display: flex;
}

.configureHeader .left{
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.configureHeader .right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  flex-grow: 1;
}

table.configureSourceTable {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

#wrapperJobs {
  padding: 5px;
}

.configureSourceTable tbody td {
  cursor: default;
}

th.centered {
  text-align: center;
}

td.centered {
  text-align: center;
}

ul.ColVis_collection {
  border-radius: 0px;
  background-color: #fff;
  margin-top: 3px;
}

ul.ColVis_collection li {
  background: #eee;
}

.ColVis_Special {
  background: #eee;
}

.conceptTable div.swatch {
  width: 12px;
  height: 12px;
}

.clear {
  clear: both;
  height: 2px;
}

#wrapperParents {
  padding-left: 5px;
}

#wrapperSelf {
  padding-left: 30px;
  padding: 20px;
  font-size: 1.3em;
}

#wrapperChildren {
  padding-left: 5px;
}

.configureSourceTable i.fa {
  line-height: 9px;
  font-size: 10px;
  margin: 0px 3px 0px 3px;
}

.configureSourceTable i.fa.fa-exclamation-circle {
  color: #800;
}

.wrapperTitle .fa.fa-chevron-right {
  position: relative;
  top: 0px;
  left: 0px;
  width: 5px;
  font-size: 9px;
  padding-left: 7px;
  padding-right: 7px;
}

#wrapperHierarchyAnchor {
  padding-left: 5px;
  margin-bottom: 10px;
}

#wrapperCohort {
  padding: 5px;
}

.wrapperTitle .fa {
  font-size: 14px;
  position: absolute;
  top: 7px;
  left: 7px;
}

.fa-check-circle {
  color: #080;
}

#wrapperCohortDefinition .fa-exclamation-circle {
  color: #800;
}

#leftMenuBackground {
  background-color: #fff;
}

#analysisStatus td {
  line-height: 20px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 11px;
  border-bottom: 1px solid #ccc;
}

.indicator {
  text-align: center;
  padding: 3px;
  font-weight: normal;
}

.fa .fa-compress {
  cursor: pointer;
}

#analysisStatus td div {
  vertical-align: middle;
}

#analysisStatus td.reportName {
  width: 200px;
}

/*#wrapperLeftMenu i.fa {
   line-height: 7px;
}*/

#wrapperReportMenu {
  margin: 5px;
}

#wrapperReportMenu select {
  width: 200px;
  float: right;
  margin: 3px;
}

.pad-5 {
  padding: 5px;
}

.form-control {
  padding: 3px;
  margin-bottom: 3px;
  font-size: 12px;
  color: #000;
}

.form-control.invalid {
  color: #c00;
}

.form-control.text-cursor {
  cursor: text;
}

.form-control option {
  color: #000;
}

input.btn.btn-default {
  font-size: 12px;
  float: right;
  background-image: none;
  background-color: #24465D;
  color: #FFF;
  text-shadow: none;
}

.reportHeading {
  font-size: 14px;
  margin-bottom: 25px;
  margin-top: 0px;
}

.reportSectionHeading {
  font-size: 12px;
  /* border-bottom: solid 1px #ccc; */
  /* margin-top: 10px; */
  margin-bottom: 10px;
  color: #000;
}

.evidenceDescription {
  color: #222;
  font-size: 11px;
  padding: 10px;
}

.evidenceVisualization {
  text-align: center;
  background-color: #fff;
  font-size: 8px;
}

.evidenceVisualization .axislabel {
  /* font-size: 1.8em; */
}

.pad-10 {
  padding: 10px;
}

.report svg {
  margin-left: auto;
  margin-right: auto;
}

g.trellisLegend {}

.loading {
  color: #A5B3BD;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}

div.loader {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.tab-content {
  padding: 2px 2px 15px 2px;
  background-color: #fff;
}

.tab-content.nospace {
  padding: 0px;
  background-color: #fff;
}

table#analysisStatus {
  width: 100%;
}

.reportControls {
  background-color: #eee;
  margin-left: 0px;
  border-bottom: solid #ccc 1px;
}

input.btn.btn-default:disabled {
  background-color: #ccc;
  color: #fff;
}

.report {
  /* background-color: #eee; */
  margin: 3px 3px 3px 3px;
  /* border: solid 1px #ddd; */
}

.reportHeading .fa-chart-area {
  font-size: 2em;
  margin-right: 5px;
}

i.fa.fa-refresh.fa-spin {
  font-size: .9em;
  padding-right: 0px;
}

.i.fa.fa-circle-notch.fa-spin {
  font-size: .9em;
  padding-right: 0px;
}

rect.box {}

.img-thumbnail {
  border-radius: 0
}

code {
  border-radius: 0
}

pre {
  border-radius: 0;
  font-size: 10px;
  background-color: #eee;
  margin: 5px 0px;
}

.form-control {
  border-radius: 2px;
}

.form-control:focus {
  outline: 1px;
  outline-offset: 0px;
  box-shadow: none;
}

.input-sm {
  border-radius: 0
}

.input-lg {
  border-radius: 0
}

.dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  box-shadow: none
}

.btn-group-xs>.btn {
  border-radius: 0
}

.btn-group-sm>.btn {
  border-radius: 0
}

.btn-group-lg>.btn {
  border-radius: 0
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
  border-top-right-radius: 0
}

.btn-group-vertical>.btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
  border-radius: 0
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
  border-radius: 0
}

.input-group-addon {
  border-radius: 0
}

.input-group-addon.input-sm {
  border-radius: 0
}

.input-group-addon.input-lg {
  border-radius: 0
}

.fe-save-btn {
  display: inline-block;
}

@media(min-width:768px) {
  .navbar {
    border-radius: 0
  }
}

.navbar-toggle {
  border-radius: 0
}

.navbar-toggle .icon-bar {
  border-radius: 0
}

.nav-tabs>li>a {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.nav-pills>li>a {
  border-radius: 3px;
  cursor: pointer;
}

ul.nav.nav-tabs {
  margin-bottom: 2px;
  background-color: #333;
  padding: 5px 10px 1px 5px;
  border-bottom: solid 1px #FFFFFF;
  clear: right;
}

ul.nav.nav-tabs.nospace {
  margin-bottom: 0px;
  background-color: #333;
  padding: 2px 2px, 1px, 2px;
  border-bottom: solid 1px #FFFFFF;
  clear: right;
}


ul.nav.nav-tabs {
  white-space: nowrap;
}

.report ul.nav.nav-tabs {
  background-color: #ccc;
}

.nav-tabs span.badge {
  background-color: #ddd;
  color: #003142;
  margin-left: 10px;
}

.nav-tabs>li {
  margin-left: 5px;
  cursor: pointer;
  line-height: 14px;
}

.nav-tabs>li>a {
  margin-right: 1px;
}

.breadcrumb {
  border-radius: 0
}

.pagination {
  border-radius: 0
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.pager li>a, .pager li>span {
  border-radius: 0
}

.label {
  border-radius: 0;
}

.badge {
  border-radius: 10px;
  background-color: #eee;
  font-size: 10px;
  font-weight: normal;
  padding: 1px 5px;
  color: #000;
  line-height: 12px;
}

.container .jumbotron {
  border-radius: 0
}

.thumbnail {
  border-radius: 0
}

.alert {
  border-radius: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.progress {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0px;
}

.progress-bar {
  box-shadow: none;
  color: #eee;
  font-size: 10px;
  margin-bottom: 0px;
}

.panel {
  border-radius: 0;
  /* box-shadow: none; */
}

.panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 4px 5px 4px 10px;
}

.panel-footer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.panel-group .panel {
  border-radius: 0
}

.panel-group .panel+.panel {
  margin-top: 0px;
  border-top: solid 1px #eee;
}

.well {
  border-radius: 0;
  box-shadow: none;
}

.well-lg {
  border-radius: 0
}

.well-sm {
  border-radius: 0
}

.close {
  text-shadow: none
}

.tooltip-inner {
  border-radius: 0
}

.popover {
  border-radius: 0;
  box-shadow: none;
}

.popover-title {
  border-radius: 0
}

.carousel-control {
  text-shadow: none
}

.carousel-indicators li {
  border-radius: 0
}

.carousel-caption {
  text-shadow: none
}

#wrapperLogo a, #wrapperLogo a:hover {
  text-shadow: #888 1px 1px 1px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 5px;
  color: #fff;
}

.btn {
  background-image: none;
}

table.dataTable {
  background-color: #eee;
}

.dataTables_wrapper {
  margin: 5px 0px 5px 0px;
  width: 100%;
}

textarea.form-control {
  padding: 5px;
}

tbody {
  border-bottom-color: #ccc;
}

i.fa.fa-compress {
  cursor: pointer;
}

table.dataTable.no-footer {
  border-bottom: solid 1px #ccc !important;
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: solid 1px #ccc !important;
  border-left: solid 1px #fff;
}

.facetMemberName:hover i.fa {
  color: #f00;
}

.facetName i.fa.fa-filter {
  margin-right: 3px;
}

.badge .fa {
  font-size: 11px;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #fff;
}

ul.ColVis_collection li {
  padding: 3px 10px 3px 7px;
}

.modal-header {
  background-color: #003142;
  color: #fff;
  border-bottom: none;
  font-size: 14px;
  padding: 7px;
}

 .app.modal-open {
  padding-right: 0px!important;
}

circle {
  fill: #fff;
  transition: fill .5s;
}

circle.hovered {
  fill: #A8D7FF !important;
}

circle.child.selected {
  stroke: #ccc;
  stroke-width: 1px;
  fill: #F19119;
}

tr.selected td span.fa.fa-check {
  color: #F19119;
}

circle.parent {
  fill: #fff;
  stroke: #aaa;
  stroke-width: 1px;
}

circle.child {
  fill: #eee;
}

#kernelDensityContainer text {
  font-size: 10px;
}

.axis path, .axis line {
  stroke: rgba(200, 200, 200, 64) !important;
  stroke-width: .5px !important;
}

.checkboxListing {
  /* overflow-y: scroll; */
  /* height: 150px; */
  /* border-top: solid 1px #ddd; */
  /* border-bottom: solid 1px #ddd; */
  /* margin-bottom: 10px; */
}

/*#wrapperLeftMenu li a {
  cursor: pointer;
}*/

.overlay {
  fill: none;
  cursor: crosshair;
}

div.scatter {
  text-align: center;
}

.scatter rect.focus {
  fill: purple;
}

.scatter rect.drug {
  fill: blue;
}

.scatter rect.condition {
  fill: #F19119;
}

.scatter rect.observation {
  fill: #11f111;
}

.scatter rect.visit {
  fill: #f1f111;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#scatter .focus {
  opacity: 1;
}

#scatter .axis text {
  font-size: 10px;
}

#scatter {
  text-align: center;
  border-bottom: solid 1px #ccc;
}

line.index-date {
  stroke: #F19119;
  stroke-width: 1px;
  stroke-opacity: 1;
}

line.observation-period {
  stroke: blue;
  stroke-width: 1px;
  stroke-opacity: 1;
}

input[type="radio"] {
  vertical-align: middle;
  margin: 0px;
}

li.assetlink {
  background-color: #eee;
}

table.conceptsetviewer th {
  background-color: #ccc;
}

table.conceptsetviewer th.fixed-width {
  width: 75px;
}

.panel-group {
  margin-bottom: 0px;
}

.cohortDefinitionNameTextArea {
  font-size: 12px;
  width: 500px;
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
  outline: none;
  padding: 0px 0px 0px 5px;
  line-height: 28px;
  height: 28px;
  background-color: #fff;
}

a:focus, a:hover {
  text-decoration: none;
}

.wrapperTitle input[type="text"] {
  color: #003142;
  height: 30px;
  line-height: 30px;
  border-bottom: dotted 1px #fff;
  background-color: #FFFFFF;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 500px;
}

.wrapperTitle input[type="text"]:focus {
  outline: none;
}

div.button-overlay {
  position: absolute;
  padding-top: 2px;
}

@media(max-width:1010px) {
  .button-overlay {
    position: relative !important
  }
}

.divtext {
  padding: 5px;
  width: 100%;
  min-height: 1.2em;
  max-height: 120px;
  overflow: auto;
  white-space: pre-wrap;
  border: 1px solid #ccc;
  background-color: #fff;
}

[contenteditable]:focus {
  outline: none;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
}

.nav>li>a {
  padding: 5px 10px 5px 10px;
  background-color: #888;
  color: #ccc;
}

.nav-tabs li a, .nav-tabs li a:hover {
  color: #ccc;
  line-height: 15px;
  background-color: #888;
}

.nav-pills li a:hover {
  background-color: #888;
  color: #fff;
}

textarea.code {
  font-style: 'Courier New';
  /* font-size: 8px; */
}

.panel-default>.panel-heading {
  background-image: none;
  background-color: #ddd;
  border-bottom: solid 1px #ccc;
  line-height: 14px;
}

.panel-collapse {
  border-bottom: solid 1px #ccc;
}

.cohort-description {
  margin-bottom: 15px;
}

/*#wrapperLeftMenu li {
  border-bottom: solid 1px #333;
  padding: 4px;
}*/

.asset-heading input {
  padding: 3px;
  color: #003142;
  font-size: 12px;
}

.asset-heading-restricted {
  width: 500px;
}

.nav-tabs>li>a:hover {
  border-top-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #AAAAAA;
}

li.current-asset {
  background-color: #ccc;
  border-bottom: solid 1px #F19119;
  padding: 2px 0px 2px 10px;
}

/*#wrapperLeftMenu li.current-asset a {
  color: #000;
}*/

.configureSourceTable button.connection-check-button {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 2px;
}

.configureSourceTable i.fa.fa-spinner.fa-spin {
  font-size: 14px;
  color: #FFF;
  line-height: 14px;
}

.github-issue {
  margin-bottom: 3px;
  position: relative;
  clear: both;
  line-height: 16px;
}

.github-avatar {
  width: 16px;
  height: 16px;
  box-shadow: #003142 1px 1px 2px;
  float: left;
  margin-right: 10px;
}

.github-issue-container {
  overflow-y: scroll;
  height: 200px;
  border: solid 1px #ccc;
}

.home-getting-started {
  line-height: 35px;
}

.home-getting-started .btn {
  width: 200px;
  margin-right: 50px;
}

.release-notes {
  background-color: #eee;
  margin: 3px;
  padding: 5px;
  border: solid 1px #ddd;
}

.home-welcome {
  /* margin: 7px; */
}

.home-documentation {
  /* margin: 10px; */
}

.home-documentation .fa {
  font-size: 18px;
}

inclusion-rule-editor input[type="text"] {
  padding: 2px 0px 2px 5px;
  width: 80%;
}

inclusion-rule-editor input.emptyInput {
  background-color: #fff;
}

.selectedInclusion {
  background-color: #337AB7;
  color: #fff;
}

table.inclusionRules {
  margin-top: 5px;
}

div.inclusionRules div.description {
  font-size: 75%;
  font-style: italic;
  white-space: pre-wrap;
}

table.inclusionRules td div.description {
  font-size: 75%;
  font-style: italic;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

table.inclusionRules td {
  padding: 2px;
}

table.inclusionRules tr {
  cursor: pointer;
  line-height: 16px;
}

cohort-expression-editor td {
  vertical-align: top;
}

td div.criteria-content {
  padding: 6px;
  background-color: #eee;
  margin: 1px 5px 5px 0px;
  border: solid 1px #ccc;
}

div.additionalCriteria div.criteria-content {
  border: solid 1px #00a031;
}

div.demographicCriteria div.criteria-content {
  border: solid 1px #2749ff;
}

.observation-window {
  margin-top: 5px;
}

.dd-select {
  padding: 2px 0px 2px 5px;
  margin-left: 5px;
}

.criteriaHeading .dd-container {
  margin-top: -5px;
}

inclusion-rule-editor .inclusion-rule-header {
  margin-bottom: 5px;
}

.fa.fa-ban {
  color: red;
  cursor: pointer;
}

button.btn-conceptset_selector {
  font-size: 10px;
  color: #000;
  height: 21px;
  padding: 0px 4px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: -1px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

select.mediumInputField {
  height: 1.8em;
}

cohort-expression-editor .fa.fa-ban {
  font-size: 20px;
}

.results-tab-pane {
  margin: 5px;
}

.results-tab-pane .row {
  line-height: 30px;
  vertical-align: middle;
  text-align: left;
  margin-top: 5px;
  background-color: #eee;
  border: solid 1px #ccc;
}

.results-tab-pane .row.executionrow {
  background-color: #fff;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-top: none;
  border-bottom: solid 1px #ccc;
  margin-bottom: 0px;
  margin-top: 0px;
}

cohort-comparison-manager .row .btn {
  margin-bottom: 2px;
}

.cohort-comparison-pf-reference {
  font-weight: bold;
}

/*#wrapperLeftMenu li:hover {
  background-color: #093646;
}

#wrapperLeftMenu li.current-asset:hover {
  background-color: #fff;
}*/

.breadcrumb-container a {
  color: #ccc;
}

.breadcrumb-container i.fa.fa-chevron-left {
  font-size: 10px;
}

.breadcrumb-container i.fa.fa-chevron-right {
  font-size: 10px;
}

.modal-header button.close {
  color: #fff;
}

#matchedpopdistChart svg {
  height: 400px;
}

#psmodeldistChart svg {
  height: 400px;
}

#balanceChart svg {
  height: 400px;
}

.scatterTooltip {
  width: 300px;
  white-space: normal;
}

.modal-header .close {
  color: #fff;
  opacity: .8;
}

div.generateAction {
  display: inline-block;
  vertical-align: bottom;
  line-height: 19px;
}

table.sourceTable tr td, table.sourceTable th {
  padding: 2px 5px;
  line-height: 12px;
  user-select: none;
}

table.sourceTable .selected {
  color: #F19119;
  font-size: 1.5em;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}

a.open>i.fa {
  color: #5bb75b !important;
}

a.unsaved>i.fa {
  color: #d04541 !important;
}

cohort-comparison-manager .x-axislabel.axislabel, cohort-comparison-manager .y-axislabel.axislabel {
  font-size: 6px
}

.dropdown-menu {
  font-size: 12px;
}

span.new-role {
  margin: 5px;
}

.fa.fa-check.readonly {
  color: #f0f0f0;
  border-color: #E0E0E0;
  cursor: default;
}

.fa.fa-check.readonly.selected {
  color: #9E9E9E;
  border-color: #E0E0E0;
  cursor: default;
}

.fa.fa-shopping-cart.readonly {
  color: #ededed;
  cursor: default;
}

.fa.fa-shopping-cart.readonly.selected {
  color: #9C9C9C;
  cursor: default;
}

.padded {
  padding: 5px;
}

.radius-border {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.filter-results-select {
  padding: 10px;
  padding-bottom: 0px;
  font-size: 14px;
}

.list-inline>li {
  vertical-align: middle;
}

.user-bar-container {
  height: 34px;
  float: right;
}

.user-bar-container i.fa {
  padding: 10px;
  color: #FFFFFF;
}

.user-bar-container span.pipe {
  padding-right: 15px;
  color: #888;
}

i.fa.pending {
  color: #f19119;
}

#jobModal .progress {
  margin-bottom: 0px;
}

.panel-heading i.fa.fa-question-circle {
  font-size: 18px;
  margin-right: 7px;
  color: #fff;
  cursor: pointer;
}

.criteriaSection .fa.fa-times {
  color: red;
  font-size: 1.7em;
  margin-right: 2px;
  cursor: pointer;
}

.cohort-definition-panel ul.nav.nav-tabs {
  background-color: #ccc;
}

.report .panel-body {
  padding: 0px 0px 5px 0px;
}

.report ul.nav.nav-tabs {}

.asset-heading .btn .fa {
  font-size: 14px;
}

atlas.cohort-editor .panel-body {}

.cohort-definition-panel .cohort-definition-panel {
  margin: 10px;
}

.cohort-definition-panel .cohort-definition-panel .panel-body {
  padding: 10px;
}

ul.nav-tabs a i.fa.fa-question-circle-o {
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  color: #444;
}

.cohort-definition-panel .optionText {
  font-size: 12px;
  color: #000;
}

.cohort-definition-panel .optionDescription {
  color: #888;
  font-size: 10px;
}

.cohort-definition-panel .row {
  line-height: 32px;
}

.cohort-definition-panel .dropdown-menu {
  /* max-height: 200px; */
  /* overflow-y: scroll; */
}

.criteriaTable tr {
  height: 32px;
  vertical-align: middle;
}

conceptset-selector {
  margin-left: 3px;
}

button i.fa.fa-question-circle {
  font-size: 16px;
}

#tornadoPlot .bar {
  stroke: #fff;
  stroke-width: 1px;
  cursor: pointer;
}

#tornadoPlot .bar:hover {
  stroke: orange;
  stroke-width: 2px;
}

#tornadoPlot .bar--positive {
  fill: #aec7e8;
}

#tornadoPlot .bar--negative {
  fill: #1f77b4;
}

#tornadoPlot .y.axis .tick text {
  fill: #000;
}

#tornadoPlot .x.axis .tick text {
  fill: #000;
}

#tornadoPlot text {
  font-size: 11px;
  fill: #000;
  user-select: none;
  pointer-events: none;
}

#tornadoProfiles a {
  color: #ccc;
}

#tornadoProfiles i.fa-female {
  font-size: 50px;
  color: #1f77b4;
}

#tornadoProfiles i.fa-male {
  font-size: 50px;
  color: #aec7e8;
}

#tornadoProfiles div.col-sm-2 {
  padding: 5px;
}


div.wrapper_ohdsi {
  background-color: #eee;
  width:175px;
  text-align: center;
  font-size: 12px;
  color: #020202;
  bottom:0px;
  padding-bottom:10px;
  border-right: solid 1px #868686;
  border-top: solid 1px #868686;
  padding-top:10px;
  flex-shrink: 0;
  flex-grow: 0;
}

div.wrapper_ohdsi img {
  width:100px;
}

div.wrapper_ohdsi a {
 text-decoration:underline;
 color: #003142;
}

.form input[type=text] {
  width: 100%;
}

.form label {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 5px;
}

.priority {
  display: flex;
  padding: 0 40px 0 0;
  width: auto;
}

.priority-label {
  text-align: right;
  margin-right: 20px;
}

.source-row {
  display: flex;
  margin: 0;
}

.control-group {
  padding: 5px 20px 5px 0;
}

.control-group label {
  margin: 0 10px 0 0;
}

.control-group .form-group {
  margin: 0;
}

.source-params {
  margin-bottom: 30px;
}

#report {
  flex-grow: 1;
}

.editor-back-icon {
  width: 50px;
  float: left;
  border-radius: 4px;
  color: #454D57;
  border: 1px solid #CBCED1;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #F2F3F4;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}

.editor-container {
  border-top: 2px solid #485563;
}

.editor-heading {
  font-weight: bold;
  height: 17px;
}

.numericInputField {
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 3px;
	line-height: 18px;
	min-width: 18px;
	min-height:19px;
	border: solid 1px;
	display: inline-block;
	background-color: white;
	color: black;
	border-color: gray;
	text-indent: 0px;
}

.dropdown {
	margin: 2px 0px;
	padding-right: 18px;
	background-image: url(images/arrow_down.png);
	background-position: center right;
	background-repeat: no-repeat;
}

.thresholdLevel {
	width: 30%
}

.thresholdLevel div {
	display: flex
}

.thresholdLevel div input {
	margin-right: 10px
}

.import-modal-footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 0;
}

.import-modal_list-container {
  max-height: calc(80vh - 5rem);
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 0;
}
