/* datatable overrides */

table.dataTable.hover tbody tr td {
	border-bottom: solid 1px #eee;
	border-left: solid 1px #fff;
}
table.dataTable td {
	cursor: default;
}
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
	background-color: #f0f0f0;
}
table.dataTable.stripe tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected {
	background-color: #f0f0f0;
}
table.dataTable.stripe tbody tr.even.selected,
table.dataTable.display tbody tr.even.selected {
	background-color: #ffffff;
}
table.dataTable.hover tbody tr:hover.selected,
table.dataTable.hover tbody tr.odd:hover.selected {
	background-color: #f0f0f0;
}
table.dataTable.hover tbody tr:hover.selected,
table.dataTable.hover tbody tr.even:hover.selected {
	background-color: #ffffff;
}
table.dataTable.hover tbody tr:hover td,
table.dataTable.hover tbody tr.odd:hover {
	border-bottom: solid 1px #f0f0f0;
}
table.dataTable.hover tbody tr:hover td,
table.dataTable.hover tbody tr.even:hover {
	border-bottom: solid 1px #ffffff;
}
/* override default hover colors */

table.dataTable.hover tbody tr.even:hover,
table.dataTable.display tbody tr.even:hover {
	background-color: #fff;
}
table.dataTable.hover tbody tr.odd:hover,
table.dataTable.display tbody tr.odd:hover {
	background-color: #f0f0f0;
}

.dataTables_paginate {
	margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 3px 5px 3px 5px !important;
	background-image: none !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
	color: #000 !important;
}

/* colVis formatting */
ul.ColVis_collection {
	width: 200px;
	right: 0px;
}
button.ColVis_Button {
	margin-left: 10px;
	height: 25px;
	box-shadow: 1px 1px 1px #ccc;
}
