body {
	font-family: 'Arial';
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

body.initialized {
	background: url(../../images/background.png);
	background-repeat: repeat-y;
}

#splash {
	display:none;
}

#wrapperLeftMenu {
	position: relative;
	left: 0px;
	top: 0px;
	width: 200px;
	color: #fff;
	display: none;
}

.importedTable {
	padding: 10px;
}

.heading {
	font-size: 14px;
	margin-bottom: 10px;
}

#wrapperConfigure {
	padding: 5px;
}

#textImportConceptSet {
	font-size: 10px;
	font-family: courier new;
}

.paddedWrapper {
	/* padding: 10px; */

	margin: 10px;
}

.serviceName {
	/* margin-top:10px; */

	font-weight: bold;
	float: left;
	margin-right: 10px;
}

.serviceStatus {
	float: left;
	font-size: 16px;
	padding: 0px 5px 0px 0px;
}

.serviceAvailable {
	color: green;
}

.serviceUnavailable {
	color: red;
}

.serviceUrl {
	clear: both;
	font-size: .9em;
	color: #888;
	font-style: italic;
}

.sourceWrapper {
	padding: 5px;
}

.statusIndicator {
	text-align: center;
	vertical-align: middle;
}

.configureRadio {
	text-align: center;
}

.configureCheckbox {
	text-align: center;
}

#wrapperIncludedTable {
	padding: 10px;
}

#wrapperImportTable {
	padding: 10px;
}

#wrapperImport button {
	/* position: absolute; */
	/* right: 10px; */
	/* margin-bottom: 30px; */
}

#wrapperImportTable {
	margin-top: 50px;
}

#wrapperImport textarea {
	margin-bottom: 10px;
	font-size: 11px;
}

#wrapperSearch #querytext {
	margin-top: 10px;
	margin-bottom: 10px;
	/* margin-left: 10px; */

	padding-left: 10px;
}

#wrapperLeftMenu .badge {
	margin-left: 20px;
}

#wrapperConcept .nav.nav-pills {
	padding: 7px;
	cursor: pointer;
}

#wrapperConceptDetails {
	padding: 5px;
}

#wrapperConceptDetails table {
	width: 500px;
}

#wrapperConceptDetails tr:hover {
	background-color: #eee;
}

#wrapperConceptSet {
	padding: 5px;
	position: relative;
}

#wrapperConceptSetExport {
	padding: 10px;
}

#wrapperConceptDetails th {
	padding: 7px;
	font-size: 12px;
}

pre {
	font-size: 10px;
	width: 800px;
}

pre span.key {
	color: #428bca;
}

#wrapperConceptDetails td {
	padding: 7px;
	font-size: 12px;
	border-bottom: solid 1px #ccc;
}

#wrapperLogo {
	position: relative;
	height: 46px;
	padding: 0px 10px 0px 10px;
	line-height: 49px;
	font-size: 18px;
	background-color: #fff;
	color: #1F4159;
	border-bottom: solid 1px #ccc;
}

#wrapperLogo img {
	height: 42px;
	margin-right: 10px;
	margin-top: -5px;
}

#wrapperMainWindow {
	position: absolute;
	left: 200px;
	top: 0px;
	right: 0px;
	/* bottom: 10; */

	display: none;
}

#wrapperCohortDefinition {
	padding: 5px;
}

#wrapperMainWindowContainer {
	position: relative;
	/* height: 90%; */
}

div#wrapperMainWindowContainer {}

.wrapperTitle {
	position: relative;
	background-color: #222;
	height: 46px;
	color: #FFFFFF;
	line-height: 47px;
	padding: 0px 10px 0px 6px;
	font-size: 16px;
	border-bottom: solid 1px #ccc;
}

#wrapperLeftMenu ul {
	padding: 0px;
}

#wrapperLeftMenu li {
	border-left: solid 2px #888;
	margin-bottom: 1px;
	background-color: #222;
	list-style: none;
	text-indent: 0px;
	padding: 7px;
}

#wrapperLeftMenu li a {
	color: #fff;
	text-decoration: none;
}

#wrapperLeftMenu li a:hover {
	text-decoration: none;
}

#wrapperLeftMenu li:hover {
	border-left: solid 2px #ccc;
}

#wrapperLeftMenu li ul {
	text-indent: 0px;
	margin: 1px;
	padding: 2px 2px 2px 20px;
	list-style: none;
	line-height: 20px;
	background-color: #444;
	cursor: pointer;
}

#wrapperLeftMenu ul ul li {
	background-color: #444;
	font-size: 11px;
	padding: 2px 3px 2px 15px;
}

.feFilter {
	position: absolute;
	width: 200px;
	background-color: #ddd;
	top: 0px;
	border-left: 1px solid #ccc;
	left: -1px;
	min-height: 100%;
	z-index: 1000;
}

.fa.fa-refresh.fa-spin {
	font-weight: normal;
}

.feFilter .facetName {
	background-color: #20425A;
	margin: 0px 0px 1px 0px;
	padding: 3px;
	color: #fff;
}

.feFilter .facetMemberName {
	font-size: 11px;
	/* line-height: 18px; */

	cursor: pointer;
	padding: 2px 3px 2px 5px;
	border-bottom: solid 1px #ccc;
	border-left: solid 2px #ccc;
}

.feFilter .facetMemberName:hover {
	background-color: #F3E1A0;
}

.feFilter .facetMemberName.selected {
	background-color: #F9B813;
}

.feFilter .facetScrollBox {
	max-height: 125px;
	overflow-y: auto;
	border-bottom: solid 1px #ccc;
	margin-bottom: ;
}

#wrapperSearchResultsTable {
	position: absolute;
	left: 200px;
	padding: 7px;
	width: 100%;
	margin-left: -200px;
	padding-left: 205px;
	padding-top: 5px;
}

#wrapperRelatedConceptsTable {
	position: absolute;
	left: 200px;
	padding: 7px;
	padding-left: 210px;
	width: 100%;
	margin-left: -200px;
}

#wrapperConceptSetWarnings {
	padding: 10px;
	margin-top: 10px;
	clear: left;
}

.conceptWarning {
	margin-top: 10px;
}

#wrapperConceptSetWarnings table td {
	padding: 5px;
	line-height: 20px;
	font-size: 11px;
}

.conceptWarning .fa {
	color: rgb(136, 0, 0);
	font-size: 20px;
}

table.datatable {
	font-size: 11px;
	width: 100%;
}

table.datatable td.numeric {
	text-align: right;
}

#wrapperRelatedConcepts {
	position: relative;
}

#wrapperSearchResultsTable table {
	font-size: 11px;
	width: 100%;
}

#wrapperConceptEvidence {
	padding: 7px;
}

#wrapperConceptEvidence table {
	font-size: 11px;
}

#wrapperLeftMenu .fa {
	font-size: 16px;
	padding-right: 5px;
}

th .fa {
	font-size: 14px;
}

td .fa {
	font-size: 14px;
}

table.datatable thead th {
	padding: 4px 5px !important;
}

.wrapperTitle .fa-shopping-cart,
td .fa-shopping-cart {
	color: #ccc;
	cursor: pointer;
}

.fa-shopping-cart.selected {
	color: #F19119;
}

.conceptDetail {
	background-color: #505050;
	padding: 2px 7px 2px 7px;
	color: #eee;
	font-size: .8em;
	cursor: help;
	margin: 2px;
	white-space: nowrap;
}

td.invalid {
	background-color: #c00;
}

span.invalid {
	color: #c00;
}

.nav-tabs>li {
	background-color: #eee;
	margin-left: 2px;
	cursor: pointer;
}

.nav-tabs>li>a {
	margin-right: 1px;
}

label {
	font-weight: normal;
	font-size: 11px;
}

.glyphicon-ok {
	cursor: pointer;
	color: #eee;
	background-color: #fff;
	padding: 2px;
}

.glyphicon-ok.selected {
	color: #F19119;
}

.badge {
	font-weight: normal;
	line-height: .9;
}

.nav-tabs span.badge {
	background-color: #20425A;
}

.error {
	padding: 7px;
	font-size: .9em;
	font-family: courier new;
	color: #444;
	background-color: #fee;
	margin: 7px;
}
/* circle packing */

text {
	font-size: 6px;
	pointer-events: none;
}

text.parent {
	fill: #1f77b4;
}

circle {
	/* fill: #F19119; */
	/* stroke: #999; */
	/* pointer-events: all; */
}

circle.parent {
	fill: #21435B;
	fill-opacity: .1;
	stroke: steelblue;
}

circle.parent:hover {
	stroke: #ff7f0e;
	stroke-width: .5px;
}

circle.child {
	pointer-events: none;
}

.helpText {
	color: #888;
	font-style: italic;
}

.configureSourceTable td {
	line-height: 20px;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 11px;
	border-bottom: 1px solid #ccc;
}

th {
	line-height: 20px;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 11px;
	border-bottom: solid 1px #000;
}

table.configureSourceTable {
	margin-top: 5px;
	margin-bottom: 20px;
	width: 100%;
}

#wrapperJobs {
	padding: 5px;
}

.configureSourceTable tbody tr:hover {
	background-color: #eee;
}

.configureSourceTable tbody td {
	cursor: default;
}

th.centered {
	text-align: center;
}

td.centered {
	text-align: center;
}

ul.ColVis_collection {
	border-radius: 0px;
	background-color: #fff;
	margin-top: 3px;
}

ul.ColVis_collection li {
	background: #eee;
}

.ColVis_Special {
	background: #eee;
}

.linkLegend {
	padding: 5px;
	float: left;
}

.linkLegend .swatch {
	width: 15px;
	height: 15px;
	float: left;
	clear: left;
	border: solid 1px #ccc;
}

.linkLegend .swatch.classification {
	background-color: #080;
}

.linkLegend .swatch.standard {
	background-color: #528BCA;
}

.linkLegend .swatch.nonStandard {
	background-color: #800;
}

.linkLegend .linkLegendTitle {
	float: left;
	padding-left: 3px;
	line-height: 15px;
	font-size: 11px;
}

.linkLegendItem {
	margin: 0px;
	height: 20px;
	/* margin-top: 20px; */
}

.selectAllButton {
	float: left;
	margin-left: 40px;
	margin-top: 5px;
}

#wrapperConceptHierarchy {
	padding: 5px;
}

#wrapperParents {
	padding-left: 10px;
	padding-bottom: 20px;
}

#wrapperSelf {
	padding-left: 30px;
	padding: 20px;
	font-weight: bold;
	font-size: 1.3em;
}

#wrapperChildren {
	padding-left: 100px;
}

.configureSourceTable i.fa {
	line-height: 20px;
}

.configureSourceTable i.fa.fa-exclamation-circle {
	color: #800;
}

#wrapperHierarchyAnchor {
	margin-left: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 14px;
	background-color: #eee;
	padding-left: 10px;
	border-top: solid 1px #222;
	border-bottom: solid 1px #222;
	margin-bottom: 20px;
}

#wrapperCohort {
	padding: 5px;
}

.wrapperTitle .fa {
	font-size: 18px;
	padding-right: 3px;
}

#wrapperCohortDefinition .fa-check-circle {
	color: #080;
}

#wrapperCohortDefinition .fa-exclamation-circle {
	color: #800;
}

#analysisStatus td {
	line-height: 20px;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 11px;
	border-bottom: 1px solid #ccc;
}

.rightaligned {
	text-align: right;
}

.indicator {
	text-align: center;
	padding: 3px;
	font-weight: normal;
}

#analysisStatus input[type="checkbox"] {
	/* margin-top: 19px; */
}

#analysisStatus td div {
	/* vertical-align: middle; */
}

#wrapperLeftMenu i.fa {
	width: 24px;
}

#wrapperReportMenu {
	margin: 5px;
}

#wrapperReportMenu select {
	width: 200px;
	float: right;
	margin: 3px;
}

.pad-5 {
	padding: 5px;
}

.form-control {
	margin-bottom: 3px;
	font-size: 12px;
	background-color: #FFF;
	border: solid 1px #ccc;
	height: 24px;
	color: #000;
}

.form-control:focus {
	outline: 1px auto;
	outline-offset: 0px;
	border: solid 1px #ccc;
}

.form-control.invalid {
	color: #20425A;
}

.form-control option {
	color: #000;
}

input.btn.btn-default {
	font-size: 12px;
	float: right;
	background-image: none;
	background-color: #24465D;
	color: #FFF;
	text-shadow: none;
}

.reportHeading {
	font-size: 14px;
	margin-bottom: 25px;
	margin-top: 0px;
	/* padding: 5px; */
	/* border-bottom: solid 2px #333; */
}

.reportSectionHeading {
	font-size: 13px;
	/* font-weight: bold; */

	border-bottom: solid 1px #ccc;
	margin-top: 10px;
	margin-bottom: 0px;
	color: #222;
}

.evidenceDescription {
	color: #222;
	font-size: 11px;
	padding: 10px;
}

.evidenceVisualization {
	padding: 10px;
	text-align: center;
	background-color: #fff
}

.pad-10 {
	padding: 10px;
}

.report table {
	width: 100%;
	background-color: #fff;
	margin-bottom: 15px;
}

.report svg {
	margin-left: auto;
	margin-right: auto;
}

g.trellisLegend {}

ul.nav.nav-tabs {
	/* margin-top: 5px; */
	/* margin-bottom: 10px; */

	background-color: #fff;
	padding: 10px 10px 0px 10px;
}

div.loader {
	margin-top: 20px;
}

g rect {
	cursor: pointer;
}

g rect:hover {}

.tab-content {
	padding: 5px 5px 15px 5px;
	background-color: #fff;
}

table#analysisStatus {
	width: 100%;
}

.reportControls {
	background-color: #666;
	padding-bottom: 34px;
	margin-left: 1px;
	border-bottom: solid #222 1px;
}

input.btn.btn-default:disabled {
	background-color: #ccc;
	color: #fff;
}

.report {
	background-color: #eee;
	margin: 10px 10px 10px 10px;
	border: solid 1px #ccc;
}

.reportHeading .fa-area-chart {
	font-size: 2em;
	margin-right: 5px;
}

i.fa.fa-refresh.fa-spin {
	padding-right: 0px;
}

rect.box {}

div#trellisLinePlot {
	display: flex;
	flex-shrink: 1;
}

.dataTable tr td {
	cursor: pointer;
}

.img-thumbnail {
	border-radius: 0
}

code {
	border-radius: 0
}

pre {
	border-radius: 0
}

.form-control {
	border-radius: 0
}

.form-control:focus {
	/* border-color:#66afe9; */

	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	-webkit-box-shadow: none;
	box-shadow: none
}

.input-sm {
	border-radius: 0
}

.input-lg {
	border-radius: 0
}

.btn {
	border-radius: 0
}

.btn-lg {
	border-radius: 0
}

.btn-sm,
.btn-xs {
	border-radius: 0
}

.dropdown-menu {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn-group-xs>.btn {
	border-radius: 0
}

.btn-group-sm>.btn {
	border-radius: 0
}

.btn-group-lg>.btn {
	border-radius: 0
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
	border-top-right-radius: 0
}

.btn-group-vertical>.btn:last-child:not(:first-child) {
	border-bottom-left-radius: 0
}

.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
	border-radius: 0
}

.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
	border-radius: 0
}

.input-group-addon {
	border-radius: 0
}

.input-group-addon.input-sm {
	border-radius: 0
}

.input-group-addon.input-lg {
	border-radius: 0
}

.nav-tabs>li>a {
	border-radius: 0
}

.nav-pills>li>a {
	border-radius: 0
}

@media(min-width:768px) {
	.navbar {
		border-radius: 0
	}
}

.navbar-toggle {
	border-radius: 0
}

.navbar-toggle .icon-bar {
	border-radius: 0
}

.breadcrumb {
	border-radius: 0
}

.pagination {
	border-radius: 0
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.pager li>a,
.pager li>span {
	border-radius: 0
}

.label {
	border-radius: 0
}

.badge {
	border-radius: 0;
	background-color: #F19119;
}

.container .jumbotron {
	border-radius: 0
}

.thumbnail {
	border-radius: 0
}

.alert {
	border-radius: 0
}

.progress {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.progress-bar {
	-webkit-box-shadow: none;
	box-shadow: none
}

.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.panel {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.panel-heading {
	border-top-right-radius: 0;
	border-top-left-radius: 0
}

.panel-footer {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.panel-group .panel {
	border-radius: 0
}

.well {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.well-lg {
	border-radius: 0
}

.well-sm {
	border-radius: 0
}

.close {
	text-shadow: none
}

.modal-content {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

@media screen and (min-width: 768px) {
	.modal-content {
		-webkit-box-shadow: none;
		box-shadow: none
	}
}

.tooltip-inner {
	border-radius: 0
}

.popover {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.popover-title {
	border-radius: 0
}

.carousel-control {
	text-shadow: none
}

.carousel-indicators li {
	border-radius: 0
}

.carousel-caption {
	text-shadow: none
}

div#stage {
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}

#splash #heading {
	color: #20425A;
	font-size: 40px;
	text-align: center;
	font-variant: small-caps;
	padding-top: 20px;
}

#splash #status {
	color: #20425A;
	font-size: 14px;
	text-align: center;
	font-variant: small-caps;
	padding-top: 10px;
}
