
div.pc-cartoon {
	display: inline-block;
	position: relative;
	width: 100%;
	/* padding-bottom: 10%; */ /* aspect ratio */
	vertical-align: top;
	overflow: hidden;
	text-align: center;
	border: 1px solid green;
}
div.pc-cartoon svg {
	/*
	display: inline-block;
	position: absolute;
	right: 0px;
	*/
	/* top: 10px; */
	border: 1px solid brown;
	float:right;
}

line, marker {
  stroke: blue;
}
g.primary > rect,
g.additional > rect {
  fill: lightgray;
  stroke-width: 2;
  stroke: white;
}
g.additional > rect.highlighed,
.highlighted {
  fill: pink !important;
  background-color: pink;
}
