.curly-brace {
	stroke: steelblue;
	stroke-width: 1px;
	fill: none;
}

text.critlabel {
	opacity: 0.1;
}
/*
div.pc-cartoon {
	display: inline-block;
	position: relative;
	width: 100%;
	/* padding-bottom: 10%; * / /* aspect ratio * /
	vertical-align: top;
	overflow: hidden;
	text-align: center;
	/* border: 1px solid green;* /
}
*/

/*
div.cartoon-primary-section > div.header,
div.cartoon-obsperiod-section > div.header,
div.cartoon-additional-section > div.header,
div.cartoon-critgroup> div.header,
div.cartoon-inclusion-section > div.header 
{
	font-size: 16px;
	margin: 2px;
	padding: 4px;
	background-color: #EEC;
	border: 1px solid black; 
}

div.cartoon-obsperiod-section > div.body,
div.cartoon-primary-section > div.body > div.crit,
div.cartoon-additional-section div.body > div.crit,
div.cartoon-inclusion-section div.body > div.crit
{
	margin: 5px 2px 2px 2px;
	background-color: #EEE;
	border: 2px solid #DDD;
}
*/
/*
div.crit > div.name {
	text-align: center;
	font-size: 12px;
	border: 2px solid #FFF;
}
div.header > div.right,
div.crit > div.right {
	text-align: center;
	border: 2px solid #FFF;
	float: none;
	display: table-cell;
	vertical-align: top;
}
*/
div.crit.row {
	margin: 0px;
}

div.indenting .row {
	overflow: scroll;
}
div.name {
	overflow: scroll;
}
div.indenting,
div.indenting div[class^="col-xs-"] {
}

/*
div.header > div.left,
div.header > div.right {
}
div.crit > div.left > svg {
	width: 100%;
	height: 100%;
}
div.crit > div.right > svg {
	width: 100%;
	height: 100%;
}
*/
/*
div.cartoon-primary-criteria > div.crit svg {
	float:right;
}
*/
div.cartoon-critgroup line,
svg.cartoon line {
	stroke-width: 1px;
	stroke: steelblue;
}
svg.cartoon line.conditional {
	stroke-dasharray: 3.3;
}

.cartoon .term-start {
	fill: green;
	stroke: green;
}
.cartoon .term-end {
	fill: red;
	stroke: red;
}
.cartoon circle.exclusive {
	fill-opacity: 0;
}
.cartoon circle.crit-window {
	opacity: 0.4;
}

svg.x.axis {
	height: 20px;
}

/*
g.primary > rect,
g.additional > rect {
  fill: lightgray;
  stroke-width: 2;
  stroke: white;
}
g.additional > rect.highlighed,
.highlighted {
  fill: pink !important;
  background-color: pink;
}
*/
