.curly-brace {
	stroke: steelblue;
	stroke-width: 1px;
	fill: none;
}

text.pclabel {
	opacity: 0.1;
}
/*
div.pc-cartoon {
	display: inline-block;
	position: relative;
	width: 100%;
	/* padding-bottom: 10%; * / /* aspect ratio * /
	vertical-align: top;
	overflow: hidden;
	text-align: center;
	/* border: 1px solid green;* /
}
*/

div.cartoon-primary-criteria > div.header {
	font-size: 16px;
	font-weight: bold;
}

div.cartoon-primary-criteria > div.pc,
div.cartoon-observation-period
{
	background-color: #EEE;
	margin: 2px;
	padding: 4px;
	text-align: center;
}
/*
div.cartoon-primary-criteria > div.pc svg {
	float:right;
}
*/
div.cartoon-primary-criteria > div.pc line {
	stroke-width: 1px;
	stroke: steelblue;
}
/*
 * line, marker {
  stroke: blue;
}
*/


g.primary > rect,
g.additional > rect {
  fill: lightgray;
  stroke-width: 2;
  stroke: white;
}
g.additional > rect.highlighed,
.highlighted {
  fill: pink !important;
  background-color: pink;
}
