
#profile-chart {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: top;
	overflow: hidden;
	text-align: center;
	shape-rendering: crispEdges;	
}

#profile-chart .brush .extent {
	stroke: #f19119;
	fill: #f19119;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

#profile-chart .observation-period {
	fill: #b7cbdc;
	opacity: .5;
}

#profile-chart svg {
	display: inline-block;
	position: absolute;
	left: 0;
	background-color: #eee;
}
#profile-chart .axis text {
	font-size: 10px;
}

#profile-chart {
	text-align: center;
	border-bottom: solid 1px #ccc;
}

#profile-chart .axis path, .axis line {
		stroke: #666 !important;
		stroke-width: 1px !important;
}

path.drug {
	fill:#337AB7;
	opacity: 0.6;
}
path.condition {
	fill:rgb(166,206,227);
	opacity:0.6;
}
path.observation {
	fill:rgb(31,120,180);
	opacity:0.6;
}
path.visit {
	fill:rgb(178,223,138);
	opacity:0.6;
}
path.conditionera {
	fill:rgb(51,160,44);
	opacity:0.6;
}
path.drugera {
	fill:rgb(251,154,153);
	opacity:0.6;
}
path.doseera {
	fill:rgb(227,26,28);
	opacity:0.6;
}
path.procedure {
	fill:rgb(253,191,111);
	opacity:0.6;
}
path.device {
	fill:rgb(255,127,0);
	opacity:0.6;
}
path.measurement {
	fill:rgb(202,178,214);
	opacity:0.6;
}
path.specimen {
	fill:rgb(106,61,154);
	opacity:0.6;
}
path.death {
	fill:rgb(255,255,153);
	opacity:0.6;
}

rect.point {
	opacity: 1;
}
rect.drug,
text.drug
{
	fill:#337AB7;
	opacity:.7;
}
rect.condition,
text.condition
{
	fill:#337AB7;
	opacity:.7;

}
rect.observation,
text.observation
{
	fill:#337AB7;
	opacity:.7;

}
rect.visit,
text.visit
{
	fill:#337AB7;
	opacity:.7;

}
rect.conditionera,
text.conditionera
{
	fill:#337AB7;
	opacity:.7;

}
rect.drugera,
text.drugera
{
	fill:#337AB7;
	opacity:.7;
}
rect.doseera,
text.doseera
{
	fill:#337AB7;
	opacity:.7;
}
rect.procedure,
text.procedure
{
	fill:#337AB7;
	opacity:.7;
}
rect.device,
text.device
{
	fill:#337AB7;
	opacity:.7;
}
rect.measurement,
text.measurement
{
	fill:#337AB7;
	opacity:.7;
}
rect.specimen,
text.specimen
{
	fill:#337AB7;
	opacity:.7;
}
rect.death,
text.death
{
	fill:#337AB7;
	opacity:.7;
}

rect.dim {
	opacity: 0.2 !important;
}
.link {
	stroke: gray;
	stroke-width: 0.5;
}
#wordcloud {
	overflow: auto;
	height: 100%;
}
.wordcloud span {
	background-color: #ccc;
	margin: 2px;
	padding: 3px;
	border-radius: 3px;
	display: block;
	cursor: pointer;
}
.highlighted path, .highlighted line, .highlighted rect {
	/*opacity: 1;*/
	stroke: black;
	stroke-opacity: .6;
}
text.highlighted {
	opacity: 1;
	fill: black !important;
}
.unhighlighted {
	opacity: 0.1;
}
g.inset rect.inset-point {
	fill: black;
}
g.inset rect.background {
	fill: white;
	stroke: gray;
}
g.inset rect.highlighted {
	fill: orangered !important;
	width: 3px;
	height: 3px;
}
g.inset rect.insetZoom {
	opacity: 1;
	cursor: -webkit-grab;
	fill:transparent;
	stroke:#f19119;

}
g.inset rect.resizeLeft, 
g.inset rect.resizeRight {
	opacity: 0;
	cursor: ew-resize;
}
g.inset rect.filteredout {
	fill: lightgray;
}
rect.category {
	fill: #fff;
}
text.category {
	fill: #ccc;
	font-weight:bold;
}

#cohortPeople {
	display: inline-block;
}


