
#profile-chart {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: top;
	overflow: hidden;
	text-align: center;
	shape-rendering: crispEdges;
	border-bottom: solid 1px #ccc;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

#modalHighlights .modal-body {
	padding: 5px;
}
#modalHighlights .swatch {
	width:15px;
	height:15px;
	margin:auto;
}
#modalHighlights .modal-header {
	cursor: move;
}

#modalHighlights .modal-footer {
	padding:3px;
	background-color:#888;
}

#modalHighlights input[type="color"] {
	height:34px;
	vertical-align:middle;
	width:50px;
	border-radius:3px;
	padding:0px;
}
#profile-chart .brush .extent {
	stroke: #f19119;
	fill: #f19119;
	fill-opacity: 0.15;
	shape-rendering: crispEdges;
}

#profile-chart .observation-period {
	fill: none;
	stroke: #b7cbdc;
	opacity: 0.7;
	stroke-width: 2;
}

#profile-chart svg {
	display: inline-block;
	position: absolute;
	left: 0;
	background-color: #eee;
}
#profile-chart .axis text {
	font-size: 10px;
}

#profile-chart .axis path, .axis line {
		stroke: #666 !important;
		stroke-width: 1px !important;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

path.drug {
	fill:#337AB7;
	opacity: 0.3;
}
path.condition {
	fill:rgb(166,206,227);
	opacity:0.3;
}
path.observation {
	fill:rgb(31,120,180);
	opacity:0.3;
}
path.visit {
	fill:rgb(178,223,138);
	opacity:0.3;
}
path.conditionera {
	fill:rgb(51,160,44);
	opacity:0.3;
}
path.drugera {
	fill:rgb(251,154,153);
	opacity:0.3;
}
path.doseera {
	fill:rgb(227,26,28);
	opacity:0.3;
}
path.procedure {
	fill:rgb(253,191,111);
	opacity:0.3;
}
path.device {
	fill:rgb(255,127,0);
	opacity:0.3;
}
path.measurement {
	fill:rgb(202,178,214);
	opacity:0.3;
}
path.specimen {
	fill:rgb(106,61,154);
	opacity:0.3;
}
path.death {
	fill:rgb(255,255,153);
	opacity:0.3;
}

rect.point {
	opacity: 0.8;
	fill: #337AB7;
	stroke-width:1px;
}

rect.dim {
	opacity: 0.2 !important;
}
.link {
	stroke: #444;
}

#wordcloud {
	overflow: auto;
	height: 100%;
}
.wordcloud span {
	margin: 2px;
	padding: 3px;
	display: block;
	cursor: pointer;
	border: solid 1px #ccc;
}
.wordcloud-help {
	text-align:center;
	color:#aaa;
	font-size:10px;
}
.highlighted path, .highlighted line, .highlighted rect {
	stroke-width: 1;
	opacity:0.7;
}
text.unhighlighted {
	opacity: 0.3;
}
g.inset rect.inset-point {
	fill: black;
}
g.inset rect.background {
	fill: #fff;
	stroke: gray;
	stroke-width: 2;
}
g.inset rect.highlighted {
	width: 3px;
	height: 3px;
}
g.inset rect.insetZoom {
	opacity: 1;
	cursor: -webkit-grab;
	fill: transparent;
	stroke:#f19119;
	stroke-width: 2;
}
g.inset rect.resizeLeft,
g.inset rect.resizeRight {
	opacity: 0;
	cursor: ew-resize;
}
g.inset rect.filteredout {
	fill: lightgray;
}
rect.category {
	fill: #222;
	stroke:#eee;
	stroke-width:1px;
}
text.category {
	fill: #ddd;
	font-weight:normal;
}
text.label.highlighted {
	font-size:1.1em;
	stroke-width:0.3
}
#cohortPeople {
	display: inline-block;
}
g.unhighlighted rect {
	opacity: 0.5;
	fill: #ccc;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.profile-control .feFilter .facetScrollBox {
	max-height: none;
}

.fa-remove.remove-highlight {
	color:#f19119;
	font-weight:normal;
}

.dropdown-menu.highlight-dropdown {
	margin-top:0px;
	padding-top:0px
}

.highlight-dropdown.dropdown-menu>li>a {
	padding-left:5px;
}


text.label {
    fill: #ccc;
}