<loading data-bind="visible:loading()" params="status: 'export in progress'"></loading>

<div data-bind="css: classes(), visible: !loading()">
    <div data-bind="css: classes('content')">
        <!-- ko if: isExportPermitted() -->
            <textarea data-bind="css: classes('json-box'), text: $component.exportJSON"></textarea>
        <!-- /ko -->
        <!-- ko if: !isExportPermitted() -->
            <div data-bind="css: classes('error-message'), text: errorMessage"></div>
        <!-- /ko -->
    </div>
</div>