<loading data-bind="visible:loading()" params="status: ko.i18n('components.export.progress','export in progress')"></loading>

<div data-bind="css: classes(), visible: !loading()">
    <div data-bind="css: classes('content')">
        <!-- ko if: canExport() -->
            <div data-bind="css: classes('copy-clipboard')">
                <button
                    title="Copy to clipboard"
                    data-bind="attr: {'id': 'btnCopyToClipboard' + $component.uniqueId, 'data-clipboard-target': '#exportJSON' + $component.uniqueId},
                        css: classes({extra: 'btn btn-sm btn-primary'}), click: copyExpressionToClipboard"
                ><i class="fa fa-clipboard" aria-hidden="true"></i>
                    <span data-bind="text: ko.i18n('common.copyToClipboard', 'Copy To Clipboard')"></span>
                </button>
            
                <span style="display:none" role="alert"
                    data-bind="attr: {'id': 'copyExpressionToClipboardMessage' + $component.uniqueId}, css: classes({element: 'export-span', extra: 'alert alert-success'})">
                    <i data-bind="css: classes({extra: 'fa fa-check-square-o'})" aria-hidden="true"></i>
                    <strong data-bind="text: ko.i18n('common.copiedToClipboard', 'Copied To Clipboard!')"></strong>
                </span>
            </div>
            <textarea data-bind="attr: {'id': 'exportJSON' + $component.uniqueId}, css: classes('json-box'), textInput: $component.exportJSON"></textarea>
        <!-- /ko -->
        <!-- ko if: !canExport() -->
            <div data-bind="css: classes('error-message'), text: $component.errorMessage()"></div>
        <!-- /ko -->
    </div>
</div>