<loading data-bind="visible:loading()" params="status: ko.i18n('components.import.progress', 'import in progress')"></loading>

<div data-bind="css: classes(), visible: !loading()">
    <div data-bind="css: classes('content')">
        <!-- ko if: isImportPermitted() -->
            <button data-bind="css: classes({ element: 'import-btn', extra: 'btn btn-sm btn-primary'}),
            			attr: { 'disabled': !$component.isJSONValid() },
            			text: ko.i18n('components.import.button', 'Import'),
                        click: doImport"></button>
            <textarea data-bind="css: classes('json-box'), textInput: $component.importJSON"></textarea>
        <!-- /ko -->
        <!-- ko if: !isImportPermitted() -->
            <span data-bind="text: ko.i18n('components.import.denied', 'Import is not permitted')"></span>
        <!-- /ko -->
    </div>
</div>
