<div data-bind="css: classes({ extra: ['panel', 'panel-primary'] })">
    <div class="panel-heading" data-bind="text: ko.i18n('components.filterPanel.title', 'Filter panel')"></div>
    <div data-bind="css: classes({ element: 'body', extra: ['panel-body'] })">
        <ul data-bind="css: classes('list')">
            <!-- ko foreach: filterList -->
                <li data-bind="css: $parent.classes('list-item')">
                    <!-- ko if: type === 'select' -->
                    <div class="visualizations-filter-item">
                        <span class="visualizations-filter-item__label" data-bind="text: label" />
                        <div class="visualizations-filter-item__body">
                            <multi-select params="{ options: options, selectedValue: selectedValue, multiple: false }"/>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: type === 'multiselect' -->
                    <div class="visualizations-filter-item">
                        <span class="visualizations-filter-item__label" data-bind="text: label" />
                        <div class="visualizations-filter-item__body">
                            <multi-select params="{ options: options, selectedValues: selectedValues, multiple: true }"/>
                        </div>
                    </div>
                    <!-- /ko -->
                </li>
            <!-- /ko -->
        </ul>
        <!-- ko if: !live -->
            <div data-bind="css: classes('btn-group')">
                <button data-bind="css: classes({ element: 'btn', extra: ['btn', 'btn-sm', 'btn-success'] }), click: apply , text: ko.i18n('components.filterPanel.buttons.apply', 'Apply')"></button>
                <button data-bind="css: classes({ element: 'btn', modifiers: ['cancel'], extra: ['btn', 'btn-sm', 'btn-default'] }), click: clear, text: ko.i18n('components.filterPanel.buttons.clear', 'Clear')"></button>
            </div>
        <!-- /ko -->
    </div>
</div>