.warnings .fa-info {
    color: #0022ee;
}

.warnings .fa-warning {
    color: #dd9900;
}

.warnings .fa-times-circle {
    color: #dd0033;
}

.warnings-button-pane {
    margin-bottom: 10px;
}

.warning-message {
    margin-right: 5px;
}

.warnings-badge span.warning-alarm {
    background-color: #ff001a;
    color: #e3e3e3;
}

.warnings-badge span.warning-info {
    background-color: #337ab7;
    color: #e3e3e3;
}

.warnings-badge span.warning-warn {
    background-color: #d82;
    color: #e3e3e3;
}