<div id="wrapperConceptDetails">
	<access-denied params="isAuthenticated: isAuthenticated, isPermitted: hasInfoAccess"></access-denied>

	<!-- ko if: hasInfoAccess() -->
	<table data-bind="with: currentConcept">
		<thead>
			<tr>
				<th data-bind="text: ko.i18n('cs.manager.concept.tabs.details.property', 'Property')"></th>
				<th data-bind="text: ko.i18n('cs.manager.concept.tabs.details.value', 'Value')"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td data-bind="text: ko.i18n('cs.manager.concept.tabs.details.conceptName', 'Concept Name')"></td>
				<td data-bind="text:CONCEPT_NAME"></td>
			</tr>
			<tr>
				<td data-bind="text: ko.i18n('cs.manager.concept.tabs.details.domainId', 'Domain Id')"></td>
				<td data-bind="text:DOMAIN_ID"></td>
			</tr>
			<tr>
				<td data-bind="text: ko.i18n('cs.manager.concept.tabs.details.conceptClassId', 'Concept Class Id')"></td>
				<td data-bind="text:CONCEPT_CLASS_ID"></td>
			</tr>
			<tr>
				<td data-bind="text: ko.i18n('cs.manager.concept.tabs.details.vocabularyId', 'Vocabulary Id')"></td>
				<td data-bind="text:VOCABULARY_ID"></td>
			</tr>
			<tr>
				<td data-bind="text: ko.i18n('cs.manager.concept.tabs.details.conceptId', 'Concept Id')"></td>
				<td data-bind="text:CONCEPT_ID"></td>
			</tr>
			<tr>
				<td data-bind="text: ko.i18n('cs.manager.concept.tabs.details.conceptCode', 'Concept Code')"></td>
				<td data-bind="text:CONCEPT_CODE"></td>
			</tr>
			<tr>
				<td data-bind="text: ko.i18n('cs.manager.concept.tabs.details.invalidReason', 'Invalid Reason')"></td>
				<td data-bind="text:INVALID_REASON_CAPTION, css: { invalid: INVALID_REASON_CAPTION != 'Valid'}"></td>
			</tr>
			<tr>
				<td data-bind="text: ko.i18n('cs.manager.concept.tabs.details.standardConcept', 'Standard Concept')"></td>
				<td data-bind="text:STANDARD_CONCEPT_CAPTION, css: {classification: STANDARD_CONCEPT=='C', invalid: STANDARD_CONCEPT=='N'}"></td>
			</tr>
			<tr>
				<td data-bind="text: ko.i18n('cs.manager.concept.tabs.details.validStartDate', 'Valid Start Date')"></td>
				<td data-bind="text: $component.formatDate(VALID_START_DATE)"></td>
			</tr>
			<tr>
				<td data-bind="text: ko.i18n('cs.manager.concept.tabs.details.validEndDate', 'Valid End Date')"></td>
				<td data-bind="text: $component.formatDate(VALID_END_DATE)"></td>
			</tr>
		</tbody>
	</table>
	<div class="concept-add-container">
			<concept-add-box params="{
				canSelectSource: true,
        		concepts: ko.observableArray([$component.currentConcept()]),
			}"></concept-add-box>
	</div>
	<!-- /ko -->
</div>
