<div id="wrapperConceptHierarchy">
	<access-denied params="isAuthenticated: isAuthenticated, isPermitted: hasInfoAccess"></access-denied>

	<!-- ko if: hasInfoAccess() -->
		<loading data-bind="css: classes('loading-panel'), visible: isLoading()" params="status: ko.i18n('cs.manager.concept.tabs.hierarchy.loading', 'Loading Hierarchy...')"></loading>

		<div data-bind="visible:!isLoading()">
			<!-- ko if: currentConcept().STANDARD_CONCEPT == 'N' -->
				<div data-bind="text: ko.i18n('cs.manager.concept.tabs.hierarchy.noHierarchyFoundMessage', 'No hierarchy found for non-standard concepts.')"></div>
			<!-- /ko -->
			<!-- ko ifnot: currentConcept().STANDARD_CONCEPT == 'N' -->
				<div data-bind="css: classes('hierarchy-filters')">
					<div class="row">
						<div class="pull-left" data-bind="css: classes('filter-view'), text: ko.i18n('cs.manager.concept.tabs.hierarchy.view', 'View:')"></div>
						<div class="pull-left">
							<ul class="nav nav-pills">
								<li role="presentation" data-bind="css: {active: $component.hierarchyPillMode() == 'all' }, click: function() {$component.hierarchyPillMode('all') };"><a data-bind="text: ko.i18n('cs.manager.concept.tabs.hierarchy.fullHierarchy', 'Full Hierarchy')"></a></li>
								<li role="presentation" data-bind="css: {active: $component.hierarchyPillMode() == 'parents' }, click: function() {$component.hierarchyPillMode('parents') };"><a data-bind="text: ko.i18n('cs.manager.concept.tabs.hierarchy.parents', 'Parents')"></a></li>
								<li role="presentation" data-bind="css: {active: $component.hierarchyPillMode() == 'current' }, click: function() {$component.hierarchyPillMode('current') };"><a data-bind="text: ko.i18n('cs.manager.concept.tabs.hierarchy.currentConcept', 'Current Concept')"></a></li>
								<li role="presentation" data-bind="css: {active: $component.hierarchyPillMode() == 'children' }, click: function() {$component.hierarchyPillMode('children') };"><a data-bind="text: ko.i18n('cs.manager.concept.tabs.hierarchy.children', 'Children')"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="wrapperParents" data-bind="visible: ['all', 'parents'].includes($component.hierarchyPillMode())">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-arrow-up"></i> <span data-bind="text: ko.i18n('cs.manager.concept.tabs.hierarchy.parents', 'Parents')"></span>
						</div>
						<div class="panel-body">
							<!-- ko if: $component.metarchy.parents().length == 0 -->
							<div data-bind="text: ko.i18n('cs.manager.concept.tabs.hierarchy.noParentConceptsFound', 'No parent concepts found')"></div>
							<!-- /ko -->
							<!-- ko if: $component.metarchy.parents().length > 0 -->
							<faceted-datatable params="{
								pageLength: tableOptions.pageLength,
								lengthMenu: tableOptions.lengthMenu,
								orderClasses: false,
								ordering: true,
								order: [[ 8, 'desc' ]],
								columns: relatedConceptsColumns,
								options: hierarchyConceptsOptions,
								reference: $component.metarchy.parents,
								rowCallback: commonUtils.contextSensitiveLinkColor,
								deferRender: true,
								language: ko.i18n('datatable.language')
							}"></faceted-datatable>
							<!-- /ko -->
						</div>
							<!-- ko if: $component.metarchy.parents().length > 0 -->
							<div class="panel-footer">
								<concept-add-box params="{
									canSelectSource: true,
									isActive: () => metarchy.parents().filter(c => c.isSelected()).length > 0,
									concepts: () => getSelectedConcepts($component.metarchy.parents),
								}"></concept-add-box>
							</div>
							<!-- /ko -->
					</div>
				</div>
				<div id="wrapperHierarchyAnchor" data-bind="visible: ['all', 'current'].includes($component.hierarchyPillMode())">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-arrow-right"></i> <span data-bind="text: ko.i18n('cs.manager.concept.tabs.hierarchy.currentConcept', 'Current Concept')"></span>
						</div>
						<div class="panel-body">
								<faceted-datatable params="{
									pageLength: tableOptions.pageLength,
									lengthMenu: tableOptions.lengthMenu,
									orderClasses: false,
									ordering: true,
									buttons: [],
									dom: 'i',
									order: [[ 6, 'desc' ]],
									columns: relatedConceptsColumns,
									reference: $component.currentConceptArray,
									deferRender: true,
									language: ko.i18n('datatable.language')
								}"></faceted-datatable>
						</div>
						<div class="panel-footer">
							<concept-add-box params="{
								canSelectSource: true,
								isActive: () => currentConceptArray().filter(c => c.isSelected()).length > 0,
								concepts: ko.observableArray([$component.currentConcept()]),
							}"></concept-add-box>
						</div>
					</div>
				</div>
				<div id="wrapperChildren" data-bind="visible: ['all', 'children'].includes($component.hierarchyPillMode())">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-arrow-down"></i> <span data-bind="text: ko.i18n('cs.manager.concept.tabs.hierarchy.children', 'Children')"></span>
							</div>
							<div class="panel-body">
								<!-- ko if: $component.metarchy.children().length == 0 -->
								<div data-bind="text: ko.i18n('cs.manager.concept.tabs.hierarchy.noChildConceptsFound', 'No child concepts found')"></div>
								<!-- /ko -->
								<!-- ko if: $component.metarchy.children().length > 0 -->
								<faceted-datatable params="{
									orderClasses: false,
									ordering: true,
									pageLength: tableOptions.pageLength,
									lengthMenu: tableOptions.lengthMenu,
									order: [[ 6, 'desc' ]],
									columns: relatedConceptsColumns,
									reference: $component.metarchy.children,
									options: hierarchyConceptsOptions,
									deferRender: true,
									language: ko.i18n('datatable.language')
								}"></faceted-datatable>
								<!-- /ko -->
							</div>
							<!-- ko if: $component.metarchy.children().length > 0 -->
							<div class="panel-footer">
								<concept-add-box params="{
									canSelectSource: true,
									isActive: () => metarchy.children().filter(c => c.isSelected()).length > 0,
									concepts: () => getSelectedConcepts($component.metarchy.children),
								}"></concept-add-box>
							</div>
							<!-- /ko -->
						</div>
				</div>
			<!-- /ko -->
		</div>
	<!-- /ko -->
</div>