<div class="paddedWrapper">
	<access-denied params="isAuthenticated: isAuthenticated, isPermitted: hasRCAccess"></access-denied>

	<!-- ko if: hasRCAccess() -->
	<loading data-bind="css: classes('loading-panel'), visible: isLoading()" params="status: ko.i18n('cs.manager.concept.tabs.recordCounts.loading', 'Loading Record Counts...')"></loading>

		<div data-bind="visible:!isLoading()">

			<div class="panel panel-primary" data-bind="if: hasRCAccess()">
				<div class="panel-heading" data-bind="text: ko.i18n('cs.manager.concept.tabs.recordCounts.recordCountsAcrossSources', 'Record Counts across Sources')"></div>
				<div class="panel-body">
					<table width="100%" class="conceptTable stripe compact hover" cellspacing="0" data-bind="dataTable:{
								data: sourceCounts(),
								options: {
									dom: 't',
									language: ko.i18n('datatable.language'),
									pageLength: tableOptions.pageLength,
									lengthMenu: tableOptions.lengthMenu,
									orderClasses: false,
									ordering: true,
									order: [[ 2, 'desc' ]],
									columns: [
											{ title: ko.i18n('columns.sourceName', 'Source Name'), data: 'sourceName', width: '50%'},
											{ title: ko.i18n('columns.rc', 'RC'), data: 'recordCount'},
											{ title: ko.i18n('columns.drc', 'DRC'), data: 'descendantRecordCount'}
									]
							}
						}">
					</table>
				</div>
			</div>
		</div>
	<!-- /ko -->
</div>