<div class="paddedWrapper">
	<access-denied params="isAuthenticated: isAuthenticated, isPermitted: hasRCAccess"></access-denied>

	<!-- ko if: hasRCAccess() -->
	<loading data-bind="css: classes('loading-panel'), visible: isLoading()" params="status: 'Loading Record Counts...'"></loading>

		<div data-bind="visible:!isLoading()">

			<div class="panel panel-primary" data-bind="if: hasRCAccess()">
				<div class="panel-heading">Record Counts across Sources</div>
				<div class="panel-body">
					<table width="100%" class="conceptTable stripe compact hover" cellspacing="0" data-bind="dataTable:{
								data: sourceCounts(),
								options: {
									dom: 't',
									language: {
										search: 'Filter Sources: '
									},
									lengthMenu: [[-1], ['All']],
									orderClasses: false,
									ordering: true,
									order: [[ 2, 'desc' ]],
									columns: [
											{ title: 'Source Name', data: 'sourceName', width: '50%'},
											{ title: 'RC', data: 'recordCount'},
											{ title: 'DRC', data: 'descendantRecordCount'}
									]
							}
						}">
					</table>
				</div>
			</div>
		</div>
	<!-- /ko -->
</div>