<div class="wrapperHeader">
	<!-- ko if: loading -->
		<div data-bind="css: classes('loading')">
			<i class="fa fa-circle-notch fa-spin"></i>
		</div>
	<!-- /ko -->
	<!-- ko ifnot: loading -->
	<!-- for notifications, job completion, etc. -->
	<div class="user-bar-container">
		<!-- ko if: availableLocales().length > 1 -->
		<select data-bind="css: classes('locale'), foreach:availableLocales, value: locale">
			<option data-bind="value: $data.code, text:$data.name"></option>
		</select>
		<!-- /ko -->
		<!-- ko if: isLoggedIn -->
		<a data-bind="click: function () { $component.jobModalOpened(true) }"><i data-bind="css: {pending: jobNotificationsPending}" class="fa fa-bell"></i></a>
		<!-- /ko -->
		<div data-bind="if:appConfig.userAuthenticationEnabled===true" style="display: inline-block;">
			<div data-bind="title: ko.i18n('components.userBar.signin', 'Sign In'), if: !isLoggedIn() || tokenExpired()">
				<span class="pipe">|</span><a data-bind="click: function () { $component.signInOpened(true) }"><i class="fa fa-sign-in-alt"></i><span data-bind="text: ko.i18n('components.userBar.signin', 'Sign In')"></span></a>
			</div>
			<div data-bind="title: ko.i18n('components.userBar.signout', 'Sign Out'), if: isLoggedIn() && !tokenExpired()">
				<span class="pipe">|</span><a data-bind="click: function () { $component.signInOpened(true) }"><strong data-bind="text: fullName"></strong><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	<!-- /ko -->
</div>

<atlas-modal params="{
		if:appConfig.userAuthenticationEnabled === true,
		showModal: signInOpened,
		modifiers: ['sm'],
		iconClass: 'fa fa-sign-in-alt',
		title: ko.i18n('components.userBar.signin', 'Sign In'),
}">
	<welcome></welcome>
</atlas-modal>

<atlas-modal params="{
		showModal: jobModalOpened,
		title: ko.i18nformat('notifications.title', 'Notifications (last <%=length%>)', {length: $component.jobsCount()}),
		templateWrapperClass: {},
		data: {
			tabs: $component.tabs,
			userJobParams: $component.userJobParams,
			allJobParams: $component.allJobParams,
			selectedTabKey: $component.selectedTabKey,
			selectTab: $component.selectTab,
			jobModalOpened: $component.jobModalOpened,
			toggleCompletedFilter: $component.toggleCompletedFilter,
			hideCompleted: $component.hideCompleted(),
			isRefreshing: $component.isRefreshing(),
			classes: $component.classes
		}
}">
	<div data-bind="css: classes('jobs-modal-content')">
		<tabs params="
			selectedTabKey: selectedTabKey,
			selectTab: selectTab,
			tabs: tabs,
			">
		</tabs>

		<div data-bind="css: classes({ element: 'filter-button', extra: ['btn-group', 'pull-right'] })">
			<button type="button" class="btn btn-sm btn-primary" data-bind="click: toggleCompletedFilter">
				<!-- ko if: hideCompleted -->
				<span data-bind="text: ko.i18n('notifications.showCompletedJobsButton', 'Show completed jobs')"></span>
				<!-- /ko -->
				<!-- ko ifnot: hideCompleted -->
				<span data-bind="text: ko.i18n('notifications.hideCompletedJobsButton', 'Hide completed jobs')"></span>
				<!-- /ko -->
				<i data-bind="visible: isRefreshing, css: classes({ element: 'action-ico', extra: ['fa fa-spinner fa-spin']})"></i>
			</button>
		</div>
	</div>
</atlas-modal>
