<div data-bind="css: classes('content'), if: data">

    <div data-bind="css: classes({ element: 'descr-panel', extra: 'panel panel-primary' })">
        <div class="panel-heading" data-bind="text: ko.i18n('cc.fa.description', 'Description')"></div>
        <div data-bind="css: classes({ element: 'descr-panel-body' })">
            <!-- ko if: $component.canEdit() -->
            <multi-select
                    data-bind="css: classes('domain-selector')"
                    params="options: $component.domains, selectedValue: $component.data() && $component.data().domain, multiple: false"
            ></multi-select>
            <!-- /ko -->
            <!-- ko if: !$component.canEdit() -->
            <div data-bind="css: classes('read-only-domain-info')">
                <b data-bind="text: ko.i18n('cc.fa.domain', 'Domain:')"></b> <span data-bind="text: ($component.domains().find(o => o.value === $component.data().domain()) || {}).label"></span>
            </div>
            <!-- /ko -->
            <textarea data-bind="
                    css: classes({ element: 'descr', extra: 'form-control' }),
                    attr: { disabled: $component.canEdit() ? null : true },
                    textInput: $component.data().descr
                "></textarea>
        </div>
    </div>

    <div data-bind="css: classes({ element: 'design-panel', extra: 'panel panel-primary' })">
        <div class="panel-heading" data-bind="text: ko.i18n('cc.fa.design', 'Design')"></div>
        <div data-bind="css: classes({ element: 'design-panel-body' })">
            <div data-bind="css: classes('type-selector')">
                <ul data-bind="css: classes({ element: 'nav', extra: 'nav nav-pills' })">
                    <!-- ko if: $component.isPresetFeatureTypeAvailable-->
                    <li role="presentation"
                        data-bind="
                            if: $component.canEdit() || $component.data().type() === $component.featureTypes.PRESET,
                            css: classes({ element: 'nav-pill', extra: $component.data().type() === $component.featureTypes.PRESET ? 'active' : null }),
                            click: setType.bind(null, $component.featureTypes.PRESET)
                        ">
                        <a data-bind="text: ko.i18n('cc.fa.preset', 'Preset')"></a>
                    </li>
                    <!-- /ko -->
                    <!-- ko if: !$component.isPresetFeatureTypeAvailable && !$component.featureId() -->
                    <div data-bind="css: classes('message-pane')"><span data-bind="css: classes('note')"><i class="fa fa-exclamation-triangle"></i> <span data-bind="text: ko.i18n('cc.fa.warning', 'Warning:')"></span></span> <span data-bind="text: ko.i18n('cc.fa.warningText', 'You wouldn\'t be able to change the type of analysis after save.')"></span></div>
                    <!-- /ko -->
                    <li role="presentation"
                        data-bind="
                            if: ($component.canEdit() && !$component.featureId()) || $component.data().type() === $component.featureTypes.CRITERIA_SET,
                            css: classes({ element: 'nav-pill', extra: $component.data().type() === $component.featureTypes.CRITERIA_SET ? 'active' : null }),
                            click: setType.bind(null, $component.featureTypes.CRITERIA_SET)
                        ">
                        <a data-bind="text: ko.i18n('cc.fa.criteria', 'Criteria')"></a>
                    </li>
                    <li role="presentation"
                        data-bind="
                            if: ($component.canEdit() && !$component.featureId()) || $component.data().type() === $component.featureTypes.CUSTOM_FE,
                            css: classes({ element: 'nav-pill', extra: $component.data().type() === $component.featureTypes.CUSTOM_FE ? 'active' : null }),
                            click: setType.bind(null, $component.featureTypes.CUSTOM_FE)
                        ">
                        <a data-bind="text: ko.i18n('cc.fa.custom', 'Custom')"></a>
                    </li>
                </ul>
            </div>
            <!-- ko if: $component.isPresetFeatureTypeAvailable-->
            <div data-bind="if: $component.data().type() === $component.featureTypes.PRESET, css: classes('design')">
                <span data-bind="css: classes('criteria-descr'), text: ko.i18n('cc.fa.featureExtractionPresetName', 'FeatureExtraction preset name:')"></span>
                <input data-bind="
                        css: classes({ element: 'preset-input', extra: 'form-control' }),
                        attr: { disabled: $component.canEdit() ? null : true },
                        textInput: $component.data().design
                    " />
            </div>
            <!-- /ko -->
            <div data-bind="
                    if: $component.data().type() === $component.featureTypes.CRITERIA_SET, css: classes('design')
                ">
                <div data-bind="css: classes({extra: 'panel panel-primary'})">
                    <div data-bind="css: classes({ extra: 'panel-heading' }), text: ko.i18n('cc.fa.analysisType', 'Analysis type:')"></div>
                    <div data-bind="css: classes('stat-type-selector')">
                        <multi-select
                                data-bind="css: classes()"
                                params="options: $component.statTypeOptions,
                                selectedValue: $component.data().statType, multiple: false"></multi-select>
                    </div>
                </div>
                <span data-bind="if: data().statType() === 'PREVALENCE'">
                        <button data-bind="css: classes({ element: 'add-criteria-group', extra: 'btn btn-success' }), click: addCriteria, text: ko.i18n('cc.fa.addCriteriaFeature', 'Add Criteria feature')"></button>
                    </span>
                <span data-bind="if: data().statType() === 'DISTRIBUTION', css: classes('add-criteria-windowed')">
                        <div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i>
                                    <span data-bind="text: ko.i18n('cc.fa.addNewCriteria', 'Add New Criteria...')"></span>
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" data-bind="foreach:$component.windowedActions">
                                    <li><a data-bind="click:action" href="#">
                                            <div class="optionText" data-bind="text: ko.i18n($data.title, $data.defaultTitle)"></div>
                                            <div class="optionDescription"
                                                 data-bind="text: ko.i18n($data.description, $data.defaultDescription)"></div>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                <!-- ko foreach: $component.data().design -->
                <div data-bind="
                            css: $component.classes('criteria'),
                            eventListener: [
                                { event: 'click', selector: '.conceptset_import', callback: $component.handleConceptSetImport},
                                { event: 'click', selector: '.conceptset_edit', callback: $component.handleEditConceptSet }
                            ]
                        ">
                    <div data-bind="css: $component.classes('criteria-heading')">
                        <input
                                data-bind="css: $component.classes({ element: 'criteria-name', extra: 'form-control' }), textInput: $data.name, placeholder: ko.i18n('cc.fa.criteriaName', 'Criteria name')"
                        />
                        <button
                                type="button"
                                data-bind="css: $component.classes({ element: 'criteria-delete', extra: 'btn btn-sm btn-danger' }), click: () => $component.removeCriteria($index())"
                        ><i class="fa fa-trash-alt"></i></button>
                    </div>
                    <!-- Aggregate -->
                    <div data-bind="if: $parent.data().statType() === 'DISTRIBUTION' && $data.criteriaType !== 'DemographicCriteria'">
                        <aggregate-select params="aggregates: $component.aggregates, currentAggregate: $data.aggregate, domains: $component.domains, criteria: $data"></aggregate-select>
                    </div>
                    <div data-bind="if: $data.criteriaType === 'CriteriaGroup'">
                        <criteria-group params="{ expression: { ConceptSets: $component.data().conceptSets }, group: $data.expression }"></criteria-group>
                    </div>
                    <div data-bind="if: $data.criteriaType === 'DemographicCriteria'">
                        <demographic-criteria params="{ criteria: $data.expression }"></demographic-criteria>
                    </div>
                    <div data-bind="if: $data.criteriaType === 'WindowedCriteria'">
                        <windowed-criteria params="{ expression: { ConceptSets: $component.data().conceptSets }, criteria: $data.expression, disableObservationPeriod: true, defaultObservationPeriod: true }"></windowed-criteria>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div data-bind="if: $component.data().type() === $component.featureTypes.CUSTOM_FE, css: classes('design')">
                <div data-bind="css: classes('design-section')">
                    <span data-bind="css: classes('design-section-title'), text: ko.i18n('cc.fa.analysisSql', 'Analysis SQL:')"></span>
                    <button class="btn btn-sm btn-primary" title="Copy to clipboard" id="btnCopyAnalysisSQLTemplateClipboard" data-bind="click: copyAnalysisSQLTemplateToClipboard, attr: { 'data-clipboard-text': demoCustomSqlAnalysisDesign }">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp;
                        <span data-bind="text: ko.i18n('cc.fa.copySqlToClipboard', 'Copy Analysis SQL Template To Clipboard')"></span>
                    </button>&nbsp;&nbsp;
                    <span id="copyAnalysisSQLTemplateMessage" style="display:none" class="alert alert-success" role="alert">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                            <strong data-bind="text: ko.i18n('cc.fa.copiedToClipboard', 'Copied To Clipboard!')"></strong>
                        </span>
                    <span data-bind="css: classes('criteria-sql')">SELECT covariate_id, covariate_name, concept_id, sum_value, average_value FROM (</span>
                    <textarea data-bind="
                            css: classes({ element: 'raw-sql-box', extra: 'form-control' }),
                            attr: { disabled: $component.canEdit() ? null : true, placeholder: demoCustomSqlAnalysisDesign },
                            textInput: $component.data().design
                        "></textarea>
                    <span data-bind="css: classes('criteria-sql')">)</span>
                </div>
                <div data-bind="css: classes('design-section')">
                        <span data-bind="css: classes('design-section-title'), text: ko.i18n('cc.fa.availableVariables', 'Available variables:')"></span>
                    <ul>
                        <li>@cdm_database_schema</li>
                        <li>@cohort_table</li>
                        <li>@cohort_id</li>
                        <li>@analysis_id</li>
                        <li data-bind="text: ko.i18n('cc.fa.availableVariablesNote', 'all variables specified in Cohort Characterization parameters')"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<atlas-modal params="{
showModal: showConceptSetBrowser,
title: ko.i18n('cc.fa.selectConceptSet', 'Select Concept Set...'),
modifiers: ['lg'],
data: {
		criteriaContext: $component.criteriaContext,
		strataConceptSets: $component.conceptSets(),
		onActionComplete: $component.onRespositoryActionComplete
}
}">
		<div class="paddedWrapper">
				<concept-set-browser params="
										criteriaContext: criteriaContext,
										cohortConceptSets: strataConceptSets,
										onActionComplete: onActionComplete
								"></concept-set-browser>
		</div>
</atlas-modal>

<!--
<div class="modal fade" data-bind="modal: showConceptSetBrowser" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">Import Concept Set From Repository...</div>
      <div class="paddedWrapper">
        <concept-set-browser params="
            criteriaContext: $component.criteriaContext, 
            cohortConceptSets: $component.conceptSets(), 
            onActionComplete: $component.onRespositoryActionComplete, 
            buttonActionEnabled: true"></concept-set-browser>
      </div>
    </div>
  </div>
</div>


-->