
<div class="vacabulary-import-tab">
	<ul class="nav nav-pills">
		<li role="presentation" data-bind="click: function() {currentImportMode(importModes.IDENTIFIERS);}, attr: {class: currentImportMode() == importModes.IDENTIFIERS ? 'active' : ''}"><a data-bind="text: ko.i18n('search.import.conceptIdentifiers', 'Concept Identifiers')"></a>
		</li>
			<li role="presentation" data-bind="click: function() {currentImportMode(importModes.SOURCE_CODES);}, attr: {class: currentImportMode() == importModes.SOURCE_CODES ? 'active' : ''}"><a data-bind="text: ko.i18n('search.import.sourceCodes', 'Source Codes')"></a>
			</li>
			<li role="presentation" data-bind="click: function() {currentImportMode(importModes.CONCEPT_SET);}, attr: {class: currentImportMode() == importModes.CONCEPT_SET ? 'active' : ''}"><a data-bind="text: ko.i18n('search.import.conceptSet', 'Concept Set')">Concept Set</a>
			</li>
		</ul>
		<div id="wrapperImportSourcecodes" class="paddedWrapper form-group" data-bind="if:currentImportMode() == importModes.SOURCE_CODES">
			<access-denied params="isAuthenticated: isAuthenticated, isPermitted: isPermittedLookupCodes"></access-denied>
			<!-- ko if: isAuthenticated() && isPermittedLookupCodes() -->
				<div class="heading">
					<span data-bind="text: ko.i18n('search.import.enterSourceCodes', 'Enter Source Codes')"></span>
					(<a class="linkish" data-bind="click: function() { clearImportedConceptSet('#textImportSourcecodes');}, text: ko.i18n('search.import.clickToClear', 'click to clear')"></a>)
				</div>
				<textarea class="form-control" rows="5" id="textImportSourcecodes"></textarea>
				<a data-bind="click:function() {importSourcecodes();}" class="btn btn-sm btn-primary pull-right"><span class="fa fa-upload"></span>
					<span data-bind="text: ko.i18n('search.import.importSourceCodes', 'Import Source Codes')"></span>
				</a>
				<div class="clear"></div>
			<!-- /ko -->
		</div>
		<div id="wrapperImportConceptIdentifiers" class="paddedWrapper form-group" data-bind="if:currentImportMode() == importModes.IDENTIFIERS">
			<access-denied params="isAuthenticated: isAuthenticated, isPermitted: isPermittedLookupIds"></access-denied>
			<!-- ko if: isAuthenticated() && isPermittedLookupIds() -->
				<div class="heading">
					<span data-bind="text: ko.i18n('search.import.enterConceptIdentifiers', 'Enter Concept Identifiers')"></span>
					(<a class="linkish" data-bind="click: function() { clearImportedConceptSet('#textImportConceptIdentifiers');}, text: ko.i18n('search.import.clickToClear', 'click to clear')"></a>)
				</div>
				<textarea class="form-control" rows="5" id="textImportConceptIdentifiers" data-bind="if:currentImportMode() == importModes.CONCEPT_SET"></textarea>
				<a data-bind="click:function() {importConceptIdentifiers();}" class="btn btn-sm btn-primary pull-right"><span class="fa fa-upload"></span>
					<span data-bind="text: ko.i18n('search.import.importConceptIdentifiers', 'Import Concept Identifiers')"></span>
				</a>
				<div class="clear"></div>
			<!-- /ko -->
		</div>
		<div id="wrapperImportConceptSet" class="paddedWrapper form-group" data-bind="if:currentImportMode() == importModes.CONCEPT_SET">
			<div class="heading">
				<span data-bind="text: ko.i18n('search.import.conceptSetExpressionJSON', 'Concept Set Expression JSON')"></span>
				(<a class="linkish" data-bind="click: function() { $('#textImportConceptSet').val('');}, text: ko.i18n('search.import.clickToClear', 'click to clear')"></a>)
			</div>
			<textarea class="form-control" rows="5" id="textImportConceptSet"></textarea>
			<div type="button" data-bind="css: {disabled: currentConceptSet()!=null}, click:function() {importConceptSetExpression();}" class="btn btn-sm btn-primary pull-right "><i class="fa fa-upload"></i>
				<span data-bind="text: ko.i18n('search.import.importConceptSetExpression', 'Import Concept Set Expression')"></span>
			</div>
			<div class="clear"></div>
			<!-- ko if: selectedConcepts && selectedConcepts().length > 0 -->
				<div class="heading" data-bind="text: ko.i18n('search.import.importedConceptSetExpression', 'Imported Concept Set Expression')"></div>
				<table class="conceptSetTable stripe compact hover " cellspacing="0 " width="100% " data-bind="dataTable:{
					data: selectedConcepts(),
					options: { dom: 'Clfiprt',
					colVis: { buttonText: 'Change Columns', align: 'right', overlayFade: 0, showAll: 'Show All Columns', restore: 'Reset Columns' },
					rowCallback: commonUtils.contextSensitiveLinkColor,
					lengthMenu: [[25, 50, 100, -1], [25, 50, 100, 'All']],
					orderClasses: false,
					deferRender: true,
					autoWidth: false,
					order: [[3, 'desc']],
					columns: [
						{
							title: '<li class=\'fa fa-shopping-cart\'></li>',
							render: $component.renderConceptSetItemSelector,
							orderable: false,
							searchable: false
						},
						{
							title: ko.i18n('columns.id', 'Id'),
							data: 'concept.CONCEPT_ID',
							visible: false
						},
						{
							title: ko.i18n('columns.code', 'Code'),
							data: 'concept.CONCEPT_CODE'
						},
						{
							title: ko.i18n('columns.name', 'Name'),
							render: commonUtils.renderBoundLink
						},
						{
							title: ko.i18n('columns.domain', 'Domain'),
							data: 'concept.DOMAIN_ID'
						},
						{
							title: ko.i18n('columns.standardConceptCode', 'Standard Concept Code'),
							data: 'concept.STANDARD_CONCEPT',
							visible: false
						},
						{
							title: ko.i18n('columns.standardConceptCaption', 'Standard Concept Caption'),
							data: 'concept.STANDARD_CONCEPT_CAPTION'
						},
						{
							title: ko.i18n('columns.exclude', 'Exclude'),
							class: 'text-center',
							orderable: false,
							render: function() { return renderCheckbox( 'isExcluded'); }
						},
						{
							title: ko.i18n('columns.descendants', 'Descendants'),
							class: 'text-center',
							orderable: false,
							render: function() { return renderCheckbox( 'includeDescendants'); }
						},
						{
							title: ko.i18n('columns.mapped', 'Mapped'),
							class: 'text-center',
							orderable: false,
							render: function() { return renderCheckbox( 'includeMapped'); }
						}
					],
					language: ko.i18n('datatable.language')
					}
				}">
				</table>
				<div class="linkLegend">
					<div class="linkLegendItem">
						<div class="swatch standard">
						</div>
						<div class="linkLegendTitle" data-bind="text: ko.i18n('search.standard', 'Standard')">Standard</div>
					</div>
					<div class="linkLegendItem">
						<div class="swatch nonStandard">
						</div>
						<div class="linkLegendTitle" data-bind="text: ko.i18n('search.nonStandard', 'Non-Standard')">Non-Standard</div>
					</div>
					<div class="linkLegendItem">
						<div class="swatch classification">
						</div>
						<div class="linkLegendTitle" data-bind="text: ko.i18n('search.classification', 'Classification')">Classification</div>
					</div>
				</div>
			<!-- /ko -->
		</div>

		<!-- ko if: loading -->
		<loading></loading>
		<!-- /ko -->
		<!-- ko if: error -->
			<empty-state params="message: error"></empty-state>
		<!-- /ko -->
</div>