<script type="text/html" id="vocabulary-vocab-list">
	<div class="checkboxListing row">
			<!-- ko if: vocabulariesLoading -->
				<loading></loading>
			<!-- /ko -->
			<!-- ko if: vocabularies().length === 0 && !vocabulariesLoading() -->
				<empty-state params="message: ko.i18n('search.noVocabulariesAvailable', 'No vocabularies available')"></empty-state>
			<!-- /ko -->
			<!-- ko foreach: vocabularies() -->
			<div class="col-sm-6">
				<input
					type="checkbox"
					data-bind="value: VOCABULARY_ID, event: { change: (e) => $parent.toggleVocabulary(VOCABULARY_ID) }"
				> <span data-bind="text: VOCABULARY_ID + ': ' + VOCABULARY_NAME"></span>
			</div>
			<!-- /ko -->
		</div>
</script>
<script type="text/html" id="vocabulary-domain-list">
	<div class="checkboxListing row">
		<!-- ko if: domainsLoading -->
			<loading></loading>
		<!-- /ko -->
		<!-- ko if: domains().length === 0 && !domainsLoading() -->
			<empty-state params="message: ko.i18n('search.noDomainsAvailable', 'No domains available')"></empty-state>
		<!-- /ko -->
		<!-- ko foreach: domains() -->
		<div class="col-sm-6">
			<input
				type="checkbox"
				data-bind="value: DOMAIN_ID, event: { change: (e) => $parent.toggleDomain(DOMAIN_ID) }"
			> <span data-bind="text: DOMAIN_NAME"></span>
		</div>
		<!-- /ko -->
	</div>
</script>

<div class="vocabulary-search-tab" data-bind="if: isAuthenticated() && hasAccess()">
	<form data-bind="submit: searchClick">
		<div class="input-group">
			<input type="text" data-bind="textInput: currentSearch,
				css: classes({
					element: 'input',
					extra: 'form-control'
				}),
				placeholder: ko.i18n('search.placeholder', 'Type your search here'),
				disable: searching()" />
			<div class="input-group-btn" data-bind="tooltip:recommendButtonTooltip">
				<button class="btn btn-primary" type="submit" data-bind="title: ko.i18n('search.buttonTitle', 'Search'), disable: searching()"><i class="fa fa-search"></i></button>
				<button class="btn btn-success" type="button" data-bind="title: ko.i18n('search.recommendButtonTitle', 'Recommend'), disable: isRecommendDisabled, click: recommendClick"><i class="fa fa-shopping-cart"></i></button>
			</div>
		</div>
	</form>
	<div class="row">
		<div data-bind="click: toggleAdvanced, text: ko.i18n('search.advancedOptions', 'Advanced Options')" class="pull-right btn btn-sm btn-link"></div>
	</div>
	<!-- ko if: isInProgress() || loading() || recommending() -->
		<loading params="status: loadingMessage"></loading>
	<!-- /ko -->
	<div class="advanced-options" data-bind="visible: showAdvanced">
		<div data-bind="css: classes({ element: 'clear-btn', extra: 'row' })">
			<div class="btn btn-success btn-sm pull-right" data-bind="click: clearAllAdvanced">
				<i class="fa fa-eraser"></i> <span data-bind="text: ko.i18n('search.clearAllSelections', 'Clear All Selections')"></span>
			</div>
		</div>

		<panel params="title: ko.i18n('search.domains', 'Domains'), templateId: 'vocabulary-domain-list', context: $data"></panel>
		<panel params="title: ko.i18n('search.vocabularies', 'Vocabularies'), templateId: 'vocabulary-vocab-list', context: $data"></panel>
	</div>
	<!-- ko if: searchExecuted() && data().length === 0 -->
		<empty-state params="message: noResultsFoundMessage()"></empty-state>
	<!-- /ko -->
	<div data-bind="visible: data().length > 0">
		<div class="pull-right">
			<i data-bind="attr: { class: recordCountClass }" aria-hidden="true">
			</i>
			<span data-bind="text: ko.i18n('search.viewCountMessage', 'View record counts for:')"></span>
			<select data-bind="
          options: resultSources,
          optionsText: 'sourceName',
          optionsValue: 'sourceKey',
          value: currentResultSourceKey,
          event: { change: refreshRecordCounts }
        "></select>
		</div>
		<faceted-datatable params="{
			orderColumn: 9,
			columns: searchColumns,
			options: searchOptions,
			reference: data,
			buttons: buttons
			rowCallback: commonUtils.contextSensitiveLinkColor,
			pageLength: tableOptions.pageLength,
			lengthMenu: tableOptions.lengthMenu,
			language: ko.i18n('datatable.language')
		}"></faceted-datatable>
		<div class="linkLegend">
			<div class="linkLegendItem">
				<div class="swatch standard">
				</div>
				<div class="linkLegendTitle" data-bind="text: ko.i18n('search.standard', 'Standard')"></div>
			</div>
			<div class="linkLegendItem">
				<div class="swatch nonStandard">
				</div>
				<div class="linkLegendTitle" data-bind="text: ko.i18n('search.nonStandard', 'Non-Standard')"></div>
			</div>
			<div class="linkLegendItem">
				<div class="swatch classification">
				</div>
				<div class="linkLegendTitle" data-bind="text: ko.i18n('search.classification', 'Classification')"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- ko if: searchExecuted() && data().length > 0 -->
<concept-add-box params="{
	isActive: $component.canAddConcepts,
	concepts: getSelectedConcepts,
	canSelectSource: true,
}"></concept-add-box>
<!-- /ko -->
<access-denied params="isAuthenticated: isAuthenticated, isPermitted: hasAccess"></access-denied>
