.table-baseline-exposure {
  &__head {
    background-color: #eee;
  }

  &__th {
    &--centered {
      text-align: center;
    }

    &--counts {
      text-align: center;
      width: 15%;
    }
  }

  &__td {
    &--counts {
      text-align: center;
    }
  }

}