<div class="loading" data-bind="if:$component.loading()">
	<span data-bind="text: ko.i18n('components.evidencePairViewer.evidencePairViewerText_1', 'loading evidence pairs')"></span>
</div>
<div class="paddedWrapper" data-bind="if:!$component.loading()">
	<i class="fa fa-question-circle-o"></i>&nbsp;<span class="linkish" data-bind="click: toggleHelpText, text: helpTextDisplay()"></span>
	<div data-bind="visible: $component.showHelpText()">
		<span data-bind="text: ko.i18n('components.evidencePairViewer.evidencePairViewerText_2', 'If CommonEvidenceModel has indicated there is product label information for the selected drug-condition pair (1 = true, 0 = false) you may see many product labels below. The count of labels is non-informative since an adverse event on one label is supposed to be on all product labels. So, this page will show all product labels for the selected drug-condition pair.')"></span>
		
		<br/><br/>
		<span data-bind="text: ko.i18n('components.evidencePairViewer.evidencePairViewerText_3', 'If the CommonEvidenceModel has listed a number of publications, on the “Viewing Evidence” pop-up, one publication may occur multiple times in the results below.  This is because for every drug-condition pair a publication matches, the publication will show up in “View Evidence” list.')"></span>
		<br/>
		<br/>
	</div>
	<hr/>
	<faceted-datatable params="{reference:$component.drugConditionPairs, columns: columns, language: ko.i18n('datatable.language'), options:options,rowClick:rowClick}">
	</faceted-datatable>
</div>