.feature-analyses-browser {

  &__loading-panel {
    display: block;
    margin-bottom: 5rem;
  }

  .fe-btn {
    display: flex;
  }
}

.dt-buttons > a.btn {
  margin-right: 0.5rem;
}

.page-size {
  margin-top: 0.5rem;
  float: right;
}