<div data-bind="html: $component.template"></div>

<loading data-bind="css: classes('loading-panel'), visible: $component.loading()" params="status: 'Loading Feature Analysis...'"></loading>

<!-- ko if:data -->
<div data-bind="css: classes()">
    <heading-title params="name: featureCaption(), icon: 'shopping-cart', theme: 'dark'"></heading-title>
    <div class="asset-heading">
        <div class="input-group">
            <input type="text" class="form-control" data-bind="attr: { disabled: canEdit() ? null : true }, textInput: $component.data().name, css: { emptyInput: !isNameFilled() }" />
            <div class="input-group-btn" role="group">
                <div class="fe-save-btn" data-bind="tooltip: saveTooltipText">
                    <button class="btn btn-success" data-bind="click: save, enable: canSave() && !isProcessing()"><i class="fa fa-save"></i></button>
                </div>
                <button class="btn btn-primary" title="Close" data-bind="click: closeAnalysis, enable: !isProcessing()"><i class="fa fa-times"></i></button>
                <!-- ko ifnot: isNewEntity -->
                <button class="btn btn-danger" title="Delete" data-bind="click: deleteFeature, enable: canDelete() && !isProcessing()"><i class="fa fa-trash-o"></i></button>
                <!-- /ko -->
            </div>
        </div>
        <div data-bind="visible: !isNameFilled()" class="empty-name-error">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <label>Feature Analysis name is empty.</label>
        </div>
    </div>

    <div data-bind="css: classes('content'), visible: !$component.loading()">

        <div data-bind="css: classes({ element: 'descr-panel', extra: 'panel panel-primary' })">
            <div class="panel-heading">
                Description
            </div>
            <div data-bind="css: classes({ element: 'descr-panel-body' })">
                <!-- ko if: $component.canEdit() -->
                    <multi-select
                            data-bind="css: classes('domain-selector')"
                            params="options: $component.domains, selectedValue: $component.data().domain, multiple: false"
                    ></multi-select>
                <!-- /ko -->
                <!-- ko if: !$component.canEdit() -->
                    <div data-bind="css: classes('read-only-domain-info')">
                        <b>Domain: </b><span data-bind="text: ($component.domains().find(o => o.value === $component.data().domain()) || {}).label"></span>
                    </div>
                <!-- /ko -->
                <textarea data-bind="
                    css: classes({ element: 'descr', extra: 'form-control' }),
                    attr: { disabled: $component.canEdit() ? null : true },
                    textInput: $component.data().descr
                "></textarea>
            </div>
        </div>

        <div data-bind="css: classes({ element: 'design-panel', extra: 'panel panel-primary' })">
            <div class="panel-heading">
                Design
            </div>
            <div data-bind="css: classes({ element: 'design-panel-body' })">
                <div data-bind="css: classes('type-selector')">
                    <ul data-bind="css: classes({ element: 'nav', extra: 'nav nav-pills' })">
                        <!-- ko if: $component.isPresetFeatureTypeAvailable-->
                        <li role="presentation"
                            data-bind="
                            if: $component.canEdit() || $component.data().type() === $component.featureTypes.PRESET,
                            css: classes({ element: 'nav-pill', extra: $component.data().type() === $component.featureTypes.PRESET ? 'active' : null }),
                            click: setType.bind(null, $component.featureTypes.PRESET)
                        ">
                            <a>Preset</a>
                        </li>
                        <!-- /ko -->
                        <li role="presentation"
                            data-bind="
                            if: $component.canEdit() || $component.data().type() === $component.featureTypes.CRITERIA_SET,
                            css: classes({ element: 'nav-pill', extra: $component.data().type() === $component.featureTypes.CRITERIA_SET ? 'active' : null }),
                            click: setType.bind(null, $component.featureTypes.CRITERIA_SET)
                        ">
                            <a>Criteria</a>
                        </li>
                        <li role="presentation"
                            data-bind="
                            if: $component.canEdit() || $component.data().type() === $component.featureTypes.CUSTOM_FE,
                            css: classes({ element: 'nav-pill', extra: $component.data().type() === $component.featureTypes.CUSTOM_FE ? 'active' : null }),
                            click: setType.bind(null, $component.featureTypes.CUSTOM_FE)
                        ">
                            <a>Custom</a>
                        </li>
                    </ul>
                </div>
                <!-- ko if: $component.isPresetFeatureTypeAvailable-->
                <div data-bind="if: $component.data().type() === $component.featureTypes.PRESET, css: classes('design')">
                    <span data-bind="css: classes('criteria-descr')">FeatureExtraction preset name:</span>
                    <input data-bind="
                        css: classes({ element: 'preset-input', extra: 'form-control' }),
                        attr: { disabled: $component.canEdit() ? null : true },
                        textInput: $component.data().design
                    " />
                </div>
                <!-- /ko -->
                <div data-bind="
                    if: $component.data().type() === $component.featureTypes.CRITERIA_SET, css: classes('design')
                ">
                    <div data-bind="css: classes({extra: 'panel panel-primary'})">
                        <div data-bind="css: classes({ extra: 'panel-heading' })">Analysis type:</div>
                        <div data-bind="css: classes('stat-type-selector')">
                            <multi-select
                                data-bind="css: classes()"
                                params="options: $component.statTypeOptions,
                                selectedValue: $component.data().statType, multiple: false"></multi-select>
                        </div>
                    </div>
                    <span data-bind="if: data().statType() === 'PREVALENCE'">
                        <button data-bind="css: classes({ element: 'add-criteria-group', extra: 'btn btn-success' }), click: addCriteria">
                            Add Criteria feature
                        </button>
                    </span>
                    <span data-bind="if: data().statType() === 'DISTRIBUTION', css: classes('add-criteria-windowed')">
                        <drop-down-menu params="actions: $component.windowedActions, title: 'Add New Criteria...', cssClasses: 'btn-group', formatOption: formatCriteriaOption"></drop-down-menu>
                    </span>
                    <!-- ko foreach: $component.data().design -->
                        <div data-bind="
                            css: $component.classes('criteria'),
                            eventListener: [
                                { event: 'click', selector: '.conceptset_import', callback: (item) => $component.handleConceptSetImport($index(), item) },
                                { event: 'click', selector: '.conceptset_edit', callback: $component.handleEditConceptSet }
                            ]
                        ">
                            <div data-bind="css: $component.classes('criteria-heading')">
                                <input
                                        data-bind="css: $component.classes({ element: 'criteria-name', extra: 'form-control' }), textInput: $data.name"
                                        placeholder="Criteria name"
                                />
                                <button
                                        type="button"
                                        data-bind="css: $component.classes({ element: 'criteria-delete', extra: 'btn btn-sm btn-danger' }), click: () => $component.removeCriteria($index())"
                                ><i class="fa fa-trash-o"></i></button>
                            </div>
                            <div data-bind="if: $data.criteriaType === 'CriteriaGroup'">
                                <criteria-group params="{ expression: { ConceptSets: $component.data().conceptSets }, group: $data.expression }"></criteria-group>
                            </div>
                            <div data-bind="if: $data.criteriaType === 'DemographicCriteria'">
                                <demographic-criteria params="{ criteria: $data.expression }"></demographic-criteria>
                            </div>
                            <div data-bind="if: $data.criteriaType === 'WindowedCriteria'">
                                <windowed-criteria params="{ expression: { ConceptSets: $component.data().conceptSets }, criteria: $data.expression, disableObservationPeriod: true, defaultObservationPeriod: true }"></windowed-criteria>
                            </div>
                        </div>
                    <!-- /ko -->
                </div>
                <div data-bind="if: $component.data().type() === $component.featureTypes.CUSTOM_FE, css: classes('design')">
                    <div data-bind="css: classes('design-section')">
                        <span data-bind="css: classes('design-section-title')">Analysis SQL:</span>
                        <button class="btn btn-sm btn-primary" title="Copy to clipboard" id="btnCopyAnalysisSQLTemplateClipboard" data-bind="click: copyAnalysisSQLTemplateToClipboard, attr: { 'data-clipboard-text': demoCustomSqlAnalysisDesign }">
                            <i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp;
                            Copy Analysis SQL Template To Clipboard
                        </button>&nbsp;&nbsp;
                        <span id="copyAnalysisSQLTemplateMessage" style="display:none" class="alert alert-success" role="alert">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <strong>Copied To Clipboard!</strong>
                        </span>
                        <span data-bind="css: classes('criteria-sql')">SELECT covariate_id, covariate_name, concept_id, sum_value, average_value FROM (</span>
                        <textarea data-bind="
                            css: classes({ element: 'raw-sql-box', extra: 'form-control' }),
                            attr: { disabled: $component.canEdit() ? null : true, placeholder: demoCustomSqlAnalysisDesign },
                            textInput: $component.data().design
                        "></textarea>
                        <span data-bind="css: classes('criteria-sql')">)</span>
                    </div>
                    <div data-bind="css: classes('design-section')">
                        <span data-bind="css: classes('design-section-title')">
                            Available variables:
                        </span>
                        <ul>
                            <li>@cdm_database_schema</li>
                            <li>@cohort_table</li>
                            <li>@cohort_id</li>
                            <li>@analysis_id</li>
                            <li>all variables specified in Cohort Characterization parameters</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-bind="modal: showConceptSetBrowser" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">Select Concept Set...</div>
            <div class="paddedWrapper">
                <cohort-concept-set-browser params="
                    onRespositoryConceptSetSelected: $component.onRespositoryConceptSetSelected,
                "></cohort-concept-set-browser>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->