<access-denied params="isAuthenticated: isAuthenticated, isPermitted: isViewPermitted"></access-denied>
<div data-bind="html: $component.template"></div>

<!-- ko if:data -->
<div data-bind="css: classes()">
    <heading-title params="name: featureCaption(), description: canEdit() ? '' : ko.i18n('common.readOnly', '(Read only)'), icon: 'shopping-cart', theme: 'dark'"></heading-title>
    <!-- ko if: !!data() && !!data().id -->
        <!-- ko component: {name: 'authorship', params: getAuthorship()} --> <!-- /ko -->
    <!-- /ko -->
    <div class="asset-heading">
        <div class="input-group">
            <input type="text" placeholder="New Feature Analysis" class="form-control" data-bind="attr: { disabled: canEdit() ? null : true }, textInput: $component.data().name, css: { emptyInput: !isNameFilled() }" />
            <div class="input-group-btn" role="group">
                <div class="fe-save-btn" data-bind="tooltip: saveTooltipText">
                    <button class="btn btn-success" data-bind="click: save, enable: canSave() && !isProcessing()"><i class="fa fa-save"></i></button>
                </div>
                <button class="btn btn-primary" data-bind="click: closeAnalysis, enable: !isProcessing(), title: ko.i18n('common.close', 'Close')"><i class="fa fa-times"></i></button>
                <!-- ko ifnot: isNewEntity -->
                <button type="button" class="btn btn-primary" data-bind="click: copyFeatureAnalysis, css: {disabled: !canCopy() || isProcessing() }, title: ko.i18n('common.createACopy', 'Create a copy')"><i class="fa fa-copy"></i></button>

		<!-- ko if: enablePermissionManagement -->
                <button class="btn btn-primary" data-bind="visible: isOwner, enable: !isProcessing(), click: () => isAccessModalShown(!isAccessModalShown()), title: ko.i18n('common.configureAccess', 'Configure access')">
                    <i class="fa fa-lock"></i>
                </button>
		<!-- /ko -->
		
                <button class="btn btn-danger" data-bind="click: deleteFeature, enable: canDelete() && !isProcessing(), title: ko.i18n('common.delete', 'Delete')"><i class="fa fa-trash-alt"></i></button>
                <!-- /ko -->
            </div>
        </div>
        <name-validation params="
            hasEmptyName: !isNameFilled(),
            hasInvalidCharacters: isNameFilled() && !isNameCharactersValid(),
            hasInvalidLength: isNameFilled() && !isNameLengthValid(),
            hasDefaultName: isDefaultName(),
            analysisName: ko.i18n('components.nameValidation.featureAnalysis', 'feature analysis'),
        "></name-validation>
    </div>

    <!-- ko if: selectedTabKey -->
    <tabs data-bind="css: editorClasses(), visible: !$component.loading()" params="
            selectedTabKey: $component.selectedTabKey,
        selectTab: $component.selectTab,
        tabs: $component.tabs">
    </tabs>
    <!-- /ko -->
</div>

<!-- /ko -->

<loading data-bind="css: classes('loading-panel'), visible: $component.loading()" params="status: isCopying() ? 'Copying Feature Analysis...' : 'Loading Feature Analysis...'"></loading>

<configure-access-modal params="
	isModalShown: $component.isAccessModalShown,
	isOwnerFn: $component.isOwnerFn,
	loadAccessListFn: $component.loadAccessList,
	grantAccessFn: $component.grantAccess,
	revokeAccessFn: $component.revokeAccess,
	loadRoleSuggestionsFn: $component.loadAccessRoleSuggestions
"></configure-access-modal>
