div.criteriaGroup {
	/* position: relative; */
	/* margin-top: 5px; */
	/* margin-bottom: 5px; */
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	/* border-left: solid 1px #ccc; */
	/* border-top: solid 1px #ccc; */
	/* border-right: solid 0px black; */
	/* border-bottom: solid 1px #ccc; */
}

div.criteriaGroup div.criteriaHeading {
	margin-bottom: 5px;
	/* position: absolute; */
	/* display: inline; */
	/* top: -10px; */
	/* margin-left: 10px; */
	/* padding: 0px 3px 0px 3px; */
	/* background-color: white; */
}
div.criteriaGroup div.additionalCriteria {
	position: relative;
}
div.criteriaGroup div.occurrenceSection {
	/* position: absolute; */
	/* top: .5em; */
	/* left: 1em; */
}
div.criteriaGroup div.occurrenceSection button {
	line-height: 1.1em;	
}
div.criteriaGroup div.indexWindowSection {
	margin-top: 5px;
	/* position: absolute; */
	/* bottom: .5em; */
	/* left: 1em; */
}
div.criteriaGroup div.additionalCriteria > div > div.criteriaSection {
	padding-top: 2em;
	padding-bottom: 5px;
	padding-left: 35px;
}
div.criteriaGroup table {
	width: 100%;
}

div.criteriaGroup div.indexMessage {
	font-style:italic;
	margin-bottom: 2px;
}


div.criteriaSection {
	position: relative;
	/* background-color: #eee; */
	/* border: solid 1px #ddd; */
	/* padding: 9px; */
	/* margin: 3px 0px; */
}
div.criteriaSection > div.addCriterion {
	position: absolute;
	top: 3px;
	right: 5px;
}
input.dateField {
	width: 90px;
	padding: 0px;
	line-height: .9em;
}
input.codeInput {
	width: 100px;
}
div.ui-datepicker {
	font-size: 12px;
}
img.criteriaType {
	width: 16px;
	height: 16px;
	margin-right: 3px;
}
.emptyInput {
	background-color: #FFF;
	border: solid 1px #f00 !important;
}
.criteriaAddLink {
	font-size: 10px;
	color: blue;
	text-decoration: underline;
	text-align: right;
	cursor: pointer;
	padding-left: 10px;
}
img.deleteIcon {
	padding-bottom: 3px;
	vertical-align: middle;
	cursor: pointer;
}
table.criteriaTable>tbody>tr>td {
	/* padding-top:3px; */
	height: 32px;
	vertical-align: top;
}
.smallInputField {
	width: 100px;
}
.mediumInputField {
	width: 250px;
}
.inputField {
	background-color: #eee;
	border-bottom: solid 1px #ccc;
	border-left: none;
	border-top: none;
	border-right: none;
	padding: 3px;
	padding-left: 10px;
	outline: none;
}
button.icon {
	padding: 0px 2px;
	padding-top: 3px;
}
button.icon img {
	width: 20px;
	height: 20px;
}
button.deletegroup {
	/* position: absolute; */
	/* top: -10px; */
	/* right: 10px; */
}
button.deletecriteria {
	/* position: absolute; */
	/* bottom: 5px; */
	/* right: 10px; */
}

button.addConceptSet
{
	font-size: 10px;
	color: #000;
	height: 21px;
	padding: 0px 4px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: -1px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

span.conceptList {
	line-height: 2em;
}
.conceptList span.conceptItem {
	white-space: nowrap;
	border: solid 1px black;
	padding: 3px;
	margin-bottom: 2px;
	margin-top: 2px;
	border-radius: 2px 2px 10px 2px;
	background-color: white;
}
.codesetLink {
	color: blue;
	cursor: pointer;
}
img.codesetLink {
	vertical-align: sub;
}
col.rule {} col.options {
	width: 90%;
}
col.delete {
	width: 10%;
}
.ui-menu {
	border: solid 1px gray;
}
.ui-autocomplete li.ui-menu-item {
	font-family: arial;
	font-size: 12px;
}

.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: .9em;
}

.thumb-dropdown .dropdown-menu > li {
    position: relative;
}
.thumb-dropdown .dropdown-menu > li > a .thumbnail {
    position: absolute; 
    left: 100%;
    top: -10px;
    display: none;    
    width: 350px;
    height: auto;
    margin-left: 5px;
}
.thumb-dropdown .dropdown-menu > li > a:hover .thumbnail  {
    display: block;    
}

div.criteria-group-container {
    border:  solid 1px #ccc;
    padding: 5px;
}

.critera-group-container {
    border:  solid 1px #ccc;
    padding: 5px;
}

.btn.btn-cycle {
	vertical-align:baseline;
}

div.no-inclusion-message__container {
	padding-top: 20px;
	text-align: center;
}

div.no-inclusion-message__container > div {
	display: inline-block;
	font-size:2em;
	font-weight:bold;
}