<div data-bind="if:$component.canReadConceptsets">
    <div class="conceptset-browser-panel">
        <div class="btn btn-sm btn-primary new-concept-set"
             data-bind="click: addConceptSet, css: {disabled: disableConceptSetButton}, text: buttonActionText, visible: buttonActionEnabled"></div>
    </div>

    <div data-bind="visible:$component.selectedSource().url != null,
								eventListener: [{event: 'click', selector: '.repositoryConceptSetItem', callback: selectRepositoryConceptSet}]">
        <!-- ko if:  loading() || isProcessing() -->
			<loading></loading>
        <!-- /ko -->

        <div data-bind="visible: !loading() && !isProcessing()">
            <table class="stripe compact hover" cellspacing="0" width="100%" data-bind="attr: { id: $component.repositoryConceptSetTableId}, dataTable:{
				data: repositoryConceptSets(),
				options: {
					deferRender: true,
					orderClasses: false,
					autoWidth: false,
					columnDefs: [
						{ width: '25px', targets: 0},
						{ width: '55%', targets: 1},
						{ width: '15%', targets: 2},
						{ width: '15%', targets: 3},
						{ width: '15%', targets: 4}
					],
                    stripeClasses : [ 'repositoryConceptSetItem' ],
                    columns: [
						{ data: 'id', title: 'Id', width: '25px'},
						{ data: 'name', title: 'Title', width: '55%' },
						{ data: 'createdDate', title: 'Created', width: '15%', render: $component.datatableUtils.getDateFieldFormatter('createdDate') },
						{ data: 'modifiedDate', title: 'Modified', width: '15%', render: $component.datatableUtils.getDateFieldFormatter('modifiedDate') },
						{ data: 'createdBy', title: 'Author', width: '15%', render: $component.datatableUtils.getCreatedByFormatter() },
					],
					language: {
						search: 'Filter Repository Concept Sets:'
					},
					order: [3, 'desc']
				}
			 }">
            </table>
        </div>
    </div>
</div>