.conceptset-browser-panel {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 10px 0;
}

.conceptset-browser-panel div:last-child{
    margin-left: 10px;
}

.conceptset-browser-panel .new-concept-set {
    width: 175px;
}
