.pathway-design {

  &__descr {
    margin: 1rem 0 1rem;
    text-align: justify;
  }
	
	&__title {
		margin: 0;
		margin-bottom: 1rem;
		font-size: 1.8rem;
	}

  &__linked-entities {
    padding: 1rem 0rem;
  }

  //

  &__col-param-name {
    width: 45%;
  }

  &__col-param-value {
    width: 45%;
  }

  &__col-param-remove {
    width: 10%;
  }
	
	&__bottom-padding {
		height:50px;
	}

	&__setting-line {
		line-height: 4rem;
	}

	&__setting-title {
		font-weight: 500;
		min-width: 14rem;
	}

	&__setting-description {
		padding-left: 1rem;
	}

	&__setting-input {
		background-image: url(images/arrow_down.png);
		background-position: center right;
		background-repeat: no-repeat;
		height: initial;
		padding: .5rem 1rem;
		margin: 0;
		width: 7rem;
	}
}