<div class="loading" data-bind="visible: loading, text: ko.i18n('common.loading', 'Loading')"></div>

<div data-bind="css: classes(), visible: !loading()">
    <h2 data-bind="css: classes('title'), text: ko.i18n('pathways.manager.utilities.title', 'Utilities')">
        Utilities
    </h2>
    <ul data-bind="css: classes({ element: 'nav', extra: 'nav nav-pills' })">
        <li role="presentation"
            data-bind="css: classes({ element: 'nav-pill', extra: mode() == MODE_JSON ? 'active' : null }), click: setMode.bind(null, MODE_JSON)">
            <a data-bind="text: ko.i18n('common.export', 'Export')"></a>
        </li>
        <li role="presentation"
            data-bind="css: classes({ element: 'nav-pill', extra: mode() == MODE_IMPORT ? 'active' : null }), click: setMode.bind(null, MODE_IMPORT)">
            <a data-bind="text: ko.i18n('common.import', 'Import')"></a>
        </li>
    </ul>
    <div data-bind="if: mode() == MODE_JSON, css: classes('content')">
        <export params="{
            entityId: analysisId,
            isPermittedExport: isExportPermitted,
            exportService: exportService,
            dirtyFlag: dirtyFlag,
            message: { entityName: 'cohort pathway' }
        }"></export>
    </div>
    <div data-bind="if: mode() == MODE_IMPORT, css: classes('content')">
        <import params="{
            entityId: analysisId,
            routeToUrl: '/pathways/',
            isPermittedImport: isImportPermitted,
            importService: importService,
            afterImportSuccess: afterImportSuccess,
        }"></import>
    </div>
</div>