<div data-bind="css: classes()">
	<div class="loading" data-bind="visible: loading()">loading</div>
	<div data-bind="visible: !loading()">
		<h2 data-bind="css: classes('title')">
			Executions
		</h2>
		<div data-bind="css: classes('content')">
			<!-- ko foreach: executionGroups -->
			<div data-bind="template: {
												name: 'pathway-view-edit-execution-group',
												data: Object.assign({}, $data,
												{
													classes: $parent.classes,
													execColumns: $parent.execColumns,
													isExpanded: $parent.expandedSection() === $index(),
													toggleSection: $parent.toggleSection.bind(null, $index())
												})
											}"></div>
			<!-- /ko -->
		</div>
	</div>
</div>

<atlas-modal params="showModal: $component.isExecutionDesignShown,
										 title: 'Design',
										 data: {
										 	executionDesign: $component.executionDesign,
										 	classes: $component.classes
										 }">
	<div class="loading" data-bind="visible: executionDesign() == null">loading</div>
	<div data-bind="if: executionDesign() != null">
		<textarea data-bind="css: classes('execution-design'), text: JSON.stringify(executionDesign(), null, 2)"></textarea>
	</div>
</atlas-modal>

<modal-exit-message params="{
        showModal: $component.isExitMessageShown,
        title: 'Execution Exit Message',
        exitMessage: $component.exitMessage,
    }">
</modal-exit-message>

<script type="text/html" id="pathway-view-edit-execution-group">
	<div data-bind="css: classes('group', isExpanded ? 'expanded': null )">
        <div data-bind="css: classes('heading')">
            <label data-bind="css: classes('ds-title'), text: sourceName"></label>
            <ul data-bind="css: classes({ element: 'action-list' })">
                <li data-bind="
                    css: classes({ element: 'action' }),
                    tooltip: !$component.isGenerationPermitted(sourceKey) ? 'Not enough permissions to generate' : null,
                ">
                    <!-- ko if: $component.pathwayGenerationStatusOptions.COMPLETED === status() -->
                    <button data-bind="
																			 css: classes({ element: 'action-btn', extra: ['btn btn-primary btn-sm']}),
																			 attr: { 'disabled': !$component.isGenerationPermitted(sourceKey) },
																			 click: () => $component.generate(sourceKey)">
                            <i data-bind="css: classes({ element: 'action-ico', extra: ['fa fa-play']})"></i>
                            <span data-bind="css: classes('action-text')">Generate</span>
                    </button>
                    <!-- /ko -->
                    <!-- ko if: $component.pathwayGenerationStatusOptions.STARTED === status() -->
                    <a role="button" class="btn btn-sm btn-danger"
                       data-bind="click:$component.cancelGenerate, attr: {disabled: $component.isSourceStopping($data)}">
                        <i class="fa fa-spinner fa-spin"></i> Cancel
                    </a>
                    <!-- /ko -->
                    <!-- ko if:  $component.pathwayGenerationStatusOptions.PENDING === status() -->
                    <a role="button" class="btn btn-sm btn-warning" data-bind="attr: {disabled: true}">
                        <i class="fa fa-spinner fa-spin"></i> Pending
                    </a>
                    <!-- /ko -->
                </li>
                <li data-bind="css: classes({ element: 'action' }),
															 tooltip: !$component.isResultsViewPermitted(sourceKey) ? 'Not enough permissions to view results' : null">
                    <button data-bind="css: classes({ element: 'action-btn', extra: ['btn btn-primary btn-sm']}),
																			 attr: { 'disabled': !$component.isResultsViewPermitted(sourceKey) },
																			 click: () => $component.goToLatestResults(sourceKey)">
                        <i data-bind="css: classes({ element: 'action-ico', extra: ['fa fa-eye']})"></i>
                        View latest result
                    </button>
                </li>
                <li data-bind="css: classes({ element: 'action' }),
															 tooltip: !$component.isResultsViewPermitted(sourceKey) ? 'Not enough permissions to view results' : null">
                    <button data-bind="css: classes({ element: 'action-btn', extra: ['btn btn-primary btn-sm']}),
																			 attr: { 'disabled': !$component.isResultsViewPermitted(sourceKey) },
																			 click: toggleSection">
                        <i data-bind="css: classes({ element: 'action-ico', extra: ['fa fa-ellipsis-v']})"></i>
                        <span data-bind="text: `All executions (${submissions().length})`"></span>
                    </button>
                </li>
            </ul>
        </div>
        <ul data-bind="css: classes('result-list')">
            <li data-bind="css: classes('result-line')">
                <table data-bind="
                    css: classes({ element: 'result-table', extra: ['table', 'table-bordered', 'table-hover'] }),
                    dataTable:{
                        data: submissions,
                        options: {columns: execColumns, order: [[ 0, 'desc' ]]}
                    }
                "/>
            </li>
        </ul>
    </div>
</script>