<!-- ko if: data -->
<div data-bind="css: chartClasses('container')">
	<button title="Export image" data-bind="css: chartClasses('export-button'), click: $component.export"><i class="far fa-file-image"></i></button>
	<button title="Export SVG" data-bind="css: chartClasses('exportSvg-button'), click: $component.exportSvg"><i class="fas fa-file-download"></i></button>
	<div data-bind="chart: { data: data, minHeight: minHeight, format: format, renderer: renderer }"></div>
</div>	
<!-- /ko -->
<!-- ko ifnot: data -->
  <empty-state></empty-state>
<!-- /ko -->