.Chart {
	
	&__container {
		position:relative;
	}
	
	&__export-button {
		display:none;
		position:absolute;
		top:0px;
		right:0px;		
	}

	&__container:hover > &__export-button {
		display:block;
	}
	
}