#wrapperJobs {
	.downloadArtifactIcon {
		color: #337ab7;
		cursor: pointer;
		min-width: 30px;
		font-size: 16px;
		
		&:hover {
			color: #23527c;
		}
		
		&.fa-spinner {
			color: #5cb85c;
		}
	}
	
	.text-muted {
		color: #999;
	}
}