<access-denied params="isAuthenticated: $component.isAuthenticated, isPermitted: $component.isViewPermitted"></access-denied>

<div data-bind="if: $component.isViewPermitted(), css: classes()">
    <loading data-bind="visible: loading()" params="status: ko.i18n('cc.viewEdit.design.loading', 'Loading Cohort Characterization design...')">loading</loading>
    <div class="divtext" data-bind="contentEditable: design().description, contenteditableSwitch: isEditPermitted(), placeholder: ko.i18n('cc.viewEdit.design.descriptionPlaceholder', 'Enter the characterization description here')"></div>
    <p data-bind="css: classes('descr'), html: ko.i18n('cc.viewEdit.design.description', '<b>Cohort characterization</b> is defined as the process of generating cohort level descriptive summary statistics from person level covariate data. Summary statistics of these person level covariates may be count, mean, sd, var, min, max, median, range, and quantiles. In addition, covariates during a period may be stratified into temporal units of time for time-series analysis such as fixed intervals of time relative to cohort_start_date (e.g. every 7 days, every 30 days etc.), or in absolute calendar intervals such as calendar-week, calendar-month, calendar-quarter, calendar-year.')">
    </p>
    <div data-bind="css: classes('linked-entities')">
        <linked-cohort-list params="data: $component.cohorts, multiChoice: true, isEditPermitted: $component.isEditPermitted"></linked-cohort-list>
    </div>
    <div data-bind="css: classes('linked-entities')">
        <linked-entity-list params="
            title: ko.i18n('cc.viewEdit.design.fa.title', 'Feature analyses'),
            columns: $component.featureAnalyses.columns,
            data: $component.featureAnalyses.data,
            newItemAction: $component.featureAnalyses.newItemAction,
            removeFeature: $component.removeFeature,
            isEditPermitted: $component.isEditPermitted
        "></linked-entity-list>
    </div>
    <div data-bind="css: {'linked-entities':true, 'edit-disabled': !$component.isEditPermitted()}, eventListener: [
                                { event: 'click', selector: '.conceptset_import', callback:$component.handleConceptSetImport},
                                { event: 'click', selector: '.conceptset_edit', callback: $component.handleEditConceptSet }
                            ]">
        <h2 data-bind="css: classes('strata-title'),text: ko.i18n('cc.viewEdit.design.subgroups.title', 'Subgroup analyses')"></h2>
        <button data-bind="css: classes({extra: 'btn btn-sm btn-primary'}), click: addStrata, text: ko.i18n('cc.viewEdit.design.subgroups.newSubgroup', 'New subgroup')"></button>
        <div data-bind="css: classes('strata'), visible: stratas().length === 0">
            <span data-bind="text: ko.i18n('cc.viewEdit.design.subgroups.noSubgroups', 'No subgroups defined')"></span>
        </div>
        <!-- ko if: stratas().length > 0 -->
        <input type="text" data-bind="css: classes({ element: 'stratified-by', extra: 'form-control'}), textInput: design().stratifiedBy, attr: {placeholder: ko.i18n('cc.viewEdit.design.subgroups.stratifiedByPlaceholder', 'Stratified by')}" />
        <label data-bind="css: classes('strata-checkbox')">
            <input type="checkbox" data-bind="checked: design().strataOnly" /> <span data-bind="text: ko.i18n('cc.viewEdit.design.subgroups.subgroupOnly', 'Calculate subgroup analyses only')"></span>
        </label>
        <!-- /ko -->
        <div data-bind="foreach: stratas">
            <div data-bind="css: $component.classes('strata')">
                <div data-bind="css: $component.classes('strata-heading')">
                    <input type="text" data-bind="css: $component.classes({element: 'strata-name', extra: 'form-control' + (($data.name() == '' || $component.isStrataDuplicated($data.name())) ? ' emptyInput' : '')}),
                                 textInput: $data.name, event: {'keyup': $component.checkStrataNames}, attr: {placeholder: ko.i18n('cc.viewEdit.design.subgroups.namePlaceholder', 'Strata name')}">
                    <button type="button" data-bind="css: $component.classes({ element: 'strata-delete', extra: 'btn btn-sm btn-danger' }), click: () => $component.removeStrata($index())"
                    ><i class="fa fa-trash-alt"></i></button>
                </div>
                <div data-bind="visible: $data.name() === '', css: { 'empty-name-error': !$data.name() }">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <label data-bind="text: ko.i18n('cc.viewEdit.design.subgroups.messages.nameIsEmpty', 'Subgroup name is empty.')"></label>
                </div>
                <div data-bind="visible: $component.isStrataDuplicated($data.name())" class="empty-name-error">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <label data-bind="text: ko.i18n('cc.viewEdit.design.subgroups.messages.nameIsNotUnique', 'Subgroup name is duplicated.')"></label>
                </div>
                <div>
                    <criteria-group params="{ expression: { ConceptSets: $component.strataConceptSets() }, group: $data.criteria }"></criteria-group>
                </div>
            </div>
        </div>
    </div>
    <div data-bind="css: classes('linked-entities')">
        <linked-entity-list params="
            title: ko.i18n('cc.viewEdit.design.faParams.title', 'Feature analyses parameters'),
            columns: $component.featureAnalysesParams.columns,
            data: $component.featureAnalysesParams.data,
            newItemLabel: ko.i18n('cc.viewEdit.design.faParams.newLabel', 'New parameter'),
            newItemAction: $component.featureAnalysesParams.newItemAction,

            removeParam: $component.removeParam,
            isEditPermitted: $component.isEditPermitted
        "></linked-entity-list>
    </div>

    <atlas-modal params="
        showModal: $component.showFeatureAnalysesBrowser,
        title: ko.i18n('cc.modals.chooseAFeatureAnalyses', 'Choose a Feature analyses...'),
        dialogExtraClasses: [ $component.classes('feature-analyses-modal') ],
        data: {
            onSelect: $component.onSelect,
            classes: $component.classes,
            selectedData: $component.design().featureAnalyses,
            showModal: showFeatureAnalysesBrowser,
            tableOptions: $component.tableOptions,
        }
    "
    >
        <feature-analyses-browser params="
            onSelect: data => onSelect(data),
            selectedData: selectedData,
            scrollY: '50vh',
            multiChoice: true,
            showModal: showModal,
            tableOptions: tableOptions,
        "></feature-analyses-browser>
    </atlas-modal>

    <atlas-modal params="{
    showModal: showConceptSetBrowser,
    title: ko.i18n('cc.modals.selectConceptSet', 'Select Concept Set...'),
    modifiers: ['lg'],
    data: {
        criteriaContext: $component.criteriaContext,
        strataConceptSets: $component.strataConceptSets(),
        onActionComplete: $component.onRespositoryActionComplete,
        tableOptions: $component.tableOptions,
    }
}">
        <div class="paddedWrapper">
            <concept-set-browser params="
                        criteriaContext: criteriaContext,
                        cohortConceptSets: strataConceptSets,
                        onActionComplete: onActionComplete,
                        pageLength: tableOptions.pageLength,
                        lengthMenu: tableOptions.lengthMenu,
                    "></concept-set-browser>
        </div>
    </atlas-modal>


    <characterization-params-create-modal params="showModal: isParameterCreateModalShown, submit: addParam"></characterization-params-create-modal>
</div>