.characterization-design {

  &__linked-entities {
    padding: 1rem 0rem;

    .dataTables_length {
      display: none;
    }

    .dataTables_filter {
      position: absolute;
      right: 0;
      top: -4rem;
    }

    .dataTables_wrapper {
      margin-top: 1.5rem;
    }
  }

  &__linked-entities-title {
    margin: 0;
    font-size: 1.8rem;
  }

  &__linked-entities-descr {
    margin: 1rem 0 1.75rem;
  }

  &__linked-entities-actions {
  }

  &__linked-entities-table {
    margin-top: 1rem !important;

    th, td {
      padding: 0.7rem 1rem !important;
    }
  }

  &__col-cohort-id {
    width: 20%;
  }

  &__col-cohort-name {
    width: 80%;
  }

  &__col-feature-id {
    width: 10%;
  }

  &__col-feature-name {
    width: 30%;
  }

  &__col-feature-descr {
    width: 60%;
  }

  &__col-param-name {
    width: 50%;
  }

  &__col-param-value {
    width: 50%;
  }

  &__cohort-def-modal-content {
    width: 80rem;
  }

  &__cohort-def-modal-body {
    padding: 1rem;

    .feFilter {
      padding-top: 57px; // I'm sorry
    }

    .dt-btn {
      display: none;
    }

    .faceted-data-table-wrapper {
      padding-left: 1rem;
    }
  }

}