.characterization-design {

  &__descr {
    font-size: 1.4rem;
    margin: 1rem 0 1rem;
    text-align: justify;
  }

  &__linked-entities {
    padding: 1rem 0rem;

    .dataTables_length {
      display: none;
    }

    .dataTables_filter {
      position: absolute;
      right: 0;
      top: -4rem;
    }

    .dataTables_wrapper {
      margin-top: 1.5rem;
    }
  }

  &__linked-entities-title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  &__linked-entities-descr {
    margin-bottom: 1.75rem;
  }

  &__linked-entities-actions {
  }

  &__linked-entities-table {
    margin-top: 1rem !important;

    th, td {
      padding: 0.7rem 1rem !important;
    }
  }

  //

  &__col-cohort-id {
    width: 10%;
  }

  &__col-cohort-name {
    width: 80%;
  }

  &__col-cohort-remove {
    width: 10%;
  }

  //

  &__col-feature-id {
    width: 10%;
  }

  &__col-feature-name {
    width: 35%;
  }

  &__col-feature-descr {
    width: 45%;
  }

  &__col-feature-remove {
    width: 10%;
  }

  //

  &__col-param-name {
    width: 45%;
  }

  &__col-param-value {
    width: 45%;
  }

  &__col-param-remove {
    width: 10%;
  }

  //

  &__cohort-def-modal-content {
    width: 80rem;
  }

  &__cohort-def-modal-body, &__feature-analyses-modal-body {
    padding: 1rem;

    .feFilter {
      padding-top: 57px; // I'm sorry
    }

    .dt-btn {
      display: none;
    }

    .faceted-data-table-wrapper {
      padding-left: 1rem;
    }
  }

}