<div>
    <loading data-bind="visible: loading"></loading>
    <!-- ko ifnot: loading -->
    <!-- ko if: sourceSql -->
    <h5 class="title">
        Source output:
    </h5>
    <!-- /ko -->
    <!-- ko ifnot: sourceSql -->
    <h5 class="title">
        Rendered translation:
    </h5>
    <!-- /ko -->
    <div class="flex-container">
        <div class="sql-text">
            <!-- ko if: sourceSql -->
            <pre  data-bind="html: sqlText, attr:{ id: clipboardTarget }"></pre>
            <!-- /ko -->
            <!-- ko ifnot: sourceSql -->
            <pre  data-bind="html: paramsTemplateSql(), attr:{ id: clipboardTarget }"></pre>
            <!-- /ko -->

        </div>
        <div class="params-container">
            <div class="params-source">
                <span data-bind="text: ko.i18n('cs.browser.compare.vie', 'Source:')"></span>
                <select data-bind="
                  options: $component.resultSources,
                  optionsText: 'sourceName',
                  optionsValue: 'sourceKey',
                  value: $component.currentResultSource().sourceKey,
                  event: { change: $component.changeSource }">
                </select>
            </div>
            <div class="sql-params" data-bind="foreach: sqlParams">
                <div class="sql-params-label" data-bind="text: $data.slice(1)"></div>
                <input class="sql-params-input" type="text" data-bind="disable: $component.sourceSql, textInput: $component.inputParamsValues()[$data], attr: {name: $data}, event:{ input: $component.onChangeParamsValue}" >
            </div>
            <!-- ko if: sourceSql -->
            <button class="btn btn-sm btn-success" type="button" data-bind="click: onSwitch, text: 'Replace parameters with values'"></button>
            <!-- /ko -->
            <!-- ko ifnot: sourceSql -->
            <button class="btn btn-sm btn-primary" type="button" data-bind="click: onSwitch, text: 'Revert to sql output'"></button>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
</div>