<loading data-bind="css: classes('loading-panel'), visible: $component.loading" params="status: 'Loading Cohort Pathway Analysis...'"></loading>

<!-- ko if: design -->
<div data-bind="css: classes(), visible: !$component.loading()">
	<heading-title params="name: pathwayCaption(), icon: 'sitemap', theme: 'dark'"></heading-title>
	<div class="asset-heading">
		<div class="input-group">
			<input type="text" class="form-control" data-bind="attr: { disabled: $component.canEdit() ? null : true }, textInput: design().name, css: {emptyInput: !isNameFilled()}" />
			<div class="input-group-btn">
				<button type="button" class="btn btn-success" data-bind="click: $component.save, css: {disabled:!canSave() || isProcessing()}"><i class="fa fa-save"></i></button>
				<button type="button" class="btn btn-primary" data-bind="click: $component.close, css: {disabled: isProcessing()}"><i class="fa fa-times"></i></button>
				<!-- ko ifnot: isNewEntity -->
				<button type="button" class="btn btn-primary" data-bind="click: copyPathway, css: {disabled: !$component.canCopy() || isProcessing()}" title="Create a copy of this Pathway Analysis"><i class="fa fa-copy"></i></button>
				<button type="button" class="btn btn-danger" data-bind="click: $component.del, css: {disabled: !canDelete() || isProcessing()}"><i class="fa fa-trash-o"></i></button>
				<!-- /ko -->
			</div>
		</div>
		<div data-bind="visible: !isNameFilled()" class="empty-name-error">
			<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
			<label>Cohort Pathway name is empty.</label>
		</div>
	</div>

	<tabs data-bind="visible: !$component.loading()" params="
		selectedTabKey: $component.selectedTabKey,
		selectTab: $component.selectTab,
		tabs: [
			{
				title: 'Design',
				key: 'design',
				componentName: 'pathway-design',
				componentParams: $component.componentParams
			},
			{
				title: 'Executions',
				key: 'executions',
				componentName: 'pathway-exec-wrapper',
				componentParams: $component.componentParams
			},
			{
				title: 'Utilities',
				key: 'utilities',
				componentName: 'pathway-utils',
				componentParams: $component.componentParams,
			}
		]">
	</tabs>
</div>
<!-- /ko -->
