<button class="btn btn-primary btn-sm" data-bind="text: ko.i18n('components.conceptPicker.addButton', 'Add'), click: open, disable: isOpen"></button>
<!-- ko ifnot: isImportEnabled -->
<button class="btn btn-primary btn-sm" data-bind="text: ko.i18n('components.conceptPicker.importButton', 'Import'), click: function() { isImportEnabled(true); }">Import</button>
<!-- /ko -->
<!-- ko if: isImportEnabled -->
<div  
data-bind="attr: {title: ko.i18n('components.conceptPicker.importConcepts', 'Import Concepts')}, dialog: { isOpen: isImportEnabled, modal: true, width:700, height:500, closeText: '' }">
<textarea rows="1" style="width: 650px; height:400px; resize: none; overflow: auto; word-wrap: break-word"  
data-bind="attr: {placeholder: ko.i18n('components.conceptPicker.importConcepts', 'Import Concepts')}, textInput: importValues"></textarea>
<button class="btn btn-primary btn-sm" data-bind="text: ko.i18n('components.conceptPicker.done', 'Done'), click: doImport"></button>
</div>
<!-- /ko -->
<!-- ko if: isOpen -->
<div class="conceptsearch" data-bind="attr: {title: ko.i18n('components.conceptPicker.selectConcept', 'Select Concept')}, dialog: { isOpen: isOpen, modal: true, width:'80%', height:600, closeText: '' }">
	<div data-bind="if: ProviderReady()">
		<div class="search-block">
			<input 
			data-bind="attr: {placeholder: ko.i18n('components.conceptPicker.search', 'Search')}, value: searchText, valueUpdate: 'input', event: { keyup: searchKeyUp }" />
			<select class="form-input" data-bind="options: $component.DomainOptions, value: SelectedDomain" />
			<button data-bind="text: ko.i18n('components.conceptPicker.search', 'Search'), click: search" type="button" class="btn btn-primary btn-sm"></button>
		</div>
		<table class="stripe compact hover" cellspacing="0" width="100%"
					 data-bind="dataTable:{
											data: results,
											api: dtApi,
											options: {
												deferRender: true,
												autoWidth: false,
												order: [ 2, 'asc' ],
												columns: [
													'select',
													{ data: 'CONCEPT_ID', title: ko.i18n('columns.conceptId', 'Concept Id') },
													{ data: 'CONCEPT_CODE', title: ko.i18n('columns.code', 'Code') },
													{ data: 'CONCEPT_NAME', title: ko.i18n('columns.conceptName', 'Concept Name') },
													{ data: 'STANDARD_CONCEPT', title: ko.i18n('columns.standardType', 'Standard Type') },
													{ data: 'VOCABULARY_ID', title: ko.i18n('columns.vocabulary', 'Vocabulary') },
													{ data: 'DOMAIN_ID', title: ko.i18n('columns.domain', 'Domain') }
												],
												language: ko.i18n('datatable.language')
											}
										 }"></table>
		<div style="text-align: right; padding: 5px">
			<button class="btn btn-primary btn-sm" data-bind="click: add">
				<span data-bind="text: ko.i18n('components.conceptPicker.addSelected', 'Add Selected')"></span>
			</button>
			<button class="btn btn-primary btn-sm" data-bind="click: addAndClose">
				<span data-bind="text: ko.i18n('components.conceptPicker.addAndClose', 'Add And Close')"></span>
			</button>
			<button class="btn btn-primary btn-sm" data-bind="click: function() { this.isOpen(false);}">
				<span data-bind="text: ko.i18n('components.conceptPicker.close', 'Close')"></span>
			</button></div>
	</div>
	<div data-bind="if: !ProviderReady()">
		<span data-bind="text: ko.i18n('components.conceptPicker.waitMessage', 'Please wait while the Vocabulary Provider initalizes...')"></span>
	</div>
</div>
<!-- /ko -->
