.multi-assign {
  &__container {
    display: table;
  }

  &__section {
    margin-bottom: 20px;
    padding: 5px 10px 1px;
    border-radius: 8px;
    border: 1px solid lightgray;

    &--radio {
      margin-top: 15px;

      label {
        position: relative;
        font-size: 14px;
        margin: 0 0 5px 20px;
        cursor: pointer;
      }
      input {
        position: absolute;
        top: 3px;
        left: -20px;
      }
    }

    &--tags {
      font-size: 14px;
    }

    &--entities {
      font-size: 14px;
    }
  }

  &__button {
  }

}
