.included-sourcecodes {

}

.included-sourcecodes__conceptset-processing {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px -50px 0 0;
}

.included-sourcecodes__conceptset-loading {
    text-align: center;
}

.included-sourcecodes__table > div{
    min-height: 300px;
}