							<!-- this was supposed to go in a div that no longer exists here - when cartoon is unhidden, that is
							data-bind="event: { 
									mouseover: function() { selectedFragment && selectedFragment(expression().PrimaryCriteria()) }, 
									mouseout: function() { selectedFragment && selectedFragment(null);}
								}, 
								css: {highlighted: selectedFragment && selectedFragment() === expression().PrimaryCriteria()}"
								-->
People having any of the following:
<br>

<ul>
	<!-- ko foreach: expression().PrimaryCriteria().CriteriaList -->
	<li>
		<div data-bind='component: { 
						name: $component.getCriteriaIndexComponent($data),
						params: {expression: $component.expression(), criteria: $data} }'></div>
	</li>
	<!-- /ko -->
</ul>
<div>
	<span data-bind="with: expression().PrimaryCriteria().ObservationWindow"> with observation at least
	<span class="numericField" data-bind="text: PriorDays.numeric()" /> days prior and <span class="numericField" data-bind="text: PostDays.numeric()" /> days after index,
</span>
	<span data-bind="with: expression().PrimaryCriteria().PrimaryCriteriaLimit"> and limit primary events to: <b><span data-bind="text: $component.getLimitTypeText(Type())"></span> per person.</b>
	</span>
</div>
<br/>

<div style="width:60%" data-bind="with: expression">
	<div data-bind="if: AdditionalCriteria">
		<div>For people matching the Primary Events, include:</div>
							<!-- INCLUDE IN params BELOW FOR CARTOON
							, selectedFragment: $component.selectedFragment -->
		<criteria-group-viewer params="{expression: $data, group: AdditionalCriteria}"></criteria-group-viewer>
	</div>
</div>

							<!-- not sure where these things go when putting cartoon back in place
								event: {
									mouseover: function () { $component.selectedFragment && $component.selectedFragment(expression().PrimaryCriteria()) },
									mouseout: function() { $component.selectedFragment && $component.selectedFragment(null);}
								}, 
								css: {highlighted: $component.selectedFragment && $component.selectedFragment() === expression().PrimaryCriteria()}
-->
<div data-bind="with: expression">
	<div data-bind="foreach: InclusionRules">
		<div data-bind="text: 'Inclusion ' + ($index()+1) + ': ' + name()"></div>
		<criteria-group-viewer params="{expression: $parent, group: ko.observable($data.expression)}"></criteria-group-viewer>
	</div>
</div>

<div data-bind="with: expression().ExpressionLimit">Limit cohort expression results to: <b><span data-bind="text: $component.getLimitTypeText(Type())"></span> per person.</b></div>

<div style="width:30%; right:10px; top:160px; position:fixed; ">
	<div data-bind="cartoonExpression:[expression,$component.selectedFragment]">
	</div>
</div>
