<div class="heading">Initial Event Cohort</div>
People having any of the following:
<br>

<ul>
	<!-- ko foreach: expression().PrimaryCriteria().CriteriaList -->
	<li>
		<div data-bind='component: {
						name: $component.getCriteriaIndexComponent($data),
						params: {expression: $component.expression(), criteria: $data} }'></div>
	</li>
	<!-- /ko -->
</ul>
<div>
	<span data-bind="with: expression().PrimaryCriteria().ObservationWindow"> with continuous observation of at least
	<span class="numericField" data-bind="text: PriorDays.numeric()" /> days prior and <span class="numericField" data-bind="text: PostDays.numeric()" /> days after event index date,
</span>
	<span data-bind="with: expression().PrimaryCriteria().PrimaryCriteriaLimit"> and limit initial events to: <b><span data-bind="text: $component.getLimitTypeText(Type())"></span> per person.</b>
	</span>
</div>
<br/>

<div style="width:60%" data-bind="with: expression">
	<div data-bind="if: AdditionalCriteria">
		<div>For people matching the Primary Events, include:</div>
		<criteria-group-viewer params="{expression: $data, group: AdditionalCriteria}"></criteria-group-viewer>
		<div data-bind="with: QualifiedLimit">Limit cohort of initial events to: <b><span data-bind="text: $component.getLimitTypeText(Type())"></span> per person.</b></div>
	</div>
</div>

<div class="inclusionRules" data-bind="with: expression">
	<!-- ko if: InclusionRules && InclusionRules().length > 0 -->
	<div class="heading">Inclusion Rules</div>
	<div data-bind="foreach: InclusionRules">
		<div data-bind="text: 'Inclusion Criteria #' + ($index()+1) + ': ' + name()"></div>
		<!-- ko if: (description() || '').length > 0 -->
		<div class="description" data-bind="text: description()"></div>
		<!-- /ko -->
		<criteria-group-viewer params="{expression: $parent, group: ko.observable($data.expression)}"></criteria-group-viewer>
	</div>
	<!-- /ko -->
</div>

<div data-bind="with: expression().ExpressionLimit">Limit qualifying cohort to: <b><span data-bind="text: $component.getLimitTypeText(Type())"></span> per person.</b></div>

<end-strategy-viewer params="strategy: expression().EndStrategy, conceptSets: $component.expression().ConceptSets"></end-strategy-viewer>

<!-- ko if: expression().CensoringCriteria().length > 0 -->
<div class="heading">Censoring Events:</div>
Exit Cohort based on the following:
<br>

<ul>
	<!-- ko foreach: expression().CensoringCriteria -->
	<li>
		<div data-bind='component: {
						name: $component.getCriteriaIndexComponent($data),
						params: {expression: $component.expression(), criteria: $data} }'></div>
	</li>
	<!-- /ko -->
</ul>
<!-- /ko -->

<div class="heading">Cohort Collapse Strategy:</div>
<span data-bind="with: expression().CollapseSettings">
	Collapse cohort by era with a gap size of <span class="numericField" data-bind="text: EraPad" /> days.
</span>
