<span data-bind="if: parentGroup">
	<span data-bind="	if: (parentGroup().CriteriaList().length > 0) || parentGroup().Groups().indexOf(group()) > 0"><span data-bind="	text: parentGroup().Type() == 'ALL' ? 'And' : 'Or'"></span> people having</span>
	<span data-bind="	ifnot: (parentGroup().CriteriaList().length > 0) || parentGroup().Groups().indexOf(group()) > 0">People having</span>
</span>
<span data-bind="ifnot: parentGroup">People having</span> <span data-bind="text: groupType"></span> <!-- ko if: group().Type().startsWith('AT_') --> <span data-bind="text: group().Count"></span> <!-- /ko --> of the following criteria:
<ul>
<!-- ko foreach: group().CriteriaList -->
	<li>
		<span data-bind="if: ($index() > 0)"><span data-bind="	text: $component.group().Type() == 'ALL' ? 'and ' : 'or '"></span></span><span data-bind="text: $component.getOccurrenceType(Occurrence.Type())" /> 
		<span data-bind="text: Occurrence.Count"></span> <span data-bind="text: Occurrence.IsDistinct() ? 'distinct' : ''"></span>
		occurrence<span data-bind="text: Occurrence.Count != 1 ? 's' : ''"></span> of
		<span data-bind="component: { 
							name: $component.getCriteriaComponent($data.Criteria), 
							params: {expression: $component.expression, criteria: $data.Criteria }
						}"></span>
		occurring between <window-input-viewer params="Window: StartWindow"></window-input-viewer> index		
	</li>		
<!-- /ko -->
</ul>	
<ul>
<!-- ko foreach: group().Groups -->
	<li>
		<div style="padding-top: 5px; position:relative">
			<criteria-group-viewer params="{expression: $component.expression, group: ko.observable($data), parentGroup: $parent.group()}"></criteria-group-viewer>
		</div>
	</li>
<!-- /ko -->
</ul>
