<!-- ko with: Criteria -->
a death occurrence from <conceptset-reference params="{conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultName: 'Any Death'}"></conceptset-reference>
<ul>
<!-- ko if: ko.utils.unwrapObservable(OccurrenceStartDate) != null -->
	<li>occurrence start is <date-range-viewer params="Range: OccurrenceStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(DeathType) != null -->
	<li>death type is any of: <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(DeathType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(DeathSourceConcept) != null -->
	<li>Death Source Concept is <conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(DeathSourceConcept), conceptSets: $component.expression.ConceptSets, defaultName: 'UNSPECIFIED!'}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Age) != null -->
	<li>with age <numeric-range-viewer params="Range: Age"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Gender) != null -->
	<li>gender is any of: <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Gender)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(CorrelatedCriteria) != null -->
		<criteria-group-viewer params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group-viewer>	
<!-- /ko -->
</ul>
<!-- /ko -->
