<!-- ko with: Criteria -->
a device exposure of <conceptset-reference params="{conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultName: 'Any Device'}"></conceptset-reference>
<ul>
<!-- ko if: ko.utils.unwrapObservable(First) != null -->
	<li>for the first time in the person's history</li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(OccurrenceStartDate) != null -->
	<li>occurrence start is <date-range-viewer params="Range: OccurrenceStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(OccurrenceEndDate) != null -->
	<li>occurrence end is <date-range-viewer params="Range: OccurrenceEndDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(DeviceType) != null -->
	<li>device type is any of: <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(DeviceType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(UniqueDeviceId) != null -->
	<li>with a unique device id <text-filter-viewer params="Filter: UniqueDeviceId"></text-filter-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Quantity) != null -->
	<li>with quantity <numeric-range-viewer params="Range: Quantity"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Age) != null -->
	<li>with age <numeric-range-viewer params="Range: Age"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Gender) != null -->
	<li>gender is any of: <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Gender)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(ProviderSpecialty) != null -->
	<li>provider specialty is any of: <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(ProviderSpecialty)"></concept-list></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(VisitType) != null -->
	<li>visit occurrence is any of: <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(VisitType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(CorrelatedCriteria) != null -->
		<criteria-group-viewer params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group-viewer>	
<!-- /ko -->
</ul>
<!-- /ko -->
