<!-- ko with: Criteria -->
a drug exposure of <conceptset-reference params="{conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultName: 'Any Drug'}"></conceptset-reference>
<ul>
<!-- ko if: First() != null -->
	<li>for the first time in the person's history</li>
<!-- /ko -->
<!-- ko if: OccurrenceStartDate() != null -->
	<li>occurrence start is <date-range-viewer params="Range: OccurrenceStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: OccurrenceEndDate() != null -->
	<li>occurrence end is <date-range-viewer params="Range: OccurrenceEndDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: DrugType() != null -->
	<li>drug type is any of: <concept-list-viewer params="ConceptList: DrugType()"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: StopReason() != null -->
	<li>with a Stop Reason <text-filter-viewer params="Filter: StopReason"></text-filter-viewer></li>
<!-- /ko -->
<!-- ko if: Refills() != null -->
	<li>with refills <numeric-range-viewer params="Range: Refills"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: Quantity() != null -->
	<li>with quantity <numeric-range-viewer params="Range: Quantity"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: DaysSupply() != null -->
	<li>with days supply <numeric-range-viewer params="Range: DaysSupply"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: RouteConcept() != null -->
	<li>route concept is any of: <concept-list-viewer params="ConceptList: RouteConcept()"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: EffectiveDrugDose() != null -->
	<li>with effective drug dose <numeric-range-viewer params="Range: EffectiveDrugDose"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: DoseUnit() != null -->
	<li>dose unit is any of: <concept-list-viewer params="ConceptList: DoseUnit()"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: LotNumber() != null -->
	<li>with a lot number <text-filter-viewer params="Filter: LotNumber"></text-filter-viewer></li>
<!-- /ko -->
<!-- ko if: DrugSourceConcept() != null -->
	<li>Drug Source Concept is <conceptset-reference params="{conceptSetId: DrugSourceConcept(), conceptSets: $component.expression.ConceptSets, defaultName: 'UNSPECIFIED!'}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: Age() != null -->
	<li>with age <numeric-range-viewer params="Range: Age"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: Gender() != null -->
	<li>gender is any of: <concept-list-viewer params="ConceptList: Gender()"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ProviderSpecialty() != null -->
	<li>provider specialty is any of: <concept-list-viewer params="ConceptList: ProviderSpecialty()"></concept-list></li>
<!-- /ko -->
<!-- ko if: VisitType() != null -->
	<li>visit occurrance is any of: <concept-list-viewer params="ConceptList: VisitType()"></concept-list-viewer></li>
<!-- /ko -->
</ul>
<!-- /ko -->
