<!-- ko with: Criteria -->
an observation period
<ul>
<!-- ko if: ko.utils.unwrapObservable(First) != null -->
	<li>limited to the patients first observation period</li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(UserDefinedPeriod) != null -->
	<li>using specified period: <period-viewer params="Period: UserDefinedPeriod"></period-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(PeriodStartDate) != null -->
	<li>period start is <date-range-viewer params="Range: PeriodStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(PeriodEndDate) != null -->
	<li>period end is <date-range-viewer params="Range: PeriodEndDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(PeriodType) != null -->
	<li>period type is any of: <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(PeriodType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(PeriodLength) != null -->
	<li>with period duration <numeric-range-viewer params="Range: PeriodLength"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(AgeAtStart) != null -->
	<li>with age in years at period start <numeric-range-viewer params="Range: AgeAtStart"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(AgeAtEnd) != null -->
	<li>with age in years at period end <numeric-range-viewer params="Range: AgeAtEnd"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(CorrelatedCriteria) != null -->
		<criteria-group-viewer params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group-viewer>	
<!-- /ko -->
</ul>
<!-- /ko -->
