<!-- ko with: Criteria -->
a procedure of <conceptset-reference params="{conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultName: 'Any Procedure'}"></conceptset-reference>
<ul>
<!-- ko if: First() != null -->
	<li>for the first time in the person's history</li>
<!-- /ko -->
<!-- ko if: OccurrenceStartDate() != null -->
	<li>occurrence start is <date-range-viewer params="Range: OccurrenceStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ProcedureType() != null -->
	<li>procedure type is any of: <concept-list-viewer params="ConceptList: ProcedureType()"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: Modifier() != null -->
	<li>modifier is any of: <concept-list-viewer params="ConceptList: Modifier()"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: Quantity() != null -->
	<li>with quantity <numeric-range-viewer params="Range: Quantity"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ProcedureSourceConcept() != null -->
	<li>Procedure Source Concept is <conceptset-reference params="{conceptSetId: ProcedureSourceConcept(), conceptSets: $component.expression.ConceptSets, defaultName: 'UNSPECIFIED!'}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: Age() != null -->
	<li>with age <numeric-range-viewer params="Range: Age"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: Gender() != null -->
	<li>gender is any of: <concept-list-viewer params="ConceptList: Gender()"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ProviderSpecialty() != null -->
	<li>provider specialty is any of: <concept-list-viewer params="ConceptList: ProviderSpecialty()"></concept-list></li>
<!-- /ko -->
<!-- ko if: VisitType() != null -->
	<li>visit occurrance is any of: <concept-list-viewer params="ConceptList: VisitType()"></concept-list-viewer></li>
<!-- /ko -->
</ul>
<!-- /ko -->
