<loading data-bind="css: classes('loading-panel'), visible: $component.loading()" params="status: ko.i18n('cc.loading', 'Loading Cohort Characterization list...')"></loading>

<div data-bind="visible: !$component.loading()">
    <characterizations-tabbed-grid params="{
        activeTab: $component.gridTab,
        isViewPermitted: $component.isGetCCListPermitted,
        gridColumns: $component.gridColumns,
        gridOptions: $component.gridOptions,
        data: $component.data,
        createNew: $component.createCharacterization,
        createNewEnabled: $component.isCreatePermitted
    }"/>
</div>