<loading data-bind="css: classes('loading-panel'), visible: $component.loading()" params="status: 'Loading Cohort Characterization...'"></loading>

<!-- ko if:design -->
<div data-bind="css: classes()">
    <heading-title params="name: characterizationCaption(), icon: 'shopping-cart', theme: 'dark'"></heading-title>
    <div class="asset-heading">
        <div class="input-group">
            <input type="text" class="form-control" data-bind="css: {emptyInput: !isNameFilled()}, attr: { disabled: isEditPermitted() ? null : true }, textInput: design().name" />
            <div class="input-group-btn">
                <button type="button" class="btn btn-success" data-bind="click: save, css: {disabled:!isSavePermitted() || isProcessing() }"><i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-primary" data-bind="click: closeCharacterization, css: {disabled: isProcessing() }"><i class="fa fa-times"></i></button>
                <!-- ko ifnot: isNewEntity() -->
                <button type="button" class="btn btn-primary" data-bind="click: copyCc, css: {disabled: !canCopy() || isProcessing() }" title="Create a copy of this cohort characterization"><i class="fa fa-copy"></i></button>
                <button type="button" class="btn btn-danger"  data-bind="click: deleteCc, css: {disabled: !$component.isDeletePermitted() || isProcessing() }"><i class="fa fa-trash-o"></i></button>
                <!-- /ko -->
            </div>
        </div>
        <div data-bind="visible: !isNameFilled()" class="empty-name-error">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <label>Characterization name is empty.</label>
        </div>
    </div>

    <tabs data-bind="visible: !$component.loading()" params="
        selectedTabKey: $component.selectedTabKey,
        selectTab: $component.selectTab,
        tabs: [
            {
                title: 'Design',
                key: 'design',
                componentName: 'characterization-design',
                componentParams: $component.componentParams,
            },
            {
                title: 'Executions',
                key: 'executions',
                componentName: 'characterization-exec-wrapper',
                componentParams: $component.componentParams,
            },
            {
                title: 'Utilities',
                key: 'utilities',
                componentName: 'characterization-view-edit-utils',
                componentParams: $component.componentParams,
            },
        ]">
    </tabs>
</div>
<!-- /ko -->