<loading data-bind="css: classes('loading-panel'), visible: $component.loading()" params="status: ko.i18n('cc.viewEdit.loadingCohortCharacterization', 'Loading Cohort Characterization...')"></loading>
<access-denied params="isAuthenticated: isAuthenticated, isPermitted: isViewPermitted"></access-denied>

<!-- ko if: !!design() && !loading() -->
<div data-bind="css: classes()">
    <heading-title params="name: characterizationCaption(), description: isEditPermitted() ? '' : ko.i18n('common.readOnly', '(Read only)'), icon: 'chart-line', theme: 'dark', tags: design().tags"></heading-title>
    <!-- ko if: !!design() && !!design().id -->
        <!-- ko component: {name: 'authorship', params: getAuthorship()} --> <!-- /ko -->
    <!-- /ko -->
    <div class="asset-heading">
        <div class="input-group">
            <input type="text" class="form-control" data-bind="css: {emptyInput: !isNameFilled()}, attr: { disabled: isEditPermitted() ? null : true }, textInput: design().name" />
            <div class="input-group-btn">
                <button type="button" class="btn btn-success" data-bind="click: save, css: {disabled:!isSavePermitted() || isProcessing() }, attr: {title: !previewVersion() ? ko.i18n('common.save', 'Save') : ko.i18n('common.saveAsCurrentVersion', 'Save as current version')}"><i class="fa fa-save"></i></button>
                <button class="btn btn-primary"
                        data-bind="visible: previewVersion(), title: ko.i18n('common.backToCurrent', 'Back to current version'), click: backToCurrentVersion">
                    <i class="fa fa-undo"></i>
                </button>
                <button type="button" class="btn btn-primary" data-bind="click: closeCharacterization, css: {disabled: isProcessing() }, title: ko.i18n('common.close', 'Close')"><i class="fa fa-times"></i></button>
                <!-- ko ifnot: isNewEntity() -->
                <button type="button" class="btn btn-primary" data-bind="click: () => isTagsModalShown(!isTagsModalShown()), visible: isEditPermitted() && !previewVersion(), css: { disabled: isProcessing() }, title: ko.i18n('common.tags', 'Tags')"><i class="fa fa-tags"></i></button>
                <button type="button" class="btn btn-primary" data-bind="visible: !previewVersion(), click: copyCc, css: {disabled: !canCopy() || isProcessing() }, title: , title: ko.i18n('common.createACopy', 'Create a copy')"><i class="fa fa-copy"></i></button>

		<!-- ko if: enablePermissionManagement -->
                <button class="btn btn-primary" data-bind="visible: isOwner() && !previewVersion(), click: () => isAccessModalShown(!isAccessModalShown()), title: ko.i18n('common.configureAccess', 'Configure access')">
                    <i class="fa fa-lock"></i>
                </button>
		<!-- /ko -->

		<button type="button" class="btn btn-danger"  data-bind="visible: !previewVersion(), click: deleteCc, css: {disabled: !$component.isDeletePermitted() || isProcessing() }"><i class="fa fa-trash-alt"></i></button>
                <!-- /ko -->
            </div>
        </div>
        <name-validation params="
            hasEmptyName: !isNameFilled(),
            hasInvalidCharacters: isNameFilled() && !isNameCharactersValid(),
            hasInvalidLength: isNameFilled() && !isNameLengthValid(),
            hasDefaultName: isDefaultName(),
            analysisName: ko.i18n('components.nameValidation.characterization', 'characterization'),
        "></name-validation>
    </div>

    <tabs data-bind="visible: !$component.loading()" params="
        selectedTabKey: $component.selectedTabKey,
        selectTab: $component.selectTab,
        tabs: [
            {
                title: ko.i18n('cc.viewEdit.tabs.design', 'Design'),
                key: 'design',
                componentName: 'characterization-design',
                componentParams: $component.componentParams,
            },
            {
                title: ko.i18n('cc.viewEdit.tabs.conceptSets', 'Concept Sets'),
                key: 'conceptsets',
                componentName: 'characterization-conceptsets',
                componentParams: $component.componentParams,
            },
            {
                title: 'Executions',
                key: 'executions',
                componentName: 'characterization-exec-wrapper',
                componentParams: $component.componentParams,
                hidden: !!$component.previewVersion()
            },
            {
                title: ko.i18n('cc.viewEdit.tabs.utilities', 'Utilities'),
                key: 'utilities',
                componentName: 'characterization-view-edit-utils',
                componentParams: $component.componentParams,
                hidden: !!$component.previewVersion()
            },
            {
                title: ko.i18n('cc.viewEdit.tabs.versions', 'Versions'),
                key: 'versions',
                componentName: 'versions',
                componentParams: $component.versionsParams,
            },
            {
                title: ko.i18n('cc.viewEdit.tabs.messages', 'Messages'),
                key: 'messages',
                componentName: 'warnings',
                componentParams: $component.warningParams,
                hasBadge: true,
                preload: true,
            },
        ]">
    </tabs>
</div>
<!-- /ko -->

<configure-access-modal params="
	isModalShown: $component.isAccessModalShown,
	isOwnerFn: $component.isOwnerFn,
	loadAccessListFn: $component.loadAccessList,
	grantAccessFn: $component.grantAccess,
	revokeAccessFn: $component.revokeAccess,
	loadRoleSuggestionsFn: $component.loadAccessRoleSuggestions
"></configure-access-modal>

<tags-modal params="
	isModalShown: $component.isTagsModalShown,
	tagsList: $component.tagsList,
	assignTagFn: $component.assignTag,
	unassignTagFn: $component.unassignTag,
	createNewTagFn: $component.createNewTag,
	loadAvailableTagsFn: $component.loadAvailableTags,
	checkAssignPermissionFn: $component.checkAssignPermission,
	checkUnassignPermissionFn: $component.checkUnassignPermission
"></tags-modal>
