<div data-bind="
    css: classes({ extra: 'panel panel-primary advanced-panel' }),
    collapsable: showText, collapseTargetClass: 'panel-body',
    collapseOptions: { selectorClass: 'panel-heading', collapsabledClass: 'active'}">
    <div data-bind=" click: toggleShow" class="panel-heading panel-heading-collapsible">
        <div data-bind="text: title"></div>
        <div>
            <span class="icon-chevron"></span>
        </div>
    </div>
    <div class="panel-body collapse">
        <!-- ko template: { name: templateId, data: context } --><!-- /ko -->
    </div>
</div>





