<div role="tabpanel" class="warnings-button-pane pull-right">
    <button class="btn btn-sm btn-primary" type="button" data-bind="enable: canDiagnose, click: onDiagnose">Run diagnostics</button>
</div>
<div data-bind="eventListener:[{event:'click', selector: '.btn-fix', callback: fixRedundantConceptSet}]">
    <table class="conceptset-warnings stripe compact hover" cellspacing="0" data-bind="dataTable:{
            data: warnings,
            options: {
                deferRender: true,
                orderClasses: false,
                autoWidth: false,
                columnDefs: [
                  { width: '100px', targets: 0 },
                  { witdh: '100%', targets: 1 },
                ],
                columns: [
                  { data: 'severity', title: 'Severity', width: '100px', render: renderSeverity },
                  { data: 'message', title: 'Message', width: '100%', render: renderMessage }
                ],
            }
        }">
    </table>
</div>
<loading data-bind="visible: loading" params="status: 'Running Diagnostics'"></loading>