<div>
    <table width="100%" cellspacing="0" data-bind="dataTable:{
                            data: roles(),
                            options: {
                                        dom: 'Bliprt',
                                        buttons: [],
                                        pageLength: tableOptions.pageLength,
                                        lengthMenu: tableOptions.lengthMenu,
                                        orderClasses: false,
                                        deferRender: true,
                                        autoWidth: false,
                                        ordering: true,
                                        order: [[ 1, 'asc' ]],
                                        columns: [
                                            {
                                                title: ko.i18n('columns.selected', 'Selected'),
                                                class: 'text-center', width: '1.5rem',
                                                render: function(){ return renderCheckbox('selected'); }
                                            },
                                            {
                                                title: ko.i18n('columns.atlasRole', 'Atlas role'),
                                                width: '100%',
                                                data: 'role'
                                            },
                                        ],
                                        stripeClasses : [ 'roleItem' ],
                                        language: ko.i18n('datatable.language')
                                }
                              }, css: classes({ extra: ['stripe','compact','hover'] })">
    </table>
</div>
