<div data-bind="css: classes('button-group')">
    <button data-bind="css: classes({extra: ['btn', 'btn-sm', 'btn-success']}), click: loadHistory, text: ko.i18n('common.refresh', 'Refresh')"></button>
</div>

<loading data-bind="css: classes('loading-panel'), visible: $component.loading()" params="status: ko.i18n('configuration.userImport.loadingHistory', 'Loading User Import Job History...')"></loading>
<!-- ko if: !$component.loading() -->
<table width="100%" cellspacing="0" data-bind="dataTable:{
                            data: jobHistory(),
                            options: {
                                        dom: 'lfiprt',
                                        pageLength: tableOptions.pageLength,
                                        lengthMenu: tableOptions.lengthMenu,
                                        orderClasses: false,
                                        deferRender: true,
                                        autoWidth: false,
                                        ordering: true,
                                        order: [[ 4, 'desc' ]],
                                        columns: [
                                                {
                                                    title: ko.i18n('columns.status', 'Status'),
                                                    data: 'status',
                                                    render: utils.JobStatusRender
                                                },
                                                {
                                                    title: ko.i18n('columns.provider', 'Provider'),
                                                    data: 'providerType',
                                                    render: utils.ProviderRender
                                                },
                                                {
                                                    title: ko.i18n('columns.title', 'Status'),
                                                    data: 'jobTitle',
                                                },
                                                {
                                                    title: ko.i18n('columns.author', 'Author'),
                                                    data: 'author',
                                                },
                                                {
                                                    title: ko.i18n('columns.started', 'Started'),
                                                    render: datatableUtils.getDateFieldFormatter('startTime')
                                                },
                                                {
                                                    title: ko.i18n('columns.finished', 'Finished'),
                                                    render: datatableUtils.getDateFieldFormatter('endTime')
                                                },
                                                {
                                                    title: ko.i18n('columns.message', 'Message'),
                                                    data: 'exitMessage', render: utils.ExitMessageRender
                                                }
                                        ],
                                        stripeClasses : [ 'roleItem' ],
                                        language: ko.i18n('datatable.language')
                                }
                              }, css: classes({extra: ['stripe', 'compact', 'hover']})">
</table>
<!-- /ko -->
<atlas-modal params="
    showModal: messageModal,
    title: 'Job Exit Message',
    data: { classes, exitMessageItems },
">
    <div data-bind="css: $root.classes({extra: 'panel-body'})">
        <ul data-bind="css: classes('messages-list')">
            <!-- ko foreach: exitMessageItems -->
                <li data-bind="text: $data"></li>
            <!-- /ko -->
        </ul>
    </div>
</atlas-modal>