<div data-bind="css: classes({ extra: ['paddedWrapper'] })">
    <div data-bind="css: classes({ extra: ['form-group'] })">
        <label data-bind="text: ko.i18n('configuration.userImport.searchGroup', 'Search group:')"></label>
        <div data-bind="css: classes({ element: 'row', extra: ['input-group'] })">
            <input type="text" data-bind="textInput: searchText, css: classes({ extra: ['form-control'] }), event: { 'keyup': onSubmitSearch }, keyupBubble: false, placeholder: ko.i18n('configuration.userImport.searchGroupPlaceholder', 'Search...')"/>
            <button data-bind="click: searchGroups, css: classes({ extra: ['btn', 'btn-sm', 'btn-primary'] })"><i class="fa fa-search"></i> <span data-bind="text: ko.i18n('common.search', 'Search')"></span></button>
        </div>
    </div>
    <div data-bind="if: !loading() && hasResults()">
        <table width="100%" cellspacing="0" data-bind="dataTable:{
                            data: searchResults(),
                            options: {
                                        dom: 'liprt',
                                        pageLength: tableOptions.pageLength,
                                        lengthMenu: tableOptions.lengthMenu,
                                        orderClasses: false,
                                        deferRender: true,
                                        autoWidth: false,
                                        ordering: true,
                                        order: [[ 1, 'asc' ]],
                                        columns: [
                                            {
                                                title: ko.i18n('columns.selected', 'Selected'),
                                                class: 'text-center',
                                                width: '1.5rem',
                                                render: function(){ return renderCheckbox('included'); }
                                            },
                                            {
                                                title: ko.i18n('columns.groupName', 'Group name'),
                                                width: '100%',
                                                data: 'displayName'
                                            },
                                        ],
                                        stripeClasses : [ 'roleItem' ],
                                        language: ko.i18n('datatable.language')
                                }
                              }, css: classes({ extra: ['stripe','compact','hover'] })">
        </table>
    </div>
    <div data-bind="css: classes('loader'), if: loading()">
        <loading params="status: ko.i18n('common.loading', 'Loading')" />
    </div>
</div>