<table width="100%" cellspacing="0" data-bind="dataTable:{
                            data: rolesMapping,
                            onRowClick: $component.onRolesRowClick,
                            options: {
                                        dom: 'lfiprt',
                                        pageLength: tableOptions.pageLength,
                                        lengthMenu: tableOptions.lengthMenu,
                                        orderClasses: false,
                                        deferRender: true,
                                        autoWidth: true,
                                        ordering: true,
                                        order: [[ 0, 'asc' ]],
                                        columns: [
                                                { title: ko.i18n('columns.role', 'Role'), data: 'role' },
                                                { title: ko.i18n('columns.groupName', 'Group name'), render: renderGroups },
                                        ],
                                        stripeClasses : [ 'roleItem' ],
                                        language: ko.i18n('datatable.language')
                                }
                              }, css: classes({extra: ['stripe', 'compact', 'hover']})">
</table>

<search-group-dialog params="open: isSearchGroupDialog, importProvider: provider, selectedRole: selectedRole, searchResults: searchResults, setGroupMapping: setGroupMapping, closeModal: closeGroupModal">
</search-group-dialog>