<div class="paddedWrapper">
    <div>
        <div class="row">
            <div data-bind="css: classes('analysis-name-container')"><label data-bind="css: classes('analysis-name'), text: ko.i18n('ple.spec.analysisName', 'Analysis name:')"></label></div>
            <div><input class="form-control" type="text" data-bind="css: classes('analysis-name', 'analysis-name-input'), textInput: $component.analysis.description, attr: {disabled: !isEditPermitted()}" /></div>
        </div>
    </div>
    <div id="filters" data-bind="css: classes('filter-group-bordered')">
        <div class="row">
            <div class="pull-left" data-bind="css: classes('filter-view'), text: ko.i18n('ple.spec.view', 'View:')"></div>
            <div class="pull-left">
                <ul class="nav nav-pills">
                <li role="presentation" data-bind="css: {active: $component.editorMode() == 'all' }, click: function() {$component.editorMode('all') };"><a data-bind="text: ko.i18n('ple.spec.viewFull', 'All')"></a></li>
                <li role="presentation" data-bind="css: {active: $component.editorMode() == 'studyPop' }, click: function() {$component.editorMode('studyPop') };"><a data-bind="text: ko.i18n('ple.spec.studyPopulation', 'Study Population')"></a></li>
                <li role="presentation" data-bind="css: {active: $component.editorMode() == 'covariates' }, click: function() {$component.editorMode('covariates') };"><a data-bind="text: ko.i18n('ple.spec.covariateSettings', 'Covariate Settings')"></a></li>
                <li role="presentation" data-bind="css: {active: $component.editorMode() == 'timeAtRisk' }, click: function() {$component.editorMode('timeAtRisk') };"><a data-bind="text: ko.i18n('ple.spec.timeAtRisk', 'Time At Risk')"></a></li>
                <li role="presentation" data-bind="css: {active: $component.editorMode() == 'psAdjustment' }, click: function() {$component.editorMode('psAdjustment') };"><a data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustment', 'Propensity Score Adjustment')"></a></li>
                <li role="presentation" data-bind="css: {active: $component.editorMode() == 'outcome' }, click: function() {$component.editorMode('outcome') };"><a data-bind="text: ko.i18n('ple.spec.outcomeModel', 'Outcome Model')"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div role="tabpanel" data-bind="visible: $component.editorMode() == 'all' || $component.editorMode() == 'studyPop'" class="tab-pane">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-users" aria-hidden="true"></i> <span data-bind="text: ko.i18n('ple.spec.studyPopulation', 'Study Population')"></span>
            </div>
            <div data-bind="css:{'panel-body':true, 'div-disabled':!$component.isEditPermitted()}">
                <div>
                    <label data-bind="text: ko.i18n('ple.spec.studyPopulationPanel.startDate', 'Study start date - a calendar date specifying the minimum date that a cohort index can appear (leave blank to use all time):')"></label>
                    <div class="input-group">
                        <input placeholder="YYYY-MM-DD" class="form-control dateField" data-bind="datepicker: $component.studyStartDate, datepickerOptions: { defaultDate: new Date(), dateFormat: 'yy-mm-dd' }">
                    </div>
                </div>
                <div>
                    <label data-bind="html: ko.i18n('ple.spec.studyPopulationPanel.endDate', 'Study end date - a calendar date specifying the maximum date that a cohort index can appear (leave blank to use all time). <b>Important</b>: the study end date is also used to truncate risk windows, meaning no outcomes beyond the study end date will be considered.')"></label>
                    <div class="input-group">
                        <input placeholder="YYYY-MM-DD" class="form-control dateField" data-bind="datepicker:  $component.studyEndDate, datepickerOptions: { defaultDate: new Date(), dateFormat: 'yy-mm-dd' }">
                    </div>
                </div>
                <div>
                    <label data-bind="html: ko.i18n('ple.spec.studyPopulationPanel.restrictToPeriod', 'Restrict the study to the period when both exposures are present in the data? (E.g. when both drugs are on the market)')"></label>
                    <div class="input-group">
                        <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.analysis.getDbCohortMethodDataArgs.restrictToCommonPeriod"></select>
                    </div>
                </div>
                <div>
                    <label data-bind="html: ko.i18n('ple.spec.studyPopulationPanel.onlyFirst', 'Should only the first exposure per subject be included?')"></label>
                    <div class="input-group">
                        <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.analysis.getDbCohortMethodDataArgs.firstExposureOnly"></select>
                    </div>
                </div>
                <div>
                    <label data-bind="html: ko.i18n('ple.spec.studyPopulationPanel.minimumObservations', 'The minimum required continuous observation time (in days) prior to index date for a person to be included in the cohort.')"></label>
                    <div class="input-group">
                        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.analysis.getDbCohortMethodDataArgs.washoutPeriod, eventType:'blur', ko_autocomplete: { value: $component.analysis.getDbCohortMethodDataArgs.washoutPeriod, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
                    </div>
                </div>
                <div>
                    <label data-bind="html: ko.i18n('ple.spec.studyPopulationPanel.removeDuplicates', 'Remove subjects that are in both the target and comparator cohort?')"></label>
                    <div class="input-group">
                        <select class="form-control" data-bind="options: $component.options.removeDuplicateSubjectOptions, optionsText:'name', optionsValue:'id', value: $component.analysis.getDbCohortMethodDataArgs.removeDuplicateSubjects"></select>
                    </div>
                </div>
                <div>
                    <label data-bind="html: ko.i18n('ple.spec.studyPopulationPanel.subjectInMultipleCohorts', 'If a subject is in multiple cohorts, should time-at-risk be censored when the new time-at-risk start to prevent overlap?')"></label>
                    <div class="input-group">
                        <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.analysis.createStudyPopArgs.censorAtNewRiskWindow"></select>
                    </div>
                </div>
                <div>
                    <label data-bind="html: ko.i18n('ple.spec.studyPopulationPanel.removeSubjectsPriorRiskWindow', 'Remove subjects that have the outcome prior to the risk window start?')"></label>
                    <div class="input-group">
                        <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.analysis.createStudyPopArgs.removeSubjectsWithPriorOutcome"></select>
                    </div>
                </div>
                <div data-bind="visible: $component.analysis.createStudyPopArgs.removeSubjectsWithPriorOutcome()">
                    <label data-bind="html: ko.i18n('ple.spec.studyPopulationPanel.daysPriorOutcomes', 'How many days should we look back when identifying prior outcomes?')"></label>
                    <div class="input-group">
                        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.analysis.createStudyPopArgs.priorOutcomeLookback, eventType:'blur', ko_autocomplete: { value: $component.analysis.createStudyPopArgs.priorOutcomeLookback, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
                    </div>
                </div>
                <div>
                    <label data-bind="html: ko.i18n('ple.spec.studyPopulationPanel.cohortCap', 'If either the target or the comparator cohort is larger than this number it will be sampled to this size. (0 for this value indicates no maximum size)')"></label>
                    <div class="input-group">
                        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.analysis.getDbCohortMethodDataArgs.maxCohortSize, eventType:'blur', ko_autocomplete: { value: $component.analysis.getDbCohortMethodDataArgs.maxCohortSize, source: $component.options.maxCohortSizeOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" data-bind="visible: $component.editorMode() == 'all' || $component.editorMode() == 'covariates'" class="tab-pane">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-cogs" aria-hidden="true"></i> <span data-bind="text: ko.i18n('ple.spec.covariateSettings', 'Covariate Settings')"></span>
            </div>
            <div class="panel-body">
                <div>
                    <label><span data-bind="text: ko.i18n('ple.spec.usingCovariates', 'Using OHDSI covariates for propensity score model.')"></span>
                        (<span class="linkish" data-bind="click: () => { showCovariateSelector(true) }, text: ko.i18n('ple.spec.clickToViewDetails', 'Click to view details')"></span>)</label>
                </div>
                <div>
                    <label data-bind="html: ko.i18n('ple.spec.conceptsToIncludeLabel', 'Concepts to <b>include</b> when constructing the covariates to be used in this study. (Leave blank if you want to include every concept).*')"></label>
                    <div class="input-group">
                        <input class="form-control" type="text" disabled data-bind="value: $component.analysis.getDbCohortMethodDataArgs.covariateSettings.includedCovariateConceptSet().name" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" data-bind="click:chooseIncludedCovariates, disable: !$component.isEditPermitted()"><i class="fa fa-folder-open"></i></button>
                            <button class="btn btn-danger" data-bind="disable:($component.analysis.getDbCohortMethodDataArgs.covariateSettings.includedCovariateConceptSet().id == 0 || !$component.isEditPermitted()),click:clearIncludedCovariates" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                        </span>
                    </div>
                    <label><i data-bind="text: ko.i18n('ple.spec.conceptsToIncludeNoteAnalysis', '* Concepts defined here are combined with those defined in the Comparisons section.')"></i></label>
                </div>
                <hr/>
                <div>
                    <label data-bind="html: ko.i18n('ple.spec.conceptsToExcludeLabel', 'Concepts to <b>exclude</b> when constructing the covariates to be used in this study.*')"></label>
                    <div class="input-group">
                        <input class="form-control" type="text" disabled data-bind="value: $component.analysis.getDbCohortMethodDataArgs.covariateSettings.excludedCovariateConceptSet().name" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" data-bind="click:chooseExcludedCovariates, disable: !$component.isEditPermitted()"><i class="fa fa-folder-open"></i></button>
                            <button class="btn btn-danger" data-bind="disable:($component.analysis.getDbCohortMethodDataArgs.covariateSettings.excludedCovariateConceptSet().id == 0 || !$component.isEditPermitted()),click:clearExcludedCovariates" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                        </span>
                    </div>
                    <label><i data-bind="text: ko.i18n('ple.spec.conceptsToExcludeNoteAnalysis', '* Concepts defined here are combined with those defined in the Comparisons section.')"></i></label>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" data-bind="visible: $component.editorMode() == 'all' || $component.editorMode() == 'timeAtRisk'" class="tab-pane">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-clock-o" aria-hidden="true"></i> <span data-bind="text: ko.i18n('ple.spec.timeAtRisk', 'Time At Risk')"></span>
            </div>
            <div data-bind="css:{'panel-body':true, 'div-disabled': !$component.isEditPermitted()}">
                <div>
                    <label data-bind="text: ko.i18n('ple.spec.timeAtRiskPanel.defineTheTimeAtRiskWindowStart', 'Define the time-at-risk window start, relative to target/comparator cohort entry:')"></label>
                    <div class="input-group">
                        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.analysis.createStudyPopArgs.riskWindowStart, eventType:'blur', ko_autocomplete: { value: $component.analysis.createStudyPopArgs.riskWindowStart, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" /> &nbsp;<span data-bind="text: ko.i18n('ple.spec.timeAtRiskPanel.daysFrom', 'days from')"></span>&nbsp; <select data-bind="options: $component.constants.timeAtRiskCohortDate, optionsText:'name', optionsValue:'id', value: $component.analysis.createStudyPopArgs.addExposureDaysToStart"></select>
                    </div>
                </div>
                <div>
                    <label data-bind="text: ko.i18n('ple.spec.timeAtRiskPanel.defineTheTimeAtRiskWindowEnd', 'Define the time-at-risk window end:')"></label>
                    <div class="input-group">
                        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.analysis.createStudyPopArgs.riskWindowEnd, eventType:'blur', ko_autocomplete: { value: $component.analysis.createStudyPopArgs.riskWindowEnd, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />  &nbsp;<span data-bind="text: ko.i18n('ple.spec.timeAtRiskPanel.daysFrom', 'days from')"></span>&nbsp; <select data-bind="options: $component.constants.timeAtRiskCohortDate, optionsText:'name', optionsValue:'id', value: $component.analysis.createStudyPopArgs.addExposureDaysToEnd"></select>
                    </div>
                </div>
                <div>
                    <label data-bind="text: ko.i18n('ple.spec.timeAtRiskPanel.minimumNumberOfDaysAtRisk', 'The minimum number of days at risk?')"></label>
                    <div class="input-group">
                        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.analysis.createStudyPopArgs.minDaysAtRisk, eventType:'blur', ko_autocomplete: { value: $component.analysis.createStudyPopArgs.minDaysAtRisk, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" data-bind="visible: $component.editorMode() == 'all' || $component.editorMode() == 'psAdjustment'" class="tab-pane">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-balance-scale" aria-hidden="true"></i> <span data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustment', 'Propensity Score Adjustment')"></span>
            </div>
            <div class="panel-body">
                <div data-bind="css:{'div-disabled': !$component.isEditPermitted()}">
                    <div>
                        <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.howToTrim', 'How do you want to trim your cohorts based on the propensity score distribution?')"></label>
                        <div class="input-group">
                            <select class="form-control" data-bind="options: $component.options.trimOptions, optionsText:'name', optionsValue:'id', value: $component.trimSelection"></select>
                        </div>
                    </div>
                    <div data-bind="visible: $component.trimSelection() == 'byPercent'">
                        <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.trimFraction', 'Trim Fraction (1-100%):')"></label>
                        <div class="input-group">
                            <input class="form-control" type="text" data-bind="value: $component.trimFraction" />
                        </div>
                    </div>
                    <div data-bind="visible: $component.trimSelection() == 'toEquipoise'">
                        <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.lowerAndUpperBound', 'Specify the lower and upper bound on the preference score for keeping persons (specify as: min %, max %, eg: 25,75):')"></label>
                        <div class="input-group">
                            <input class="form-control" type="text" data-bind="value: $component.bounds" />
                        </div>
                    </div>
                    <div>
                        <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.matchingOrStratification', 'Do you want to perform matching or stratification?')"></label>
                        <div class="input-group">
                            <select class="form-control" data-bind="options: $component.options.matchStratifyOptions, optionsText:'name', optionsValue:'id', value: $component.matchStratifySelection"></select>
                        </div>
                    </div>
                    <div data-bind="visible: $component.matchStratifySelection() == 'matchOnPs'">
                        <match-args-editor params="matchArgs: $component.analysis.matchOnPsArgs, isEditPermitted: $component.isEditPermitted"></match-args-editor>
                    </div>
                    <div data-bind="visible: $component.matchStratifySelection() == 'matchOnPsAndCovariates'">
                        <match-args-editor params="matchArgs: $component.analysis.matchOnPsAndCovariatesArgs, isEditPermitted: $component.isEditPermitted"></match-args-editor>
                    </div>
                    <div data-bind="visible: $component.matchStratifySelection() == 'stratifyByPs'">
                        <stratify-args-editor params="stratifyArgs: $component.analysis.stratifyByPsArgs, isEditPermitted: $component.isEditPermitted"></stratify-args-editor>
                    </div>
                    <div data-bind="visible: $component.matchStratifySelection() == 'stratifyOnPsAndCovariates'">
                        <stratify-args-editor params="stratifyArgs: $component.analysis.stratifyByPsAndCovariatesArgs, isEditPermitted: $component.isEditPermitted"></stratify-args-editor>
                    </div>
                    <div>
                        <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.maxNumberOfPeople', 'What is the maximum number of people to include in the propensity score model when fitting? Setting this number to 0 means no down-sampling will be applied:')"></label>
                        <div class="input-group">
                            <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.analysis.createPsArgs.maxCohortSizeForFitting, eventType:'blur', ko_autocomplete: { value: $component.analysis.createPsArgs.maxCohortSizeForFitting, source: $component.options.maxCohortSizeForFittingOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
                        </div>
                    </div>
                    <div>
                        <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.testEachCovariate', 'Test each covariate for correlation with the target assignment? If any covariate has an unusually high correlation (either positive or negative), this will throw an error.')"></label>
                        <div class="input-group">
                            <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.analysis.createPsArgs.errorOnHighCorrelation"></select>
                        </div>
                    </div>
                    <div>
                        <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.useRegularization', 'Use regularization when fitting the propensity model?')"></label>
                        <div class="input-group">
                            <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.useRegularization"></select>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="css: classes('subsection'), visible: $component.useRegularization">
                    <div class="col-md-6">
                        <div class="panel panel-primary" data-bind="collapsable: showControlDisplay, collapseTargetClass: 'panel-body', collapseOptions: { selectorClass: 'panel-heading', collapsabledClass: 'active' }">
                            <div class="panel-heading panel-subheading panel-heading-collapsible" data-bind="click: toggleControlDisplay">
                                <span class="glyphicon-chevron-up"><i class="fa fa-cogs"></i> <span data-bind="text: ko.i18n('ple.spec.controlSettings', 'Control Settings')"></span></span>
                            </div>
                            <div class="panel-body collapse" data-bind="css:{'div-disabled': !$component.isEditPermitted()}">
                                <cyclops-control-editor params="control: $component.analysis.createPsArgs.control, isEditPermitted: $component.isEditPermitted"></cyclops-control-editor>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary" data-bind="collapsable: showPriorDisplay, collapseTargetClass: 'panel-body', collapseOptions: { selectorClass: 'panel-heading', collapsabledClass: 'active' }">
                            <div class="panel-heading panel-subheading panel-heading-collapsible" data-bind="click: togglePriorDisplay">
                                <span class="glyphicon-chevron-up"><i class="fa fa-cogs"></i> <span data-bind="text: ko.i18n('ple.spec.prior', 'Prior')"></span></span>
                            </div>
                            <div class="panel-body collapse" data-bind="css:{'div-disabled': !$component.isEditPermitted()}">
                                <cyclops-prior-editor params="prior: $component.analysis.createPsArgs.prior, isEditPermitted: $component.isEditPermitted"></cyclops-prior-editor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" data-bind="visible: $component.editorMode() == 'all' || $component.editorMode() == 'outcome'" class="tab-pane">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-cogs"></i> <span data-bind="text: ko.i18n('ple.spec.outcomeModel', 'Outcome Model')"></span>
            </div>
            <div class="panel-body">
                <div>
                    <outcome-model-args-editor params="isEditPermitted: $component.isEditPermitted, matchStratifySelection: $component.matchStratifySelection, outcomeModelArgs: $component.analysis.fitOutcomeModelArgs, subscriptions: $component.subscriptions"></outcome-model-args-editor>
                </div>
            </div>
        </div>
    </div>
</div>
<atlas-modal params="{
    showModal: showConceptSetSelector,
    modifiers: ['lg'],
    iconClass: 'fa fa-shopping-cart',
    title: ko.i18n('ple.spec.selectConceptSet', 'Select Concept Set...'),
    data: {
        currentConceptSet: $component.currentConceptSet,
        conceptsetSelected: $component.conceptsetSelected,
        showConceptSetSelector: $component.showConceptSetSelector,
    }
}">
    <concept-set-browser params="{onRespositoryConceptSetSelected: data => conceptsetSelected(data)}"></concept-set-browser>
</atlas-modal>
<atlas-modal params="{
    showModal: showCovariateSelector,
    modifiers: ['lg'],
    iconClass: 'fa fa-shopping-cart',
    title: ko.i18n('ple.spec.selectCovariates', 'Select Covariates...'),
    data: {
        covariateSettings: $component.analysis.getDbCohortMethodDataArgs.covariateSettings,
        showCovariateSelector: $component.showCovariateSelector,
        isEditPermitted: $component.isEditPermitted
    }
}">
    <covar-settings-editor params="covariateSettings: covariateSettings, isEditPermitted: isEditPermitted"></covar-settings-editor>
</atlas-modal>