<div class="paddedWrapper">
    <div>
        <label data-bind="text: ko.i18n('ple.spec.chooseYourTargetCohort', 'Choose your target cohort:')"></label>
        <div class="input-group">
            <input class="form-control" type="text" disabled data-bind="value: comparison.target().name" />
            <span class="input-group-btn">
                <button class="btn btn-primary" data-bind="click:chooseTarget, disable: !$component.isEditPermitted()"><i class="fa fa-folder-open"></i></button>
                <button class="btn btn-danger" data-bind="disable: comparison.target().id == 0 || !$component.isEditPermitted(), click:clearTarget" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.chooseYourComparatorCohort', 'Choose your comparator cohort:')"></label>
        <div class="input-group">
            <input class="form-control" type="text" disabled data-bind="value: comparison.comparator().name" />
            <span class="input-group-btn">
                <button class="btn btn-primary" data-bind="click:chooseComparator, disable: !$component.isEditPermitted()"><i class="fa fa-folder-open"></i></button>
                <button class="btn btn-danger" data-bind="disable: comparison.comparator().id == 0 || !$component.isEditPermitted(), click:clearComparator" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.chooseYourOutcomeCohorts:', 'Choose your outcome cohorts:')"></label>
    </div>
    <div>
        <linked-cohort-list params="{title: ' ', newItemLabel: ko.i18n('ple.spec.addOutcome', 'Add Outcome'), data: $component.comparison.outcomes, multiChoice: true, isEditPermitted: $component.isEditPermitted}"></linked-cohort-list>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.negativeControlConceptSet', 'Negative control concept set:')"></label>
        <div class="input-group">
            <input class="form-control" type="text" disabled data-bind="value: comparison.negativeControlOutcomesConceptSet().name" />
            <span class="input-group-btn">
                <button class="btn btn-primary" data-bind="click:chooseNegativeControlOutcomesConceptSet, disable: !$component.isEditPermitted()"><i class="fa fa-folder-open"></i></button>
                <button class="btn btn-danger" data-bind="disable:(comparison.negativeControlOutcomesConceptSet().id == 0 || !$component.isEditPermitted()), click:clearNegativeControlOutcomesConceptSet" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
    <div class="panel panel-default" data-bind="css: classes('panel-buffer')">
        <div class="panel-heading panel-subheading">
            <i class="fa fa-cog"></i> <span data-bind="text: ko.i18n('ple.spec.covariateSelection', 'Covariate selection')">Covariate selection</span>
        </div>
        <div class="panel-body">
            <div>
                <label data-bind="html: ko.i18n('ple.spec.conceptsToIncludeLabel', 'Concepts to <b>include</b> when constructing the covariates to be used in this study. (Leave blank if you want to include every concept).*')"></label>
                <div class="input-group">
                    <input class="form-control" type="text" disabled data-bind="value: comparison.includedCovariateConceptSet().name" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" data-bind="click:chooseIncludedCovariateConceptSet, disable: !$component.isEditPermitted()"><i class="fa fa-folder-open"></i></button>
                        <button class="btn btn-danger" data-bind="disable: (comparison.includedCovariateConceptSet().id == 0 || !$component.isEditPermitted()), click:clearIncludedCovariateConceptSet" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                    </span>
                </div>
                <label><i data-bind="text: ko.i18n('ple.spec.conceptsToIncludeNoteComparisons', '* Concepts defined here are combined with those defined in the Analysis settings section.')"></i></label>
            </div>
            <hr/>
            <div>
                <label data-bind="html: ko.i18n('ple.spec.conceptsToExcludeLabel', 'Concepts to <b>exclude</b> when constructing the covariates to be used in this study.*')"></label>
                <div class="input-group">
                    <input class="form-control" type="text" disabled data-bind="value: comparison.excludedCovariateConceptSet().name" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" data-bind="click:chooseExcludedCovariateConceptSet, disable: !$component.isEditPermitted()"><i class="fa fa-folder-open"></i></button>
                        <button class="btn btn-danger" data-bind="disable: (comparison.excludedCovariateConceptSet().id == 0 || !$component.isEditPermitted()), click:clearExcludedCovariateConceptSet" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                    </span>
                </div>
                <label><i data-bind="text: ko.i18n('ple.spec.conceptsToExcludeNoteComparisons', '* Concepts defined here are combined with those defined in the Analysis settings section.')"></i></label>
            </div>
        </div>
    </div>
</div>
<atlas-modal params="{
    showModal: showCohortSelector,
    modifiers: ['lg'],
    iconClass: 'fa fa-users',
    title: ko.i18n('ple.spec.selectCohort', 'Select Cohort...'),
    data: {
        currentCohort: $component.currentCohort,
        cohortSelected: $component.cohortSelected,
        showCohortSelector: $component.showCohortSelector,
    }
}">
    <cohort-definition-browser params="{onSelect: data => cohortSelected(data.id, data.name)}"></cohort-definition-browser>
</atlas-modal>
<atlas-modal params="{
    showModal: showConceptSetSelector,
    modifiers: ['lg'],
    iconClass: 'fa fa-shopping-cart',
    title: ko.i18n('ple.spec.selectConceptSet', 'Select Concept Set...'),
    data: {
        currentConceptSet: $component.currentConceptSet,
        conceptsetSelected: $component.conceptsetSelected,
        showConceptSetSelector: $component.showConceptSetSelector,
    }
}">
    <concept-set-browser params="{onRespositoryConceptSetSelected: data => conceptsetSelected(data)}"></concept-set-browser>
</atlas-modal>