<div>
    <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.maximumNumberOfPersons', 'What is the maximum number of persons in the comparator arm to be matched to each person in the target arm within the defined caliper? (0 = means no maximum - all comparators will be assigned to a target person):')"></label>
    <div class="input-group">
        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.matchArgs.maxRatio, eventType:'blur', ko_autocomplete: { value: $component.matchArgs.maxRatio, source: $component.options.maxRatioOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.caliperForMatching', 'What is the caliper for matching:')"></label>
    <div class="input-group">
        <input class="form-control" type="text" data-bind="value: $component.matchArgs.caliper" />
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.caliperScale', 'What is the caliper scale:')"></label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.caliperScaleOptions, optionsText:'name', optionsValue:'id', value: $component.matchArgs.caliperScale"></select>
    </div>
</div>
<div data-bind="visible: $component.hasCovariateIds()">
    <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.covariateIdsMatch', 'One or more covariate IDs in the cohortMethodData object on which subjects should be also matched.')"></label>
    <div class="input-group">
        <input class="form-control" type="text" data-bind="textInput: $component.matchArgs.covariateIds, placeholder: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.covariateIdsPlaceholder', 'One or more covariate IDs')" />
    </div>
</div>
