<div data-bind="css:{'div-disabled': !$component.isEditPermitted()}">
    <div>
        <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.typeOfOccurence', 'The type of occurrence of the event when selecting from the domain.')"></label>
        <div class="input-group">
            <select class="form-control" data-bind="options: $component.options.occurrenceTypeOptions, optionsText:'name', optionsValue:'id', value: $component.negativeControlCohortSettings().occurrenceType"></select>
        </div>
    </div>   
    <div>
        <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.whenTrueDescendantConcepts', 'When true, descendant concepts for the negative control outcome concept IDs will be used to detect the outcome and roll up the occurrence to the concept ID:')"></label>
        <div class="input-group">
            <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.negativeControlCohortSettings().detectOnDescendants"></select>
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.whatDomains', 'What domains should be considered to detect negative control outcomes? (Hold control to select multiple domains)')"></label>
        <div class="input-group">
            <select data-bind="options: $component.options.domains, optionsText:'name', optionsValue:'id', selectedOptions: $component.negativeControlCohortSettings().domains" size="7" multiple="true"></select>
        </div>
    </div>
</div>
