<div data-bind="css:{'div-disabled': !$component.isEditPermitted()}">
    <div>
        <label data-bind="text: ko.i18n('ple.spec.outcomeModelPanel.statisticalModel', 'Specify the statistical model used to estimate the risk of outcome between target and comparator cohorts:')"></label>
        <div class="input-group">
            <select class="form-control" data-bind="options: $component.options.outcomeModelTypeOptions, optionsText:'name', optionsValue:'id', value: $component.outcomeModelArgs.modelType"></select>
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.outcomeModelPanel.regression', 'Should the regression be conditioned on the strata defined in the population object (e.g. by matching or stratifying on propensity scores)?')"></label>
        <div class="input-group">
            <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.outcomeModelArgs.stratified"></select>
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.outcomeModelPanel.covariates', 'Should the covariates also be included in the outcome model?')"></label>
        <div class="input-group">
            <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.outcomeModelArgs.useCovariates"></select>
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.outcomeModelPanel.weighting', 'Use inverse probability of treatment weighting?')"></label>
        <div class="input-group">
            <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.outcomeModelArgs.inversePtWeighting"></select>
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.outcomeModelPanel.regularization', 'Use regularization when fitting the outcome model? *')"></label>
        <div class="input-group">
            <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.useRegularization"></select>
        </div>
        <label><i data-bind="text: ko.i18n('ple.spec.outcomeModelPanel.regularizationNote', '* Regularization will not be applied to the exposure of interest, just to the covariates.')"></i></label>
    </div>
</div>
<div class="row" data-bind="css: classes('subsection'), visible: $component.useRegularization">
    <div class="col-md-6">
        <div class="panel panel-primary" data-bind="collapsable: showControlDisplay, collapseTargetClass: 'panel-body', collapseOptions: { selectorClass: 'panel-heading', collapsabledClass: 'active' }">
            <div class="panel-heading panel-subheading panel-heading-collapsible" data-bind="click: toggleControlDisplay">
                <span class="glyphicon-chevron-up"><i class="fa fa-cogs"></i> <span data-bind="text: ko.i18n('ple.spec.controlSettings', 'Control Settings')"></span></span>
            </div>
            <div class="panel-body collapse" data-bind="css:{'div-disabled': !$component.isEditPermitted()}">
                <cyclops-control-editor params="control: $component.outcomeModelArgs.control, isEditPermitted: $component.isEditPermitted"></cyclops-control-editor>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary" data-bind="collapsable: showPriorDisplay, collapseTargetClass: 'panel-body', collapseOptions: { selectorClass: 'panel-heading', collapsabledClass: 'active' }">
            <div class="panel-heading panel-subheading panel-heading-collapsible" data-bind="click: togglePriorDisplay">
                <span class="glyphicon-chevron-up"><i class="fa fa-cogs"></i> <span data-bind="text: ko.i18n('ple.spec.prior', 'Prior')"></span></span>
            </div>
            <div class="panel-body collapse" data-bind="css:{'div-disabled': !$component.isEditPermitted()}">
                <cyclops-prior-editor params="prior: $component.outcomeModelArgs.prior, isEditPermitted: $component.isEditPermitted"></cyclops-prior-editor>
            </div>
        </div>
    </div>
</div>