<div data-bind="css: {'div-disabled': !$component.isEditPermitted()}">
    <div>
        <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.modelType', 'Model Type:')"></label>
        <div class="input-group">
            <select class="form-control" data-bind="options: $component.options.modelType, optionsText:'name', optionsValue:'id', value: $component.settings().modelType"></select>
        </div>
    </div>
    <div>
        <label><span data-bind="text: ko.i18n('ple.spec.usingCovariates', 'Using OHDSI covariates for model')"></span>
            (<span class="linkish div-enabled" data-bind="click: () => { showCovariateSelector(true) }, text: ko.i18n('ple.spec.clickToViewDetails', 'Click to view details')"></span>)</label>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.defineTimeAtRiskWindowStart', 'Define the time-at-risk window start, relative to target/comparator cohort entry:')"></label>
        <div class="input-group">
            <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.settings().riskWindowStart, eventType:'blur', ko_autocomplete: { value: $component.settings().riskWindowStart, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" /> &nbsp;<span data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.daysFromCohortStartDate', 'days from cohort start date')"></span>&nbsp;
        </div>
    </div>
   <div>
        <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.defineTimeAtRiskWindowEnd', 'Define the time-at-risk window end:')"></label>
        <div class="input-group">
            <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.settings().riskWindowEnd, eventType:'blur', ko_autocomplete: { value: $component.settings().riskWindowEnd, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" /> &nbsp;<span data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.daysFrom', 'days from')"></span>&nbsp; <select data-bind="options: $component.constants.timeAtRiskCohortDate, optionsText:'name', optionsValue:'id', value: $component.settings().addExposureDaysToEnd"></select>
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.minimumRequiredTime', 'The minimum required continuous observation time (in days) prior to exposure:')"></label>
        <div class="input-group">
            <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.settings().washoutPeriod, eventType:'blur', ko_autocomplete: { value: $component.settings().washoutPeriod, source: $component.options.washoutPeriodOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.onlyFirstExposure', 'Should only the first exposure per subject be included?')"></label>
        <div class="input-group">
            <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.settings().firstExposureOnly"></select>
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.onlyFirstOutcome', 'Should only the first outcome per person be considered when modeling the outcome?')"></label>
        <div class="input-group">
            <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.settings().firstOutcomeOnly"></select>
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.removePeopleWithPrior', 'Remove people with prior outcomes?')"></label>
        <div class="input-group">
            <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.settings().removePeopleWithPriorOutcomes"></select>
        </div>
    </div>
    <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.advancedSettingsStartsHere', 'Advanced Settings start here')"></label>
    <div class="row" data-bind="css: classes('subsection')">
        <div class="panel panel-default" data-bind="collapsable: showAdditionalSettings, collapseTargetClass: 'panel-body', collapseOptions: { selectorClass: 'panel-heading', collapsabledClass: 'active' }">
            <div class="panel-heading panel-subheading panel-heading-collapsible div-enabled" data-bind="click: toggleAdditionalSettings">
                <span class="glyphicon-chevron-up"><i class="fa fa-cogs"></i> <span data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.additionalSettings', 'Additional Settings')"></span></span>
            </div>
            <div class="panel-body collapse">
                <div>
                    <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.maxNumberOfPeopleToFit', 'Maximum number of people used to fit an outcome model:')"></label>
                    <div class="input-group">
                        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.settings().maxSubjectsForModel, eventType:'blur', ko_autocomplete: { value: $component.settings().maxSubjectsForModel, source: $component.options.maxSubjectsForModelOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
                    </div>
                </div>
                <div>
                    <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.effectSizes', 'What effect sizes should be inserted:')"></label>
                    <div class="input-group">
                        <input class="form-control" type="text" data-bind="value: $component.effectSizes" />
                    </div>
                </div>
                <div>
                    <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.allowedRatio', 'The allowed ratio between target and injected signal size:')"></label>
                    <div class="input-group">
                        <input placeholder="Allowed ratio" class="form-control" type="text" data-bind="textInput: $component.settings().precision" />
                    </div>
                </div>
                <div>
                    <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.firstOutcomeToBeCreated', 'What should be the first new outcome ID that is to be created?')"></label>
                    <div class="input-group">
                        <input placeholder="First new outcome ID" class="form-control" type="text" data-bind="textInput: $component.settings().outputIdOffset" />
                    </div>
                </div>
                 <div>
                    <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.minNumberOfOutcomeEventsToBuildAModel', 'Minimum number of outcome events required to build a model:')"></label>
                    <div class="input-group">
                        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.settings().minOutcomeCountForModel, eventType:'blur', ko_autocomplete: { value: $component.settings().minOutcomeCountForModel, source: $component.options.minOutcomeCountForModelOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
                    </div>
                </div>
                <div>
                    <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.minNumberofOutcomeEventsToInjectASignal', 'Minimum number of outcome events required to inject a signal.')"></label>
                    <div class="input-group">
                        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.settings().minOutcomeCountForInjection, eventType:'blur', ko_autocomplete: { value: $component.settings().minOutcomeCountForInjection, source: $component.options.minOutcomeCountForInjectionOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<atlas-modal params="{
    showModal: showCovariateSelector,
    modifiers: ['lg'],
    iconClass: 'fa fa-cogs',
    title: ko.i18n('ple.spec.selectCovariates', 'Select Covariates...'),
    data: {
        covariateSettings: $component.settings().covariateSettings,
        showCovariateSelector: $component.showCovariateSelector,
        isEditPermitted: $component.isEditPermitted
    }
}">
    <covar-settings-editor params="covariateSettings: covariateSettings, isEditPermitted: isEditPermitted"></covar-settings-editor>
</atlas-modal>