<div>
    <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.howManyStrata', 'Into how many strata should the propensity score be divided? The boundaries of the strata are automatically defined to contain equal numbers of target persons:')"></label>
    <div class="input-group">
        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.stratifyArgs.numberOfStrata, eventType:'blur', ko_autocomplete: { value: $component.stratifyArgs.numberOfStrata, source: $component.options.numberOfStrataOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.baseSelection', 'What is the base selection of subjects where the strata bounds are to be determined? Strata are defined as equally-sized strata inside this selection.')"></label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.stratificationBaseSelectionOptions, optionsText:'name', optionsValue:'id', value: $component.stratifyArgs.baseSelection"></select>
    </div>
</div>
<div data-bind="visible: $component.hasCovariateIds()">
    <label data-bind="text: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.covariateIdsStratify', 'One or more covariate IDs in the cohortMethodData object on which subjects should be also stratified.')"></label>
    <div class="input-group">
        <input class="form-control" type="text" data-bind="textInput: $component.stratifyArgs.covariateIds, placeholder: ko.i18n('ple.spec.propensityScoreAdjustmentPanel.covariateIdsPlaceholder', 'One or more covariate IDs')" />
    </div>
</div>
