<div class="row concept-add-box-container">
  <!-- ko if: canSelectSource -->
    <!-- ko if: hasActiveConceptSets() -->
    <div class="concept-set-dropdown-container">
      <span class="text" data-bind="text: ko.i18n('components.conceptAddBox.selectConceptSet', 'Select Concept Set')"></span>
      <div class="btn-group" data-bind="dropup">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenu1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
          data-bind="css: { disabled: isDisabled()}"
        >
          <span data-bind="text: $component.activeConceptSetName()"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <!-- ko foreach: $component.activeConceptSets() -->
          <li>
            <a
              data-bind="click: () => $component.setActiveConceptSet($data), text: `${$data.current().name()} (${$component.conceptSetType[$data.source]})`"
            ></a>
          </li>
          <!-- /ko -->
        </ul>
      </div>
    </div>
    <!-- /ko -->
  <!-- /ko -->
  <div class="options-container">
    <div class="option" data-bind="{ css: { disabled: isDisabled() } }">
      <span
          data-bind="click: () =>  $component.toggleSelectionOption('isExcluded'), css: { selected: selectionOptions().isExcluded() }"
          class="fa fa-check"></span>
      <span data-bind="text: ko.i18n('components.conceptAddBox.exclude', 'Exclude')"></span>
    </div>
    <div class="option" data-bind="{ css: { disabled: isDisabled() } }">
      <span
          data-bind="click: () =>  $component.toggleSelectionOption('includeDescendants'), css: { selected: selectionOptions().includeDescendants() }"
          class="fa fa-check"></span>
      <span data-bind="text: ko.i18n('components.conceptAddBox.descendants', 'Descendants')"></span>
    </div>
    <div class="option" data-bind="{ css: { disabled: isDisabled() } }">
      <span
          data-bind="click: () =>  $component.toggleSelectionOption('includeMapped'), css: { selected: selectionOptions().includeMapped() }"
          class="fa fa-check"></span>
      <span data-bind="text: ko.i18n('components.conceptAddBox.mapped', 'Mapped')"></span>
    </div>
  </div>
  <span class="preview-button" data-bind="visible: isPreviewAvailable()">
    <button
      class="btn btn-primary"
      data-bind="click: handlePreview, css: { disabled: !canAddConcepts() || isDisabled() }, text: ko.i18n('components.conceptAddBox.previewButton', 'Preview...')"
    ></button>
  </span>
  <span data-bind="tooltip: buttonTooltipText">
    <button
      class="btn btn-success"
      data-bind="click: handleSubmit, css: { disabled: !canAddConcepts() || isDisabled() }, text: buttonText"
    ></button>
  </span>
  <span data-bind="css: { active: isSuccessMessageVisible(), inactive: !isSuccessMessageVisible() }" class="alert alert-success add-tooltip" role="alert"><i class="fa fa-check-square-o" aria-hidden="true"></i><strong data-bind="text: ko.i18n('components.conceptAddBox.addedToConceptSet', 'Added To Concept Set!')"></strong></span>
</div>

<atlas-modal params="
        showModal: showPreviewModal,
        title: ko.i18n('search.previewModal.title', 'Concept Set Preview'),
        data: {
            previewTabsParams: previewTabsParams,
            showModal: showPreviewModal,
            apply: () => { handleSubmit(); showPreviewModal(false); }
        }" class="preview-modal">
  <div data-bind="component: { name: 'tabs', params: previewTabsParams }"></div>
  <div class="modal-footer with-padding">
    <div class="modal-buttons">
      <button type="button" class="btn btn-success" data-bind="click: apply, text: ko.i18n('common.apply', 'Apply')"></button>
      <button type="button" class="btn btn-danger" data-bind="click: () => showModal(false), text: ko.i18n('common.cancel', 'Cancel')"></button>
    </div>
  </div>
</atlas-modal>