<div class="heading">
	<span data-bind="text: ko.i18n('components.cohortExpressionViewer.initialEventCohort', 'Initial Event Cohort')"></span>
</div>
<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_1', 'People having any of the following:')"></span>
<br>

<ul>
	<!-- ko foreach: expression().PrimaryCriteria().CriteriaList -->
	<li>
		<div data-bind='component: {
						name: $component.getCriteriaIndexComponent($data),
						params: {expression: $component.expression(), criteria: $data} }'></div>
	</li>
	<!-- /ko -->
</ul>
<div>
	<span data-bind="with: expression().PrimaryCriteria().ObservationWindow"> 
		<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_2', 'with continuous observation of at least')"></span>
	<span class="numericField" data-bind="text: PriorDays.numeric()" /> 
	<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_3', 'days prior and ')"></span>
	
	<span class="numericField" data-bind="text: PostDays.numeric()" /> 
	<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_4', 'days after event index date,')"></span>
	
</span>
	<span data-bind="with: expression().PrimaryCriteria().PrimaryCriteriaLimit"> 
		<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_5', 'and limit initial events to: ')"></span>
		
		<b><span data-bind="text: $component.getLimitTypeText(Type())"></span> 
			<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_6', 'per person.')"></span>
		</b>
	</span>
</div>
<br/>

<div style="width:60%" data-bind="with: expression">
	<div data-bind="if: AdditionalCriteria">
		<div>
			<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_7', 'For people matching the Primary Events, include:')"></span>
			
		</div>
		<criteria-group-viewer params="{expression: $data, group: AdditionalCriteria}"></criteria-group-viewer>
		<div data-bind="with: QualifiedLimit">
			<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_8', 'Limit cohort of initial events to:')"></span>
			 
			<b><span data-bind="text: $component.getLimitTypeText(Type())"></span> 
				<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_6', 'per person.')"></span>
			</b></div>
	</div>
</div>

<div class="inclusionRules" data-bind="with: expression">
	<!-- ko if: InclusionRules && InclusionRules().length > 0 -->
	<div class="heading">
		<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_9', 'Inclusion Rules')"></span>
		
	</div>
	<div data-bind="foreach: InclusionRules">
		<!-- <div data-bind="text: 'Inclusion Criteria #' + ($index()+1) + ': ' + name()"></div> -->
		<div data-bind="text: ko.i18nformat('components.cohortExpressionViewer.cohortExpressionViewerText_15', 'Inclusion Criteria #(<%=index%>): <%=name%>', {index: $index()+1, name: name()})"></div>
		<!-- ko if: (description() || '').length > 0 -->
		<div class="description" data-bind="text: description()"></div>
		<!-- /ko -->
		<criteria-group-viewer params="{expression: $parent, group: ko.observable($data.expression)}"></criteria-group-viewer>
	</div>
	<!-- /ko -->
</div>

<div data-bind="with: expression().ExpressionLimit">
	<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_10', 'Limit qualifying cohort to:')"></span>
	 
	<b><span data-bind="text: $component.getLimitTypeText(Type())"></span> 
		<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_6', 'per person.')"></span>
	</b></div>

<end-strategy-viewer params="strategy: expression().EndStrategy, conceptSets: $component.expression().ConceptSets"></end-strategy-viewer>

<!-- ko if: expression().CensoringCriteria().length > 0 -->
<div class="heading">
	<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_11', 'Censoring Events:')"></span>
	
</div>
<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_12', 'Exit Cohort based on the following:')"></span>

<br>

<ul>
	<!-- ko foreach: expression().CensoringCriteria -->
	<li>
		<div data-bind='component: {
						name: $component.getCriteriaIndexComponent($data),
						params: {expression: $component.expression(), criteria: $data} }'></div>
	</li>
	<!-- /ko -->
</ul>
<!-- /ko -->

<div class="heading">
	<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_13', 'Cohort Collapse Strategy:')"></span>
	
</div>
<span data-bind="with: expression().CollapseSettings">
	<span data-bind="text: ko.i18n('components.cohortExpressionViewer.cohortExpressionViewerText_14', 'Collapse cohort by era with a gap size of ')"></span>
	
	<span class="numericField" data-bind="text: EraPad" /> 
	<span data-bind="text: ko.i18n('common.days', 'days')"></span>
</span>
