<!-- ko with: Criteria -->
<span data-bind="text: ko.i18n('components.conditionOccurrence.conditionOccurrenceText_1', 'a condition occurrence of')"></span>
<conceptset-reference params="{conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('components.conditionOccurrence.anyCondition', 'Any Condition')}"></conceptset-reference>
<ul>
<!-- ko if: ko.utils.unwrapObservable(First) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionOccurrence.conditionOccurrenceText_2', 'for the first time in the person\'s history')"></span>
	</li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(OccurrenceStartDate) != null -->
	<li>
		<span
						data-bind="text: ko.i18n('components.conditionOccurrence.conditionOccurrenceText_3', 'occurrence start is:')">
					</span>
		<date-range-viewer params="Range: OccurrenceStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(OccurrenceEndDate) != null -->
	<li>
		<span
						data-bind="text: ko.i18n('components.conditionOccurrence.conditionOccurrenceText_4', 'occurrence end is:')"></span>
		<date-range-viewer params="Range: OccurrenceEndDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(ConditionType) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionOccurrence.conditionType', 'Condition Type')"></span>
		<cycle-toggle-input-viewer params="{value: ConditionTypeExclude, options: $component.options.DomainTypeExcludeOptions}"></cycle-toggle-input-viewer> <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(ConditionType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(StopReason) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionOccurrence.conditionOccurrenceText_5', 'with a Stop Reason')"></span>
		<text-filter-viewer params="Filter: StopReason"></text-filter-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(ConditionSourceConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionOccurrence.conditionOccurrenceText_6', 'Condition Source Concept is')"></span>
		<conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(ConditionSourceConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Age) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionOccurrence.conditionOccurrenceText_7', 'with age')"></span>
		<numeric-range-viewer params="Range: Age"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Gender) != null -->
	<li> 
		<span data-bind="text: ko.i18n('components.conditionOccurrence.conditionOccurrenceText_11', 'gender is any of:')"></span>
		<concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Gender)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(ProviderSpecialty) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionOccurrence.conditionOccurrenceText_12', 'provider specialty is any of:')"></span>
		<concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(ProviderSpecialty)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(VisitType) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionOccurrence.conditionOccurrenceText_13', 'visit occurrence is any of:')"></span>
		<concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(VisitType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(CorrelatedCriteria) != null -->
		<criteria-group-viewer params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group-viewer>	
<!-- /ko -->
</ul>
<!-- /ko -->
