<span data-bind="if: parentGroup">
	<span data-bind="	if: (parentGroup().CriteriaList().length > 0) || parentGroup().Groups().indexOf(group()) > 0"><span data-bind="	text: parentGroup().Type() == 'ALL' ? 'And' : 'Or'"></span> having</span>
	<span data-bind="	ifnot: (parentGroup().CriteriaList().length > 0) || parentGroup().Groups().indexOf(group()) > 0">Having</span>
</span>
<span data-bind="ifnot: parentGroup">Having</span> <span data-bind="text: groupType"></span> <!-- ko if: group().Type().startsWith('AT_') --> <span data-bind="text: group().Count"></span> <!-- /ko --> of the following criteria:
<ul>
<!-- ko foreach: group().DemographicCriteriaList -->
	<li>
		<span data-bind="if: ($index() > 0)"><span data-bind="text: $component.group().Type() == 'ALL' ? 'and ' : 'or '"></span></span> with the following event criteria:
		<demographic-criteria-viewer params="criteria: $data"></demographic-criteria-viewer>
	</li>
<!-- /ko -->
<!-- ko foreach: group().CriteriaList -->
	<li>
		<div>
			<span data-bind="if: ($parent.group().DemographicCriteriaList().length > 0 || $index() > 0)"><span data-bind="text: $component.group().Type() == 'ALL' ? 'and ' : 'or '"></span></span><span data-bind="text: $component.getOccurrenceType(Occurrence.Type())" /> 
			<span data-bind="text: Occurrence.Count"></span> <span data-bind="text: Occurrence.IsDistinct() ? 'distinct' : ''"></span>
			occurrence<span data-bind="text: Occurrence.Count != 1 ? 's' : ''"></span> of
			<span data-bind="component: { 
								name: $component.getCriteriaComponent($data.Criteria), 
								params: {expression: $component.expression, criteria: $data.Criteria }
							}"></span>
			starting between <window-input-viewer params="Window: StartWindow"></window-input-viewer> event index date
			<!-- ko if: EndWindow -->
			and ending between <window-input-viewer params="Window: EndWindow"></window-input-viewer> event index date
			<!-- /ko -->
			<!-- ko if: RestrictVisit -->
			<br><b>occurring within the same visit</b>
			<!-- /ko -->
		</div>	
	</li>
<!-- /ko -->
</ul>	
<ul>
<!-- ko foreach: group().Groups -->
	<li>
		<div style="padding-top: 5px; position:relative">
			<criteria-group-viewer params="{expression: $component.expression, group: ko.observable($data), parentGroup: $parent.group()}"></criteria-group-viewer>
		</div>
	</li>
<!-- /ko -->
</ul>
