<!-- ko with: Criteria -->
<span data-bind="text: ko.i18n('components.conditionDeath.conditionDeathText_1', 'a death occurrence from')"></span>
<conceptset-reference params="{conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('components.conditionDeath.anyDeath', 'Any Death')}"></conceptset-reference>
<ul>
<!-- ko if: ko.utils.unwrapObservable(OccurrenceStartDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDeath.conditionDeathText_2', 'occurrence start is:')"></span>
		<date-range-viewer params="Range: OccurrenceStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(DeathType) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDeath.deathType', 'Death Type')"></span>
		<cycle-toggle-input-viewer params="{value: DeathTypeExclude, options: $component.options.DomainTypeExcludeOptions}"></cycle-toggle-input-viewer> 
		<concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(DeathType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(DeathSourceConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDeath.conditionDeathText_3', 'Death Source Concept is')"></span>
		<conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(DeathSourceConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Age) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDeath.conditionDeathText_4', 'with age')"></span>
		<numeric-range-viewer params="Range: Age"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Gender) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDeath.conditionDeathText_6', 'gender is any of:')"></span>
	  <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Gender)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(CorrelatedCriteria) != null -->
		<criteria-group-viewer params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group-viewer>	
<!-- /ko -->
</ul>
<!-- /ko -->
