<!-- ko with: Criteria -->
<ul>
<!-- ko if: Age() != null -->
	<li>
		<span data-bind="text: ko.i18n('components.demographicCriteria.withAge', 'with age')"></span>
		<numeric-range-viewer params="Range: Age"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: Gender() != null -->
	<li>
		<span data-bind="text: ko.i18n('components.demographicCriteria.demographicCriteriaText_1', 'gender is any of:')"></span>
	 <concept-list-viewer params="ConceptList: Gender()"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: Race() != null -->
	<li>
		<span data-bind="text: ko.i18n('components.demographicCriteria.demographicCriteriaText_2', 'race is any of:')"></span>
	 <concept-list-viewer params="ConceptList: Race()"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: Ethnicity() != null -->
	<li>
		<span data-bind="text: ko.i18n('components.demographicCriteria.demographicCriteriaText_3', 'ethnicity is any of:')"></span>
	 <concept-list-viewer params="ConceptList: Ethnicity()"></concept-list-viewer></li>
<!-- /ko -->	
<!-- ko if: OccurrenceStartDate() != null -->
	<li>
		<span data-bind="text: ko.i18n('components.demographicCriteria.occurrenceStart', 'occurrence start is:')"></span>
		<date-range-viewer params="Range: OccurrenceStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: OccurrenceEndDate() != null -->
	<li>
		<span data-bind="text: ko.i18n('components.demographicCriteria.occurrenceEnd', 'occurrence end is:')"></span>
		<date-range-viewer params="Range: OccurrenceEndDate"></date-range-viewer></li>
<!-- /ko -->
</ul>
<!-- /ko -->