<!-- ko with: Criteria -->
<span data-bind="text: ko.i18n('components.conditionDose.conditionDoseText_1', 'a dose era of')"></span>
<conceptset-reference params="{conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('components.conditionDose.anyDrug', 'Any Drug')}"></conceptset-reference>
<ul>
<!-- ko if: ko.utils.unwrapObservable(First) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDose.conditionDoseText_2', 'for the first time in the person\'s history')"></span>
	</li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(EraStartDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDose.conditionDoseText_3', 'era start is:')"></span>
		<date-range-viewer params="Range: EraStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(EraEndDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDose.conditionDoseText_4', 'era end is:')"></span>
		<date-range-viewer params="Range: EraEndDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Unit) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDose.conditionDoseText_11', 'unit is any of:')"></span>
		 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Unit)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(DoseValue) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDose.conditionDoseText_6', 'with dose value')"></span>
		<numeric-range-viewer params="Range: DoseValue"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(EraLength) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDose.conditionDoseText_7', 'with era length')"></span>
		<numeric-range-viewer params="Range: EraLength"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(AgeAtStart) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDose.conditionDoseText_8', 'with age in years at era start')"></span>
		<numeric-range-viewer params="Range: AgeAtStart"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(AgeAtEnd) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDose.conditionDoseText_9', 'with age in years at era end')"></span>
		<numeric-range-viewer params="Range: AgeAtEnd"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Gender) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDose.conditionDoseText_12', 'gender is any of:')"></span>
	 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Gender)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(CorrelatedCriteria) != null -->
		<criteria-group-viewer params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group-viewer>	
<!-- /ko -->
</ul>
<!-- /ko -->
