<!-- ko with: Criteria -->
<span data-bind="text: ko.i18n('components.conditionDrug.conditionDrugText_1', 'a drug era of')"></span>
<conceptset-reference params="{conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('components.conditionDrug.anyDrug', 'Any Drug')}"></conceptset-reference>
<ul>
<!-- ko if: ko.utils.unwrapObservable(First) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDrug.conditionDrugText_2', 'for the first time in the person\'s history')"></span>
	</li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(EraStartDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDrug.conditionDrugText_3', 'era start is:')"></span>
		<date-range-viewer params="Range: EraStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(EraEndDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDrug.conditionDrugText_4', 'era end is:')"></span>
		<date-range-viewer params="Range: EraEndDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(OccurrenceCount) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDrug.conditionDrugText_5', 'with exposure count')"></span>
		<numeric-range-viewer params="Range: OccurrenceCount"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(GapDays) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDrug.conditionDrugText_6', 'with gap days of')"></span>
		<numeric-range-viewer params="Range: GapDays"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(EraLength) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDrug.conditionDrugText_8', 'with era length')"></span>
		<numeric-range-viewer params="Range: EraLength"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(AgeAtStart) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDrug.conditionDrugText_9', 'with age in years at era start')"></span>
		<numeric-range-viewer params="Range: AgeAtStart"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(AgeAtEnd) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDrug.conditionDrugText_10', 'with age in years at era end')"></span>
		<numeric-range-viewer params="Range: AgeAtEnd"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Gender) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionDrug.conditionDrugText_12', 'gender is any of:')"></span>
	 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Gender)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(CorrelatedCriteria) != null -->
		<criteria-group-viewer params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group-viewer>	
<!-- /ko -->
</ul>
<!-- /ko -->
