<div class="heading">
	<span data-bind="text: ko.i18n('components.endStrategyViewer.endDateStrategy', 'End Date Strategy')"></span>
</div>
<div data-bind="if: ko.utils.unwrapObservable(strategy) == null">
	<span data-bind="text: ko.i18n('components.endStrategyViewer.endStrategyViewerText_1', 'No end date strategy selected. By default, the cohort end date will be the end of the observation period that contains the index event.')"></span>
</div>
<div data-bind="if: ko.utils.unwrapObservable(strategy) != null">
	<div data-bind="component: {
	name: strategyComponentName,
	params: {strategy: strategy, conceptSets: conceptSets }
}"></div>
</div>
