<!-- ko with: Criteria -->
<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_1', 'a measurement of')"></span>
<conceptset-reference params="{conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('components.conditionMeasurement.anyMeasurement', 'Any Measurement')}"></conceptset-reference>
<ul>
<!-- ko if: ko.utils.unwrapObservable(First) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_2', 'for the first time in the person\'s history')"></span>
	</li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(OccurrenceStartDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_3', 'occurrence start is:')"></span>
		<date-range-viewer params="Range: OccurrenceStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(MeasurementType) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.measurementType', 'Measurement Type')"></span>
		<cycle-toggle-input-viewer params="{value: MeasurementTypeExclude, options: $component.options.DomainTypeExcludeOptions}"></cycle-toggle-input-viewer> <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(MeasurementType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Operator) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_19', 'measurement value operator is any of:')"></span>
		 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Operator)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(ValueAsNumber) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_6', 'with value as number')"></span>
		<numeric-range-viewer params="Range: ValueAsNumber"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(ValueAsConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_20', 'value as concept is any of:')"></span>
		 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(ValueAsConcept)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Unit) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_21', 'unit is any of:')"></span>
		 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Unit)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(RangeLow) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_22', 'with lower range')"></span>
		 <numeric-range-viewer params="Range: RangeLow"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(RangeLowRatio) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_23', 'with lower range ratio')"></span>
		 <numeric-range-viewer params="Range: RangeLowRatio"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(RangeHigh) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_24', 'with high range')"></span>
		 <numeric-range-viewer params="Range: RangeHigh"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(RangeHighRatio) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_25', 'with high range ratio')"></span>
		 <numeric-range-viewer params="Range: RangeHighRatio"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Abnormal) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_13', 'with an abnormal result')"></span>
	</li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(MeasurementSourceConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_14', 'Measurement Source Concept is')"></span>
		<conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(MeasurementSourceConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Age) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_15', 'with age')"></span>
		<numeric-range-viewer params="Range: Age"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Gender) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_26', 'gender is any of:')"></span>
		 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Gender)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(ProviderSpecialty) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_27', 'provider specialty is any of:')"></span>
		<concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(ProviderSpecialty)"></concept-list></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(VisitType) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionMeasurement.conditionMeasurementText_28', 'visit occurrence is any of:')"></span>
		 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(VisitType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(CorrelatedCriteria) != null -->
		<criteria-group-viewer params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group-viewer>	
<!-- /ko -->
</ul>
<!-- /ko -->
