<!-- ko with: Criteria -->

<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_19', 'a payer plan period')"></span>
<ul>
<!-- ko if: ko.utils.unwrapObservable(First) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_2', 'limited to the patients first payer plan period')"></span>
	</li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(UserDefinedPeriod) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_20', 'using specified period:')"></span>
		 <period-viewer params="Period: UserDefinedPeriod"></period-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(PeriodStartDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_21', 'period start is')"></span>
		 <date-range-viewer params="Range: PeriodStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(PeriodEndDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_22', 'period end is')"></span>
		 <date-range-viewer params="Range: PeriodEndDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(PeriodLength) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_5', 'with period duration')"></span>
		<numeric-range-viewer params="Range: PeriodLength"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(AgeAtStart) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_23', 'with age at start')"></span>
		<numeric-range-viewer params="Range: AgeAtStart"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(AgeAtEnd) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_24', 'with age at end')"></span>
		 <numeric-range-viewer params="Range: AgeAtEnd"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Gender) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_25', 'gender is any of:')"></span>
		 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Gender)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(PayerConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_10', 'Payer Concept is')"></span>
		<conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(PayerConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(PlanConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_11', 'Plan Concept is')"></span>
		<conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(PlanConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(SponsorConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_12', 'Sponsor Concept is')"></span>
		<conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(SponsorConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(StopReasonConcept) != null -->
	<li><span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_13', 'Stop Reason Concept is')"></span><conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(StopReasonConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(PayerSourceConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_14', 'Payer Source Concept is')"></span>
		<conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(PayerSourceConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(PlanSourceConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_15', 'Plan Source Concept is')"></span>
		<conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(PlanSourceConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(SponsorSourceConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_16', 'Sponsor Source Concept is')"></span>
		<conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(SponsorSourceConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(StopReasonSourceConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionPayerPlanPeriod.conditionPayerPlanText_17', 'Stop Reason Source Concept is')"></span>
		<conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(StopReasonSourceConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(CorrelatedCriteria) != null -->
	<criteria-group-viewer params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group-viewer>	
<!-- /ko -->
</ul>
<!-- /ko -->