<span data-bind="text: ko.i18n('components.period.starting', 'starting')"></span> 
<span class="readOnlyField" data-bind="text: startDateExpression"></span> 
<span data-bind="text: ko.i18n('components.period.andEnding', 'and ending')"></span> 
<span class="readOnlyField" data-bind="text: endDateExpression"></span><br/>
<i><small>
  <span data-bind="text: ko.i18n('components.period.periodText_1', 'Note: only observation periods that encompass the start and end dates will be used.')"></span>
</small></i>