<!-- ko with: Criteria -->
<span data-bind="text: ko.i18n('components.conditionProcedureOccurrence.conditionProcedureOccurrenceText_1', 'a procedure occurrence of')"></span>
<conceptset-reference params="{conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('components.conditionProcedureOccurrence.anyProcedure', 'Any Procedure')}"></conceptset-reference>
<ul>
<!-- ko if: ko.utils.unwrapObservable(First) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionProcedureOccurrence.conditionProcedureOccurrenceText_2', 'for the first time in the person\'s history')"></span>
	</li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(OccurrenceStartDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionProcedureOccurrence.conditionProcedureOccurrenceText_3', 'occurrence start is:')"></span>
		<date-range-viewer params="Range: OccurrenceStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(ProcedureType) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionProcedureOccurrence.procedureType', 'Procedure Type')"></span>
		<cycle-toggle-input-viewer params="{value: ProcedureTypeExclude, options: $component.options.DomainTypeExcludeOptions}"></cycle-toggle-input-viewer> <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(ProcedureType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Modifier) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionProcedureOccurrence.conditionProcedureOccurrenceText_11', 'modifier is any of:')"></span>
		 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Modifier)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Quantity) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionProcedureOccurrence.conditionProcedureOccurrenceText_5', 'with quantity')"> </span>
		<numeric-range-viewer params="Range: Quantity"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(ProcedureSourceConcept) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionProcedureOccurrence.conditionProcedureOccurrenceText_6', 'Procedure Source Concept is:')"></span>
		<conceptset-reference params="{conceptSetId: ko.utils.unwrapObservable(ProcedureSourceConcept), conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('common.unspecified', 'UNSPECIFIED!')}"></conceptset-reference></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Age) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionProcedureOccurrence.conditionProcedureOccurrenceText_7', 'with age:')"> </span>
		<numeric-range-viewer params="Range: Age"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Gender) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionProcedureOccurrence.conditionProcedureOccurrenceText_12', 'gender is any of:')"></span>
		<concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Gender)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(ProviderSpecialty) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionProcedureOccurrence.conditionProcedureOccurrenceText_13', 'provider specialty is any of:')"></span>
		 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(ProviderSpecialty)"></concept-list></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(VisitType) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionProcedureOccurrence.conditionProcedureOccurrenceText_14', 'visit occurrence is any of:')"></span>
		 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(VisitType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(CorrelatedCriteria) != null -->
		<criteria-group-viewer params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group-viewer>	
<!-- /ko -->
</ul>
<!-- /ko -->
