<span data-bind="text: ko.utils.unwrapObservable(Window.Start.Days) != null ? ko.utils.unwrapObservable(Window.Start.Days) : 'all'" />
    <span data-bind="text:ko.i18n('cc.viewEdit.design.subgroups.definition-viewercomponent.window-input.days', 'days')"></span>
<span data-bind="text: $component.getCoeffName(ko.utils.unwrapObservable(Window.Start.Coeff))"></span>
    <span data-bind="text:ko.i18n('cc.viewEdit.design.subgroups.definition-viewercomponent.window-input.and', 'and')"></span>
<span data-bind="text: ko.utils.unwrapObservable(Window.End.Days) != null ? ko.utils.unwrapObservable(Window.End.Days) : 'all'" />
    <span data-bind="text:ko.i18n('cc.viewEdit.design.subgroups.definition-viewercomponent.window-input.days', 'days')"></span>
<span data-bind="text: $component.getCoeffName(ko.utils.unwrapObservable(Window.End.Coeff))"></span>