.terms-and-conditions {
  &__locale {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__content {
    height: 50vh;
    overflow-y: auto;
    margin: 1rem 0;
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    margin-left: 0.5rem;
  }
}