.comparative-cohort-analysis-specification-view-edit, .cohort-method-analysis-editor, .comparison-editor {
	&__analysis-name {
		font-size: 14px;
	}
	&__analysis-name-input {
		width: 500px;
	}
	&__analysis-name-container {
		width: 10%;
		float: left;
		margin-right: 5px;
		padding-top: 7px;
	}
	&__description-entry {
		width: 100%;
	}
	&__panel-buffer {
		margin-top: 15px;
	}
	&__panel-buffer-left {
		margin-left: 5px;
	}
	.panel-default, .panel-primary {
		.panel-heading {
			line-height: 30px;
			font-size: 14px;
		}
		.panel-heading  span:before {
			font-family: 'Glyphicons Halflings';
			float: right;
			transition: all 0.5s;
		}
		.panel-heading.active span:before {
			 -webkit-transform: rotate(180deg);
			 -moz-transform: rotate(180deg);
			 transform: rotate(180deg);
		}
		.panel-subheading {
			padding-top: 2px;
			padding-bottom: 2px;
			font-size: 12px;
		}
		.panel-heading-collapsible {
			cursor: pointer;
		}
	}
	.input-group {
		padding-top: 2px;
		padding-bottom: 5px;
	}
	input.dateField {
		width: 90px;
		padding: 0px;
		line-height: .9em;
	}
	&__filter-group-bordered {
		margin-top: 5px;
		padding-top: 15px;
		margin-bottom: 10px;
		border-top: #CCC 1px solid;
	}
	&__filter-view {
		padding-left: 5px;
		padding-right: 10px;
		font-weight: 700;
		font-size: 12px;
		color: #959595;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 25px;
		vertical-align: middle;
	}
	&__info-message {
		padding: 5px;
		margin: 5px;
		font-style: italic;
		font-size: 12px;
	}
	&__subsection {
		padding-top: 10px;
	}
	.col-remove {
		width: 50px;
		text-align: center;
	}

	.col-copy {
		width: 80px;
		text-align: center;
	}
	/* Tooltip container */
	.tool-tip {
		cursor: help;
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted #ccc;
		color: #006080;
		/* Tooltip text */
		.tooltiptext {
			visibility: hidden;
			position: absolute;
			width: 400px;
			background-color: #333;
			color: #fff;
			text-align: center;
			padding: 5px;
			margin: 5px;
			border-radius: 6px;
			z-index: 1;
			opacity: 0;
			transition: opacity .6s;

			top: 105%;
			left: 50%;
			margin-left: -200px;
			.tooltipitem {
				text-align: left;
				display: list-item;
				list-style-type: disc;
				list-style-position: inside;
				margin-top: 2px;
				padding-bottom: 2px;
			}
		}
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.tool-tip:hover {
		.tooltiptext {
			visibility: visible;
			opacity: 1;
		}
	}
}