<ul class="list-inline">
	<li>
		<ul class="nav nav-pills" role="tablist">
			<li role="presentation"
				data-bind="css: { active: $component.chrMode() == 'demo' }, click: function() { chrPillClick('demo') }">
				<a data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.tabs.demographics', 'Demographic')"></a>
			</li>
			<li role="presentation"
				data-bind="css: { active: $component.chrMode() == 'cond' }, click: function() { chrPillClick('cond') }">
				<a data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.tabs.conditions', 'Conditions')"></a></li>
			<li role="presentation"
				data-bind="css: { active: $component.chrMode() == 'drug' }, click: function() { chrPillClick('drug') }">
				<a data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.tabs.drugs', 'Drugs')"></a></li>
			<li role="presentation"
				data-bind="css: { active: $component.chrMode() == 'proc' }, click: function() { chrPillClick('proc') }">
				<a data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.tabs.procedures', 'Procedures')"></a></li>
			<li role="presentation"
				data-bind="css: { active: $component.chrMode() == 'meas' }, click: function() { chrPillClick('meas') }">
				<a data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.tabs.measurements', 'Measurements')"></a>
			</li>
			<li role="presentation"
				data-bind="css: { active: $component.chrMode() == 'obsr' }, click: function() { chrPillClick('obsr') }">
				<a data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.tabs.observations', 'Observations')"></a>
			</li>
			<li role="presentation"
				data-bind="css: { active: $component.chrMode() == 'dist' }, click: function() { chrPillClick('dist') }">
				<a data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.tabs.distributions', 'Distributions')"></a>
			</li>
		</ul>
	</li>
</ul>
<div class="tab-content clear-border">
	<div role="tabpanel" data-bind="css: { active: $component.chrMode() == 'demo'}"
		class="tab-pane explore-enabled-table">
		<div class="text-center" data-bind="visible: $component.demoSection.loadingFlag()">
			<h3><i class="fa fa-spinner fa-spin"></i>
				<span data-bind="text: ko.i18n('common.loading', 'Loading')"></span>
			</h3>
		</div>
		<div data-bind="visible: !$component.demoSection.loadingFlag()">
			<faceted-datatable params="{order: [[4, 'asc'], [2, 'asc']], 
				columns: $component.demoColumns, 
				language: $component.language,
				options: $component.chrDemoOptions, 
				reference: $component.demoSection.data, rowClick: $component.covariateSelected }">
			</faceted-datatable>
		</div>
	</div>
	<div role="tabpanel" data-bind="css: { active: $component.chrMode() == 'cond'}, with: $component.condSection"
		class="tab-pane explore-enabled-table">
		<div class="text-center" data-bind="visible: loadingFlag()">
			<h3><i class="fa fa-spinner fa-spin"></i> <span data-bind="text: ko.i18n('common.loading', 'Loading')"></span>
			</h3>
		</div>
		<div data-bind="visible: !loadingFlag()">
			<div data-bind="visible: !filteredFlag()">
				<div><b>
						<span
							data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_1', 'Long Term:')"></span>
					</b>
					<span
						data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_2', '365 day lookback.')"></span>
					<b>
						<span
							data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_3', 'Medium Term:')"></span>
					</b>
					<span
						data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_4', '180d lookback ')"></span>
					<b>
						<span
							data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_5', 'Short Term:')"></span>
					</b>
					<span
						data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_6', '30d lookback.')"></span>
					<b>
						<span
							data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_7', 'Overlapping:')"></span>
					</b>
					<span
						data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_8', 'Event spans cohort start date.')"></span>
				</div>
				<faceted-datatable
					params="{orderColumn: 9, columns: $component.domainTableColumns, language: $component.language, options: $component.chrCondOptions, reference: data, rowClick: $component.covariateSelected }">
				</faceted-datatable>
			</div>
			<div data-bind="if: filteredFlag()">
				<div><i data-bind="click: $component.clearFilter" class="fa fa-times" /><b>
						<span
							data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_9', 'Exploring concept hierarchy for:')"></span>

						<span data-bind="text: currentFilter().conceptName"></span></b></div>
				<faceted-datatable
					params="{orderColumn: 3, columns: $component.domainTableFilteredColumns, language: $component.language, options: $component.chrCondOptionsFiltered, reference: dataFiltered, rowClick: $component.covariateSelected }">
				</faceted-datatable>
			</div>
		</div>
	</div>
	<div role="tabpanel" data-bind="css: { active: $component.chrMode() == 'drug'}, with: $component.drugSection"
		class="tab-pane explore-enabled-table">
		<div class="text-center" data-bind="visible: loadingFlag()">
			<h3><i class="fa fa-spinner fa-spin"></i> <span data-bind="text: ko.i18n('common.loading', 'Loading')"></span>
			</h3>
		</div>
		<div data-bind="visible: !loadingFlag()">
			<div><b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_1', 'Long Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_2', '365 day lookback.')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_3', 'Medium Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_4', '180d lookback ')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_5', 'Short Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_6', '30d lookback.')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_7', 'Overlapping:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_8', 'Event spans cohort start date.')"></span>
		</div>
			<div data-bind="visible: !filteredFlag()">
				<faceted-datatable
					params="{orderColumn: 9, columns: $component.domainTableColumns, language: $component.language, options: $component.chrDrugOptions, reference: data, rowClick: $component.covariateSelected }">
				</faceted-datatable>
			</div>
			<div data-bind="if: filteredFlag()">
				<div><i data-bind="click: $component.clearFilter" class="fa fa-times" /><b>
					<span
							data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_9', 'Exploring concept hierarchy for:')"></span>
						<span data-bind="text: currentFilter().conceptName"></span></b></div>
				<faceted-datatable
					params="{orderColumn: 3, columns: $component.domainTableFilteredColumns, language: $component.language, options: $component.chrDrugOptionsFiltered, reference: dataFiltered, rowClick: $component.covariateSelected }">
				</faceted-datatable>
			</div>
		</div>
	</div>
	<div role="tabpanel" data-bind="css: { active: $component.chrMode() == 'proc'}, with: $component.procSection"
		class="tab-pane explore-enabled-table">
		<div class="text-center" data-bind="visible: loadingFlag()">
			<h3><i class="fa fa-spinner fa-spin"></i> <span data-bind="text: ko.i18n('common.loading', 'Loading')"></span>
			</h3>
		</div>
		<div data-bind="visible: !loadingFlag()">
			<div><b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_1', 'Long Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_2', '365 day lookback.')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_3', 'Medium Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_4', '180d lookback ')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_5', 'Short Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_6', '30d lookback.')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_7', 'Overlapping:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_8', 'Event spans cohort start date.')"></span>
		</div>
			<div data-bind="visible: !filteredFlag()">
				<faceted-datatable
					params="{orderColumn: 9, columns: $component.domainTableColumns, language: $component.language, options: $component.chrProcOptions, reference: data, rowClick: $component.covariateSelected }">
				</faceted-datatable>
			</div>
			<div data-bind="if: filteredFlag()">
				<div><i data-bind="click: $component.clearFilter" class="fa fa-times" /><b>
					<span
							data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_9', 'Exploring concept hierarchy for:')"></span>
						<span data-bind="text: currentFilter().conceptName"></span></b></div>
				<faceted-datatable
					params="{orderColumn: 3, columns: $component.domainTableFilteredColumns, language: $component.language, options: $component.chrProcOptionsFiltered, reference: dataFiltered, rowClick: $component.covariateSelected }">
				</faceted-datatable>
			</div>
		</div>
	</div>
	<div role="tabpanel" data-bind="css: { active: $component.chrMode() == 'meas'}, with: $component.measSection"
		class="tab-pane explore-enabled-table">
		<div class="text-center" data-bind="visible: loadingFlag()">
			<h3><i class="fa fa-spinner fa-spin"></i> <span data-bind="text: ko.i18n('common.loading', 'Loading')"></span>
			</h3>
		</div>
		<div data-bind="visible: !loadingFlag()">
			<div><b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_1', 'Long Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_2', '365 day lookback.')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_3', 'Medium Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_4', '180d lookback ')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_5', 'Short Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_6', '30d lookback.')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_7', 'Overlapping:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_8', 'Event spans cohort start date.')"></span>
		</div>
			<div data-bind="visible: !filteredFlag()">
				<faceted-datatable
					params="{orderColumn: 9, columns: $component.domainTableColumns, language: $component.language, options: $component.chrMeasOptions, reference: data, rowClick: $component.covariateSelected }">
				</faceted-datatable>
			</div>
			<div data-bind="if: filteredFlag()">
				<div><i data-bind="click: $component.clearFilter" class="fa fa-times" /><b>
					<span
							data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_9', 'Exploring concept hierarchy for:')"></span>
						<span data-bind="text: currentFilter().conceptName"></span></b></div>
				<faceted-datatable
					params="{orderColumn: 3, columns: $component.domainTableFilteredColumns, language: $component.language, options: $component.chrMeasOptionsFiltered, reference: dataFiltered, rowClick: $component.covariateSelected }">
				</faceted-datatable>
			</div>
		</div>
	</div>
	<div role="tabpanel" data-bind="css: { active: $component.chrMode() == 'obsr'}, with: $component.obsrSection"
		class="tab-pane explore-enabled-table">
		<div class="text-center" data-bind="visible: loadingFlag()">
			<h3><i class="fa fa-spinner fa-spin"></i> <span data-bind="text: ko.i18n('common.loading', 'Loading')"></span>
			</h3>
		</div>
		<div data-bind="visible: !loadingFlag()">
			<div><b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_1', 'Long Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_2', '365 day lookback.')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_3', 'Medium Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_4', '180d lookback ')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_5', 'Short Term:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_6', '30d lookback.')"></span>
			<b>
				<span
					data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_7', 'Overlapping:')"></span>
			</b>
			<span
				data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_8', 'Event spans cohort start date.')"></span>
		</div>
			<div data-bind="visible: !filteredFlag()">
				<faceted-datatable
					params="{orderColumn: 9, columns: $component.domainTableColumns, language: $component.language, options: $component.chrObsrOptions, reference: data, rowClick: $component.covariateSelected }">
				</faceted-datatable>
			</div>
			<div data-bind="if: filteredFlag()">
				<div><i data-bind="click: $component.clearFilter" class="fa fa-times" /><b>
					<span
							data-bind="text: ko.i18n('cohortDefinitions.cohortFeatureBrowser.cohortFeatureBrowserText_9', 'Exploring concept hierarchy for:')"></span>
						<span data-bind="text: currentFilter().conceptName"></span></b></div>
				<faceted-datatable
					params="{orderColumn: 3, columns: $component.domainTableFilteredColumns, language: $component.language, options: $component.chrObsrOptionsFiltered, reference: dataFiltered, rowClick: $component.covariateSelected }">
				</faceted-datatable>
			</div>
		</div>
	</div>
	<div role="tabpanel" data-bind="css: { active: $component.chrMode() == 'dist'}, with: $component.distSection"
		class="tab-pane explore-enabled-table">
		<div class="text-center" data-bind="visible: loadingFlag()">
			<h3><i class="fa fa-spinner fa-spin"></i> <span data-bind="text: ko.i18n('common.loading', 'Loading')"></span>
			</h3>
		</div>
		<div data-bind="visible: !loadingFlag()">
			<faceted-datatable
				params="{orderColumn: 1, columns: $component.distributionColumns, language: $component.language, options: $component.chrDistOptions, reference: data, rowClick: $component.covariateSelected }">
			</faceted-datatable>
		</div>
	</div>
</div>