.tags-modal {
  &__assign-tag-label, &__new-tag-label, &__tags-list-label {
    font-size: 1.4rem;
  }

  &__new-tag-label, &__tags-list {
    margin-top: 1.5rem;
  }

  &__action-link {
    cursor: pointer;
  }

  .dataTable {
    width: 100% !important;
  }

  .dataTable th, .dataTable td {
    width: 25% !important;
    padding: 8px;
  }

  .dataTable .tags-tbl-col-count {
    width: 40px;
  }
}

.ui-autocomplete {
  z-index: 10000;
}