<atlas-modal params="showModal: $component.isModalShown, title: ko.i18n('components.tags.title', 'Assign Tags'),
         data: {
            classes: classes,
            isLoading: isLoading,
            tagName: tagName,
            newCustomTagName: newCustomTagName,
            tagsList: tagsList,
            availableTagsList: availableTagsList,
            columns: columns,
            availableTagsColumns: availableTagsColumns,
            assignTag: assignTag,
            assignSuggestedTag: assignSuggestedTag,
            unassignTag: unassignTag,
            createNewCustomTag: createNewCustomTag,
            tagsOptions: tagsOptions,
            tagsSearch: tagsSearch,
            tableOptions: tableOptions
         }">
    <loading data-bind="css: classes('loading-panel'), visible: isLoading()" params="status: ko.i18n('common.loading', 'Loading...')"></loading>
    <div data-bind="css: classes()">
        <div data-bind="if: !isLoading()">
            <div data-bind="css: classes('new-tag')">
                <label data-bind="css: classes('assign-tag-label'), text: ko.i18n('components.tags.assignExistingTag', 'Create custom tag:')"></label>
                <div class="input-group">
                    <input
                            class="form-control"
                            data-bind="
                                placeholder: ko.i18n('components.tags.tagName', 'Tag name'),
                                textInput: tagsSearch,
                                value: tagName,
                                eventType: 'blur',
                                ko_autocomplete: {
                                    source: tagsOptions(),
                                    minLength: 0,
                                    maxShowItems: 10
                                }">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" data-bind="click: assignSuggestedTag, attr: { disabled: !(tagName() && tagName().length) }, text: ko.i18n('common.create', 'Create')"></button>
                    </span>
                </div>
                <div data-bind="css: classes('tags-list')">
                    <label data-bind="css: classes('tags-list-label'), text: ko.i18n('components.tags.assignedTags', 'Assigned tags:')"></label>
                    <div>
                        <table data-bind="
                            css: classes({ element: 'tags-table', extra: ['table', 'table-bordered', 'table-hover'] }),
                            dataTable:{
                                data: tagsList,
                                options: {
                                    columns: columns,
				                    pageLength: tableOptions.pageLength,
				                    lengthMenu: tableOptions.lengthMenu,
                                    language: ko.i18n('datatable.language')
                                },
                            }
                        "/>
                    </div>
                </div>
                <div data-bind="css: classes('tags-list')">
                    <label data-bind="css: classes('tags-list-label'), text: ko.i18n('components.tags.availableTags', 'Available tags:')"></label>
                    <div>
                        <table data-bind="
                            css: classes({ element: 'tags-table', extra: ['table', 'table-bordered', 'table-hover'] }),
                            dataTable:{
                                data: availableTagsList,
                                options: {
                                    columns: availableTagsColumns,
				                    pageLength: tableOptions.pageLength,
				                    lengthMenu: tableOptions.lengthMenu,
                                    language: ko.i18n('datatable.language')
                                },
                            }
                        "/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</atlas-modal>