.tags-modal {
  &__assign-tag-label, &__new-tag-label, &__tags-list-label {
    font-size: 1.4rem;
  }

  &__new-tag-label, &__tags-list {
    margin-top: 1.5rem;
  }

  &__tags-tbl-col-action {
    width: 20%;
  }

  &__tags-tbl-col-group, &__tags-tbl-col-name {
    width: 40%;
  }

  &__unassign-link {
    cursor: pointer;
  }
}

.ui-autocomplete {
  z-index: 10000;
}