<atlas-modal params="showModal: $component.isModalShown, title: ko.i18n('components.tags.title', 'Assign Tags'),
         data: {
            classes: classes,
            isLoading: isLoading,
            tagsList: tagsList,
            availableTagsList: availableTagsList,
            availableTagGroupsList: availableTagGroupsList,
            showCreateCustomTag: showCreateCustomTag,
            newCustomTagName: newCustomTagName,
            newCustomTagGroup: newCustomTagGroup,
            groupsForCustomTags: groupsForCustomTags,
            columns: columns,
            availableTagsColumns: availableTagsColumns,

            referenceTagGroupsList: referenceTagGroupsList,
            referenceTagGroupsColumns: referenceTagGroupsColumns,
            referenceTagsGroupName: referenceTagsGroupName,
            referenceTagsList: referenceTagsList,
            referenceTagsColumns: referenceTagsColumns,

            assignTag: assignTag,
            unassignTag: unassignTag,
            createNewCustomTag: createNewCustomTag,
            tableOptions: tableOptions,
            selectedTab: selectedTab,
            selectTab: selectTab
         }">

    <ul class="nav nav-tabs">
        <li role="presentation"
            data-bind="css: { active: selectedTab() == 'tags-assignment' }, click: function() { selectTab('tags-assignment'); }">
            <a data-bind="text: ko.i18n('components.tags.tabs.studyAssetTags', 'Study Asset Tags')"></a>
        </li>

        <li role="presentation"
            data-bind="css: { active: selectedTab() == 'reference' }, click: function() { selectTab('reference'); }">
            <a data-bind="text: ko.i18n('components.tags.tabs.reference', 'Reference')"></a>
        </li>
    </ul>

    <loading data-bind="css: classes('loading-panel'), visible: isLoading()" params="status: ko.i18n('common.loading', 'Loading...')"></loading>

    <div data-bind="css: classes(), if: !isLoading() && selectedTab() === 'tags-assignment'">

        <label data-bind="css: classes('available-tags-list-label'), text: ko.i18n('components.tags.availableTags', 'Available tags:')"></label>
        <div data-bind="css: classes('tags-list')">
            <table data-bind="
                css: classes({ element: 'tags-table', extra: ['table', 'table-bordered', 'table-hover'] }),
                dataTable:{
                    data: availableTagsList,
                    options: {
                        columns: availableTagsColumns,
                        pageLength: tableOptions.pageLength,
                        lengthMenu: tableOptions.lengthMenu,
                        language: ko.i18n('datatable.language')
                    },
                }
            "/>
        </div>

        <div data-bind="if:  groupsForCustomTags().length > 0">
            <label data-bind="click: () => showCreateCustomTag(!showCreateCustomTag()), css: classes('new-tag-label')">
                <span data-bind="text: ko.i18n('components.tags.assignExistingTag', 'Create custom tag')"></span>
                <i data-bind="attr: { class: showCreateCustomTag() ? 'fa fa-angle-down' : 'fa fa-angle-right' }"></i>
            </label>
            <div class="input-group" data-bind="if: showCreateCustomTag()">
                <input
                        class="form-control"
                        data-bind="placeholder: ko.i18n('components.tags.tagNamePlaceholder', 'Tag name'), textInput: newCustomTagName">
                <span class="input-group-btn">
                    <select class="form-control groups-dropdown" data-bind="options: groupsForCustomTags, optionsText: 'name', optionsValue: 'id', value: newCustomTagGroup" />
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" data-bind="click: createNewCustomTag, attr: { disabled: !(newCustomTagName() && newCustomTagName().length) }, text: ko.i18n('common.create', 'Create')"></button>
                </span>
            </div>
        </div>

        <label data-bind="css: classes('tags-list-label'), text: ko.i18n('components.tags.assignedTags', 'Assigned tags:')"></label>
        <div data-bind="css: classes('tags-list')">
            <table data-bind="
                css: classes({ element: 'tags-table', extra: ['table', 'table-bordered', 'table-hover'] }),
                dataTable:{
                    data: tagsList,
                    options: {
                        columns: columns,
                        pageLength: tableOptions.pageLength,
                        lengthMenu: tableOptions.lengthMenu,
                        language: ko.i18n('datatable.language')
                    },
                }
            "/>
        </div>
    </div>

    <div data-bind="css: classes(), if: !isLoading() && selectedTab() === 'reference'">

        <label data-bind="css: classes('reference-tags-list-label'), text: ko.i18n('components.tags.tagGroups', 'Tag Groups:')"></label>
        <table data-bind="
                css: classes({ element: 'tags-table', extra: ['table', 'table-bordered', 'table-hover'] }),
                dataTable:{
                    data: referenceTagGroupsList,
                    options: {
                        columns: referenceTagGroupsColumns,
                        pageLength: tableOptions.pageLength,
                        lengthMenu: tableOptions.lengthMenu,
                        language: ko.i18n('datatable.language')
                    },
                }
            "/>

        <div data-bind="if: referenceTagsList().length > 0">
            <label data-bind="css: classes('tags-list-label')">
                <b data-bind="text: ko.i18n('components.tags.tagGroup', 'Tag group:')"></b> <span data-bind="text: referenceTagsGroupName"></span>
            </label>
            <table data-bind="
                    css: classes({ element: 'tags-table', extra: ['table', 'table-bordered', 'table-hover'] }),
                    dataTable:{
                        data: referenceTagsList,
                        options: {
                            columns: referenceTagsColumns,
                            pageLength: tableOptions.pageLength,
                            lengthMenu: tableOptions.lengthMenu,
                            language: ko.i18n('datatable.language')
                        },
                    }
                "/>
        </div>
    </div>
</atlas-modal>