<atlas-modal params="showModal: $component.isModalShown,
										 title: ko.i18n('common.configureAccess', 'Configure access'),
										 data: {
										    classes: classes,
										    isLoading: isLoading,
										    readRoleName: readRoleName,
		                                                                    writeRoleName: writeRoleName,
										    writeAccessColumns: writeAccessColumns,
		                                                                    readAccessColumns: readAccessColumns,
										    writeAccessList: writeAccessList,
		                                                                    readAccessList: readAccessList,
										    grantAccess: grantAccess,
										    revokeRoleAccess: revokeRoleAccess,
										    readRoleOptions: readRoleOptions,
										    readRoleSearch: readRoleSearch,
		                                                                    writeRoleOptions: writeRoleOptions,
										    writeRoleSearch: writeRoleSearch
										 }">
    <loading data-bind="css: classes('loading-panel'), visible: isLoading()" params="status: ko.i18n('common.configureAccessModal.loadingAccessList', 'Loading access list...')"></loading>
    <div data-bind="css: classes()">
        <div data-bind="if: !isLoading()">
            <div data-bind="css: classes('new-access')">
                <label data-bind="css: classes('new-access-label'), text: ko.i18n('common.configureAccessModal.addWriteAccessToRole', 'Add WRITE access to role:')"></label>
                <div class="input-group"
                     data-bind="css: classes({ element: 'new-access-btn-group', extra: ['new-access-btn-group'] })">
                    <input
                        class="form-control"
                        data-bind="
                            textInput: writeRoleSearch,
                            value: writeRoleName,
                            eventType: 'blur',
                            ko_autocomplete: { source: writeRoleOptions(), minLength: 0, maxShowItems: 10, scroll: true }"
                    >
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" data-bind="click: grantAccess.bind($data,'WRITE'), attr: { disabled: !(writeRoleName() && writeRoleName().length) }, text: ko.i18n('common.add', 'Add')"></button>
                    </span>
                </div>
                <div data-bind="css: classes('access-list')">
                    <label data-bind="css: classes('access-list-label'), text: ko.i18n('common.configureAccessModal.rolesWithWriteAccess', 'Roles with WRITE access:')"></label>
                    <div>
                        <table data-bind="
                            css: classes({ element: 'access-table', extra: ['table', 'table-bordered', 'table-hover'] }),
                            dataTable:{
                                data: writeAccessList,
                                options: {columns: writeAccessColumns, language: ko.i18n('datatable.language')},
                            }
                        "/>
                    </div>
                </div>
	    </div>
	    <div data-bind="css: classes('new-access')">
		<label data-bind="css: classes('new-access-label'), text: ko.i18n('common.configureAccessModal.addReadAccessToRole', 'Add READ access to role:')"></label>
                <div class="input-group"
                     data-bind="css: classes({ element: 'new-access-btn-group', extra: ['new-access-btn-group'] })">
                    <input
                        class="form-control"
                        data-bind="
                            textInput: readRoleSearch,
                            value: readRoleName,
                            eventType: 'blur',
                            ko_autocomplete: { source: readRoleOptions(), minLength: 0, maxShowItems: 10, scroll: true }"
                    >
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" data-bind="click: grantAccess.bind($data,'READ'), attr: { disabled: !(readRoleName() && readRoleName().length) }, text: ko.i18n('common.add', 'Add')"></button>
                    </span>
                </div>
		<div data-bind="css: classes('access-list')">
                    <label data-bind="css: classes('access-list-label'), text: ko.i18n('common.configureAccessModal.rolesWithReadAccess', 'Roles with READ access:')"></label>
                    <div>
                        <table data-bind="
                            css: classes({ element: 'access-table', extra: ['table', 'table-bordered', 'table-hover'] }),
                            dataTable:{
                                data: readAccessList,
                                options: {columns: readAccessColumns, language: ko.i18n('datatable.language')},
                            }
                        "/>
                    </div>
		</div>
	    </div>
        </div>
    </div>
</atlas-modal>
