<div data-bind="css: classes()">
    <div id="summary" data-bind="visible: $component.managerMode() == 'summary'">
        <div class="paddedWrapper">
            <textarea data-bind="css: classes('description-entry'), value: $component.estimationAnalysis() && $component.estimationAnalysis().description, disable: !$component.isEditPermitted(), placeholder: ko.i18n('ple.spec.descriptionPlaceholder', 'enter a description here (1000 characters max)')" maxlength="1000"></textarea>
            <hr/>
            <div id="filters">
                <div class="row">
                    <div class="pull-left" data-bind="css: classes('filter-view'), text: ko.i18n('ple.spec.view', 'View:')"></div>
                    <div class="pull-left">
                        <ul class="nav nav-pills">
                            <li role="presentation" data-bind="css: {active: $component.specificationPillMode() == 'all' }, click: function() {$component.specificationPillMode('all') };"><a data-bind="text: ko.i18n('ple.spec.viewFullSpecification', 'Full Specification')"></a></li>
                            <li role="presentation" data-bind="css: {active: $component.specificationPillMode() == 'comparisons' }, click: function() {$component.specificationPillMode('comparisons') };"><a data-bind="text: ko.i18n('ple.spec.viewComparisons', 'Comparisons')"></a></li>
                            <li role="presentation" data-bind="css: {active: $component.specificationPillMode() == 'analysisSettings' }, click: function() {$component.specificationPillMode('analysisSettings') };"><a data-bind="text: ko.i18n('ple.spec.viewAnalysisSettings', 'Analysis Settings')"></a></li>
                            <li role="presentation" data-bind="css: {active: $component.specificationPillMode() == 'evaluation' }, click: function() {$component.specificationPillMode('evaluation') };"><a data-bind="text: ko.i18n('ple.spec.viewEvaluationSettings', 'Evaluation Settings')"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
                <div role="tabpanel" data-bind="visible: $component.specificationPillMode() == 'all' || $component.specificationPillMode() == 'comparisons'" class="tab-pane">
                <div class="paddedWrapper">
                    <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-balance-scale"></i> <span data-bind="text: ko.i18n('ple.spec.viewComparisons', 'Comparisons')"></span>
                    </div>
                    <div class="panel-body">
                        <div class="paddedWrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <i class="fa fa-users"></i> <span data-bind="text: ko.i18n('ple.spec.viewComparisons', 'Comparisons')"></span>
                            <button type="button" class="btn btn-primary btn-sm pull-right" data-bind="click: addComparison, disable: !$component.isEditPermitted()"><i class="fa fa-plus"></i> <span data-bind="text: ko.i18n('ple.spec.addComparisons', 'Add Comparisons')"></span></button>
                            </div>
                            <div class="panel-body">
                                <faceted-datatable params="{ 
                                columns: cca.comparisonTableColumns,
                                options: cca.comparisonTableOptions,
                                pageLength: cca.comparisonTableOptions.pageLength,
                                lengthMenu: cca.comparisonTableOptions.lengthMenu,
                                dom: cca.comparisonTableOptions.dom,
                                reference: comparisons,
                                rowClick: comparisonTableRowClickHandler,
                                language: ko.i18n('datatable.language')
                                }"></faceted-datatable>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div role="tabpanel" data-bind="visible: $component.specificationPillMode() == 'all' || $component.specificationPillMode() == 'analysisSettings'" class="tab-pane">
                    <div class="paddedWrapper">
                        <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-cogs"></i> <span data-bind="text: ko.i18n('ple.spec.analysisSettings', 'Analysis Settings')"></span>
                    </div>
                    <div class="panel-body">
                        <div class="paddedWrapper">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <span data-bind="text: ko.i18n('ple.spec.analysisSettings', 'Analysis Settings')"></span>
                                <button type="button" class="btn btn-primary btn-sm pull-right" data-bind="click: addAnalysis, disable: !$component.isEditPermitted()"><i class="fa fa-plus"></i> <span data-bind="text: ko.i18n('ple.spec.addAnalysisSettings', 'Add Analysis Settings')"></span></button>
                            </div>
                            <div class="panel-body">
                                <faceted-datatable params="{ 
                                    columns: cca.analysisSettingsTableColumns,
                                    options: cca.analysisSettingsTableOptions,
                                    pageLength: cca.analysisSettingsTableOptions.pageLength,
                                    lengthMenu: cca.analysisSettingsTableOptions.lengthMenu,
                                    dom: cca.analysisSettingsTableOptions.dom,
                                    reference: cohortMethodAnalysisList,
                                    rowClick: analysisSettingsTableRowClickHandler,
                                    language: ko.i18n('datatable.language')
                                }"></faceted-datatable>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div role="tabpanel" data-bind="visible: $component.specificationPillMode() == 'all' || $component.specificationPillMode() == 'evaluation'" class="tab-pane">
                <div class="paddedWrapper">
                    <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-cogs"></i> <span data-bind="text: ko.i18n('ple.spec.evaluationSettings', 'Evaluation Settings')"></span>
                    </div>
                    <div class="panel-body">
                        <div class="paddedWrapper">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-users"></i> <span data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.negativeControl', 'Negative Control Outcome Cohort Definition')"></span>
                            </div>
                            <div class="panel-body">
                                <span data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.negativeControlDesc', 'This expression will define the criteria for inclusion and duration of time for cohorts intended for use as negative control outcomes.')"></span>
                                <nc-outcome-cohort-settings-editor params="negativeControlCohortSettings: $component.estimationAnalysis() && $component.estimationAnalysis().negativeControlOutcomeCohortDefinition, isEditPermitted: $component.isEditPermitted"></nc-outcome-cohort-settings-editor>
                            </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-cog"></i> <span data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.positiveControl', 'Positive Control Synthesis')"></span>
                            </div>
                            <div class="panel-body">
                                <div data-bind="css: {'div-disabled': !$component.isEditPermitted()}">
                                    <label data-bind="text: ko.i18n('ple.spec.evaluationSettingsPanel.positiveControlPerform', 'Should we perform positive control synthesis? (to calibrate confidence intervals)')"></label>
                                    <div class="input-group">
                                        <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.estimationAnalysis() && $component.estimationAnalysis().doPositiveControlSynthesis"></select>
                                    </div>
                                </div>
                                <div data-bind="visible: $component.estimationAnalysis() && $component.estimationAnalysis().doPositiveControlSynthesis">
                                    <positive-control-synthesis-settings-editor params="settings: $component.estimationAnalysis() && $component.estimationAnalysis().positiveControlSynthesisArgs, subscriptions: $component.subscriptions, isEditPermitted: $component.isEditPermitted"></positive-control-synthesis-settings-editor>
                                </div>
                            </div>
                            </div>
                        </div>    
                    </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div id="editors" data-bind="visible: $component.managerMode() == 'editor'">
        <div id="editor-heading" class="editor-container">
            <div class="paddedWrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                    <div data-bind="click: closeEditor" class="editor-back-icon"><i class="fa fa-chevron-left fa-lg"></i></div>
                    <div>
                        <div class="editor-heading" data-bind="text: ko.unwrap(editorHeading)"></div>
                        <div data-bind="text: ko.unwrap(editorDescription)"></div>
                    </div>
                    </div>
                </div>
                <div class="panel-body" data-bind="if: $component.editorComponentName() != null">
                    <div id="editorComponent" data-bind='component: {name: $component.editorComponentName(), params: $component.editorComponentParams()}'></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
