<div>
    <label>Specify the statistical model used to estimate the risk of outcome between target and comparator cohorts:</label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.outcomeModelTypeOptions, optionsText:'name', optionsValue:'id', value: $component.outcomeModelArgs.modelType"></select>
    </div>
</div>
<div>
    <label>Should the regression be conditioned on the strata defined in the population object (e.g. by matching or stratifying on propensity scores)?</label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.outcomeModelArgs.stratified"></select>
    </div>
</div>
<div>
    <label>Whether to use the covariate matrix in the cohortMethodDataobject in the outcome model.</label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.outcomeModelArgs.useCovariates"></select>
    </div>
</div>
<div>
    <label>Use inverse probability of treatment weigting?</label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.outcomeModelArgs.inversePtWeighting"></select>
    </div>
</div>
<div>
    <label>An optional vector of covariate IDs to use to estimate interactions with the main treatment effect.</label>
    <div class="input-group">
        <input class="form-control" type="text" data-bind="textInput: $component.outcomeModelArgs.interactionCovariateIds" />
    </div>
</div>
<div>
    <label>Include only these covariates in the outcome model.</label>
    <div class="input-group">
        <input class="form-control" type="text" data-bind="textInput: $component.outcomeModelArgs.includeCovariateIds" />
    </div>
</div>
<div>
    <label>Exclude these covariates from the outcome model.</label>
    <div class="input-group">
        <input class="form-control" type="text" data-bind="textInput: $component.outcomeModelArgs.excludeCovariateIds" />
    </div>
</div>
<div class="row subsection">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading panel-subheading">
                <i class="fa fa-cogs"></i> Control Settings
            </div>
            <div class="panel-body">
                <cyclops-control-editor params="control: $component.outcomeModelArgs.control"></cyclops-control-editor>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading panel-subheading">
                <i class="fa fa-cogs"></i> Prior
            </div>
            <div class="panel-body">
                <cyclops-prior-editor params="prior: $component.outcomeModelArgs.prior"></cyclops-prior-editor>    
            </div>
        </div>
    </div>
</div>