.cost-utilization-drug-summary-util {

  padding: 1.5rem;

  &__loader {
    margin-bottom: 5rem;
  }

  &__filters-block {
    margin-bottom: 3rem;
  }

  &__descr {
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
  }

  &__tbl-col {
    cursor: pointer;

    &--drug {
      width: 25%;
    }
  }
}