<div data-bind="css: classes({extra: !isEditPermitted() ? 'div-disabled' : ''})">
    <div class="table-responsive">
        <table data-bind="css: classes('covariate-selection')" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.gender', 'Gender')"></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.age', 'Age')"></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.ageGroups', 'Age Groups')"></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.race', 'Race')"></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.ethnicity', 'Ethnicity')"></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.indexYear', 'Index Year')"></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.indexMonth', 'Index Month')"></th>
                    <th data-bind="html: ko.i18n('components.featureextraction.covariateSettingsEditor.priorObservationTime', 'Prior<br/>Observation Time')"></th>
                    <th data-bind="html: ko.i18n('components.featureextraction.covariateSettingsEditor.postObservationTime', 'Post<br/>Observation Time')"></th>
                    <th data-bind="html: ko.i18n('components.featureextraction.covariateSettingsEditor.timeInCohort', 'Time<br/>In Cohort')"></th>
                    <th data-bind="html: ko.i18n('components.featureextraction.covariateSettingsEditor.indexYearMonth', 'Index<br/>Year & Month')"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.demographics', 'Demographics')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DemographicsGender" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DemographicsAge" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DemographicsAgeGroup" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DemographicsRace" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DemographicsEthnicity" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DemographicsIndexYear" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DemographicsIndexMonth" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DemographicsPriorObservationTime" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DemographicsPostObservationTime" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DemographicsTimeInCohort" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DemographicsIndexYearMonth" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4 data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.timeBoundCovariates', 'Time bound covariates')"></h4>
    <h5 data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.setTheTimeWindows', 'Set the time windows for the time bound covariates in days relative to the cohort index')"></h5>
    <div data-bind="css: classes('covariate-selection')" class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.anyTimePrior', 'Any Time Prior')"></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.longTerm', 'Long Term')"></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.mediumTerm', 'Medium Term')"></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.shortTerm', 'Short Term')"></th>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.endDays', 'End Days')"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.timeWindows', 'Time Windows')"></b></td>
                    <td data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.allTime', 'All Time')"></td>
                    <td><input type="text" placeholder="Long Term" data-bind="css: classes('window'), value: $component.covariateSettings.longTermStartDays" /></td>
                    <td><input type="text" placeholder="Medium Term" data-bind="css: classes('window'), value: $component.covariateSettings.mediumTermStartDays" /></td>
                    <td><input type="text" placeholder="Short Term" data-bind="css: classes('window'), value: $component.covariateSettings.shortTermStartDays" /></td>
                    <td><input type="text" placeholder="End Days" data-bind="css: classes('window'), value: $component.covariateSettings.endDays" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5 data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.setTheTimeBoundEraCovariates', 'Set the time bound era covariates')"></h5>
    <div data-bind="css: classes('covariate-selection')" class="table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th rowspan="2"><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.domain', 'Domain')"></b></th>
                    <th rowspan="2" data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.anyTimePrior', 'Any Time Prior')"></th>
                    <th rowspan="2"><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.longTerm', 'Long Term')"></span><br/><span data-bind="text: $component.longTermLabel"></span></th>
                    <th rowspan="2"><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.mediumTerm', 'Medium Term')"></span><br/><span data-bind="text: $component.mediumTermLabel"></span></th>
                    <th rowspan="2"><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.shortTerm', 'Short Term')"></span><br/><span data-bind="text: $component.shortTermLabel"></span></th>
                    <th rowspan="2" data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.overlapping', 'Overlapping')"></th>
                    <th colspan="3" data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.eraStart', 'Era Start')"></th>
                </tr>
                <tr>
                    <th><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.longTerm', 'Long Term')"></span><br/><span data-bind="text: $component.longTermLabel"></span></th>
                    <th><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.mediumTerm', 'Medium Term')"></span><br/><span data-bind="text: $component.mediumTermLabel"></span></th>
                    <th><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.shortTerm', 'Short Term')"></span><br/><span data-bind="text: $component.shortTermLabel"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.condition', 'Condition')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionEraAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionEraLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionEraMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionEraShortTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionEraOverlapping" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionEraStartLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionEraStartMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionEraStartShortTerm" /></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.conditionGroup', 'Condition Group')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionGroupEraAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionGroupEraLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionGroupEraMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionGroupEraShortTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionGroupEraOverlapping" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionGroupEraStartLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionGroupEraStartMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionGroupEraStartShortTerm" /></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.drug', 'Drug')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugEraAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugEraLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugEraMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugEraShortTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugEraOverlapping" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugEraStartLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugEraStartMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugEraStartShortTerm" /></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.drugGroup', 'Drug Group')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugGroupEraAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugGroupEraLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugGroupEraMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugGroupEraShortTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugGroupEraOverlapping" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugGroupEraStartLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugGroupEraStartMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugGroupEraStartShortTerm" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5 data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.setTheTimeBoundCovariates', 'Set the time bound covariates')"></h5>
    <div data-bind="css: classes('covariate-selection')" class="table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th rowspan="2"><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.domain', 'Domain')"></b></th>
                    <th rowspan="2" data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.anyTimePrior', 'Any Time Prior')"></th>
                    <th rowspan="2"><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.longTerm', 'Long Term')"></span><br/><span data-bind="text: $component.longTermLabel"></span></th>
                    <th rowspan="2"><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.mediumTerm', 'Medium Term')"></span><br/><span data-bind="text: $component.mediumTermLabel"></span></th>
                    <th rowspan="2"><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.shortTerm', 'Short Term')"></span><br/><span data-bind="text: $component.shortTermLabel"></span></th>
                    <th colspan="3" data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.distinctCount', 'Distinct Count')"></th>
                </tr>
                <tr>
                    <th><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.longTerm', 'Long Term')"></span><br/><span data-bind="text: $component.longTermLabel"></span></th>
                    <th><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.mediumTerm', 'Medium Term')"></span><br/><span data-bind="text: $component.mediumTermLabel"></span></th>
                    <th><span data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.shortTerm', 'Short Term')"></span><br/><span data-bind="text: $component.shortTermLabel"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.condition', 'Condition')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionOccurrenceAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionOccurrenceLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionOccurrenceMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionOccurrenceShortTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctConditionCountLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctConditionCountMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctConditionCountShortTerm" /></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.conditionPrimaryInpatient', 'Condition - Primary Inpatient')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionOccurrencePrimaryInpatientAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionOccurrencePrimaryInpatientLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionOccurrencePrimaryInpatientMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ConditionOccurrencePrimaryInpatientShortTerm" /></td>
                    <td class="active"></td>
                    <td class="active"></td>
                    <td class="active"></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.drug', 'Drug')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugExposureAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugExposureLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugExposureMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DrugExposureShortTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctIngredientCountLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctIngredientCountMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctIngredientCountShortTerm" /></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.procedure', 'Procedure')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ProcedureOccurrenceAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ProcedureOccurrenceLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ProcedureOccurrenceMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ProcedureOccurrenceShortTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctProcedureCountLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctProcedureCountMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctProcedureCountShortTerm" /></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.measurement', 'Measurement')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementShortTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctMeasurementCountLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctMeasurementCountMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctMeasurementCountShortTerm" /></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.measurementValue', 'Measurement - Value')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementValueAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementValueLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementValueMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementValueShortTerm" /></td>
                    <td class="active"></td>
                    <td class="active"></td>
                    <td class="active"></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.measurementRangeGroup', 'Measurement - Range Group')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementRangeGroupAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementRangeGroupLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementRangeGroupMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.MeasurementRangeGroupShortTerm" /></td>
                    <td class="active"></td>
                    <td class="active"></td>
                    <td class="active"></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.observation', 'Observation')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ObservationAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ObservationLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ObservationMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.ObservationShortTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctObservationCountLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctObservationCountMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DistinctObservationCountShortTerm" /></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.device', 'Device')"></b></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DeviceExposureAnyTimePrior" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DeviceExposureLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DeviceExposureMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.DeviceExposureShortTerm" /></td>
                    <td class="active"></td>
                    <td class="active"></td>
                    <td class="active"></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.visitCount', 'Visit - Count')"></b></td>
                    <td class="active"></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.VisitCountLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.VisitCountMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.VisitCountShortTerm" /></td>
                    <td class="active"></td>
                    <td class="active"></td>
                    <td class="active"></td>
                </tr>
                <tr>
                    <td><b data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.visitConceptCount', 'Visit - Concept Count')"></b></td>
                    <td class="active"></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.VisitConceptCountLongTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.VisitConceptCountMediumTerm" /></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.VisitConceptCountShortTerm" /></td>
                    <td class="active"></td>
                    <td class="active"></td>
                    <td class="active"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5 data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.setTheIndexScoreCovariates', 'Set the index score covariates')"></h5>
    <div data-bind="css: classes('covariate-selection')" class="table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th data-bind="text: ko.i18n('components.featureextraction.covariateSettingsEditor.indexScoreType', 'Index Score Type')"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CHADS<sub>2</sub></td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.Chads2" /></td>
                </tr>
                <tr>
                    <td>CHA<sub>2</sub>DS<sub>2</sub>VASc</td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.Chads2Vasc" /></td>
                </tr>
                <tr>
                    <td>DCSI</td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.Dcsi" /></td>
                </tr>
                <tr>
                    <td>Charlson</td>
                    <td><input type="checkbox" data-bind="checked: $component.covariateSettings.CharlsonIndex" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>