.temporal-covar-settings-editor, .covar-settings-editor {
    &__covariate-selection {
        td, th {
            text-align: center;
        }
    }
    &__window {
        width: 35px;
    }
    &__temporal-window {
        width: 200px;
    }
    .table-condensed {
        thead, tbody, tfoot {
            tr {
                th, td {
                    padding: 2px;
                }
            }
        }
    }
}