<atlas-modal params="{
		showModal: helpCohortEventsOpened,
		title: ko.i18n('components.cohortExpressionEditor.cohortEntryEvents', 'Cohort Entry Events')
}">
	<span
		data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortEntryEventsText_1', 'Events are recorded time-stamped observations for the persons, such as drug exposures, conditions, procedures, measurements and visits. All events have a start date and end date, though some events may have a start date and end date with the same value (such as procedures or measurements).')"></span>
</atlas-modal>
<atlas-modal params="{
		showModal: helpInclusionCriteriaOpened,
		title: ko.i18n('components.cohortExpressionEditor.inclusionCriteria', 'Inclusion Criteria')
}">
	<div
		data-bind="text: ko.i18n('components.cohortExpressionEditor.inclusionCriteriaText', 'The qualifying cohort will be defined as all persons who have an initial event, satisfy the initial event inclusion criteria, and fulfill all additional qualifying inclusion criteria. Each qualifying inclusion criteria will be evaluated to determine the impact of the criteria on the attrition of persons from the initial cohort.')">
	</div>
</atlas-modal>
<atlas-modal params="{
		showModal: helpCohortExitOpened,
		title: ko.i18n('components.cohortExpressionEditor.cohortExit', 'Cohort Exit'),
		data: {}
}">
	<div
		data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortExitText_1', 'For all qualifying events, there must be a specification of when each event ends presence in the cohort. By default, an event ends at the end of the observation period containing the qualifying initial event, but event end dates may be also be specified:')">
	</div>
	<div class="heading strong"
		data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortExitTitle_1', 'Event End Dates')">
	</div>
	<div
		data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortExitText_2', 'The qualifying initial event can be set to end after a fixed time period relative to the event start or end date, or the end date can be based on the end of a continuous exposure to a set of drugs identified by a concept set.')">
	</div>
	<div class="heading strong"
		data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortExitTitle_2', 'Censoring Events')">
	</div>
	<div
		data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortExitText_3', 'Criteria can be used to signal the end of an event.  If a censoring event is identified between a qualifying event\'s start and end date, the date of the censoring event will be used as the exit date.')">
	</div>
</atlas-modal>

<div class="panel panel-primary cohort-definition-panel ui-front">
	<div class="panel-heading">
		<span
			data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortEntryEvents', 'Cohort Entry Events')"></span>
		<i data-bind="click: function () { $component.helpCohortEventsOpened(true) }"
			class="fa fa-question-circle pull-right"></i>
	</div>
	<div class="panel-body">
		<div class="criteriaGroup">

			<initial-criteria-editor params="{expression: expression}"></initial-criteria-editor>

			<div class="observation-window" data-bind="with: $component.expression().PrimaryCriteria().ObservationWindow">
				<span
					data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortEntryEventsText_3', 'with continuous observation of at least')"></span>
				<span contenteditable="true" class="numericInputField dropdown"
					data-bind="htmlValue: PriorDays.numeric(), eventType: 'blur', ko_autocomplete: { value: PriorDays, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
				<span
					data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortEntryEventsText_4', 'days before and')"></span>
				<span contenteditable="true" class="numericInputField dropdown"
					data-bind="htmlValue: PostDays.numeric(), eventType: 'blur', ko_autocomplete: { value: PostDays, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
				<span
					data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortEntryEventsText_5', 'days after event index date')"></span>
			</div>
			<div style="padding-top: 3px" data-bind="with: expression().PrimaryCriteria().PrimaryCriteriaLimit">
				<span
					data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortEntryEventsText_6', 'Limit initial events to:')"></span>
				<select data-bind="options: $component.options.resultLimitOptions,
				optionsText: function(item) { return item.name },
				optionsValue: 'id',
				value: Type">
				</select>
				<span
					data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortEntryEventsText_7', 'per person.')"></span>
			</div>
		</div>
		<div data-bind="with: expression">
			<div data-bind="if: AdditionalCriteria">
				<div><b
						data-bind="text: ko.i18n('components.cohortExpressionEditor.restrictInitialEventsTitle', 'Restrict intial events to:')"></b>
				</div>
				<criteria-group
					params="{expression: $data, group: AdditionalCriteria, indexMessage: ko.i18n('components.cohortExpressionEditor.indexMessage', 'The index date refers to the event from the Cohort Entry criteria.')}">
				</criteria-group>
				<div style="padding: 3px 0px" data-bind="with: QualifiedLimit">
					<span
						data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortEntryEventsText_6', 'Limit initial events to:')"></span>
					<select data-bind="options: $component.options.resultLimitOptions,
					optionsText: function(item) { return item.name() },
					optionsValue: 'id',
					value: Type">
					</select>
					<span
						data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortEntryEventsText_7', 'per person.')"></span>
				</div>
				<button class="btn btn-sm btn-danger"
					data-bind="text: ko.i18n('components.cohortExpressionEditor.removeRestriction', 'Remove initial event restriction'), click: function () { $component.removeAdditionalCriteria() }"></button>
			</div>
			<div data-bind="ifnot: AdditionalCriteria">
				<button class="btn btn-sm btn-success"
					data-bind="text: ko.i18n('components.cohortExpressionEditor.restrictInitialEventsButton', 'Restrict initial events'), click: function () { $component.addAdditionalCriteria() }"></button>
			</div>
		</div>
	</div>
</div>
</div>

<div class="panel panel-primary cohort-definition-panel ui-front">
	<div class="panel-heading">
		<span
			data-bind="text: ko.i18n('components.cohortExpressionEditor.inclusionCriteriaTitle', 'Inclusion Criteria')"></span>
		<i data-bind="click: function () { $component.helpInclusionCriteriaOpened(true) }"
			class="fa fa-question-circle pull-right"></i>
	</div>
	<div class="panel-body">
		<div data-bind="eventListener: [
			 { event: 'click', selector: '.copyInclusionRule', callback: copyInclusionRule},
			 { event: 'click', selector: '.deleteInclusionRule', callback: deleteInclusionRule}]">

			<div style="display: flex">
				<div style="position:relative; min-width:220px; overflow-y:auto">

					<div class="inclusion-criteria__block">
						<div>
							<button class="btn btn-sm btn-success"
								data-bind="text: ko.i18n('components.cohortExpressionEditor.newInclusionCriteria', 'New inclusion criteria'), click: addInclusionRule"></button>
						</div>
						<div>
							<table style="width: 100%" class="inclusionRules">
								<tbody data-bind="sortable: {data: expression().InclusionRules, connectClass: 'inclusionRuleItem'}">
									<tr
										data-bind="click: $component.selectInclusionRule, css: { selectedInclusion: $data == $component.selectedInclusionRule() }">
										<td style="width:20px; text-align: right; vertical-align: top;"
											data-bind="text: ($index() + 1) + '.'">
										</td>
										<td style="vertical-align: top;" class="inclusionRules">
											<div
												data-bind="text: ((name() || '').length > 0) ? name() : ko.i18n('components.cohortExpressionEditor.unnamedCriteria', 'Unnamed Criteria')">
											</div>
											<!-- ko if: (description() || '').length > 0 -->
											<div class="description" data-bind="text: description(), attr: { title: description() }"></div>
											<!-- /ko -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>

				<div class="inclusion-criteria__rules-block">
					<!-- ko if: $component.selectedInclusionRule() -->
					<inclusion-rule-editor params="{IndexRule: expression, InclusionRule: selectedInclusionRule}">
					</inclusion-rule-editor>
					<!-- /ko -->
				</div>
			</div>
		</div>
		<div style="padding-top: 3px" data-bind="with: expression().ExpressionLimit">
			<span
				data-bind="text: ko.i18n('components.cohortExpressionEditor.inclusionCriteriaText_1', 'Limit qualifying events to:')"></span>
			<select data-bind="options: $component.options.resultLimitOptions,
			optionsText: function(item) { return item.name },
			optionsValue: 'id',
			value: Type">
			</select>
			<span
				data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortEntryEventsText_7', 'per person.')"></span>
		</div>
	</div>
</div>

<div class="panel panel-primary cohort-definition-panel ui-front">
	<div class="panel-heading">
		<span data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortExitTitle', 'Cohort Exit')"></span>
		<i data-bind="click: function () { $component.helpCohortExitOpened(true) }"
			class="fa fa-question-circle pull-right"></i>
	</div>
	<div class="panel-body">
		<div class="heading strong"
			data-bind="text: ko.i18n('components.cohortExpressionEditor.eventPersistence', 'Event Persistence:')"></div>
		<end-strategy-editor
			params="strategy: $component.expression().EndStrategy, conceptSets: $component.expression().ConceptSets">
		</end-strategy-editor>
		<div class="heading strong"
			data-bind="text: ko.i18n('components.cohortExpressionEditor.censoringEvents', 'Censoring Events:')"></div>
		<div class="criteriaGroup">
			<censoring-criteria-editor params="{expression: expression}"></censoring-criteria-editor>
			<div
				data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortExitText_5', 'No censoring events selected.'), visible: expression().CensoringCriteria().length == 0">
			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary cohort-definition-panel ui-front">
	<div class="panel-heading">
		<span data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortErasTitle', 'Cohort Eras')"></span>
	</div>
	<div class="panel-body">
		<div data-bind="with: expression">
			<ul>
				<li>
					<span data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortErasText_1', 'Specify era collapse gap size:')"></span>
					<span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: CollapseSettings.EraPad.numeric(), eventType: 'blur', ko_autocomplete: { value: CollapseSettings.EraPad, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
					<span data-bind="text: ko.i18n('components.cohortExpressionEditor.days', 'days')"></span>
				</li>
				<!-- ko if: $component.showCensorWindow -->
				<li>
					<span data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortErasText_2', 'Left censor cohort start dates to')"></span>
					<input class="dateField" data-bind="placeholder: ko.i18n('components.cohortExpressionEditor.noCensoring', 'No Censoring'), datepicker: CensorWindow().StartDate, datepickerOptions: { defaultDate: new Date(), dateFormat: 'yy-mm-dd' }" />
					<span data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortErasText_2_1', ' ')"></span>
					<i data-bind="visible:CensorWindow().StartDate(),  click: () => CensorWindow().StartDate(null)" class="fa fa-times"></i>
				</li>
				<li>
					<span data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortErasText_3', 'Right censor cohort end dates to')"></span>
					<input class="dateField" data-bind="placeholder: ko.i18n('components.cohortExpressionEditor.noCensoring', 'No Censoring'), datepicker: CensorWindow().EndDate, datepickerOptions: { defaultDate: new Date(), dateFormat: 'yy-mm-dd' }" />
					<span data-bind="text: ko.i18n('components.cohortExpressionEditor.cohortErasText_3_1', ' ')"></span>
					<i data-bind="visible:CensorWindow().EndDate(),  click: () => CensorWindow().EndDate(null)" class="fa fa-times"></i>
				</li>
				<!-- /ko -->
				<!-- ko ifnot: $component.showCensorWindow -->
				<li>
					<span class="linkish" data-bind="click: () => $component.showCensorWindow(!$component.showCensorWindow())">
						<i data-bind="text: ko.i18n('components.cohortExpressionEditor.addTrimmingOptions', 'add trimming options...')"></i>
					</span>
				</li>
				<!-- /ko -->
			</ul>
		</div>

	</div>
</div>