<atlas-modal params="{
		showModal: helpCohortEventsOpened,
		title: 'Cohort Entry Events',
		data: {}
}">
	Events are recorded time-stamped observations for the persons, such as drug exposures, conditions, procedures, measurements and visits. All events have a start date and end date, though some events may have a start date and end date with the same value
	(such as procedures or measurements).
</atlas-modal>
<atlas-modal params="{
		showModal: helpInclusionCriteriaOpened,
		title: 'Inclusion Criteria',
		data: {}
}">
	The qualifying cohort will be defined as all persons who have an initial event, satisfy the initial event inclusion criteria, and fulfill all additional qualifying inclusion criteria. Each qualifying inclusion criteria will be evaluated to determine the
	impact of the criteria on the attrition of persons from the initial cohort.
</atlas-modal>
<atlas-modal params="{
		showModal: helpCohortExitOpened,
		title: 'Cohort Exit',
		data: {}
}">
	<div>
		For all qualifying events, there must be a specification of when each event ends presence in the cohort.
		By default, an event ends at the end of the observation period containing the qualifying initial event,
		but event end dates may be also be specified:
	</div>
	<div class="heading strong">Event End Dates</div>
	<div>
		The qualifying initial event can be set to end after a fixed time period relative to the event start or end date,
		or the end date can be based on the end of a continuous exposure to a set of drugs identified by a concept set.
	</div>
	<div class="heading strong">Censoring Events</div>
	<div>
		Criteria can be used to signal the end of an event.  If a censoring event is identified between a qualifying event's start and end date,
		the date of the censoring event will be used as the exit date.
	</div>
</atlas-modal>

<div class="panel panel-primary cohort-definition-panel">
	<div class="panel-heading">
		Cohort Entry Events <i data-bind="click: function () { $component.helpCohortEventsOpened(true) }" class="fa fa-question-circle pull-right"></i>
	</div>
	<div class="panel-body">
		<div class="criteriaGroup">
			<div class="criteriaHeading">
				<div class="row">
					<div class="col-sm-4">
						Events having any of the following criteria:
					</div>
					<div class="col-sm-8">
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> Add Initial Event <span class="caret"></span></button>
							<ul class="dropdown-menu" data-bind="foreach:$component.primaryCriteriaOptions">
								<li><a data-bind="html:$component.formatOption($data), click:action" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<table class="criteria">
				<colgroup>
					<col span="1" class="rule" />
					<col span="1" class="delete" />
				</colgroup>
				<tbody data-bind="sortable: {data: expression().PrimaryCriteria().CriteriaList, connectClass : 'primaryCriteria', options: {cancel: ':input, button, [contenteditable], .undraggable'}}">
					<tr>
						<td>
							<div class="criteria-content">
								<div data-bind='component: {
											name: $component.getCriteriaIndexComponent($data),
											params: {expression: $component.expression(), criteria: $data}
										}'></div>
							</div>
						</td>
						<td style="vertical-align: top;">
							<button class="btn btn-sm btn-danger" data-bind="click: function (data, event) { $component.removePrimaryCriteria(data) }">Delete Criteria</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="observation-window" data-bind="with: $component.expression().PrimaryCriteria().ObservationWindow"> with continuous observation of at least
				<span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: PriorDays.numeric(), eventType: 'blur', ko_autocomplete: { value: PriorDays, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />				days before and <span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: PostDays.numeric(), eventType: 'blur', ko_autocomplete: { value: PostDays, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }"
				/> days after event index date
			</div>
			<div style="padding-top: 3px" data-bind="with: expression().PrimaryCriteria().PrimaryCriteriaLimit">Limit initial events to:
				<select data-bind="options: $component.options.resultLimitOptions,
				optionsText: function(item) { return item.name },
				optionsValue: 'id',
				value: Type">
				</select> per person.
			</div>
		</div>
		<div data-bind="with: expression">
			<div data-bind="if: AdditionalCriteria">
				<div><b>Restrict intial events to:</b></div>
				<criteria-group params="{expression: $data, group: AdditionalCriteria}"> </criteria-group>
				<div style="padding: 3px 0px" data-bind="with: QualifiedLimit">Limit initial events to:
					<select data-bind="options: $component.options.resultLimitOptions,
					optionsText: function(item) { return item.name },
					optionsValue: 'id',
					value: Type">
					</select> per person.
				</div>
				<button class="btn btn-sm btn-danger" data-bind="click: function () { $component.removeAdditionalCriteria() }">Remove initial event restriction</button>
			</div>
			<div data-bind="ifnot: AdditionalCriteria">
				<button class="btn btn-sm btn-success" data-bind="click: function () { $component.addAdditionalCriteria() }">Restrict initial events</button>
			</div>
		</div>
	</div>
</div>
</div>

<div class="panel panel-primary cohort-definition-panel">
	<div class="panel-heading">
		Inclusion Criteria <i data-bind="click: function () { $component.helpInclusionCriteriaOpened(true) }" class="fa fa-question-circle pull-right"></i>
	</div>
	<div class="panel-body">
		<div data-bind="eventListener: [
			 { event: 'click', selector: '.copyInclusionRule', callback: copyInclusionRule},
			 { event: 'click', selector: '.deleteInclusionRule', callback: deleteInclusionRule}]">

			<div style="display: flex">
				<div style="position:relative; min-width:220px; overflow-y:auto">

					<div class="inclusion-criteria__block">
						<div>
							<button class="btn btn-sm btn-success" data-bind="click: addInclusionRule">New inclusion criteria</button>
						</div>
						<div>
							<table style="width: 100%" class="inclusionRules">
								<tbody data-bind="sortable: {data: expression().InclusionRules, connectClass: 'inclusionRuleItem'}">
									<tr data-bind="click: $component.selectInclusionRule, css: { selectedInclusion: $data == $component.selectedInclusionRule() }">
										<td style="width:20px; text-align: right; vertical-align: top;" data-bind="text: ($index() + 1) + '.'">
										</td>
										<td style="vertical-align: top;" class="inclusionRules">
											<div data-bind="text: ((name() || '').length > 0) ? name() : 'Unnamed Criteria'"></div>
											<!-- ko if: (description() || '').length > 0 -->
											<div class="description" data-bind="text: description(), attr: { title: description() }"></div>
											<!-- /ko -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>

				<div class="inclusion-criteria__rules-block">
					<!-- ko if: $component.selectedInclusionRule() -->
					<inclusion-rule-editor params="{IndexRule: expression, InclusionRule: selectedInclusionRule}"></inclusion-rule-editor>
					<!-- /ko -->
				</div>
			</div>
		</div>
		<div style="padding-top: 3px" data-bind="with: expression().ExpressionLimit">Limit qualifying events to:
			<select data-bind="options: $component.options.resultLimitOptions,
			optionsText: function(item) { return item.name },
			optionsValue: 'id',
			value: Type">
			</select> per person.
		</div>
	</div>
</div>


<div class="panel panel-primary cohort-definition-panel">
	<div class="panel-heading">
		Cohort Exit <i data-bind="click: function () { $component.helpCohortExitOpened(true) }" class="fa fa-question-circle pull-right"></i>
	</div>
	<div class="panel-body">
		<div class="heading strong">Event Persistence:</div>
		<end-strategy-editor params="strategy: $component.expression().EndStrategy, conceptSets: $component.expression().ConceptSets"></end-strategy-editor>
		<div class="heading strong">Censoring Events:</div>
		<div class="criteriaGroup">
			<div class="criteriaHeading">
				<table>
					<colgroup>
						<col />
						<col />
					</colgroup>
					<tbody>
						<tr>
							<td>
								Exit Cohort based on the following criteria:
							</td>
							<td>
								<div class="btn-group pull-right">
									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> Add Censoring Event <span class="caret"></span></button>
									<ul class="dropdown-menu" data-bind="foreach:$component.censorCriteriaOptions">
										<li><a data-bind="html:$component.formatOption($data), click:action" href="#"></a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<table class="criteria">
				<colgroup>
					<col span="1" class="rule" />
					<col span="1" class="delete" />
				</colgroup>
				<tbody data-bind="sortable: {data: expression().CensoringCriteria, connectClass : 'censoringCriteria', options: {cancel: ':input, button, [contenteditable]'}}">
					<tr>
						<td>
							<div class="criteria-content">
								<div data-bind='component: {
											name: $component.getCriteriaIndexComponent($data),
											params: {expression: $component.expression(), criteria: $data}
										}'></div>
							</div>
						</td>
						<td style="vertical-align: top;">
							<button class="btn btn-sm btn-danger" data-bind="click: function (data, event) { $component.removeCensoringCriteria(data) }">Delete Criteria</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div data-bind="visible: expression().CensoringCriteria().length == 0">
				No censoring events selected.
			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary cohort-definition-panel">
	<div class="panel-heading">
		Cohort Eras
	</div>
	<div class="panel-body">
		<div data-bind="with: expression">
			<ul>
				<li>
					Specify era collapse gap size:
					<span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: CollapseSettings.EraPad.numeric(), eventType: 'blur', ko_autocomplete: { value: CollapseSettings.EraPad, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" /> days
				</li>
				<!-- ko if: $component.showCensorWindow -->
				<li>
					Left censor cohort start dates to <input placeholder="No Censoring" class="dateField" data-bind="datepicker: CensorWindow().StartDate, datepickerOptions: { defaultDate: new Date(), dateFormat: 'yy-mm-dd' }" /> <i data-bind="visible:CensorWindow().StartDate(),  click: () => CensorWindow().StartDate(null)" class="fa fa-times"></i>
				</li>
				<li>
					Right censor cohort end dates to <input placeholder="No Censoring" class="dateField" data-bind="datepicker: CensorWindow().EndDate, datepickerOptions: { defaultDate: new Date(), dateFormat: 'yy-mm-dd' }" /> <i data-bind="visible:CensorWindow().EndDate(),  click: () => CensorWindow().EndDate(null)" class="fa fa-times"></i>
				</li>
				<!-- /ko -->
				<!-- ko ifnot: $component.showCensorWindow -->
				<li>
					<span class="linkish" data-bind="click: () => $component.showCensorWindow(!$component.showCensorWindow())"><i>add trimming options...</i></span>
				</li>
				<!-- /ko -->
			</ul>
		</div>

	</div>
</div>

