<!-- ko if: strategy()-->
<div>
	<b
		data-bind="text: ko.i18n('components.customEraStrategy.customEraStrategyText_1', 'Continuous Exposure Persistence:')"></b><br />
	<span
		data-bind="text: ko.i18n('components.customEraStrategy.customEraStrategyText_2', 'Specify a concept set that contains one or more drugs.  A drug era will be derived from all drug exposure events for any of the drugs within the concept set, using the specified persistence window as a maximum allowable gap in days between successive exposure events and adding a specified surveillance window to the final exposure event.  If no exposure event end date is provided, then an exposure event end date is inferred to be event start date + days supply in cases when days supply is available or event start date + 1 day otherwise. This event persistence assures that the cohort end date will be no greater than the drug era end date.')"></span>
</div>
<div style="padding: 5px 0px">
	<span
		data-bind="text: ko.i18n('components.customEraStrategy.customEraStrategyText_3', 'Concept set containing the drug(s) of interest:')"></span>
	<conceptset-selector
		params="conceptSetId: strategy().DrugCodesetId, conceptSets: conceptSets, defaultText: ko.i18n('components.customEraStrategy.selectDrugConceptSet', 'Select Drug Concept Set')">
	</conceptset-selector>
	<ul>
		<li>
			<span
				data-bind="text: ko.i18n('components.customEraStrategy.customEraStrategyText_4', 'Persistence window: allow for a maximum of ')"></span>
			<span contenteditable="true" class="numericInputField dropdown"
				data-bind="htmlValue: strategy().GapDays.numeric(), eventType:'blur', ko_autocomplete: { value: strategy().GapDays, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }"></span>
			<span
				data-bind="text: ko.i18n('components.customEraStrategy.customEraStrategyText_5', 'days between exposure records when inferring the era of persistence exposure')"></span>
		</li>
		<li>
			<span
				data-bind="text: ko.i18n('components.customEraStrategy.customEraStrategyText_6', 'Surveillance window: add ')"></span>
			<span contenteditable="true" class="numericInputField dropdown"
				data-bind="htmlValue: strategy().Offset.numeric(), eventType:'blur', ko_autocomplete: { value: strategy().Offset, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }"></span>
			<span
				data-bind="text: ko.i18n('components.customEraStrategy.customEraStrategyText_7', 'days to the end of the era of persistence exposure as an additional period of surveillance prior to cohort exit.')"></span>
		</li>
		<!-- ko if: strategy().DaysSupplyOverride() == null -->
		<li>
			<span
				data-bind="text: ko.i18n('components.customEraStrategy.customEraStrategyText_8', 'Use days supply and exposure end date for exposure duration. ')"></span>
			<span class="linkish" data-bind="click: $component.addDaysSupplyOverride">
				<i>
					<span data-bind="text: ko.i18n('components.customEraStrategy.customEraStrategyText_9', 'change')"></span>
				</i>
			</span></li>
		<!-- /ko -->
		<!-- ko ifnot: strategy().DaysSupplyOverride() == null  -->
		<li class="criteriaSection">
			<span
				data-bind="text: ko.i18n('components.customEraStrategy.customEraStrategyText_10', 'Force drug exposure days supply to:')"></span>
			<span contenteditable="true" class="numericInputField dropdown"
				data-bind="htmlValue: strategy().DaysSupplyOverride.numeric(), eventType:'blur', ko_autocomplete: { value: strategy().DaysSupplyOverride, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }"></span>
			<span data-bind="text: ko.i18n('components.customEraStrategy.customEraStrategyText_11', 'days.')"></span>
			<i class="fa fa-times" data-bind="click: $component.removeDaysSupplyOverride" /></li>
		<!-- /ko -->

	</ul>
</div>
<!-- /ko -->