<div>
	Cohort exit criteria based on a fixed time period relative to initial event start or end date:<br/>
</div>
<div>
	A cohort end date is derived from adding a number of days to be offset from the specified initial event date.  
	If an offset is added to the initial event start date, all cohort episodes will have the same fixed duration 
	(subject to further censoring from other cohort exit criteria).  If an offset is added to the initial event end date, 
	persons in the cohort may have varying cohort duration times due to the varying durations of the initial events 
	(such as eras of persistent drug exposure or visit length of stay).  This cohort exit criteria assures that the cohort 
	end date will be no greater than the selected index event date, plus the days offset.
</div>
<div style="padding: 5px 0px">
	<ul>
		<li>
			Initial event date to offset from:  <select data-bind="options: $component.fieldOptions, optionsText: 'name', optionsValue: 'id', value: strategy().DateField" />
		</li>
		<li>
			Number of days offset:  <span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: strategy().Offset.numeric(), eventType:'blur', ko_autocomplete: { value: strategy().Offset, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" /> days
		</li>
	</ul>
</div>