<!-- ko if: strategy()-->
<div>
	<b
		data-bind="text: ko.i18n('components.dateOffsetStrategy.dateOffsetStrategyText_1', 'Fixed Duration Persistence:')"></b><br />
</div>
<div data-bind="with: strategy()">
	<span data-bind="text: ko.i18nformat('components.dateOffsetStrategy.dateOffsetStrategyText_9', 'The event end date is derived from adding a number of <%=unitFilter%>s to the event\'s start or end date. If an offset is added to the event\'s start date, all cohort episodes will have the same fixed duration (subject to further censoring).  If an offset is added to the event\'s end date, persons in the cohort may have varying cohort duration times due to the varying event durations (such as eras of persistent drug exposure or visit length of stay).  This event persistence assures that the cohort end date will be no greater than the selected index event date, plus the <%=unitFilter%>s offset.', {unitFilter: $component.options.windowTimeOptions.find(option => option.value ===  OffsetUnit())?.name()})"></span>
</div>
<div style="padding: 5px 0px">
	<ul>
		<li>
			<span data-bind="text: ko.i18n('components.dateOffsetStrategy.dateOffsetStrategyText_3', 'Event date to offset from:')"></span>
			<select data-bind="options: $component.fieldOptions, optionsText: 'name', optionsValue: 'id', value: strategy().DateField" />
			<span data-bind="text: ko.i18n('components.dateOffsetStrategy.dateOffsetStrategyText_3_1', '')"></span>
		</li>
		<li data-bind="with: strategy()">
			<span
				data-bind="text: ko.i18nformat('components.dateOffsetStrategy.dateOffsetStrategyText_10', 'Number of <%=unitFilter%>s offset:', {unitFilter: $component.options.windowTimeOptions.find(option => option.value ===  OffsetUnit())?.name()})"></span>
			<span contenteditable="true" class="numericInputField dropdown"
				data-bind="htmlValue: OffsetUnitValue, eventType:'blur', ko_autocomplete: { value: OffsetUnitValue, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }"></span>
			<select data-bind="options: $component.options.windowTimeOptions,
				optionsText: function(item) { return item.name },
				optionsValue: 'value',
				value: OffsetUnit">
			</select>
		</li>
	</ul>
</div>
<!-- /ko -->