<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.maxIterations', 'Maximum iterations of Cyclops to attempt before returning a failed-to-converge error.')"></label>
    <div class="input-group">
        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.control.maxIterations, eventType:'blur', ko_autocomplete: { value: $component.control.maxIterations, source: $component.options.maxIterationOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.maxRelativeChange', 'Maximum relative change in convergence criterion from successive iterations to achieve convergence.')"></label>
    <div class="input-group">
        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.control.tolerance, eventType:'blur', ko_autocomplete: { value: $component.control.tolerance, source: $component.options.toleranceOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.convergenceType', 'Select the convergence type:')"></label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.convergenceType, optionsText:'name', optionsValue:'id', value: $component.control.convergenceType"></select>
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.crossValidationSearchType', 'Select the cross validation search type:')"></label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.cvType, optionsText:'name', optionsValue:'id', value: $component.control.cvType"></select>
    </div>
</div>
<div data-bind="if: $component.control.cvType() == 'grid'">
    <div>
        <label data-bind="text: ko.i18n('components.cyclops.controlEditor.lowerPrior', 'Lower prior variance limit:')"></label>
        <div class="input-group">
            <input placeholder="Lower prior variance limit" class="form-control" type="text" data-bind="textInput: $component.control.lowerLimit" />
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('components.cyclops.controlEditor.upperPrior', 'Upper prior variance limit:')"></label>
        <div class="input-group">
            <input placeholder="Upper prior variance limit" class="form-control" type="text" data-bind="textInput: $component.control.upperLimit" />
        </div>
    </div>
    <div>
        <label data-bind="text: ko.i18n('components.cyclops.controlEditor.numberOfSteps', 'Number of steps:')"></label>
        <div class="input-group">
            <input placeholder="Number of steps" class="form-control" type="text" data-bind="textInput: $component.control.gridSteps" />
        </div>
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.numberOfRandomFolds', 'Number of random folds to employ in cross validation:')"></label>
    <div class="input-group">
        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.control.fold, eventType:'blur', ko_autocomplete: { value: $component.control.fold, source: $component.options.foldOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
    </div>
</div>
<div>
    <label data-bind="text: ko.i18nformat('components.cyclops.controlEditor.numberOfRepetitions', 'Number of repetitions of <%=num%>-fold cross validation:', { num: ko.unwrap($component.control.fold) })"></label>
    <div class="input-group">
        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.control.cvRepetitions, eventType:'blur', ko_autocomplete: { value: $component.control.cvRepetitions, source: $component.options.cvRepetitions, minLength: 0, maxShowItems: 10, scroll: true }" />
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.minDataCrossValidation', 'Minimum amount of data required for cross-validation:')"></label>
    <div class="input-group">
        <span cclass="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.control.minCVData, eventType:'blur', ko_autocomplete: { value: $component.control.minCVData, source: $component.options.minCVData, minLength: 0, maxShowItems: 10, scroll: true }" />
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.noiseLevel', 'Noise level for Cyclops screen output:')"></label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.noiseLevel, optionsText:'name', optionsValue:'id', value: $component.control.noiseLevel"></select>
    </div>
</div>
<!-- -->
<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.resetAllCoefficients', 'Reset all coefficients to 0 between model fits under cross-validation:')"></label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.control.resetCoefficients"></select>
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.startingVariance', 'Starting variance for auto-search cross-validation; -1 = use estimate based on data:')"></label>
    <div class="input-group">
        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.control.startingVariance, eventType:'blur', ko_autocomplete: { value: $component.control.startingVariance, source: $component.options.startingVariance, minLength: 0, maxShowItems: 10, scroll: true }" />
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.useTheKarush', 'Use the Karush-Kuhn-Tucker conditions to limit search:')"></label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: $component.control.useKKTSwindle"></select>
    </div>
</div>
<div data-bind="visible: $component.control.useKKTSwindle()">
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.sizeMultiplier', 'Size multiplier for active set:')"></label>
    <div class="input-group">
        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.control.tuneSwindle, eventType:'blur', ko_autocomplete: { value: $component.control.tuneSwindle, source: $component.options.tuneSwindle, minLength: 0, maxShowItems: 10, scroll: true }" />
    </div>
</div>
<div>
    <label data-bind="html: ko.i18n('components.cyclops.controlEditor.nameOfExchangeableSamplingUnit', 'Name of exchangeable sampling unit. Option <i>byPid</i> selects entire strata. Option <i>byRow</i> selects single rows. If set to <i>auto</i>, <i>byRow</i> will be used for all models except conditional models where the average number of rows per stratum is smaller than the number of strata:')"></label>
    <div class="input-group">
        <select class="form-control" data-bind="options: $component.options.selectorType, optionsText:'name', optionsValue:'id', value: $component.control.selectorType"></select>
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.initialBound', 'Initial bound:')"></label>
    <div class="input-group">
        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.control.initialBound, eventType:'blur', ko_autocomplete: { value: $component.control.initialBound, source: $component.options.initialBound, minLength: 0, maxShowItems: 10, scroll: true }" />
    </div>
</div>
<div>
    <label data-bind="text: ko.i18n('components.cyclops.controlEditor.maxBoundCount', 'Max bound count:')"></label>
    <div class="input-group">
        <span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditPermitted(), htmlValue: $component.control.maxBoundCount, eventType:'blur', ko_autocomplete: { value: $component.control.maxBoundCount, source: $component.options.maxBoundCount, minLength: 0, maxShowItems: 10, scroll: true }" />
    </div>
</div>