<div class="modal" id="helpModalInitialEventCohort" tabindex="-1 " role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				Initial event cohort
			</div>
			<div class="modal-body">
				Events are recorded time-stamped observations for the persons, such as drug exposures, conditions, procedures, measurements and visits. All events have a start date and end date, though some events may have a start date and end date with the same value
				(such as procedures or measurements). The event index date is set to be equal to the event start date.
			</div>
		</div>
	</div>
</div>

<div class="modal" id="helpModalAdditionalQualifyingInclusionCritiera" tabindex="-1 " role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				Additional Qualifying Inclusion Criteria
			</div>
			<div class="modal-body">
				The qualifying cohort will be defined as all persons who have an initial event, satisfy the initial event inclusion criteria, and fulfill all additional qualifying inclusion criteria. Each qualifying inclusion criteria will be evaluated to determine the
				impact of the criteria on the attrition of persons from the initial cohort.
			</div>
		</div>
	</div>
</div>

<div class="modal" id="helpModalCensoringEvents" tabindex="-1 " role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				Censoring Events
			</div>
			<div class="modal-body">
				<p>
					Censoring events are used to indicate when a person will exit the cohort due to one or more event triggers.
				</p>
				<p>
					The first censoring event found after entering the cohort will be used to exit the cohort.
				</p>
				<p>
					<i>Note: censoring events occurring prior to cohort entry will not exclude the person from the cohort.  Use inclusion criteria to filter the people that have the censoring event prior to index.</i>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary cohort-definition-panel">
	<div class="panel-heading">
		Initial Event Cohort <i data-toggle="modal" data-target="#helpModalInitialEventCohort" class="fa fa-question-circle pull-right"></i>
	</div>
	<div class="panel-body">
		<div class="criteriaGroup">
			<div class="criteriaHeading">
				<div class="row">
					<div class="col-sm-4">
						People having any of the following:
					</div>
					<div class="col-sm-8">
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> Add Initial Event <span class="caret"></span></button>
							<ul class="dropdown-menu" data-bind="foreach:$component.primaryCriteriaOptions">
								<li><a data-bind="html:$component.formatOption($data), click:action" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<table class="criteria">
				<colgroup>
					<col span="1" class="rule" />
					<col span="1" class="delete" />
				</colgroup>
				<tbody data-bind="sortable: {data: expression().PrimaryCriteria().CriteriaList, connectClass : 'primaryCriteria', options: {cancel: ':input, button, [contenteditable], .undraggable'}}">
					<tr>
						<td>
							<div class="criteria-content">
								<div data-bind='component: {
											name: $component.getCriteriaIndexComponent($data),
											params: {expression: $component.expression(), criteria: $data}
										}'></div>
							</div>
						</td>
						<td style="vertical-align: top;">
							<button class="btn btn-sm btn-danger" data-bind="click: function (data, event) { $component.removePrimaryCriteria(data) }">Delete Criteria</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="observation-window" data-bind="with: $component.expression().PrimaryCriteria().ObservationWindow"> with continuous observation of at least
				<span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: PriorDays.numeric(), eventType: 'blur', ko_autocomplete: { value: PriorDays, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />				days before and <span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: PostDays.numeric(), eventType: 'blur', ko_autocomplete: { value: PostDays, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }"
				/> days after event index date
			</div>
			<div style="padding-top: 3px" data-bind="with: expression().PrimaryCriteria().PrimaryCriteriaLimit">Limit initial events to:
				<select data-bind="options: $component.options.resultLimitOptions,
				optionsText: function(item) { return item.name },
				optionsValue: 'id',
				value: Type">
				</select> per person.
			</div>
		</div>
		<div data-bind="with: expression">
			<div data-bind="if: AdditionalCriteria">
				<div><b>Initial event inclusion criteria:</b> From among the initial events, include:</div>
				<criteria-group params="{expression: $data, group: AdditionalCriteria}"> </criteria-group>
				<div style="padding: 3px 0px" data-bind="with: QualifiedLimit">Limit cohort of initial events to:
					<select data-bind="options: $component.options.resultLimitOptions,
					optionsText: function(item) { return item.name },
					optionsValue: 'id',
					value: Type">
					</select> per person.
				</div>
				<button class="btn btn-sm btn-danger" data-bind="click: function () { $component.removeAdditionalCriteria() }">Remove initial event inclusion criteria</button>
			</div>
			<div data-bind="ifnot: AdditionalCriteria">
				<button class="btn btn-sm btn-success" data-bind="click: function () { $component.addAdditionalCriteria() }">Add initial event inclusion criteria</button>
			</div>
		</div>
	</div>
</div>
</div>

<div class="panel panel-primary cohort-definition-panel">
	<div class="panel-heading">
		Additional Qualifying Inclusion Criteria <i data-toggle="modal" data-target="#helpModalAdditionalQualifyingInclusionCritiera" class="fa fa-question-circle pull-right"></i>
	</div>
	<div class="panel-body">
		<div data-bind="eventListener: [
			 { event: 'click', selector: '.copyInclusionRule', callback: copyInclusionRule},
			 { event: 'click', selector: '.deleteInclusionRule', callback: deleteInclusionRule}]">

			<table style="width: 100%">
				<colgroup>
					<col span="1" style="width: 200px;" />
					<col span="1" />
				</colgroup>
				<tbody>
					<tr>
						<td style="vertical-align: top; padding-right: 20px;">
							<div>
								<button class="btn btn-sm btn-success" data-bind="click: addInclusionRule">New qualifying inclusion criteria</button>
							</div>
							<div>
								<table style="width: 100%" class="inclusionRules">
									<tbody data-bind="sortable: {data: expression().InclusionRules, connectClass: 'inclusionRuleItem'}">
										<tr data-bind="click: $component.selectInclusionRule, css: { selectedInclusion: $data == $component.selectedInclusionRule() }">
											<td style="width:20px; text-align: right; vertical-align: top;" data-bind="text: ($index() + 1) + '.'">
											</td>
											<td style="vertical-align: top;" class="inclusionRules">
												<div data-bind="text: ((name() || '').length > 0) ? name() : 'Unnamed Criteria'"></div>
												<!-- ko if: (description() || '').length > 0 -->
												<div class="description" data-bind="text: description()"></div>
												<!-- /ko -->
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
						<td style="vertical-align: top; padding-left: 25px; border-left: 1px #eee solid;">
							<!-- ko if: $component.selectedInclusionRule() -->
							<inclusion-rule-editor params="{IndexRule: expression, InclusionRule: selectedInclusionRule}"></inclusion-rule-editor>
							<!-- /ko -->
							<!-- ko ifnot: $component.selectedInclusionRule() -->
							<div>Please select a qualifying inclusion criteria to edit.</div>
							<!-- /ko -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="padding-top: 3px" data-bind="with: expression().ExpressionLimit">Limit qualifying cohort to:
			<select data-bind="options: $component.options.resultLimitOptions,
			optionsText: function(item) { return item.name },
			optionsValue: 'id',
			value: Type">
			</select> per person.
		</div>
	</div>
</div>

<end-strategy-editor params="strategy: $component.expression().EndStrategy, conceptSets: $component.expression().ConceptSets"></end-strategy-editor>

<div class="panel panel-primary cohort-definition-panel">
	<div class="panel-heading">
		Censoring Events <i data-toggle="modal" data-target="#helpModalCensoringEvents" class="fa fa-question-circle pull-right"></i>
	</div>
	<div class="panel-body">
		<div class="criteriaGroup">
			<div class="criteriaHeading">
				<table>
					<colgroup>
						<col />
						<col />
					</colgroup>
					<tbody>
						<tr>
							<td>
								Exit Cohort based on the following:
							</td>
							<td>
								<div class="btn-group pull-right">
									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> Add Censoring Event <span class="caret"></span></button>
									<ul class="dropdown-menu" data-bind="foreach:$component.censorCriteriaOptions">
										<li><a data-bind="html:$component.formatOption($data), click:action" href="#"></a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<table class="criteria">
				<colgroup>
					<col span="1" class="rule" />
					<col span="1" class="delete" />
				</colgroup>
				<tbody data-bind="sortable: {data: expression().CensoringCriteria, connectClass : 'censoringCriteria', options: {cancel: ':input, button, [contenteditable]'}}">
					<tr>
						<td>
							<div class="criteria-content">
								<div data-bind='component: {
											name: $component.getCriteriaIndexComponent($data),
											params: {expression: $component.expression(), criteria: $data}
										}'></div>
							</div>
						</td>
						<td style="vertical-align: top;">
							<button class="btn btn-sm btn-danger" data-bind="click: function (data, event) { $component.removeCensoringCriteria(data) }">Delete Criteria</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div data-bind="visible: expression().CensoringCriteria().length == 0">
				No censoring events selected.
			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary cohort-definition-panel">
	<div class="panel-heading">
		Cohort Collapse Strategy
	</div>
	<div class="panel-body">
		<div data-bind="with: expression().CollapseSettings">
			<ul>
				<li>
					Specify era collapse gap size:
					<span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: EraPad.numeric(), eventType: 'blur', ko_autocomplete: { value: EraPad, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />					days
				</li>
			</ul>
		</div>
	</div>
	<div class="panel-footer">
		This strategy collapses events into eras of a continous period and eliminates the duplicate rows for the same subjects.
	</div>
</div>

<div class="panel panel-primary cohort-definition-panel">
	<div class="panel-heading">
		Cohort Censor Window
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				Drops all persons, who do no fall inside the censor window.
			</div>
			<div class="col-xs-12">
				<period-input params="Period: expression().CensorWindow"></period-input>
			</div>
		</div>
	</div>
</div>
