<div class="paddedWrapper">
	<ul class="nav nav-pills">
		<li role="presentation" data-bind="css: { active: $component.expressionMode() == 'all' }, click: function() { $component.expressionMode('all') };">
			<a>All</a>
		</li>
		<li role="presentation" data-bind="css: { active: $component.expressionMode() == 'entry' }, click: function() { $component.expressionMode('entry') };">
			<a>Cohort Entry Criteria</a>
		</li>
		<li role="presentation" data-bind="css: { active: $component.expressionMode() == 'exit' }, click: function() { $component.expressionMode('exit') };">
			<a>Cohort Exit Criteria</a>
		</li>

	</ul>
</div>

<div class="tab-content">
	<div role="tabpanel" data-bind="css: { active: $component.expressionMode() == 'entry' || $component.expressionMode() == 'all' }" class="tab-pane">
		<div class="heading">
			<b>Initial event cohort:</b>  Events are recorded time-stamped observations for the persons, such as drug exposures, 
			conditions, procedures, measurements and visits.  All events have a start date and end date, though some events may have a 
			start date and end date with the same value (such as procedures or measurements).  The event index date is set to be equal 
			to the event start date.
		</div>
		<div class="criteriaGroup">
			<div class="criteriaHeading">
				<table>
					<colgroup>
						<col />
						<col />
					</colgroup>
					<tbody>
						<tr>
							<td>
								People having any of the following:
							</td>
							<td>
								<div data-bind="ddSlickAction: $component.addPrimaryCriteriaOptions"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<table class="criteria">
				<colgroup>
					<col span="1" class="rule" />
					<col span="1" class="delete" />
				</colgroup>
				<tbody data-bind="sortable: {data: expression().PrimaryCriteria().CriteriaList, connectClass : 'primaryCriteria', options: {cancel: ':input, button, [contenteditable]'}}">
					<tr>
						<td>
							<div class="criteria-content">
								<div data-bind='component: { 
											name: $component.getCriteriaIndexComponent($data),
											params: {expression: $component.expression(), criteria: $data}
										}'></div>
							</div>
						</td>
						<td style="vertical-align: top;">
							<button class="btn btn-sm btn-danger" data-bind="click: function (data, event) { $component.removePrimaryCriteria(data) }">Delete Criteria</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="observation-window" data-bind="with: $component.expression().PrimaryCriteria().ObservationWindow"> with continuous observation of at least
				<span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: PriorDays.numeric(), eventType: 'blur', ko_autocomplete: { value: PriorDays, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" /> days before and <span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: PostDays.numeric(), eventType: 'blur', ko_autocomplete: { value: PostDays, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" /> days after event index date
			</div>			
			<div style="padding-top: 3px" data-bind="with: expression().PrimaryCriteria().PrimaryCriteriaLimit">Limit initial events to:
				<select data-bind="options: $component.options.resultLimitOptions, 
				optionsText: function(item) { return item.name }, 
				optionsValue: 'id',
				value: Type">
				</select> per person.
			</div>
		</div>
		<div data-bind="with: expression">
			<div data-bind="if: AdditionalCriteria">
				<div><b>Initial event inclusion criteria:</b>  From among the initial events, include:</div>
				<criteria-group params="{expression: $data, group: AdditionalCriteria}"> </criteria-group>
				<div style="padding: 3px 0px" data-bind="with: QualifiedLimit">Limit cohort of initial events to:
					<select data-bind="options: $component.options.resultLimitOptions, 
					optionsText: function(item) { return item.name }, 
					optionsValue: 'id',
					value: Type">
					</select> per person.
				</div>				
				<button class="btn btn-sm btn-danger" data-bind="click: function () { $component.removeAdditionalCriteria() }">Remove initial event inclusion criteria</button>
			</div>
			<div data-bind="ifnot: AdditionalCriteria">
				<button class="btn btn-sm btn-success" data-bind="click: function () { $component.addAdditionalCriteria() }">Add initial event inclusion criteria</button>
			</div>
		</div>		

		<div class="heading">
			<b>Additional qualifying inclusion criteria:  </b>
			The qualifying cohort will be defined as all persons who have an initial event, satisfy the initial event 
			inclusion criteria, and fulfill all additional qualifying inclusion criteria.  Each qualifying inclusion criteria 
			will be evaluated to determine the impact of the criteria on the attrition of persons from the initial cohort.
		</div>
		<div data-bind="eventListener: [
			 { event: 'click', selector: '.copyInclusionRule', callback: copyInclusionRule},
			 { event: 'click', selector: '.deleteInclusionRule', callback: deleteInclusionRule},
			 { event: 'click', selector: '.addConceptSet', callback: addConceptSet}]">

			<table style="width: 100%">
				<colgroup>
					<col span="1" style="width: 200px;" />
					<col span="1" />
				</colgroup>
				<tbody>
					<tr>
						<td style="vertical-align: top; padding-right: 20px;">
							<div>
								<button class="btn btn-sm btn-success" data-bind="click: addInclusionRule">New qualifying inclusion criteria</button>
							</div>
							<div>
								<table style="width: 100%" class="inclusionRules">
									<tbody data-bind="sortable: {data: expression().InclusionRules, connectClass: 'inclusionRuleItem'}">
										<tr data-bind="click: $component.selectInclusionRule, css: { selectedInclusion: $data == $component.selectedInclusionRule() }">
											<td style="width:20px; text-align: right; vertical-align: top;" data-bind="text: ($index() + 1) + '.'">
											</td>
											<td style="vertical-align: top;" class="inclusionRules">
												<div data-bind="text: ((name() || '').length > 0) ? name() : 'Unnamed Criteria'"></div>
												<!-- ko if: (description() || '').length > 0 -->
												<div class="description" data-bind="text: description()"></div>
												<!-- /ko -->
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
						<td style="vertical-align: top; padding-left: 25px; border-left: 1px #eee solid;">
							<!-- ko if: $component.selectedInclusionRule() -->
							<inclusion-rule-editor params="{IndexRule: expression, InclusionRule: selectedInclusionRule}"></inclusion-rule-editor>
							<!-- /ko -->
							<!-- ko ifnot: $component.selectedInclusionRule() -->
							<div>Please select a qualifying inclusion criteria to edit.</div>
							<!-- /ko -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="padding-top: 3px" data-bind="with: expression().ExpressionLimit">Limit qualifying cohort to:
			<select data-bind="options: $component.options.resultLimitOptions, 
			optionsText: function(item) { return item.name }, 
			optionsValue: 'id',
			value: Type">
			</select> per person.
		</div>
	</div>
	
	<div role="tabpanel" data-bind="css: { active: $component.expressionMode() == 'exit' || $component.expressionMode() == 'all'}" class="tab-pane">
		<div><b>Cohort Exit Criteria</b></div>
		<end-strategy-editor params="strategy: $component.expression().EndStrategy, conceptSets: $component.expression().ConceptSets"></end-strategy-editor>

		<div><b>Censoring Events</b><br>
			Censoring events are used to indicate when a person will exit the cohort due to one or more event triggers.  Add censoring events using the dropdown below.<br>
			The first censoring event found after entering the cohort will be used to exit the cohort.<br>
			<i>Note: censoring events occurring prior to cohort entry will not exclude the person from the cohort.  Use inclusion criteria to filter the people that have the censoring event prior to index.</i>
		</div>
		<div class="criteriaGroup">
			<div class="criteriaHeading">
				<table>
					<colgroup>
						<col />
						<col />
					</colgroup>
					<tbody>
						<tr>
							<td>
								Exit Cohort based on the following:
							</td>
							<td>
								<div data-bind="ddSlickAction: $component.addCensorCriteriaOptions"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<table class="criteria">
				<colgroup>
					<col span="1" class="rule" />
					<col span="1" class="delete" />
				</colgroup>
				<tbody data-bind="sortable: {data: expression().CensoringCriteria, connectClass : 'censoringCriteria', options: {cancel: ':input, button, [contenteditable]'}}">
					<tr>
						<td>
							<div class="criteria-content">
								<div data-bind='component: { 
											name: $component.getCriteriaIndexComponent($data),
											params: {expression: $component.expression(), criteria: $data}
										}'></div>
							</div>
						</td>
						<td style="vertical-align: top;">
							<button class="btn btn-sm btn-danger" data-bind="click: function (data, event) { $component.removeCensoringCriteria(data) }">Delete Criteria</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div data-bind="visible: expression().CensoringCriteria().length == 0">
				No censoring events selected.
			</div>
		</div>	
	</div>	
	
	<div role="tabpanel" data-bind="css: { active: $component.expressionMode() == 'entry' || $component.expressionMode() == 'exit' || $component.expressionMode() == 'all'}" class="tab-pane">
		<div class="heading"><b>Cohort Collapse Strategy</b></div>
		<br>The default selection, Era, will collapse overlapping date ranges for the same subject into a continuous period.
			<br>
		<div style="padding: 5px 0px" data-bind="with: expression().CollapseSettings">
			<ul>
				<li>Collapse Strategy Type:
					<select data-bind="options: $component.options.collapseStrategyOptions, value: CollapseType"></select>
				</li>
				<li>
					Pad by: 
					<select data-bind="options: $component.options.dayOptions, value: EraPad"></select> days
				</li>
			</ul>
		</div>
	</div>
</div>