<div class="criteriaGroup">
	<div class="criteriaHeading">
		<table>
			<colgroup>
				<col />
				<col />
			</colgroup>
			<tbody>
				<tr>
					<td>
						People having any of the following:
					</td>
					<td>
						<div data-bind="ddSlickAction: $component.addPrimaryCriteriaOptions"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<table class="criteria">
		<colgroup>
			<col span="1" class="rule" />
			<col span="1" class="delete" />
		</colgroup>
		<tbody data-bind="sortable: {data: expression().PrimaryCriteria().CriteriaList, connectClass : 'primaryCriteria', options: {cancel: ':input, button, [contenteditable]'}}">
			<tr style="padding-top: 5px">
				<td>
					<div data-bind='component: { 
											name: $component.getCriteriaIndexComponent($data),
											params: {expression: $component.expression(), criteria: $data}
										}'></div>
				</td>
				<td style="vertical-align: top; padding-top: 5px">
					<button class="btn btn-xs btn-danger" data-bind="click: function (data, event) { $component.removePrimaryCriteria(data) }">Delete Filter</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div data-bind="with: expression().PrimaryCriteria().ObservationWindow"> with observation at least 
			<span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: PriorDays.numeric(), ko_autocomplete: { source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" /> days prior 
		and <span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: PostDays.numeric(), ko_autocomplete: { source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" /> days after index
	</div>
	<div style="padding-top: 3px" data-bind="with: expression().PrimaryCriteria().PrimaryCriteriaLimit">Limit primary events to: <select data-bind="options: $component.options.resultLimitOptions, 
				optionsText: function(item) { return item.name }, 
				optionsValue: 'id',
				value: Type">
			</select> per person.
	</div>
</div>

<div data-bind="with: expression">
	<div data-bind="if: AdditionalCriteria">
		<div style="font-weight: bold">For people matching the Primary Events, include:</div>
		<criteria-group params="{expression: $data, group: AdditionalCriteria}"></criteria-group>
		<button class="btn btn-sm btn-danger" data-bind="click: function () { $component.removeAdditionalCriteria() }">Remove Additional Filters</button>
	</div>
	<div data-bind="ifnot: AdditionalCriteria">
		<button class="btn btn-sm btn-primary" data-bind="click: function () { $component.addAdditionalCriteria() }">Add Additional Filters</button>
	</div>
</div>

<div style="padding-top: 3px" data-bind="with: expression().ExpressionLimit">Limit cohort expression results to: <select data-bind="options: $component.options.resultLimitOptions, 
			optionsText: function(item) { return item.name }, 
			optionsValue: 'id',
			value: Type">
		</select> per person.
</div>		
