<div class="criteriaGroup">
	<div class="criteriaHeading">
		<table>
			<colgroup>
				<col />
				<col />
			</colgroup>
			<tbody>
				<tr>
					<td>
						<span data-bind="if: parentGroup">
							<span data-bind="	if: (parentGroup().CriteriaList().length > 0) || parentGroup().Groups().indexOf(group()) > 0"><span data-bind="	text: parentGroup().Type() == 'ALL' ? 'And ' : 'Or '"></span>people having</span>
							<span data-bind="	ifnot: (parentGroup().CriteriaList().length > 0) || parentGroup().Groups().indexOf(group()) > 0">People having</span>
						</span>
						<span data-bind="ifnot: parentGroup">People having</span>
						<select data-bind="options: $component.options.groupTypeOptions, optionsText: 'name', optionsValue: 'id', value: group().Type"></select>
						<!-- ko if: group().Type().startsWith("AT_") -->
							<span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: group().Count.numeric(), ko_autocomplete: { source: $component.groupCountOptions(), minLength: 0, maxShowItems: 10, scroll: true }" />
						<!-- /ko -->
						of the following criteria:
					</td>
					<td>
						<div data-bind="ddSlickAction: $component.addCriteriaSettings"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="min-height: 10px;" data-bind="sortable: {data: group().CriteriaList, connectClass: 'additionalCriteria', options: {cancel: ':input, button, [contenteditable]'}}">
		<div class="additionalCriteria">
			<div data-bind="component: { 
									name: $component.getCriteriaComponent($data.Criteria), 
									params: {expression: $component.expression, criteria: $data.Criteria }
								}"></div>
			<div class="occurrenceSection">
				<span data-bind="if: ($index() > 0)"><span data-bind="	text: $component.group().Type() == 'ALL' ? 'and ' : 'or '"></span></span>
				with 
				<select data-bind="options: $component.options.occurrenceTypeOptions, optionsText: 'name', optionsValue: 'id', value: Occurrence.Type" /> 
				<select data-bind="options: $component.options.occurrenceCountOptions, value: Occurrence.Count" /> 
				<button data-bind="click: function() { Occurrence.IsDistinct(!Occurrence.IsDistinct())}, text: Occurrence.IsDistinct() ? 'using distinct' : 'using all'"></button>
				occurrences of:
			</div>
			<div class="indexWindowSection">
				occurring between <window-input params="Window: StartWindow"></window-input> index
			</div>
			<button class="deletecriteria btn btn-xs btn-danger" data-bind="click: function (data, event) { $component.removeCriteria($parent.group().CriteriaList, data) }">Delete Filter</button>
		</div>
	</div>
	<!-- ko foreach: group().Groups -->
	<div style="padding-top: 5px; position:relative">
		<criteria-group params="{expression: $component.expression, group: ko.observable($data), parentGroup: $parent.group()}"></criteria-group>
		<button class="deletegroup btn btn-xs btn-danger" data-bind="click: function (data, event) { $component.removeCriteria($parent.group().Groups, data) }">Delete Group</button>
	</div>
	<!-- /ko -->
</div>
