<table style="width: 100%" class="sourceTable">
	<thead>
		<th style="width: 26px"></th>
		<th>Source</th>
		<th>Name</th>
		<th style="width:75px"></th>
		<th style="width: 75px" class="smallHeading dataCol">Match %</th>
		<th style="width: 90px" class="smallHeading dataCol">Match #</th>
		<th style="width: 100px" class="smallHeading dataCol">Total</th>
		<th style="width: 135px" class="smallHeading dataCol">Started</th>
		<th style="width: 90px" class="smallHeading dataCol">Duration</th>
		<th style="width: 25px" class="smallHeading dataCol">Status</th>
		<th></th>
	</thead>
	<tbody data-bind="foreach: sources">
		<tr>
			<td align="center" data-bind="click:$parent.selectSource">
				<!-- ko if: $data.info() && $data.info().summary -->
				<img data-bind="visible: ($data == $parent.selectedSource())" src="images/view_selected.png"></img>
				<img data-bind="visible: ($data != $parent.selectedSource())" src="images/view.png"></img>
				<!-- /ko -->
			</td>
			<td data-bind="text: source.sourceKey"></td>
			<td data-bind="text: source.sourceName"></td>
			<td nowrap>
				<generate-component-small params="{info: info().generationInfo, source: source, dirtyFlag: $parent.dirtyFlag}"></generate-component-small>
			</td>
			<!-- ko if: $data.info().generationInfo.status != "COMPLETE" -->
			<td colspan="6" style="text-align: center">Not Available</td>
			<!-- /ko -->
			<!-- ko if: $data.info().generationInfo.status == "COMPLETE" -->
			<!-- ko with: $data.info() -->
			<td class="dataCol" data-bind="text: summary && summary.percentMatched"></td>
			<td class="dataCol" data-bind="text: summary && summary.matchingPersons"></td>
			<td class="dataCol" data-bind="text: summary && summary.totalPersons"></td>
			<td style="font-size: .9em" class="dataCol" data-bind="text: generationInfo.startTime"></td>
			<td class="dataCol" data-bind="text: $component.msToTime(generationInfo.executionDuration)"></td>
			<td class="dataCol" data-bind="text: generationInfo.isValid ? 'OK': 'ERROR'"></td>
			<td><button class="button button-flat-caution button-vtiny removeResult">Remove</button></td>
			<!-- /ko -->
			<!-- /ko -->
		</tr>
	</tbody>
</table>
<feasibility-report-viewer params="{report: selectedReport}"></feasibility-report-viewer>
