<!-- ko with: InclusionRule -->
<div class="inclusion-rule-header">
	<input type="text" maxlength="255" placeholder="Unnamed Criteria" data-bind="textInput: name, css: { emptyInput: !(name() && (name().length > 0)) }"/>
	<div class="btn-group">
		<button class="btn btn-sm btn-primary copyInclusionRule">Copy</button>
		<button class="btn btn-sm btn-danger deleteInclusionRule">Delete</button>
	</div>
</div>
<div class="divtext" data-bind="contentEditable:description"></div>
<!-- /ko -->
<criteria-group params="{expression: IndexRule, group: InclusionRule().expression}"></criteria-group>