<div class="criteriaSection" data-bind="with: Criteria">
	<div style="position: relative">
		<table class="criteriaTable">
			<colgroup>
				<col style="width:100%"/>
				<col />
			</colgroup>
			<tr>
				<td>payer plan periods with the following criteria:
				</td>
				<td>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> Add criteria attribute…<span class="caret"></span></button>
						<ul class="dropdown-menu" data-bind="foreach:$component.addActions">
							<li><a data-bind="html:$component.formatOption($data), click:action" href="#"></a></li>
						</ul>
					</div>
				</td>				
			</tr>
		</table>
		<table class="criteriaTable">
			<colgroup>
				<col style="width:20px"/>
				<col />
			</colgroup>		
			<tr data-bind="if: First() != null, visible: First() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('First') }" class="fa fa-times" /></td>
				<td>
					<div>
						limited to the patients first payer plan period
					</div>
				</td>
			</tr>
			<tr data-bind="if: AgeAtStart() != null, visible: AgeAtStart() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('AgeAtStart') }" class="fa fa-times" /></td>
				<td>
					with age at period start
					<numeric-range params="Range: AgeAtStart"></numeric-range>
				</td>
			</tr>
			<tr data-bind="if: AgeAtEnd() != null, visible: AgeAtEnd() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('AgeAtEnd') }" class="fa fa-times" /></td>
				<td>
					with age at period end
					<numeric-range params="Range: AgeAtEnd"></numeric-range>
				</td>
			</tr>
			<tr data-bind="if: PeriodLength() != null, visible: PeriodLength() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('PeriodLength') }" class="fa fa-times" /></td>
				<td>
					with period duration
					<numeric-range params="Range: PeriodLength"></numeric-range> days.
				</td>
			</tr>
			<tr data-bind="if: Gender() != null, visible: Gender() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('Gender') }" class="fa fa-times" /></td>
				<td>
					<div>
						with a gender of:
						<concept-list params="PickerParams: { DefaultDomain: 'Gender', DefaultQuery: ''}, ConceptList: Gender()"> </concept-list>
					</div>
				</td>
			</tr>
			<tr data-bind="if: UserDefinedPeriod() != null, visible: UserDefinedPeriod() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('UserDefinedPeriod') }" class="fa fa-times" /></td>
				<td>
					using specified period:
					<period-input params="Period: UserDefinedPeriod"></period-input>
				</td>
			</tr>
			<tr data-bind="if: PeriodStartDate() != null, visible: PeriodStartDate() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('PeriodStartDate') }" class="fa fa-times" /></td>
				<td>
					payer plan period start is:
					<date-range params="Range: PeriodStartDate"></date-range>
				</td>
			</tr>
			<tr data-bind="if: PeriodEndDate() != null, visible: PeriodEndDate() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('PeriodEndDate') }" class="fa fa-times" /></td>
				<td>
					payer plan period end is:
					<date-range params="Range: PeriodEndDate"></date-range>
				</td>
			</tr>
			<tr data-bind="if: PayerConcept() != null, visible: PayerConcept() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('PayerConcept') }" class="fa fa-times" /></td>
				<td>
					<div>
						Payer Concept is
						<conceptset-selector params="conceptSetId: PayerConcept(), conceptSets: $component.expression.ConceptSets, defaultText: 'Any Payer'"></conceptset-selector>
					</div>
				</td>
			</tr>
			<tr data-bind="if: PlanConcept() != null, visible: PlanConcept() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('PlanConcept') }" class="fa fa-times" /></td>
				<td>
					<div>
						Plan Concept is
						<conceptset-selector params="conceptSetId: PlanConcept(), conceptSets: $component.expression.ConceptSets, defaultText: 'Any Plan'"></conceptset-selector>
					</div>
				</td>
			</tr>
			<tr data-bind="if: SponsorConcept() != null, visible: SponsorConcept() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('SponsorConcept') }" class="fa fa-times" /></td>
				<td>
					<div>
						Sponsor Concept is
						<conceptset-selector params="conceptSetId: SponsorConcept(), conceptSets: $component.expression.ConceptSets, defaultText: 'Any Sponsor'"></conceptset-selector>
					</div>
				</td>
			</tr>
			<tr data-bind="if: StopReasonConcept() != null, visible: StopReasonConcept() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('StopReasonConcept') }" class="fa fa-times" /></td>
				<td>
					<div>
						Stop Reason Concept is
						<conceptset-selector params="conceptSetId: StopReasonConcept(), conceptSets: $component.expression.ConceptSets, defaultText: 'Any Stop Reason'"></conceptset-selector>
					</div>
				</td>
			</tr>
			<tr data-bind="if: PayerSourceConcept() != null, visible: PayerSourceConcept() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('PayerSourceConcept') }" class="fa fa-times" /></td>
				<td>
					<div>
						Payer Source Concept is
						<conceptset-selector params="conceptSetId: PayerSourceConcept(), conceptSets: $component.expression.ConceptSets, defaultText: 'Any Payer Source'"></conceptset-selector>
					</div>
				</td>
			</tr>
			<tr data-bind="if: PlanSourceConcept() != null, visible: PlanSourceConcept() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('PlanSourceConcept') }" class="fa fa-times" /></td>
				<td>
					<div>
						Plan Source Concept is
						<conceptset-selector params="conceptSetId: PlanSourceConcept(), conceptSets: $component.expression.ConceptSets, defaultText: 'Any Plan Source'"></conceptset-selector>
					</div>
				</td>
			</tr>
			<tr data-bind="if: SponsorSourceConcept() != null, visible: SponsorSourceConcept() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('SponsorSourceConcept') }" class="fa fa-times" /></td>
				<td>
					<div>
						Sponsor Source Concept is
						<conceptset-selector params="conceptSetId: SponsorSourceConcept(), conceptSets: $component.expression.ConceptSets, defaultText: 'Any Sponsor Source'"></conceptset-selector>
					</div>
				</td>
			</tr>
			<tr data-bind="if: StopReasonSourceConcept() != null, visible: StopReasonSourceConcept() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('StopReasonSourceConcept') }" class="fa fa-times" /></td>
				<td>
					<div>
						Stop Reason Source Concept is
						<conceptset-selector params="conceptSetId: StopReasonSourceConcept(), conceptSets: $component.expression.ConceptSets, defaultText: 'Any Stop Reason Source'"></conceptset-selector>
					</div>
				</td>
			</tr>
			<tr data-bind="if: CorrelatedCriteria() != null, visible: CorrelatedCriteria() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('CorrelatedCriteria') }" class="fa fa-times" /></td>
				<td style="background-color: white">
					<criteria-group params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group>
				</td>
			</tr>
		</table>
		<span class="fa fa-exclamation-triangle" style="color:#d4bd09"></span><i> Note: Payer Plan Period criteria is only available in CDM v5.3 and later.</i>
	</div>
</div>