<div class="criteriaSection" data-bind="with: Criteria">
	<div style="position: relative">
		<table class="criteriaTable">
			<colgroup>
				<col style="width:100%"/>
				<col />
			</colgroup>
			<tr>
				<td> a specimen of
					<conceptset-selector params="conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultText: 'Any Specimen'"></conceptset-selector>
				</td>
				<td>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> Add criteria attribute…<span class="caret"></span></button>
						<ul class="dropdown-menu" data-bind="foreach:$component.addActions">
							<li><a data-bind="html:$component.formatOption($data), click:action" href="#"></a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
		<table class="criteriaTable">
			<colgroup>
				<col style="width:20px"/>
				<col />
			</colgroup>		
			<tr data-bind="if: First() != null, visible: First() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('First') }" class="fa fa-times" /></td>
				<td>
					<div>for the first time in the person's history</div>
				</td>
			</tr>
			<tr data-bind="if: OccurrenceStartDate() != null, visible: OccurrenceStartDate() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('OccurrenceStartDate') }" class="fa fa-times" /></td>
				<td>
					occurrence start is:
					<date-range params="Range: OccurrenceStartDate"></date-range>
				</td>
			</tr>

			<tr data-bind="if: SpecimenType() != null, visible: SpecimenType() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('SpecimenType') }" class="fa fa-times" /></td>
				<td>
					Specimen Type is:
					<concept-list params="PickerParams: { DefaultDomain: 'Type Concept', DefaultQuery: ''}, ConceptList: SpecimenType()"></concept-list>
				</td>
			</tr>
			<tr data-bind="if: Quantity() != null, visible: Quantity() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('Quantity') }" class="fa fa-times" /></td>
				<td>
					with Quantity
					<numeric-range params="Range: Quantity"></numeric-range>
				</td>
			</tr>
			<tr data-bind="if: Unit() != null, visible: Unit() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('Unit') }" class="fa fa-times" /></td>
				<td>
					<div>
						with Unit:
						<concept-list params="PickerParams: { DefaultDomain: 'Unit'}, ConceptList: Unit()"></concept-list>
					</div>
				</td>
			</tr>
			<tr data-bind="if: AnatomicSite() != null, visible: AnatomicSite() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('AnatomicSite') }" class="fa fa-times" /></td>
				<td>
					<div>
						with Anatomic Site:
						<concept-list params="PickerParams: { DefaultDomain: 'Spec Anatomic Site'}, ConceptList: AnatomicSite()"></concept-list>
					</div>
				</td>
			</tr>
			<tr data-bind="if: DiseaseStatus() != null, visible: DiseaseStatus() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('DiseaseStatus') }" class="fa fa-times" /></td>
				<td>
					<div>
						with Disease Status:
						<concept-list params="PickerParams: { DefaultDomain: 'Spec Disease Status'}, ConceptList: DiseaseStatus()"></concept-list>
					</div>
				</td>
			</tr>
			<tr data-bind="if: SourceId() != null, visible: SourceId() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('SourceId') }" class="fa fa-times" /></td>
				<td>
					with Source ID
					<text-filter-input params="Filter: SourceId"></text-filter-input>
				</td>
			</tr>
			<tr data-bind="if: Age() != null, visible: Age() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('Age') }" class="fa fa-times" /></td>
				<td>
					with age
					<numeric-range params="Range: Age"></numeric-range>
				</td>
			</tr>
			<tr data-bind="if: Gender() != null, visible: Gender() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('Gender') }" class="fa fa-times" /></td>
				<td>
					<div>
						with a gender of:
						<concept-list params="PickerParams: { DefaultDomain: 'Gender', DefaultQuery: ''}, ConceptList: Gender()"></concept-list>
					</div>
				</td>
			</tr>
			<tr data-bind="if: CorrelatedCriteria() != null, visible: CorrelatedCriteria() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('CorrelatedCriteria') }" class="fa fa-times" /></td>
				<td style="background-color: white">
					<criteria-group params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group>
				</td>
			</tr>
		</table>
	</div>
</div>
