<script type="text/html" id="characterization-view-edit-utils">
    <div class="loading" data-bind="visible: loading()">loading</div>
    <h2 data-bind="css: classes('title')">
        Utilities
    </h2>
    <ul data-bind="css: classes({ element: 'nav', extra: 'nav nav-pills' })">
        <li role="presentation"
            data-bind="css: classes({ element: 'nav-pill', extra: mode() == MODE_JSON ? 'active' : null }), click: setMode.bind(null, MODE_JSON)">
            <a>JSON</a>
        </li>
        <li role="presentation"
            data-bind="css: classes({ element: 'nav-pill', extra: mode() == MODE_R_CODE ? 'active' : null }), click: setMode.bind(null, MODE_R_CODE)">
            <a>R Code</a>
        </li>
        <li role="presentation"
            data-bind="css: classes({ element: 'nav-pill', extra: mode() == MODE_IMPORT ? 'active' : null }), click: setMode.bind(null, MODE_IMPORT)">
            <a>Import</a>
        </li>
    </ul>
    <div data-bind="if: mode() == MODE_JSON, css: classes('content')">
        <textarea data-bind="css: classes('json-box'), text: JSON.stringify(expression, null, 2)"></textarea>
    </div>
</script>