<script type="text/html" id="characterization-view-edit-design">
    <div class="loading" data-bind="visible: loading()">loading</div>
    <div data-bind="
        template: {
            name: 'linked-entity-template',
            data: Object.assign({}, cohortDefinitions, { classes: classes })
        }
    "></div>
    <div data-bind="
        template: {
            name: 'linked-entity-template',
            data: Object.assign({}, featureAnalyses, { classes: classes })
        }
    "></div>
    <div data-bind="
        template: {
            name: 'linked-entity-template',
            data: Object.assign({}, featureAnalysesParams, { classes: classes })
        }
    "></div>
</script>

<script type="text/html" id="linked-entity-template">
    <div data-bind="css: classes('linked-entities')">
        <h2 data-bind="css: classes('linked-entities-title'), text: title"></h2>
        <p data-bind="css: classes('linked-entities-descr'), text: descr"></p>
        <div data-bind="css: classes('linked-entities-actions')">
            <button type="button"
                    data-bind="css: classes({ element: 'linked-entities-btn', extra: ['btn btn-primary btn-sm']}), text: newItemLabel"></button>
        </div>
        <table data-bind="
            css: classes({ element: 'linked-entities-table', extra: ['table', 'table-bordered', 'table-hover'] }),
            dataTable:{
                data: data,
                options: {columns: columns}
            }
        "/>
    </div>
</script>