<heading-title params="name: ko.i18n('cc.title', 'Cohort Characterizations'), icon: 'chart-line', theme: 'dark'"></heading-title>


<div data-bind="css: classes({ element: 'toolbar' })">
    <ul data-bind="css: classes({ element: 'toolbar-nav', extra: 'nav nav-tabs' })">
        <!-- ko foreach: $component.tabs -->
            <li role="presentation" data-bind="css: $component.classes({ element: 'toolbar-nav-pill', extra: $data.value === $component.activeTab ? 'active' : '' })">
                <a data-bind="attr: { href: $data.link }, text: $data.tabLabel"></a>
            </li>
        <!-- /ko -->
    </ul>
    <div data-bind="css: classes({ element: 'toolbar-btns' })">
        <button data-bind="
            css: classes({ element: 'new-entity-btn', extra: 'btn btn-primary btn-sm' }),
            text: ko.unwrap(ko.i18n('cc.new', 'New')) + ' ' + $component.tabs.find(t => t.value === $component.activeTab).newEntityLabel(),
            attr: { 'disabled': !$component.createNewEnabled() },
            click: $component.createNew
        "></button>
    </div>
</div>

<access-denied params="isAuthenticated: $component.isAuthenticated, isPermitted: $component.isViewPermitted"></access-denied>

<div data-bind="if: $component.isViewPermitted(), css: classes('grid')">
    <faceted-datatable params="{
        order: $component.order,
        columns: $component.gridColumns,
        options: $component.gridOptions,
        reference: $component.data,
        pageLength: $component.tableOptions.pageLength,
        lengthMenu: $component.tableOptions.lengthMenu,
        language: $component.datatableLanguage
    }"></faceted-datatable>
</div>