<div data-bind="css: {tabcontent: true, 'tab-disabled':!isEditable()}">
	<div class="divtext" data-bind="contentEditable: analysisDescription, contenteditableSwitch: isEditable(), placeholder: ko.i18n('ir.editor.descriptionPlaceholder', 'Enter the analysis description here')"></div>
	<div class="criteriaGroup">
		<div class="criteriaHeading">
			<b data-bind="text: ko.i18n('ir.editor.studyCohorts', 'Study Cohorts')"></b>
		</div>
		<table style="margin:0px auto; width:900px" data-bind="eventListener: [{event: 'click', selector: '.fa-times.targetCohort', callback: deleteTargetCohort}, {event: 'click', selector: '.fa-times.outcomeCohort', callback: deleteOutcomeCohort}]">
			<col width="50">
			<col width="50">
			<tr>
				<td align="center"><div style="border-radius: 2px;width:auto;border: solid 1px;margin: 0px 20px;" data-bind="text: ko.i18n('ir.editor.targetCohorts', 'Target Cohorts')"></div></td>
				<td align="center"><div style="border-radius: 2px;width:auto;border: solid 1px;margin: 0px 20px;" data-bind="text: ko.i18n('ir.editor.outcomeCohorts', 'Outcome Cohorts')"></div></td>
			</tr>
			<tr>
				<td valign="top">
					<table style="width:100%" data-bind="foreach: analysisCohorts().targetCohorts">
						<col style="width:20px">
						<col style="width:20px">
						<col style="width:auto">
						<tr>
							<td align="top"><i class="fa fa-times targetCohort"></i></td>
							<td align="top">#<span data-bind="text: id"/>: </td>
							<td align="top"><span data-bind="text: name"/></td>
						</tr>
					</table>
				</td>
				<td valign="top">
					<table style="width:100%" data-bind="foreach: analysisCohorts().outcomeCohorts">
						<col style="width:20px">
						<col style="width:20px">
						<col style="width:auto">
						<tr>
							<td align="top"><i class="fa fa-times outcomeCohort"></i></td>
							<td align="top">#<span data-bind="text: id"/>: </td>
							<td align="top"><span data-bind="text: name"/></td>
						</tr>
					</table>
				</td>
			</tr>
				<tr>
					<td><div style="padding-top: 5px; display: flex;justify-content: center;"><button class="btn btn-sm btn-success" data-bind="click: addTargetCohort, text: ko.i18n('ir.editor.addTargetCohort', 'Add Target Cohort')"></button></div></td>
					<td><div style="padding-top: 5px; display: flex;justify-content: center;"><button style="margin:auto" class="btn btn-sm btn-danger" data-bind="click: addOutcomeCohort, text: ko.i18n('ir.editor.addOutcomeCohort', 'Add Outcome Cohort')"></button></div></td>
				</tr>
		</table>
	</div>

	<div class="criteriaGroup">
		<div class="criteriaHeading">
			<b data-bind="text: ko.i18n('ir.editor.timeAtRisk', 'Time At Risk')"></b>
		</div>
		<span data-bind="text: ko.i18n('ir.editor.timeAtRiskMessage', 'Time at risk defines the time window relative to the cohort start or end date with an offset to consider the person \'at risk\' of the outcome.')"></span>
		<div style="padding: 5px 0px">
			<ul>
				<li>
					<span data-bind="text: ko.i18n('ir.editor.timeAtRiskStartsWith', 'Time at risk starts with')"></span>
					<select data-bind="options: $component.fieldOptions, optionsText: 'name', optionsValue: 'id', value: analysis().timeAtRisk.start.DateField" />
					<span data-bind="text: ko.i18n('ir.editor.timeAtRiskPlus', 'plus')"></span>
					<span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditable(), htmlValue: analysis().timeAtRisk.start.Offset.numeric(), eventType:'blur', ko_autocomplete: { value: analysis().timeAtRisk.start.Offset, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
					<span data-bind="text: ko.i18n('ir.editor.timeAtRiskStartsWithDays', 'days.')"></span>
				</li>
				<li>
					<span data-bind="text: ko.i18n('ir.editor.timeAtRiskEndsWith', 'Time at risk ends with')"></span>
					<select data-bind="options: $component.fieldOptions, optionsText: 'name', optionsValue: 'id', value: analysis().timeAtRisk.end.DateField" />
					<span data-bind="text: ko.i18n('ir.editor.timeAtRiskPlus', 'plus')"></span>
					<span class="numericInputField dropdown" data-bind="contenteditableSwitch: isEditable(), htmlValue: analysis().timeAtRisk.end.Offset.numeric(), eventType:'blur', ko_autocomplete: { value: analysis().timeAtRisk.end.Offset, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" />
					<span data-bind="text: ko.i18n('ir.editor.timeAtRiskEndsWithDays', 'days.')"></span>
				</li>
			</ul>
		</div>
	</div>

	<div style="padding-top:10px" data-bind="if: analysis().studyWindow() == null && isEditable()">
		<span data-bind="text: ko.i18n('ir.editor.noStudyWindowDefined', 'No study window defined.')"></span>
		<button class="btn btn-sm btn-success" data-bind="click: addStudyWindow, text: ko.i18n('ir.editor.addStudyWindow', 'Add Study Window')"></button>
	</div>
	<div class="form-inline" data-bind="if: analysis().studyWindow() != null">
		<div class="form-group">
			<label for="studyWindowStartDate" data-bind="text: ko.i18n('ir.editor.studyWindowText1', 'Study window begins on')"></label>
			<input placeholder="YYYY-MM-DD" autocomplete="off" class="dateField" id="studyWindowStartDate" data-bind="datepicker: analysis().studyWindow().startDate, datepickerOptions: { dateFormat: 'yy-mm-dd' }">
		</div>
		<div class="form-group">
			<label for="studyWindowEndDate" data-bind="text: ko.i18n('ir.editor.studyWindowText2', 'and ends on')"></label>
			<input placeholder="YYYY-MM-DD" autocomplete="off" class="dateField" id="studyWindowEndDate" data-bind="datepicker: analysis().studyWindow().endDate, datepickerOptions: { dateFormat: 'yy-mm-dd' }"><span data-bind="text: ko.i18n('ir.editor.studyWindowText3', '.')"></span>
		</div>
		<button class="btn btn-sm btn-danger" data-bind="click: function() { analysis().studyWindow(null); }, text: ko.i18n('ir.editor.removeStudyWindow', 'Remove Study Window')"></button>
	</div>

	<div class="heading">
		<b data-bind="text: ko.i18n('ir.editor.stratifyCriteria', 'Stratify Criteria:')"></b>
		<span data-bind="text: ko.i18n('ir.editor.stratifyCriteriaMessage', 'You can provide optional stratification criteria to the analysis that will divide the population into unique groups based on their satisified criteria.')"></span>
	</div>
	<div data-bind="eventListener: [
		 { event: 'click', selector: '.copyInclusionRule', callback: copyStrataRule},
		 { event: 'click', selector: '.deleteInclusionRule', callback: deleteStrataRule}]">

		<table style="width: 100%">
			<colgroup>
				<col span="1" style="width: 200px;" />
				<col span="1" />
			</colgroup>
			<tbody>
				<tr>
					<td style="vertical-align: top; padding-right: 20px;">
							<div>
								<button class="btn btn-sm btn-success" data-bind="click: addStrataRule, text: ko.i18n('ir.editor.newStratifyCriteria', 'New stratify criteria')"></button>
							</div>
						<div>
							<table style="width: 100%" class="inclusionRules">
								<tbody data-bind="sortable: {data: analysis().strata, connectClass: 'inclusionRuleItem'}">
									<tr data-bind="click: $component.selectStrataRule, css: { selectedInclusion: $data == $component.selectedStrataRule() }">
										<td style="width:20px; text-align: right; vertical-align: top;" data-bind="text: ($index() + 1) + '.'">
										</td>
										<td style="vertical-align: top;" class="inclusionRules" data-bind="text: ((name() || '').length > 0) ? name() : $component.defaultStratifyRuleName"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
					<td style="vertical-align: top; padding-left: 25px; border-left: 1px #eee solid;">
							<!-- ko if: $component.selectedStrataRule() -->
							<inclusion-rule-editor params="{IndexRule: analysis, InclusionRule: selectedStrataRule}"></inclusion-rule-editor>
							<!-- /ko -->
							<!-- ko ifnot: $component.selectedStrataRule() -->
							<div data-bind="text: ko.i18n('ir.editor.selectInclusionCriteriaMessage', 'Please select a qualifying inclusion criteria to edit.')"></div>
							<!-- /ko -->
						</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div data-bind="modal: showCohortDefinitionBrowser" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="modal-title" data-bind="text: ko.i18n('ir.editor.chooseACohort', 'Choose a Cohort')"></div>
				</div>
				<div class="modal-body">
					<cohort-definition-browser params="onSelect: data => cohortSelected(data.id)"></cohort-definition-browser>
				</div>
			</div>
		</div>
	</div>

</div>
