<div class="tabcontent">
	
	<div class="criteriaGroup">
		<div class="criteriaHeading">
			<b>Study Cohorts</b>
		</div>
		<table style="margin:0px auto; width:900px" data-bind="eventListener: [{event: 'click', selector: '.fa-times.targetCohort', callback: deleteTargetCohort}, {event: 'click', selector: '.fa-times.outcomeCohort', callback: deleteOutcomeCohort}]">
			<col width="50">
			<col width="50">
			<tr>
				<td align="center"><div style="border-radius: 2px;width:auto;border: solid 1px;margin: 0px 20px;">Target Cohorts</div></td>
				<td align="center"><div style="border-radius: 2px;width:auto;border: solid 1px;margin: 0px 20px;">Outcome Cohorts</div></td>
			</tr>
			<tr>
				<td valign="top">
					<table style="width:100%" data-bind="foreach: analysisCohorts().targetCohorts">
						<col style="width:20px">
						<col style="width:20px">
						<col style="width:auto">
						<tr>
							<td align="top"><i class="fa fa-times targetCohort"></i></td>
							<td align="top">#<span data-bind="text: id"/>: </td>
							<td align="top"><span data-bind="text: name"/></td>
						</tr>					
					</table>
				</td>
				<td valign="top">
					<table style="width:100%" data-bind="foreach: analysisCohorts().outcomeCohorts">
						<col style="width:20px">
						<col style="width:20px">
						<col style="width:auto">
						<tr>
							<td align="top"><i class="fa fa-times outcomeCohort"></i></td>
							<td align="top">#<span data-bind="text: id"/>: </td>
							<td align="top"><span data-bind="text: name"/></td>
						</tr>					
					</table>
				</td>
			</tr>
			<tr>
				<td><div style="padding-top: 5px; display: flex;justify-content: center;"><button class="btn btn-sm btn-success" data-bind="click: addTargetCohort">Add Target Cohort</button></div></td>
				<td><div style="padding-top: 5px; display: flex;justify-content: center;"><button style="margin:auto" class="btn btn-sm btn-danger" data-bind="click: addOutcomeCohort">Add Outcome Cohort</button></div></td>
			</tr>
		</table>
	</div>

	<div class="criteriaGroup">
		<div class="criteriaHeading">
			<b>Time At Risk</b>
		</div>
		Time at risk defines the time window relative to the cohort start or end date with an offset to consider the person 'at risk' of the outcome.
		<div style="padding: 5px 0px">
			<ul>
				<li>
					Time at risk starts with <select data-bind="options: $component.fieldOptions, optionsText: 'name', optionsValue: 'id', value: analysis().timeAtRisk.start.DateField" /> plus  <span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: analysis().timeAtRisk.start.Offset.numeric(), eventType:'blur', ko_autocomplete: { value: analysis().timeAtRisk.start.Offset, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" /> days.
				</li>
				<li>
					Time at risk ends with <select data-bind="options: $component.fieldOptions, optionsText: 'name', optionsValue: 'id', value: analysis().timeAtRisk.end.DateField" /> plus  <span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: analysis().timeAtRisk.end.Offset.numeric(), eventType:'blur', ko_autocomplete: { value: analysis().timeAtRisk.end.Offset, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }" /> days.
				</li>
			</ul>
		</div>
	</div>

	<div style="padding-top:10px" data-bind="if: analysis().studyWindow() == null">
	No study window defined. <button class="btn btn-sm btn-success" data-bind="click: addStudyWindow">Add Study Window</button>
	</div>
	<div data-bind="if: analysis().studyWindow() != null">
		Study window begins on 
		<input style="width:75px" class="dateField" placeholder="YYYY-MM-DD" data-bind="textInput: analysis().studyWindow().startDate"/> 
		and ends on 
		<input style="width:75px" class="dateField" placeholder="YYYY-MM-DD" data-bind="textInput: analysis().studyWindow().endDate"/> 
		<button class="btn btn-sm btn-danger" data-bind="click: function() { analysis().studyWindow(null); }">Remove Study Window</button>
	</div>
	
	<div class="heading">
		<b>Stratify Criteria:  </b>
		You can provide optional stratification criteria to the analysis that will divide the population into unique groups based on their satisified criteria.
	</div>
	<div data-bind="eventListener: [
		 { event: 'click', selector: '.copyInclusionRule', callback: copyStrataRule},
		 { event: 'click', selector: '.deleteInclusionRule', callback: deleteStrataRule}]">

		<table style="width: 100%">
			<colgroup>
				<col span="1" style="width: 200px;" />
				<col span="1" />
			</colgroup>
			<tbody>
				<tr>
					<td style="vertical-align: top; padding-right: 20px;">
						<div>
							<button class="btn btn-sm btn-success" data-bind="click: addStrataRule">New stratify criteria</button>
						</div>
						<div>
							<table style="width: 100%" class="inclusionRules">
								<tbody data-bind="sortable: {data: analysis().strata, connectClass: 'inclusionRuleItem'}">
									<tr data-bind="click: $component.selectStrataRule, css: { selectedInclusion: $data == $component.selectedStrataRule() }">
										<td style="width:20px; text-align: right; vertical-align: top;" data-bind="text: ($index() + 1) + '.'">
										</td>
										<td style="vertical-align: top;" class="inclusionRules" data-bind="text: ((name() || '').length > 0) ? name() : 'Unnamed Criteria' "></td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
					<td style="vertical-align: top; padding-left: 25px; border-left: 1px #eee solid;">
						<!-- ko if: $component.selectedStrataRule() -->
						<inclusion-rule-editor params="{IndexRule: analysis, InclusionRule: selectedStrataRule}"></inclusion-rule-editor>
						<!-- /ko -->
						<!-- ko ifnot: $component.selectedStrataRule() -->
						<div>Please select a qualifying inclusion criteria to edit.</div>
						<!-- /ko -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div data-bind="modal: showCohortDefinitionBrowser" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="modal-title">Choose a Cohort</div>
				</div>
				<div class="modal-body">
					<cohort-definition-browser params="cohortDefinitionSelected: cohortSelected"></cohort-definition-browser>
				</div>
			</div>
		</div>
	</div>

</div>
