.nav-tabs li span.warning-alarm, .nav-tabs li span.warning-alarm:hover {
    background-color: #ff001a;
    color: #e3e3e3;
}

.nav-tabs li.active span.warning-alarm, .nav-tabs li.active span.warning-alarm:hover {
    color: #fefefe;
    border-color: #ff001a;
}

.nav-tabs li span.warning-info, .nav-tabs li span.warning-info:hover {
    background-color: #337ab7;
    color: #e3e3e3;
}

.nav-tabs li.active span.warning-info, .nav-tabs li.active span.warning-info:hover {
    color: #fefefe;
    border-color: #337ab7;
}

.nav-tabs li span.warning-warn, .nav-tabs li span.warning-warn:hover {
    background-color: #d82;
    color: #e3e3e3;
}

.nav-tabs li.active span.warning-warn, .nav-tabs li.active span.warning-warn:hover {
    color: #fefefe;
    border-color: #d82;
}