<div data-bind="if: $component.model.currentView() == 'analytics'">
	<div class="wrapperTitle">
		<span><i class="fa fa-calculator"></i></span> Analytics
	</div>

	<div class="pad-5">
		Choose Algorithm:
		<div>
			<span><i class="fa fa-calculator"></i></span> Cohort Method
		</div>
		<div>
			<span><i class="fa fa-calculator"></i></span> Patient Level Prediction
		</div>
		<div>
			<span><i class="fa fa-calculator"></i></span> Flip a Coin
		</div>
		<div>
			<span><i class="fa fa-calculator"></i></span> Random Guess
		</div>
	</div>
</div>
