<div class="paddedWrapper">
	<div placeholder="enter a cohort definition description here" class="divtext cohort-description" data-bind="contentEditable:model.currentCohortDefinition().description"></div>
	<div data-bind="eventListener: [
									{ event: 'click', selector: '.conceptset_import', callback: handleConceptSetImport},
									{ event: 'click', selector: '.conceptset_edit', callback: handleEditConceptSet}
									]">
		<!-- ko if:canEdit-->
		<cohort-expression-editor params="expression: model.currentCohortDefinition().expression, widget: $component.cohortExpressionEditor"></cohort-expression-editor>
		<!-- /ko -->
		<!-- ko ifnot:canEdit-->
		<cohort-expression-viewer params="expression: model.currentCohortDefinition().expression"></cohort-expression-viewer>
		<!-- /ko -->
		<div class="modal fade" id="conceptSetSelectorDialog" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">Import Concept Set From Repository...</div>
					<div class="paddedWrapper">
						<cohort-concept-set-browser params="criteriaContext: model.criteriaContext, cohortConceptSets: model.currentCohortDefinition().expression().ConceptSets, onActionComplete: onAtlasConceptSetSelectAction"></cohort-concept-set-browser>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="helpModalCohortDefinition" tabindex="-1 " role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				Cohort Definition
			</div>
			<div class="modal-body">
				A cohort is defined as the set of persons satisfying one or more inclusion criteria for a duration of time. One person may qualify for one cohort multiple times during non-overlapping time intervals. Cohorts are constructed in ATLAS by specifying cohort
				entry criteria and cohort exit criteria. Cohort entry criteria involve selecting one or more initial events, which determine the start date for cohort entry, and optionally specifying additional inclusion criteria which filter to the qualifying events.
				Cohort exit criteria are applied to each cohort entry record to determine the end date when the person’s episode no longer qualifies for the cohort.
			</div>
		</div>
	</div>
</div>
