<!-- ko if: createdBy && createdDate -->
<div data-bind="css: classes('container')">
	<span data-bind="visible: createdBy,
	    text: ko.i18nformat('components.authorship.createdLabel',
						'created by <%=createdBy%> on <%=cratedDate%>',
						{createdBy: createdBy, createdDate: createdDate})"></span><span data-bind="visible: modifiedDate">,</span>
    <span data-bind="visible: modifiedDate,
	    text: ko.i18nformat('components.authorship.modifiedLabel',
						'modified by <%=modifiedBy%> on <%=modifiedDate%>',
						{modifiedBy: modifiedBy, modifiedDate: modifiedDate})"></span>
</div>
<!-- /ko -->
