<div class="wrapperTitle" data-bind="visible:loading">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</div>

<div data-bind="if:!loading() && cohortComparison()">
  <div class="wrapperTitle">
    <i class="fa fa-balance-scale"></i> Population Level Effect Estimation
  </div>

  <div class="asset-heading">
    <input type="text" data-bind="textInput: cohortComparison().name, css: { emptyInput: !(cohortComparison().name() && (cohortComparison().name().length > 0)) }" />
    <div class="btn-group" role="group">
      <button class="btn btn-sm btn-success" title="Save" data-bind="click: save, enable:canSave"><i class="fa fa-save"></i></button>
      <button class="btn btn-sm btn-primary" title="Close" data-bind="click: close"><i class="fa fa-times"></i></button>
      <button class="btn btn-sm btn-danger" title="Delete" data-bind="click: $component.delete, enable: canDelete()"><i class="fa fa-trash-o"></i></button>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li role="presentation" data-bind="css: { active: $component.tabMode() == 'specification' }, click: function() { $component.tabMode('specification') };"><a>Specification</a>
    </li>
    <li role="presentation" data-bind="visible: config.cohortComparisonResultsEnabled, css: { active: $component.tabMode() == 'results' }, click: function() { $component.tabMode('results') };"><a>Results</a>
    </li>
    <li role="presentation" data-bind="css: { active: $component.tabMode() == 'export' }, click: function() { $component.tabMode('export') };"><a>Utilities</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="paddedWrapper text-center error" data-bind="visible:$component.loadingExecutionFailure">
      <div>
        <i class="fa fa-exclamation-circle"></i>
      </div>
      <div>error loading selected results</div>
    </div>

    <div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'results' }" class="tab-pane">
      <div class="padded-wrapper" data-bind="visible:$component.resultsMode() == 'sources'">
        <div class="heading">Available Data Sources</div>
        <div data-bind="foreach:$component.sources" class="results-tab-pane">
          <div class="row">
            <div class="col-sm-8" data-bind="text:sourceName"></div>
            <div class="col-sm-4 text-right">
              <span class="btn-group">
								<button data-bind="css:{disabled:!$component.config.rServicesHost}, visible: !$component.sourceProcessingStatus[sourceKey](), click:function() {$component.executeCohortComparison(sourceKey);}" class="btn btn-sm btn-primary"><i class="fa fa-play"></i> Generate</button>
								<button class="btn btn-sm btn-warning" data-bind="visible:$component.sourceProcessingStatus[sourceKey]"><i class="fa fa-circle-o-notch fa-spin"></i></button>
								<button class="btn btn-sm btn-primary" data-bind="click:$component.viewLastExecution"><i class="fa fa-eye"></i> View</button>
								<button data-bind="click:function() {$component.toggleHistoryDisplay(sourceKey);}" class="btn btn-sm btn-primary">
									&nbsp;(<span data-bind="text:$component.sourceExecutions[sourceKey]().length"></span> Results)
              <i data-bind="visible:!$component.sourceHistoryDisplay[sourceKey]()" class="fa fa-angle-double-down"></i>
              <i data-bind="visible:$component.sourceHistoryDisplay[sourceKey]" class="fa fa-angle-double-up"></i>
              </button>
              </span>
            </div>
          </div>
          <div data-bind="foreach:$component.sourceExecutions[sourceKey], visible:$component.sourceHistoryDisplay[sourceKey]">
            <div class="row executionrow">
              <div class="col-sm-1" data-bind="text:executionId"></div>
              <div class="col-sm-2" data-bind="text:executedCaption"></div>
              <div class="col-sm-3 text-right" data-bind="text:durationCaption"></div>
              <div class="col-sm-2 text-right" data-bind="text:executionStatus"></div>
              <div class="col-sm-4 text-right">
                <button class="btn btn-sm btn-primary" data-bind="css:{disabled:executionStatus!='COMPLETED'},click:$component.executionSelected"><i class="fa fa-eye"></i> View</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="paddedWrapper text-center loading" data-bind="visible: $component.loadingExecution">
        <div>loading results</div>
        <div>
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
      </div>

      <div class="paddedWrapper" data-bind="visible: $component.resultsMode() == 'execution' && !$component.loadingExecution()">

        <div class="row">
          <div class="col-sm-12 text-right">
            <button data-bind="click:closeExecution" class="btn btn-sm btn-primary">Back to Sources</button>
          </div>
        </div>

        <div class="heading" data-bind="text:$component.currentExecutionSourceName() + ' Results'">
        </div>

        <ul class="nav nav-pills">
          <li role="presentation" data-bind="css: { active: $component.pillMode() == 'covariates' }, click: function() { $component.pillMode('covariates') };"><a>PS Covariates</a>
          </li>
          <li role="presentation" data-bind="css: { active: $component.pillMode() == 'psd' }, click: function() { $component.pillMode('psd') };"><a>PS Distribution</a>
          </li>
          <li role="presentation" data-bind="css: { active: $component.pillMode() == 'matched' }, click: function() { $component.pillMode('matched') };"><a>Matched PS Distribution</a>
          </li>
          <li role="presentation" data-bind="css: { active: $component.pillMode() == 'attrition' }, click: function() { $component.pillMode('attrition') };"><a>Attrition</a>
          </li>
          <li role="presentation" data-bind="css: { active: $component.pillMode() == 'balance' }, click: function() { $component.pillMode('balance') };"><a>Balance</a>
          </li>
          <li role="presentation" data-bind="css: { active: $component.pillMode() == 'om' }, click: function() { $component.pillMode('om') };"><a>Outcome Model</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" data-bind="if: $component.pillMode() == 'om'">
            <div data-bind="foreach:$component.om">
              <div id="row" class="paddedWrapper">
                <div class="col-sm-9">
                  The result of the analysis when comparing the rate of the outcome defined by the cohort (<span class="omHighlight" data-bind="text:$component.cohortComparison().outcomeCaption"></span>) between the treatment cohort (<span class="omHighlight"
                    data-bind="text:$component.cohortComparison().treatmentCaption"></span>) and the comparator cohort (<span class="omHighlight" data-bind="text:$component.cohortComparison().comparatorCaption"></span>) is <span class="omHighlight" data-bind="text:caption"></span>.
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" data-bind="visible: $component.pillMode() == 'covariates'">
            <faceted-datatable params="{orderColumn:3, reference:covariates, columns: covariateColumns, options:covariateOptions, rowClick:covariateSelected}">
            </faceted-datatable>
          </div>
          <div role="tabpanel" data-bind="visible: $component.pillMode() == 'attrition'">
            <div class="paddedWrapper">
              <table class="padded">
                <thead>
                  <th>Description</th>
                  <th>Treated Persons</th>
                  <th>Comparator Persons</th>
                  <th>Treated Exposures</th>
                  <th>Comparator Exposures</th>
                </thead>
                <tbody data-bind="foreach:attrition">
                  <tr>
                    <td data-bind="text:description"></td>
                    <td class="numeric" data-bind="text:treatedPersons"></td>
                    <td class="numeric" data-bind="text:comparatorPersons"></td>
                    <td class="numeric" data-bind="text:treatedExposures"></td>
                    <td class="numeric" data-bind="text:comparatorExposures"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div role="tabpanel" data-bind="visible: $component.pillMode() == 'psd'">
            <div id="psmodeldistChart">
              <svg></svg>
            </div>
          </div>
          <div role="tabpanel" data-bind="visible: $component.pillMode() == 'matched'">
            <div id="popdistChart">
              <svg></svg>
            </div>
          </div>
          <div role="tabpanel" data-bind="visible: $component.pillMode() == 'balance'">
            <div id="balanceChart">
              <svg></svg>
            </div>

            <!--
						<div data-bind="d3ChartBinding:
							{
								c1:null, // ko only allows comment on same line as param (and not after last param)

								chartType:'zoomScatter',// required string

								c3:null,								// optional observables
								chartData,							// whatever data chart expects
								chartOptions,						// whatever options chart expects
								chartResolution,				// {width: w, height: h}
								chartObj,								// to pass back ref to chart obj
								domElement,							// ref to dom element for use by chart or caller
								jqEventSpace,						// any object, so chart can share events with caller

								c3:null,
							}">
						</div>

						<div data-bind="if:chartData().length && fields().length">
							<faceted-datatable-cf
								params="options:{},
												jqEventSpace: jqEventSpace,
												fields: fields,
												recs:chartData,
												saveStateToUrl: true,
												sharedCrossfilter: sharedCrossfilter,
												"></faceted-datatable-cf>
						</div>
						-->
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'specification'}" class="tab-pane">
      <div class="row">
        <div class="col-md-8">
          <div>
            <label>Choose your target cohort:</label>
            <div class="input-group">
              <input class="form-control" type="text" disabled data-bind="value: cohortComparison().treatmentCaption" />
              <span class="input-group-btn">
									<button class="btn btn-primary" data-bind="click:chooseTreatment"><i class="fa fa-folder-open"></i></button>
									<button class="btn btn-danger" data-bind="disable:cohortComparison().treatmentId() == 0, click:clearTreatment" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
							</span>
            </div>
            <div data-bind="visible: cohortComparison().treatmentId() > 0 && cohortComparison().treatmentCaption() == null" class="errorInline"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> The target cohort specified (#<span data-bind="text:cohortComparison().treatmentId()"></span>) was deleted. Please select a different cohort.</div>
          </div>
          <div>
            <label>Choose your comparator cohort:</label>
            <div class="input-group">
              <input class="form-control" type="text" disabled data-bind="value: cohortComparison().comparatorCaption" />
              <span class="input-group-btn">
								<button class="btn btn-primary" data-bind="click:chooseComparator"><i class="fa fa-folder-open"></i></button>
								<button class="btn btn-danger" data-bind="disable: cohortComparison().comparatorId() == 0, click:clearComparator" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
							</span>
            </div>
            <div data-bind="visible: cohortComparison().comparatorId() > 0 && cohortComparison().comparatorCaption() == null" class="errorInline"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> The comparator cohort specified (#<span data-bind="text:cohortComparison().comparatorId()"></span>) was deleted. Please select a different cohort.</div>
          </div>
          <div>
            <label>Choose your outcome cohort:</label>
            <div class="input-group">
              <input class="form-control" type="text" disabled data-bind="value: cohortComparison().outcomeCaption" />
              <span class="input-group-btn">
								<button class="btn btn-primary" data-bind="click:chooseOutcome"><i class="fa fa-folder-open"></i></button>
								<button class="btn btn-danger" data-bind="disable:cohortComparison().outcomeId() == 0,click:clearOutcome" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
							</span>
            </div>
            <div data-bind="visible: cohortComparison().outcomeId() > 0 && cohortComparison().outcomeCaption() == null" class="errorInline"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> The outcome cohort specified (#<span data-bind="text:cohortComparison().outcomeId()"></span>) was deleted. Please select a different cohort.</div>
          </div>
          <div>
            <label>Specify the statistical model used to estimate the risk of outcome between target and comparator cohorts:</label>
            <div class="input-group">
              <select class="form-control" data-bind="options: cohortComparison().modelTypeOptions, optionsText:'name', optionsValue:'id', value: cohortComparison().modelType, optionsCaption: 'Select a model...'"></select>
            </div>
          </div>
          <div>
            <label>Define the time-at-risk window start, relative to target/comparator cohort entry:</label>
            <div class="input-group">
              <span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: cohortComparison().timeAtRiskStart.numeric(), eventType:'blur', ko_autocomplete: { value: cohortComparison().timeAtRiskStart, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }"
              />days from cohort start date
            </div>
          </div>
          <div>
            <label>Define the time-at-risk window end:</label>
            <div class="input-group">
              <span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: cohortComparison().timeAtRiskEnd.numeric(), eventType:'blur', ko_autocomplete: { value: cohortComparison().timeAtRiskEnd, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }"
              />days from
              <select data-bind="options: cohortComparison().timeAtRiskEndOptions, optionsText:'name', optionsValue:'id', value: cohortComparison().addExposureDaysToEnd"></select>
            </div>
          </div>
          <div>
            <label>Minimum washout period applied to target and comparator cohorts:</label>
            <div class="input-group">
              <span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: cohortComparison().minimumWashoutPeriod.numeric(), eventType:'blur', ko_autocomplete: { value: cohortComparison().minimumWashoutPeriod, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }"
              />
            </div>
          </div>
          <div>
            <label>Minimum required days at risk, applied to target and comparator cohorts:</label>
            <div class="input-group">
              <span contenteditable="true" class="numericInputField dropdown" data-bind="htmlValue: cohortComparison().minimumDaysAtRisk.numeric(), eventType:'blur', ko_autocomplete: { value: cohortComparison().minimumDaysAtRisk, source: $component.options.dayOptions, minLength: 0, maxShowItems: 10, scroll: true }"
              />
            </div>
          </div>
          <div>
            <label>Remove patients who enter both cohorts?</label>
            <div class="input-group">
              <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: cohortComparison().rmSubjectsInBothCohorts"></select>
            </div>
          </div>
          <div>
            <label>Remove patients who have observed the outcome prior to cohort entry?</label>
            <div class="input-group">
              <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: cohortComparison().rmPriorOutcomes"></select>
            </div>
          </div>
          <div>
            <label>Use propensity score adjustment as a confounding adjustment strategy for baseline covariates?</label>
            <div class="input-group">
              <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: cohortComparison().psAdjustment"></select>
            </div>
          </div>
          <div data-bind="if: cohortComparison().psAdjustment() == 1">
            <div>
              <label>Which types of baseline covariates do you want to include in the propensity score model?</label>
              <ul>
                <li>Demographics</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psDemographicsGender" />Gender</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psDemographicsAge" />Age group (5-year bands)</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psDemographicsYear" />Index year</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psDemographicsMonth" />Index month</li>
                  <li>
                    <input type="checkbox" data-bind="checked: cohortComparison().psDemographicsRace" />Race</li>
                  <li>
                    <input type="checkbox" data-bind="checked: cohortComparison().psDemographicsEthnicity" />Ethnicity</li>
                </ul>
              </ul>
              <ul>
                <li>Conditions</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psConditionOcc30d" />In prior 30d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psConditionOcc365d" />In prior 365d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psConditionOccInpt180d" />In prior 180d within inpatient setting</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psConditionEraEver" />All time prior</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psConditionEraOverlap" />Overlapping index date</li>
                </ul>
              </ul>
              <ul>
                <li>Drugs</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psDrugInPrior30d" />In prior 30d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psDrugInPrior365d" />In prior 365d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psDrugEraEver" />All time prior</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psDrugEraOverlap" />Overlapping index date</li>
                </ul>
              </ul>
              <ul>
                <li>Procedures</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psProcedureOcc30d" />In prior 30d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psProcedureOcc365d" />In prior 365d</li>
                </ul>
              </ul>
              <ul>
                <li>Measurement</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psMeasurement30d" />Existence in prior 30d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psMeasurement365d" />Existence in prior 365d</li>
                </ul>
              </ul>
              <ul>
                <li>Risk scores</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psRiskScoresCharlson" />Charlson</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psRiskScoresChads2" />CHADS2</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().psRiskScoresDcsi" />DCSI</li>
                </ul>
              </ul>
            </div>
            <div>
              <label>What concepts do you want to include in baseline covariates in the propensity score model? (Leave blank if you want to include everything)</label>
              <div class="input-group">
                <input class="form-control" type="text" disabled data-bind="value: cohortComparison().psInclusionCaption" />
                <span class="input-group-btn">
									<button class="btn btn-primary" data-bind="click:choosePsInclusion"><i class="fa fa-folder-open"></i></button>
									<button class="btn btn-danger" data-bind="disable: cohortComparison().psInclusionId() == 0, click:clearPsInclusion" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
								</span>
              </div>
              <div data-bind="visible: cohortComparison().psInclusionId() > 0 && cohortComparison().psInclusionCaption() == null" class="errorInline"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> The concept set specified (#<span data-bind="text:cohortComparison().psInclusionId()"></span>) was deleted. Please select a different concept set.</div>
            </div>
            <div>
              <label>What concepts do you want to exclude from baseline covariates in the propensity score model? (Leave blank if you want to include everything)</label>
              <div class="input-group">
                <input class="form-control" type="text" disabled data-bind="value: cohortComparison().psExclusionCaption" />
                <span class="input-group-btn">
									<button class="btn btn-primary" data-bind="click:choosePsExclusion"><i class="fa fa-folder-open"></i></button>
									<button class="btn btn-danger" data-bind="disable:cohortComparison().psExclusionId() == 0, click:clearPsExclusion" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
								</span>
              </div>
              <div data-bind="visible: cohortComparison().psExclusionId() > 0 && cohortComparison().psExclusionCaption() == null" class="errorInline"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> The concept set specified (#<span data-bind="text:cohortComparison().psExclusionId()"></span>) was deleted. Please select a different concept set.</div>
            </div>
            <div>
              <label>How do you want to trim your cohorts based on the propensity score distribution?</label>
              <div class="input-group">
                <select class="form-control" data-bind="options: cohortComparison().trimOptions, optionsText:'name', optionsValue:'id', value: cohortComparison().psTrim"></select>
								<span data-bind="if: cohortComparison().psTrim() != 0"><span data-bind="text: cohortComparison().psTrimDescription"></span><input class="form-control" type="text" data-bind="value: cohortComparison().psTrimFraction" /></span>
              </div>
            </div>
            <div>
              <label>Do you want to perform matching or stratification?</label>
              <div class="input-group">
                <select class="form-control" data-bind="options: cohortComparison().matchingOptions, optionsText:'name', optionsValue:'id', value: cohortComparison().psMatch"></select>
                <span data-bind="if: cohortComparison().psMatch() == 1">How many comparator patients do you want to select for each target patient (within a defined caliper)?<input class="form-control" type="text" data-bind="value: cohortComparison().psMatchMaxRatio" /></span>
                <span data-bind="if: cohortComparison().psStrat() == true">How many strata do you want to use?<input class="form-control" type="text" data-bind="value: cohortComparison().psStratNumStrata" /></span>
              </div>
            </div>
          </div>

          <div>
            <label>Do you want to adjust for baseline covariates in the outcome model?</label>
            <div class="input-group">
              <select class="form-control" data-bind="options: $component.options.yesNoOptions, optionsText:'name', optionsValue:'id', value: cohortComparison().omCovariates"></select>
            </div>
          </div>
          <div data-bind="if: cohortComparison().omCovariates() == 1">
            <!--<div>
              <label>Which types of baseline covariates do you want to include in the outcome model?</label>
              <ul>
                <li>Demographics</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omDemographicsGender" />Gender</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omDemographicsAge" />Age group (5-year bands)</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omDemographicsYear" />Index year</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omDemographicsMonth" />Index month</li>
                  <li>
                    <input type="checkbox" data-bind="checked: cohortComparison().omDemographicsRace" />Race</li>
                  <li>
                    <input type="checkbox" data-bind="checked: cohortComparison().omDemographicsEthnicity" />Ethnicity</li>
                </ul>
              </ul>
              <ul>
                <li>Conditions</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omConditionOcc30d" />In prior 30d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omConditionOcc365d" />In prior 365d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omConditionOccInpt180d" />In prior 180d within inpatient setting</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omConditionEraEver" />All time prior</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omConditionEraOverlap" />Overlapping index date</li>
                </ul>
              </ul>
              <ul>
                <li>Condition aggregation</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omConditionGroupSnomed" />SNOMED</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omConditionGroupMeddra" />MedDRA</li>
                </ul>
              </ul>
              <ul>
                <li>Drugs</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omDrugInPrior30d" />In prior 30d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omDrugInPrior365d" />In prior 365d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omDrugEraEver" />All time prior</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omDrugEraOverlap" />Overlapping index date</li>
                </ul>
              </ul>
              <ul>
                <li>Drug aggregation</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omDrugExposure" />Clinical Drug</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omDrugEra" />Ingredient</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omDrugGroup" />ATC Class</li>
                </ul>
              </ul>
              <ul>
                <li>Procedures</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omProcedureOcc30d" />In prior 30d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omProcedureOcc365d" />In prior 365d</li>
                </ul>
              </ul>
              <ul>
                <li>Measurement</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omMeasurement30d" />Existence in prior 30d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omMeasurement365d" />Existence in prior 365d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omMeasurementCount365d" />Count in prior 365d</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omMeasurementBelow" />Has latest prior numeric value below normal range</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omMeasurementAbove" />Has latest prior numeric value above normal range</li>
                </ul>
              </ul>
              <ul>
                <li>Risk scores</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omRiskScoresCharlson" />Charlson</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omRiskScoresChads2" />CHADS2</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omRiskScoresDcsi" />DCSI</li>
                </ul>
              </ul>
              <ul>
                <li>
                  <input type="checkbox" data-bind="checked: cohortComparison().omConceptCounts" />Concept counts (count of distinct conditions/procedures/visits in history)</li>
              </ul>
              <ul>
                <li>Interaction terms</li>
                <ul>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omInteractionYear" />By index year</li>
                  <li>
                    <input type="checkbox" data-bind="checked:cohortComparison().omInteractionMonth" />By index month</li>
                </ul>
              </ul>
            </div>-->
            <div>
              <label>What concepts do you want to include in baseline covariates in the outcome model? (Leave blank if you want to include everything)</label>
              <div class="input-group">
                <input class="form-control" type="text" disabled data-bind="value: cohortComparison().omInclusionCaption" />
                <span class="input-group-btn">
									<button class="btn btn-primary" data-bind="click:chooseOmInclusion"><i class="fa fa-folder-open"></i></button>
									<span data-bind="if: cohortComparison().omInclusionId() > 0"><button class="btn btn-danger" data-bind="click:clearOmInclusion" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button></span>
                </span>
              </div>
              <div data-bind="visible: cohortComparison().omInclusionId() > 0 && cohortComparison().omInclusionCaption() == null" class="errorInline"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> The concept set specified (#<span data-bind="text:cohortComparison().omInclusionId()"></span>) was deleted. Please select a different concept set.</div>
            </div>
            <div>
              <label>What concepts do you want to exclude from baseline covariates in the outcome model? (Leave blank if you want to include everything)</label>
              <div class="input-group">
                <input class="form-control" type="text" disabled data-bind="value: cohortComparison().omExclusionCaption" />
                <span class="input-group-btn">
									<button class="btn btn-primary" data-bind="click:chooseOmExclusion"><i class="fa fa-folder-open"></i></button>
									<span data-bind="if: cohortComparison().omExclusionId() > 0"><button class="btn btn-danger" data-bind="click:clearOmExclusion" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button></span>
                </span>
              </div>
              <div data-bind="visible: cohortComparison().omExclusionId() > 0 && cohortComparison().omExclusionCaption() == null" class="errorInline"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> The concept set specified (#<span data-bind="text:cohortComparison().omExclusionId()"></span>) was deleted. Please select a different concept set.</div>
            </div>
          </div>
          <div>
            <label>What outcomes would you like to use as your negative controls? These are concepts known not to be associated with either the target or comparator group, such that we can assume the true relative risk should equal 1. These negative control outcomes will be used for empirical calibration.</label>
            <div class="input-group">
              <input class="form-control" type="text" disabled data-bind="value: cohortComparison().negativeControlCaption" />
              <span class="input-group-btn">
								<button class="btn btn-primary" data-bind="click:chooseNegativeControl"><i class="fa fa-folder-open"></i></button>
								<span data-bind="if: cohortComparison().negativeControlId() > 0"><button class="btn btn-danger" data-bind="click:clearNegativeControl" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button></span>
              </span>
            </div>
            <div data-bind="visible: cohortComparison().negativeControlId() > 0 && cohortComparison().negativeControlCaption() == null" class="errorInline"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> The concept set specified (#<span data-bind="text:cohortComparison().omInclusionId()"></span>) was deleted. Please select a different concept set.</div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'export' }" class="tab-pane">
      <div class="paddedWrapper">
        <ul class="nav nav-pills">
          <li role="presentation" data-bind="css: {active: $component.expressionMode() == 'print' }, click: function() {$component.expressionMode('print') };"><a>Print Friendly</a></li>
          <li role="presentation" data-bind="css: {active: $component.expressionMode() == 'rcode' }, click: function() {$component.expressionMode('rcode') };"><a>R Code</a></li>
          <li role="presentation" data-bind="css: {active: $component.expressionMode() == 'import' }, click: function() {$component.expressionMode('import') };"><a>Import</a></li>
          <li role="presentation" data-bind="css: {active: $component.expressionMode() == 'export' }, click: function() {$component.expressionMode('export') };"><a>Export</a></li>
        </ul>
        <div role="tabpanel" data-bind="visible: $component.expressionMode() == 'print'" class="tab-pane">
          <div class="paddedWrapper">
            <cohort-comparison-print-friendly params="cohortComparison: $component.cohortComparison"></cohort-comparison-print-friendly>
          </div>
        </div>
        <div role="tabpanel" data-bind="visible: $component.expressionMode() == 'rcode'" class="tab-pane">
          <div class="paddedWrapper">
            <h4>Multi-Analysis Approach</h4>
            <button class="btn btn-sm btn-primary" id="btnCopyToClipboard" data-bind="click: copyToClipboard" data-clipboard-target="#estimation-r-code"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy To Clipboard</button>&nbsp;&nbsp;<span id="copyToClipboardMessage"
              style="display:none;"><strong>Copied!</strong></span>
            <cohort-comparison-multi-r-code params="cohortComparison: $component.cohortComparison, codeElementId: 'estimation-r-code'"></cohort-comparison-multi-r-code>
          </div>
        </div>
        <div role="tabpanel" data-bind="visible: $component.expressionMode() == 'import'" class="tab-pane">
          <div class="paddedWrapper">
            <textarea class="code" style="width: 100%; height: 300px" data-bind="textInput: $component.importJSON"></textarea>
            <div style="text-align: right">
              <button class="btn btn-sm btn-primary" data-bind="click: $component.import">Import</button>
            </div>
          </div>
        </div>
        <div role="tabpanel" data-bind="visible: $component.expressionMode() == 'export'" class="tab-pane">
          <div class="paddedWrapper">
            <textarea class="code" style="width: 100%; height: 300px" data-bind="textInput: $component.expressionJSON"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modalCohortDefinition" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">Choose a Cohort</div>
        </div>
        <div class="modal-body">
          <cohort-definition-browser params="{model: self.model, cohortDefinitionSelected: cohortSelected}"></cohort-definition-browser>
        </div>
      </div>
    </div>
  </div>

  <div id="modalConceptSet" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">Choose a Concept Set</div>
        </div>
        <div class="modal-body">
          <cohort-concept-set-browser params="{onRespositoryConceptSetSelected: $component.conceptsetSelected}"></cohort-concept-set-browser>
        </div>
      </div>
    </div>
  </div>

</div>
