<div class="wrapperTitle">
	<i class="fa fa-balance-scale"></i> Population Level Effect Estimation
</div>

<div data-bind="if:$component.canReadEstimations" class="paddedWrapper">
	<span class="pull-right btn btn-sm btn-primary" data-bind="click:$component.newCohortComparison, css: {disabled: !$component.canCreateEstimation()}">New Population Level Effect Estimation</span>

	<faceted-datatable data-bind="visible:loading()==false" params="orderColumn: 3, reference:reference, columns: columns, options:options, rowClick:rowClick">
	</faceted-datatable>

	<div data-bind="visible:loading()" class="loading">loading</div>
</div>
<div data-bind="ifnot:$component.canReadEstimations">
	<div class="padded">
		<access-denied params="isAuthenticated: isAuthenticated"></access-denied>
	</div>
</div>
