<div class="wrapperTitle" data-bind="visible:loading">
	<i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</div>

<div data-bind="if:!loading() && cohortComparison()">
	<div class="wrapperTitle">
		<i class="fa fa-balance-scale"></i> Population Level Effect Estimation
	</div>

	<div class="asset-heading">
		<input type="text" data-bind="textInput: cohortComparison().name, css: { emptyInput: !(cohortComparison().name() && (cohortComparison().name().length > 0)) }" />
		<div class="btn-group" role="group">
			<button class="btn btn-sm btn-success" data-bind="click: save, enable:canSave, html: saveText">Save</button>
			<button class="btn btn-sm btn-primary" data-bind="click: close">Close</button>
			<button class="btn btn-sm btn-danger" data-bind="click: $component.delete, enable: canDelete()">Delete</button>
		</div>
	</div>

	<ul class="nav nav-tabs">
		<li role="presentation" data-bind="css: { active: $component.tabMode() == 'specification' }, click: function() { $component.tabMode('specification') };"><a>Specification</a>
		</li>
		<li role="presentation" data-bind="visible: config.cohortComparisonResultsEnabled, css: { active: $component.tabMode() == 'results' }, click: function() { $component.tabMode('results') };"><a>Results</a>
		</li>
		<li role="presentation" data-bind="css: { active: $component.tabMode() == 'export' }, click: function() { $component.tabMode('export') };"><a>Utilities</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="paddedWrapper text-center error" data-bind="visible:$component.loadingExecutionFailure">
			<div>
				<i class="fa fa-exclamation-circle"></i>
			</div>
			<div>error loading selected results</div>
		</div>

		<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'results' }" class="tab-pane">
			<cohort-comparison-results params="cohortComparisonId: $component.cohortComparisonId, cohortComparison: $component.cohortComparison"></cohort-comparison-results>
		</div>
		<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'specification'}" class="tab-pane">
			<cohort-comparison-spec-editor params="cohortComparison: $component.cohortComparison"></cohort-comparison-spec-editor>
		</div>
		<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'export' }" class="tab-pane">
			<div class="paddedWrapper">
				<ul class="nav nav-pills">
					<li role="presentation" data-bind="css: {active: $component.expressionMode() == 'print' }, click: function() {$component.expressionMode('print') };"><a>Print Friendly</a></li>
					<li role="presentation" data-bind="css: {active: $component.expressionMode() == 'rcode' }, click: function() {$component.expressionMode('rcode') };"><a>R Code</a></li>
					<li role="presentation" data-bind="css: {active: $component.expressionMode() == 'import' }, click: function() {$component.expressionMode('import') };"><a>Import</a></li>
					<li role="presentation" data-bind="css: {active: $component.expressionMode() == 'export' }, click: function() {$component.expressionMode('export') };"><a>Export</a></li>
				</ul>
				<div role="tabpanel" data-bind="visible: $component.expressionMode() == 'print'" class="tab-pane">
					<div class="paddedWrapper">
						<cohort-comparison-print-friendly params="cohortComparison: $component.cohortComparison"></cohort-comparison-print-friendly>
					</div>
				</div>
				<div role="tabpanel" data-bind="visible: $component.expressionMode() == 'rcode'" class="tab-pane">
					<div class="paddedWrapper">
						<h4>Multi-Analysis Approach</h4>
						<button class="btn btn-sm btn-primary" id="btnCopyToClipboard" data-bind="click: copyToClipboard" data-clipboard-target="#estimation-r-code"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy To Clipboard</button>&nbsp;&nbsp;<span id="copyToClipboardMessage" style="display:none;"><strong>Copied!</strong></span>
						<cohort-comparison-multi-r-code params="cohortComparison: $component.cohortComparison, codeElementId: 'estimation-r-code'"></cohort-comparison-multi-r-code>
					</div>
				</div>
				<div role="tabpanel" data-bind="visible: $component.expressionMode() == 'import'" class="tab-pane">
					<div class="paddedWrapper">
						<textarea class="code" style="width: 100%; height: 300px" data-bind="textInput: $component.importJSON"></textarea>
						<div style="text-align: right">
							<button class="btn btn-sm btn-primary" data-bind="click: $component.import">Import</button>
						</div>
					</div>
				</div>
				<div role="tabpanel" data-bind="visible: $component.expressionMode() == 'export'" class="tab-pane">
					<div class="paddedWrapper">
						<textarea class="code" style="width: 100%; height: 300px" data-bind="textInput: $component.expressionJSON"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
