<div class="wrapperTitle">
    <div data-bind="if:model.currentConceptSet()">
        <span data-bind="text:model.currentConceptSet().name"></span>
    </div>
    <div data-bind="if:!model.currentConceptSet()">
        <span>Concept Sets</span>
    </div>
</div>
<cohort-concept-set-browser params="criteriaContext: model.criteriaContext, cohortConceptSets: model.currentCohortDefinition() && model.currentCohortDefinition().expression().ConceptSets, onActionComplete: $component.onAtlasConceptSetSelectAction, onRespositoryConceptSetSelected: $component.onRespositoryConceptSetSelected, onCohortConceptSetSelected: $component.onCohortConceptSetSelected"></cohort-concept-set-browser>
