<div data-bind="visible: model.currentView() == 'conceptset'">
	<div class="wrapperTitle">
		<i class="fa fa-shopping-cart"></i> Concept Set
	</div>
	<div class="asset-heading" data-bind="if: model.currentConceptSet">
		<input id="txtConceptSetName" type="text" data-bind="textInput: model.currentConceptSet().name" />
		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-success" data-bind="click:function() { saveClick(); }, css: {disabled:model.currentConceptSet() != null && !model.currentConceptSetDirtyFlag.isDirty()}">Save</button>
			<button type="button" class="btn btn-sm btn-primary" data-bind="click:function() { closeConceptSet(); }">Close</button>
			<button type="button" class="btn btn-sm btn-primary" data-bind="click: copy, visible: model.currentConceptSet() && model.currentConceptSet().id > 0">Copy</button>
		</div>
	</div>

	<ul class="nav nav-tabs">
		<li role="presentation" data-bind="click: function() {$component.routeTo('details');}, attr: {class: model.currentConceptSetMode() == 'details' ? 'active' : ''}"><a>Concept Set Expression</a>
		</li>
		<li role="presentation" data-bind="click: function() {$component.routeTo('included');}, attr: {class: model.currentConceptSetMode() == 'included' ? 'active' : ''}">
			<a>Included Concepts
				<span class="badge" data-bind="if: !model.resolvingConceptSetExpression()"><span data-bind="text:model.conceptSetInclusionCount()"></span></span>
				<span class="badge" data-bind="if: model.resolvingConceptSetExpression();"><i class="fa fa-circle-o-notch fa-spin"></i></span></a>
			</li>
		</li>
		<li role="presentation" data-bind="click: function() {$component.routeTo('sourcecodes');}, attr: {class: model.currentConceptSetMode() == 'sourcecodes' ? 'active' : ''}">
			<a>Included Source Codes</a>
		</li>
			<li role="presentation" data-bind="visible: $component.displayEvidence(), click: function() {$component.routeTo('evidence');}, attr: {class: model.currentConceptSetMode() == 'evidence' ? 'active' : ''}">
				<a>Explore Evidence</a>
			</li>
			<li role="presentation" data-bind="click: function() {$component.routeTo('export');}, attr: {class: model.currentConceptSetMode() == 'export' ? 'active' : ''}"><a>Export</a>
			</li>
		</ul>
	</div>

	<div id="wrapperConceptSetAnalysis" data-bind="if: model.currentConceptSetMode() == 'analysis'">
		<faceted-datatable params="{columns: model.searchConceptsColumns, options: model.searchConceptsOptions, reference: model.denseSiblings}"></faceted-datatable>
	</div>

	<div class="loading" data-bind="if:model.loadingSourcecodes() || model.loadingIncluded">loading</div>

	<div data-bind="visible: model.currentConceptSetMode() == 'included' && !model.loadingIncluded()">
		<faceted-datatable params="{columns: model.searchConceptsColumns, options: model.searchConceptsOptions, reference: model.includedConcepts, rowCallback: model.contextSensitiveLinkColor}"></faceted-datatable>
	</div>

	<div data-bind="visible: model.currentConceptSetMode() == 'sourcecodes' && !model.loadingSourcecodes() && !model.loadingIncluded()">
		<faceted-datatable params="{columns: model.relatedSourcecodesColumns, options: model.relatedSourcecodesOptions, reference: model.includedSourcecodes}"></faceted-datatable>
	</div>

	<div data-bind="if: model.currentConceptSetMode() == 'details'">
		<div class="paddedWrapper">
			<table class="conceptSetTable stripe compact hover" cellspacing="0" width="100%" data-bind="dataTable:{
            data: model.selectedConcepts(),
            options: {
							dom: 'Clfiprt',
							colVis: {
								buttonText: 'Change Columns',
								align: 'right',
								overlayFade: 0,
								showAll: 'Show All Columns',
								restore: 'Reset Columns'
							},
							rowCallback: model.contextSensitiveLinkColor,
							lengthMenu: [[25, 50, 100, -1], [25, 50, 100,'All']],
							orderClasses: false,
							deferRender: true,
							autoWidth: false,
							order: [[3, 'desc']],
              columns: [
									{ title: '<li class=\'fa fa-shopping-cart\'></li>', render: model.renderConceptSetItemSelector, orderable:false, searchable:false},
									{ title: 'Concept Id', data: 'concept.CONCEPT_ID'},
									{ title: 'Concept Code', data: 'concept.CONCEPT_CODE'},
                  { title: 'Concept Name', render: model.renderBoundLink},
                  { title: 'Domain', data: 'concept.DOMAIN_ID' },
									{ title: 'Standard Concept Code', data: 'concept.STANDARD_CONCEPT', visible:false },
									{ title: 'Standard Concept Caption', data: 'concept.STANDARD_CONCEPT_CAPTION' },
									{ title: 'Exclude', class:'text-center', orderable:false,render: function() { return model.renderCheckbox('isExcluded');} },
									{ title: 'Descendants', class:'text-center', orderable:false,render: function() { return model.renderCheckbox('includeDescendants');} },
									{ title: 'Mapped', class:'text-center', orderable:false,render: function() { return model.renderCheckbox('includeMapped');} }
              ]
           }
        }">
			</table>

			<div class="linkLegend">
				<div class="linkLegendItem">
					<div class="swatch standard">
					</div>
					<div class="linkLegendTitle">Standard</div>
				</div>
				<div class="linkLegendItem">
					<div class="swatch nonStandard">
					</div>
					<div class="linkLegendTitle">Non-Standard</div>
				</div>
				<div class="linkLegendItem">
					<div class="swatch classification">
					</div>
					<div class="linkLegendTitle">Classification</div>
				</div>
			</div>
		</div>

		<div id="wrapperConceptSetWarnings" data-bind="visible: model.selectedConceptsWarnings().length > 0">
			<div class="heading">Concept Set Warnings</div>
			<table data-bind="foreach:model.selectedConceptsWarnings">
				<tr class="conceptWarning">
					<td><i class="fa fa-exclamation-triangle"></i>
					</td>
					<td><span class="conceptWarningText" data-bind="text:$data"></span>
					</td>
				</tr>
			</table>
		</div>
	</div>

    <div data-bind="visible: model.currentConceptSetMode() == 'evidence'">
        <negative-controls params="{model: pageModel, negativeControls: model.currentConceptSetNegativeControls, selectedConcepts: model.selectedConcepts, conceptSet: model.currentConceptSet, dirtyFlag: model.currentConceptSetDirtyFlag, conceptIds: model.conceptSetInclusionIdentifiers, services: model.services, defaultResultsUrl: model.resultsUrl}"></negative-controls>
    </div>
    
	<div id="wrapperConceptSetExport" data-bind="if: model.currentConceptSetMode() == 'export'">
		<div class="heading">Concept Set Expression JSON</div>
		<pre data-bind="html: model.currentConceptSetExpressionJson, selectOnFocus: {events: ['click']}"></pre>
		<div class="heading">Concept Identifer List</div>
		<pre data-bind="html: model.currentConceptIdentifierList, selectOnFocus: {events: ['click']}"></pre>
		<div class="heading">Included Concept Identifer List</div>
		<pre data-bind="html: model.currentIncludedConceptIdentifierList, selectOnFocus: {events: ['click']}"></pre>
		<br/>
		<button type="button" class="btn btn-success" data-bind="click:function() { exportCSV(); }, css: {disabled:!(model.currentConceptSet() != null && !model.currentConceptSetDirtyFlag.isDirty())}"><i class="fa fa-download" aria-hidden="true"></i>Export To CSV</button>
	</div>

</div>