<div class="wrapperTitle">
    <i class="fa fa-shopping-cart"></i> Concept Sets
</div>
<div class="clear">
	<div class="paddedWrapper">
		<div class="heading">
			Concept Set Repository
		</div>
		<cohort-concept-set-browser params="criteriaContext: model.criteriaContext, cohortConceptSets: null, onRespositoryConceptSetSelected: $component.onRespositoryConceptSetSelected, onActionComplete: $component.onConceptSetBrowserAction, disableConceptSetButton: model.currentConceptSet() != undefined"></cohort-concept-set-browser>
	</div>
</div>
