<div id="wrapperConcept" data-bind="if: model.currentConcept() && model.currentView() == 'concept'">
	<div class="wrapperTitle" data-bind="with:model.currentConcept()">
		<span data-bind="html: $root.renderCurrentConceptSelector()"></span>
		<span data-bind="css: {invalid: STANDARD_CONCEPT!='S'}, text:CONCEPT_NAME"></span>
	</div>

	<ul class="nav nav-tabs">
		<li role="presentation" data-bind="click: function() {model.currentConceptMode('details');}, attr: {class: model.currentConceptMode() == 'details' ? 'active' : ''}"><a>Details</a>
		</li>
		<li role="presentation" data-bind="click: function() {model.currentConceptMode('related');}, attr: {class: model.currentConceptMode() == 'related' ? 'active' : ''}">
			<a><span data-bind="if:model.loadingRelated();">
							<i class="fa fa-refresh fa-spin"></i>
						</span>Related Concepts</a>
		</li>

		<!--
			to-do: remove this mode completely
		<li role="presentation" data-bind="click: function() {model.currentConceptMode('sourcecodes');}, attr: {class: model.currentConceptMode() == 'sourcecodes' ? 'active' : ''}">
			<a><span data-bind="if:model.loadingSourcecodes();">
							<i class="fa fa-refresh fa-spin"></i>
						</span>Related Source Codes</a>
		</li>
		-->
		
		<li role="presentation" data-bind="click: function() {model.currentConceptMode('hierarchy');}, attr: {class: model.currentConceptMode() == 'hierarchy' ? 'active' : ''}">
			<a><span data-bind="if:model.loadingRelated();">
							<i class="fa fa-refresh fa-spin"></i>
						</span>Hierarchy</a>
		</li>
		<!--
		<li role="presentation" data-bind="click: function() {model.currentConceptMode('evidence');}, attr: {class: model.currentConceptMode() == 'evidence' ? 'active disabled' : 'disabled'}">
			<a>
				<span data-bind="if:model.loadingEvidence();">
							<i class="fa fa-refresh fa-spin"></i>
						</span>Evidence</a>
		</li>
		<li role="presentation" data-bind="click: function() {model.currentConceptMode('data');}, attr: {class: model.currentConceptMode() == 'data' ? 'active disabled' : 'disabled'}"><a>Incidence</a>
		</li>
		-->
	</ul>

	<div data-bind="visible:model.currentConceptMode() == 'sourcecodes' && !model.loadingSourcecodes()">
		<faceted-datatable params="{columns: model.relatedSourcecodesColumns, options: model.relatedSourcecodesOptions, reference: model.relatedSourcecodes }"></faceted-datatable>
	</div>

	<div id="wrapperConceptHierarchy" data-bind="if:model.currentConceptMode() == 'hierarchy' && !model.loadingRelated()">

		<div id="wrapperParents">
			<div class="heading">Parents</div>
			<table width="100%" class="conceptTable stripe compact hover" cellspacing="0" data-bind="dataTable:{
								data: model.metarchy.parents(),
								options: {
									dom: 't',
									language: {
										search: 'Filter Broader Concepts: '
									},
									rowCallback: model.contextSensitiveLinkColor,
									lengthMenu: [[-1], ['All']],
									orderClasses: false,
									ordering: true,
									order: [[ 2, 'asc' ]],
									columns: [
											{ title: '', render: model.renderConceptSelector, orderable:false, searchable:false},
											{ title: 'Id', data: 'CONCEPT_ID'},
											{ title: 'Code', data: 'CONCEPT_CODE'},
											{ title: 'Name', data: 'CONCEPT_NAME', render: model.renderLink, width: '50%'},
											{ title: 'Class', data: 'CONCEPT_CLASS_ID' },
											{ title: 'Record Count', data: 'DENSITY'},																																															 
											{ title: 'Domain', data: 'DOMAIN_ID' },
											{ title: 'Vocabulary', data: 'VOCABULARY_ID', width: '100px' }
									]
							}
						}">
			</table>
		</div>
		<div id="wrapperHierarchyAnchor" class="heading" data-bind="text:model.currentConcept().CONCEPT_CODE + ' ' + model.currentConcept().CONCEPT_NAME">
		</div>
		<div id="wrapperChildren">
			<div class="heading">Children</div>			
			<table width="100%" class="conceptTable stripe compact hover" cellspacing="0" data-bind="dataTable:{
								data: model.metarchy.children(),
								language: {
									search: 'Filter Specific Concepts: '
								},
								options: {
									dom: 't',
									rowCallback: model.contextSensitiveLinkColor,
									lengthMenu: [[-1], ['All']],
									orderClasses: false,
									ordering: true,
									order: [[ 2, 'asc' ]],
									columns: [
											{ title: '', render: model.renderConceptSelector, orderable:false, searchable:false},
											{ title: 'Id', data: 'CONCEPT_ID'},
											{ title: 'Code', data: 'CONCEPT_CODE'},
											{ title: 'Name', data: 'CONCEPT_NAME', render: model.renderLink, width: '50%'},
											{ title: 'Class', data: 'CONCEPT_CLASS_ID' },
											{ title: 'Record Count', data: 'DENSITY'},																																															 
											{ title: 'Domain', data: 'DOMAIN_ID' },
											{ title: 'Vocabulary', data: 'VOCABULARY_ID', width: '100px' }
									]
							}
						}">
			</table>
		</div>
	</div>

	<div id="wrapperConceptEvidence" data-bind="if:model.currentConceptMode() == 'evidence' && !model.loadingEvidence()">

		<div class="heading">Evidence Scatter</div>
		<div style="background-color:#eee;padding:5px;">
			<div id="conceptEvidenceScatter"></div>
		</div>

		<div class="heading">Evidence Records</div>
		<table width="100%" class="stripe compact hover" cellspacing="0" data-bind="dataTable:{
            data: model.evidence(),
            options: {
							dom: 'Clfiprt',
							colVis: {
								buttonText: 'Change Columns',
								align: 'right',
								overlayFade: 0,
								showAll: 'Show All Columns',
								restore: 'Reset Columns'
							},
							lengthMenu: [[20, 50, 100, -1], [20, 50, 100,'All']],
							deferRender: true,
							orderClasses: false,
							autoWidth: false,
							ordering: true,
							order: [[ 2, 'asc' ]],
							columns: [
									{ title: 'Evidence Type', data: 'evidenceType'},
									{ title: 'Link Out', data: 'linkout'},
									{ title: 'Drug Name', data: 'drugName'},
									{ title: 'Condition Name', data: 'conditionName'},
									{ title: 'Value', data: 'value' }
							]
					}
        }">
		</table>

	</div>

	<div id="wrapperConceptDetails" data-bind="if:model.currentConceptMode() == 'details'">
		<table data-bind="with: model.currentConcept">
			<thead>
				<tr>
					<th>Property</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Concept Name</td>
					<td data-bind="text:CONCEPT_NAME"></td>
				</tr>
				<tr>
					<td>Domain Id</td>
					<td data-bind="text:DOMAIN_ID"></td>
				</tr>
				<tr>
					<td>Concept Class Id</td>
					<td data-bind="text:CONCEPT_CLASS_ID"></td>
				</tr>
				<tr>
					<td>Vocabulary Id</td>
					<td data-bind="text:VOCABULARY_ID"></td>
				</tr>
				<tr>
					<td>Concept Id</td>
					<td data-bind="text:CONCEPT_ID"></td>
				</tr>
				<tr>
					<td>Concept Code</td>
					<td data-bind="text:CONCEPT_CODE"></td>
				</tr>
				<tr>
					<td>Invalid Reason</td>
					<td data-bind="text:INVALID_REASON_CAPTION, attr: { class: INVALID_REASON_CAPTION == 'Valid' ? '' : 'invalid'}"></td>
				</tr>
				<tr>
					<td>Standard Concept</td>
					<td data-bind="text:STANDARD_CONCEPT_CAPTION, attr: { class: STANDARD_CONCEPT_CAPTION == 'Standard' ? '' : 'invalid'}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div data-bind="visible: model.currentConceptMode() == 'related' && !model.loadingRelated()">
		<faceted-datatable params="{columns: model.relatedConceptsColumns, options: model.relatedConceptsOptions, reference: model.relatedConcepts, rowCallback: model.contextSensitiveLinkColor }"></faceted-datatable>
	</div>
</div>