<!-- ko if:$component.showSelectionArea -->
<div class="wrapperTitle">
    <span data-bind="if:!$component.loadingReport()"><i class="fa fa-area-chart"></i></span>
    <span data-bind="if:$component.loadingReport()"><i class="fa fa-circle-o-notch fa-spin"></i></span> Data Source
    Profiles
</div>

<div class="reportControls pad-5">
    <div class="row">
        <div class="col-xs-12">
            <select class="form-control"
                    data-bind="css : { invalid: $component.currentSource()==undefined }, options:$component.sources, optionsText:'sourceName', value:$component.currentSource, optionsCaption:'Select a Source'"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <select class="form-control"
                    data-bind="css : { invalid: $component.currentReport()==undefined }, options:$component.reports, optionsCaption:'Select a Report', optionsText:'name', value:$component.currentReport"></select>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- /ko -->

<div id="report" data-bind="if: !$component.loadingReport() && $component.currentReport()">
    <div class="row pad-10 report">
        <div class="reportHeading"><i class="fa fa-area-chart"></i>
            <span data-bind="text:$component.currentReport().name"></span> Report
            (<span data-bind="text:$component.currentSource().sourceKey"></span>)
        </div>

        <!-- ko if:$component.currentReport().conceptDomain -->
        <div class="reportSectionHeading"><span data-bind="$component.currentReport().name"></span> Prevalence</div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="active" id="treemap-tab">
                <a href="#treemap-panel" role="tab" data-toggle="tab" data-bind="click: selectTab('tree')">Treemap</a>
            </li>
            <li>
                <a href="#table-panel" role="tab" data-toggle="tab" data-bind="click: selectTab('table')">Table</a>
            </li>
        </ul>

        <div id='content' class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="treemap-panel">
                <div id="treemap_container">
                    <div class="treemap_zoomtarget"></div>
                </div>
                <div class="treemap_legend">Box Size: Prevalence, Color: <span
                        data-bind="text:$component.currentReport().aggProperty.description"></span> (Light to Dark = Low
                    to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="table-panel"
                 data-bind="eventListener: { event: 'click', selector: '.table_selector', callback: onReportTableRowClick}">
                <table id="report_table" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>Concept Id</th>
                        <th>Name</th>
                        <th>Person Count</th>
                        <th>Prevalence</th>
                        <th><span data-bind="text:$component.currentReport().aggProperty.description"></span></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="loader" data-bind="if:$component.loadingReportDrilldown">
            <i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown Report:
            <!-- ko if: $component.currentConcept() -->
            <span data-bind="text:$component.currentConcept().name"></span>
            <!-- /ko -->
            ...
        </div>

        <div data-bind="visible: $component.activeReportDrilldown()">

            <!-- ko if: $component.currentConcept() -->
            <div class="heading" id="drilldown">
                Drilldown Report: <span data-bind="text:$component.currentConcept().name"></span>
            </div>
            <!-- /ko -->

            <div class="col-xs-12">
                <div class="reportSectionHeading">Prevalence</div>
                <div class="evidenceVisualization" id="trellisLinePlot"></div>
                <div class="evidenceDescription"></div>
            </div>

            <div class="col-xs-12">
                <div class="reportSectionHeading">Prevalence by Month</div>
                <div class="evidenceVisualization" id="prevalenceByMonth"></div>
                <div class="evidenceDescription"></div>
            </div>

            <!-- ko if: $component.currentReport().byType -->
            <div class="col-xs-6">
                <div class="reportSectionHeading">Type</div>
                <div class="evidenceVisualization" id="byType"></div>
                <div class="evidenceDescription"></div>
            </div>
            <!-- /ko -->

            <div class="col-xs-6">
                <div class="reportSectionHeading">Age at First Occurrence</div>
                <div class="evidenceVisualization" id="ageAtFirstOccurrence"></div>
                <div class="evidenceDescription"></div>
            </div>
        </div>

        <!-- /ko -->

        <!-- ko if: $component.currentReport().name == 'Dashboard' && !$component.loadingReport() -->
            <div class="col-xs-12 col-md-6">
                <div class="reportSectionHeading">Population by Gender</div>
                <div class="evidenceVisualization" id="populationByGender"></div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="reportSectionHeading">Age at First Observation</div>
                <div class="evidenceVisualization" id="ageAtFirstObservation"></div>
            </div>
        <!-- /ko -->
    </div>
</div>