<div class="wrapperTitle">
	<span data-bind="if:!$component.loadingReport()"><i class="fa fa-area-chart"></i></span> Data Source Reports
</div>

<div data-bind="ifnot:$component.canViewCdmResults">
	<div class="padded">
		<access-denied params="isAuthenticated: isAuthenticated"></access-denied>
	</div>
</div>

<div data-bind="if:$component.canViewCdmResults">
	<!-- ko if:$component.showSelectionArea -->

	<div class="reportControls pad-5">
		<div class="row">
			<div class="col-xs-12">
				<select class="form-control" data-bind="css : { invalid: $component.currentSource()==undefined }, options:$component.sources, optionsText:'sourceName', value:$component.currentSource, optionsCaption:'Select a Source'"></select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<select class="form-control" data-bind="css : { invalid: $component.currentReport()==undefined }, options:$component.reports, optionsCaption:'Select a Report', optionsText:'name', value:$component.currentReport"></select>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!-- /ko -->

<loading params="status: 'loading report'" data-bind="visible:$component.loadingReport() && !$component.hasError()">
</loading>

	<div class="paddedWrapper text-center error" data-bind="visible:$component.hasError()">
		<div>
			<i class="fa fa-exclamation-circle"></i>
		</div>
		<div>error loading report</div>
	</div>

	<div id="report" data-bind="if: !$component.loadingReport() && $component.currentReport() && !$component.hasError()">
		<div class="row pad-10 report">
			<div class="reportHeading"><i class="fa fa-area-chart"></i>
				<span data-bind="text:$component.currentReport().name"></span> Report (
				<span data-bind="text:$component.currentSource().sourceKey"></span>)
			</div>

			<!-- ko if:$component.currentReport().conceptDomain -->
			<div class="reportSectionHeading"><span data-bind="$component.currentReport().name"></span> Prevalence</div>

			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="active" id="treemap-tab">
					<a href="#treemap-panel" role="tab" data-toggle="tab" data-bind="click: selectTab('tree')">Treemap</a>
				</li>
				<li>
					<a href="#table-panel" role="tab" data-toggle="tab" data-bind="click: selectTab('table')">Table</a>
				</li>
			</ul>

			<div id='content' class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="treemap-panel">
					<div id="treemap_container">
						<div class="treemap_zoomtarget"></div>
					</div>
					<div class="treemap_legend">Box Size: Prevalence, Color: <span data-bind="text:$component.currentReport().aggProperty.description"></span> (Light to Dark = Low to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="table-panel" data-bind="eventListener: { event: 'click', selector: '.table_selector', callback: onReportTableRowClick}">
					<table id="report_table" class="display" style="width:100%">
						<thead>
							<tr>
								<th>Concept Id</th>
								<th>Name</th>
								<th>Person Count</th>
								<th>Prevalence</th>
								<th><span data-bind="text:$component.currentReport().aggProperty.description"></span></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>

			<div class="loader" data-bind="if:$component.loadingReportDrilldown">
				<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown Report:
				<!-- ko if: $component.currentConcept() -->
				<span data-bind="text:$component.currentConcept().name"></span>
				<!-- /ko -->
				...
			</div>

			<div data-bind="visible: $component.activeReportDrilldown()">

				<!-- ko if: $component.currentConcept() -->
				<div class="heading" id="drilldown">
					Drilldown Report: <span data-bind="text:$component.currentConcept().name"></span>
				</div>
				<!-- /ko -->

				<div class="col-xs-12">
					<div class="reportSectionHeading">Prevalence</div>
					<div class="evidenceVisualization" id="trellisLinePlot"></div>
					<div class="evidenceDescription"></div>
				</div>

				<div class="col-xs-12">
					<div class="reportSectionHeading">Prevalence by Month</div>
					<div class="evidenceVisualization" id="prevalenceByMonth"></div>
					<div class="evidenceDescription"></div>
				</div>

				<!-- ko if: $component.currentReport().byType -->
				<div class="col-xs-6">
					<div class="reportSectionHeading">Type</div>
					<div class="evidenceVisualization" id="byType"></div>
					<div class="evidenceDescription"></div>
				</div>
				<!-- /ko -->

			<div class="col-xs-6">
				<div class="reportSectionHeading">Age at First Occurrence</div>
				<div class="evidenceVisualization" id="ageAtFirstOccurrence"></div>
				<div class="evidenceDescription"></div>
			</div>

			<!-- ko if: $component.currentReport().byUnit && !$component.loadingReport() -->
			<div class="row">
				<div class="col-xs-6">
					<div class="reportSectionHeading">Measurement Records by Unit</div>
					<div class="evidenceVisualization" id="recordsByUnit"></div>
					<div class="evidenceDescription"></div>
				</div>

				<div class="col-xs-6">
					<div class="reportSectionHeading">Measurement Value Distribution</div>
					<div class="evidenceVisualization" id="measurementValues"></div>
					<div class="evidenceDescription"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<div class="reportSectionHeading">Lower limit Distribution</div>
					<div class="evidenceVisualization" id="lowerLimit"></div>
					<div class="evidenceDescription"></div>
				</div>

				<div class="col-xs-4">
					<div class="reportSectionHeading">Upper Limit Distribution</div>
					<div class="evidenceVisualization" id="upperLimit"></div>
					<div class="evidenceDescription"></div>
				</div>

				<div class="col-xs-4">
					<div class="reportSectionHeading">Values Relative to Normal Range</div>
					<div class="evidenceVisualization" id="relativeToNorm"></div>
					<div class="evidenceDescription"></div>
				</div>
			</div>

			<!-- /ko -->
			<!-- ko if: $component.currentReport().byFrequency && !$component.loadingReport() -->
			<div class="col-xs-12">
				<div class="reportSectionHeading">Frequency Distribution</div>
				<div class="evidenceVisualization" id="frequencyDistribution"></div>
				<div class="evidenceDescription"></div>
			</div>
			<!-- /ko -->

			</div>

			<!-- /ko -->

			<!-- ko if: $component.currentReport().name == 'Dashboard' && !$component.loadingReport() -->
			<div class="col-sm-12 col-md-4">
				<div class="reportSectionHeading">CDM Summary</div>
				<table class="table table-striped table-hover">
					<tbody data-bind="foreach: $component.currentReport().summary">
						<tr>
							<td data-bind="text: attributeName"></td>
							<td data-bind="text: attributeValue"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-xs-12 col-md-4">
				<div class="reportSectionHeading">Population by Gender</div>
				<div class="evidenceVisualization" id="populationByGender"></div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div class="reportSectionHeading">Age at First Observation</div>
				<div class="evidenceVisualization" id="ageAtFirstObservation"></div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="reportSectionHeading">Cumulative Observation</div>
				<div class="evidenceVisualization" id="cumulativeObservation"></div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="reportSectionHeading">Persons With Continuous Observation By Month</div>
				<div class="evidenceVisualization" id="oppeoplebymonthsingle"></div>
			</div>
			<!-- /ko -->

		<!-- ko if: $component.currentReport().name == 'Person' && !$component.loadingReport() -->
		<div class="col-xs-12">
			<div class="reportSectionHeading">Year of Birth</div>
			<div class="evidenceDescription">The number of people in this cohort shown with respect to their year of birth.</div>
			<div class="evidenceVisualization" id="hist"></div>
		</div>

		<div class="col-xs-4">
			<div class="reportSectionHeading">Gender</div>
			<div class="evidenceDescription">The number of people in this cohort stratified by gender.</div>
			<div class="evidenceVisualization" id="gender"></div>
		</div>
		<div class="col-xs-4">
			<div class="reportSectionHeading">Race</div>
			<div class="evidenceDescription">The number of people in this cohort stratified by race.</div>
			<div class="evidenceVisualization" id="race"></div>
		</div>
		<div class="col-xs-4">
			<div class="reportSectionHeading">Ethnicity</div>
			<div class="evidenceDescription">The number of people in this cohort stratified by ethnicity.</div>
			<div class="evidenceVisualization" id="ethnicity"></div>
		</div>
		<!-- /ko -->

			<!-- ko if: $component.currentReport().name == 'Achilles Heel' && !$component.loadingReport() -->
			<div class="panel panel-default">
				<div class="panel-body">
					<table id="achillesheel_table">
						<thead>
							<tr>
								<th>Message Type</th>
								<th>Message</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<!-- /ko -->

			<!-- ko if: $component.currentReport().name == 'Data Density' && !$component.loadingReport() -->
			<div class="col-sm-12">
				<div class="reportSectionHeading">
					Total Rows
				</div>
				<div class="evidenceVisualization" id="totalrecords">
				</div>
			</div>
			<div class="col-sm-12">
				<div class="reportSectionHeading">
					Records Per Person
				</div>
				<div class="evidenceVisualization" id="recordsperperson">
				</div>
			</div>
			<div class="col-sm-12">
				<div class="reportSectionHeading">
					Concepts Per Person
				</div>
				<div class="evidenceVisualization" id="conceptsperperson">
				</div>
			</div>
			<!-- /ko -->


			<!-- ko if: $component.currentReport().name == 'Death' && !$component.loadingReport() -->
			<div class="col-sm-12">
				<div class="reportSectionHeading">
					Death Prevalence by Age, Gender, Year
				</div>
				<div class="evidenceVisualization">
					<div id="deathPrevalenceByGenderAgeYear"></div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="reportSectionHeading">
					Death Prevalence by Month
				</div>
				<div class="evidenceVisualization">
					<div class="drilldown" id="deathPrevalenceByMonth"></div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="reportSectionHeading">
					Death by Type
				</div>
				<div class="evidenceVisualization">
					<div id="deathByType"></div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="reportSectionHeading">
					Age at Death
				</div>
				<div class="evidenceVisualization">
					<div id="ageAtDeath"></div>
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>
</div>
