<div data-bind="if:facetsOnly">
	<div data-bind="foreach:facets">
		<div class="facetName"><i class="fa fa-filter"></i><span data-bind="text:caption"></span></div>
		<div class="facetScrollBox" data-bind="foreach:Members">
			<div class="facetMemberName" data-bind="css : {selected:Selected}, click: function(data, event) { $component.updateFilters($data, event);}">
				<span data-bind="attr: {id: $parentContext.$index() + '-' + $index()}, text:Name + ' (' + ActiveCount + ')'"></span>
			</div>
		</div>
	</div>
</div>

<div data-bind="if:!facetsOnly" class="row">
	<div class="feFilter col-xs-2">
		<div data-bind="foreach:facets">
			<div class="facetName"><i class="fa fa-filter"></i><span data-bind="text:caption"></span></div>
			<div class="facetScrollBox" data-bind="foreach:Members">
				<div class="facetMemberName" data-bind="css : {selected:Selected}, click: function(data, event) { $component.updateFilters($data, event);}">
					<span data-bind="attr: {id: $parentContext.$index() + '-' + $index()}, text:Name + ' (' + ActiveCount + ')'"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-10">
		<div class="facetedDataTableProfile">
			<table width="100%" class="conceptTable stripe compact hover" cellspacing="0" data-bind="dataTable:{
						data: $component.data,
						options: {
							dom: $component.dom,
							colVis: $component.colVis,
							language: $component.language,
							buttons: $component.buttons,
							rowCallback: $component.rowCallback,
							lengthMenu: $component.lengthMenu,
							orderClasses: $component.orderClasses,
							ordering: $component.ordering,
							order: $component.order,
							columns: $component.columns,
							autoWidth: $component.autoWidth,
							initComplete:$component.initCompleteCallback,
					},
					onRowClick: $component.rowClick,
            }">
			</table>
		</div>
	</div>
</div>
