<div id="wrapperLoading" data-bind="if:loading">
	<div class="wrapperTitle">
		<i class="fa fa-refresh fa-spin"></i> Loading...
	</div>
</div>

<div data-bind="if:!loading() && feasibility()">
	<div class="wrapperTitle">
		<span><i class="fa fa-dot-circle-o"></i></span> <span data-bind="text:feasibility().name"></span>
	</div>

	<div class="paddedWrapper">
		<ul class="nav nav-tabs">
			<li role="presentation" data-bind="css: { active: $component.tabMode() == 'definition' }, click: function() { $component.tabMode('definition') };"><a>Definition</a>
			</li>

			<li role="presentation" data-bind="css: { active: $component.tabMode() == 'generation' }, click: function() { $component.tabMode('generation') };"><a>Generation Status</a>
			</li>

			<li role="presentation" data-bind="css: { active: $component.tabMode() == 'results' }, click: function() { $component.tabMode('results') };"><a>Analysis Results</a>
			</li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'definition' }" class="tab-pane">
				<div class="heading">definition editor coming soon</div>
			</div>
			<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'generation' }" class="tab-pane">
			</div>
			<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'results' }" class="tab-pane">
				<div data-bind="if:isNoData">
					<div class="paddedWrapper heading">No data available.</div>
				</div>

				<div class="paddedWrapper">
					<table id="feasibilityResultTable">
						<thead>
							<tr>
								<th>Inclusion Rule</th>
								<!-- ko foreach: $component.sources -->
								<th colspan="2" data-bind="text:sourceName"></th>
								<!-- /ko -->
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Total Matching Index Rule</td>
								<!-- ko foreach: $component.sources -->
								<td class="numeric" data-bind="text:$component.lookupTotal(sourceKey)"></td>
								<td class="numeric">100%</td>
								<!-- /ko -->
							</tr>
							<!-- ko foreach: $component.feasibility().inclusionRules -->
							<tr>
								<td data-bind="text:name;"></td>
								<!-- ko foreach: $component.sources -->
								<td class="numeric" data-bind="text:$component.lookupCount($parentContext.$index(), sourceKey)"></td>
								<td class="numeric" data-bind="text:$component.lookupPercentage($parentContext.$index(), sourceKey)"></td>
								<!-- /ko -->
							</tr>
							<!-- /ko -->
						</tbody>
					</table>

					<!-- experimental static study report feature -->
					<!--
					<div data-bind="click:function() { pageModel.studyReportSections.push({content : $('#feasibilityResultTable').prop('outerHTML'), title : feasibility().name, source: document.location.href }); }" class="btn btn-sm pull-right btn-primary"><i class="fa fa-book"></i>Add to Study Report</div>
					-->

				</div>
			</div>
		</div>
	</div>
</div>
