<div data-bind="css: classes({ modifiers: theme })">
	<!-- ko if: hasIcon() -->
	<i data-bind="attr: { class: `fa fa-${icon}` }"></i>
	<!-- /ko -->
	<span data-bind="text: title"></span>
	<!-- ko if: !!description -->
		<span class="description" data-bind="text: description"></span>
	<!-- /ko -->
	<div data-bind="foreach: getTags()" class="tags">
		<span class="tag" data-bind="attr: { style: 'background-color: ' + tagColor }">
			<i data-bind="attr: { class: tagIcon }"></i>
			<span data-bind="text: ellipsisName"></span>
			<span class="tooltip">
				<b data-bind="text: groupLabel"></b> <span data-bind="text: groupList"></span><br>
				<b data-bind="text: ko.i18n('components.heading.tag.tooltip.tag', 'Tag:')"></b> <span data-bind="text: fullName"></span></span>
		</span>
	</div>
</div>