<div class="wrapperTitle">
	<i class="fa fa-bolt"></i>Incidence Rate Analysis
</div>
<div data-bind="visible:!loading()">
	<!-- ko if: selectedAnalysis() == null -->
	<span class="pull-right btn btn-sm btn-primary" data-bind="click:$component.newAnalysis">New Analysis</span>
	<div data-bind="eventListener: [{event: 'click', selector: '.linkish', callback: onAnalysisSelected}]">
		<ir-analysis-browser params="analysisList: analysisList"></ir-analysis-browser>
	</div>
	<!-- /ko -->

	<!-- ko if: selectedAnalysis() != null -->
	<div>
		<div class="asset-heading">
			<input type="text" data-bind="textInput: selectedAnalysis().name, css: { emptyInput: !(selectedAnalysis().name() && (selectedAnalysis().name().length > 0)) }"></input>
			<div class="btn-group" role="group">
				<button class="btn btn-sm btn-success" data-bind="click: save, enable: (dirtyFlag().isDirty() && !isRunning()), css: {'disabled': !dirtyFlag().isDirty, 'btn-success': dirtyFlag().isDirty}">Save</button>
				<button class="btn btn-sm btn-primary" data-bind="click: close">Close</button>
				<!-- ko if: selectedAnalysis().id() != null -->
				<button class="btn btn-sm btn-primary" data-bind="click: copy, enable: !dirtyFlag().isDirty()">Copy</button>
				<!-- ko ifnot: isRunning -->
				<button class="btn btn-sm btn-danger" data-bind="click: $component.delete">Delete</button>
				<!-- /ko -->
				<!-- /ko -->
				<!-- ko if: selectedAnalysis().id() != null && !dirtyFlag().isDirty() && !isRunning() -->
				<div class="generateAction" data-bind="ddSlickAction: generateActionsSettings "></div>
				<!-- /ko -->

			</div>
		</div>
	
		<ul class="nav nav-tabs">
			<li role="presentation" data-bind="css: { active: $component.activeTab() == 'definition' }, click: function() { $component.activeTab('definition') };">
				<a>Definition</a>
			</li>

			<li role="presentation" data-bind="css: { active: $component.activeTab() == 'conceptsets' }, click: function() { $component.activeTab('conceptsets') };">
				<a>Concept Sets</a>
			</li>

			<li role="presentation" data-bind="css: { active: $component.activeTab() == 'generation' }, click: function() { $component.activeTab('execution') };">
				<a>Generation</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" data-bind="css: { active: $component.activeTab() == 'definition' }" class="tab-pane">
				<div data-bind="eventListener: { event: 'click', selector: '.conceptset_selector', callback: handleConceptSetSelect}">
					<ir-analysis-editor params="analysis: selectedAnalysis().expression, analysisCohorts: analysisCohorts"></ir-analysis-editor>
				</div>
			</div>
			<div role="tabpanel" data-bind="css: { active: $component.activeTab() == 'conceptsets' }" class="tab-pane">
				<div style="padding-bottom: 10px;" class="pull-right">
					<button type="button" class="btn btn-sm btn-success pull-right" data-bind="click:function() { exportConceptSetsCSV(); }, css: {'disabled': dirtyFlag().isDirty, 'btn-success': !dirtyFlag().isDirty()}"><i class="fa fa-download" aria-hidden="true"></i> Export All Concept Sets To CSV</button>
				</div>
				<!-- ko with: selectedAnalysis().expression -->										
					<concept-set-builder params="conceptSets: ConceptSets, ref: $parent.conceptSetEditor"></concept-set-builder>
				<!-- /ko -->			
			</div>
			<div role="tabpanel" data-bind="css: { active: $component.activeTab() == 'execution' }, 
																			eventListener: [{ event: 'click', selector: 'button.removeResult', callback: removeResult}, {event: 'click', selector: 'button.execute', callback: onExecuteClick}]" class="tab-pane">
				<ir-analysis-results params="sources: filteredSources, analysisCohorts: analysisCohorts"></ir-analysis-results>
			</div>		
		</div>	
	</div>

	<div data-bind="modal: showConceptSetBrowser" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">Select Concept Set...</div>
				<div class="paddedWrapper">
					<cohort-concept-set-browser params="criteriaContext: criteriaContext, cohortConceptSets: selectedAnalysis().expression().ConceptSets, onActionComplete: onConceptSetSelectAction"></cohort-concept-set-browser>
				</div>
			</div>
		</div>
	</div>
	<!-- /ko -->
</div>
<div data-bind="visible:loading()" class="loading">loading</div>
