<div class="wrapperTitle">
	<i class="fa fa-bolt"></i> Incidence Rate Analysis
</div>
<div data-bind="if:$component.canReadIRs" class="paddedWrapper">
	<span class="pull-right btn btn-sm btn-primary" data-bind="click:$component.newAnalysis, css: {disabled: !$component.canCreateIR()}">New Analysis</span>
	<div data-bind="eventListener: [{event: 'click', selector: '.linkish', callback: onAnalysisSelected}]">
		<ir-analysis-browser params="analysisList: analysisList"></ir-analysis-browser>
	</div>

	<div data-bind="visible:loading()" class="loading">loading</div>
</div>
<div data-bind="ifnot:$component.canReadIRs">
	<div class="padded">
		<access-denied params="isAuthenticated: isAuthenticated"></access-denied>
	</div>
</div>
