<div data-bind="if: model.currentView() == 'jobs'">
	<div class="wrapperTitle">
		Jobs
	</div>
	<div id="wrapperJobs">
		<table width="100%" class="conceptTable stripe compact hover" cellspacing="0" data-bind="dataTable:{
            data: model.jobs(),
            options: {
						dom: 'Clfiprt',
						language: {
							search : 'Filter Jobs:'
						},
						colVis: {
							buttonText: 'Change Columns',
							align: 'right',
							overlayFade: 0,
							showAll: 'Show All Columns',
							restore: 'Reset Columns'
						},
						lengthMenu: [[25, 50, 100, -1], [25, 50, 100,'All']],
						orderClasses: false,
						deferRender: true,
						autoWidth: false,
						ordering: true,
						order: [[ 2, 'desc' ]],
						columns: [
								{ title: 'Job Name', data: 'jobParameters.jobName' },
								{ title: 'status', data: 'status'},
								{ title: 'Start Date', data: 'startDate'},
								{ title: 'End Date', data: 'endDate'}
						]
				}
        }">
		</table>
	</div>
</div>
