<div class="wrapperTitle">
	<i class="fa fa-tasks"></i> Jobs
</div>
<div data-bind="if:canReadJobs">
	<div id="wrapperJobs">
		<div data-bind="click:updateJobs" class="btn btn-xs btn-success pull-right">Refresh Jobs</div>
		<div class="clear"></div>

		<table width="100%" class="conceptTable stripe compact hover" cellspacing="0" data-bind="dataTable:{
			data: model.jobs(),
			options: {
						dom: 'Blfiprt',
						language: {
							search : 'Filter Jobs:'
						},
						buttons: [
									'colvis','copyHtml5', 'csvHtml5'
						],
						lengthMenu: [[25, 50, 100, -1], [25, 50, 100,'All']],
						orderClasses: false,
						deferRender: true,
						autoWidth: false,
						ordering: true,
						order: [[ 0, 'desc' ]],
						columns: [
								{ title: 'ExecutionId', data: 'executionId'},
								{ title: 'Job Name', data: 'jobParameters.jobName' },
								{ title: 'status', data: 'status'},
								{ title: 'Start Date', data: 'startDate', type: 'date'},
								{ title: 'End Date', data: 'endDate', type: 'date'}
						]
				}
		}"></table>
	</div>
</div>
<div data-bind="ifnot:canReadJobs">
	<div class="padded">
		<access-denied params="isAuthenticated: isAuthenticated"></access-denied>
	</div>
</div>
