.modal-pick-options {
  &__content {
    padding: 2rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item:not(:last-child) {
    margin-bottom: .75rem;
  }

  &__option {
    margin: 0;
  }

  &__option-checkbox {
    margin: 0;
    vertical-align: middle;
  }

  &__option-text {
    margin: 0;
    margin-left: .5rem;
    vertical-align: middle;
  }

  &__btn-list {
    text-align: right;
    margin-top: 1.5rem;
  }
}