<div data-bind="modal: $component.showModal, css: $component.classes({ extra: 'modal fade ' + $component.extraClasses })" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div data-bind="text: $component.title"></div>
            </div>
            <div data-bind="css: $component.classes('content')">
                <!-- ko if: !isSingleSection() -->
                    <ul data-bind="foreach: Object.values(ko.unwrap($component.options)), css: $component.classes('sections')">
                        <li data-bind="css: $component.classes('section')">
                            <div data-bind="text: title, css: $component.classes('header')"></div>
                            <ul data-bind="foreach: options, css: $component.classes('list')">
                                <li data-bind="css: $component.classes('list-item'), template: {
                                    name: 'modal-pick-options-list-item',
									data: Object.assign({}, $data, { selectedOptions: $parent.selectedOptions })
								}"/>
                            </ul>
                        </li>
                    </ul>
                <!-- /ko -->
                <!-- ko if: isSingleSection() -->
                    <ul data-bind="foreach: ko.unwrap($component.options).options, css: $component.classes('list')">
                        <li data-bind="css: $component.classes('list-item'), template: {
                            name: 'modal-pick-options-list-item',
                            data: Object.assign({}, $data, { selectedOptions: ko.unwrap($component.options).selectedOptions })
                        }"/>
                    </ul>
                <!-- /ko -->
                <div data-bind="css: $component.classes('btn-list')">
                    <button class="btn btn-info btn-sm" data-bind="click:$component.submit, text: $component.submitLabel"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="modal-pick-options-list-item">
    <label data-bind="css: $component.classes('option'), tooltip: typeof disabledReason !== 'undefined' ? disabledReason : null" data-placement="left">
        <input type="checkbox"
               data-bind="checkedValue: value, css: $component.classes('option-checkbox'), checked: selectedOptions, disable: typeof disabled !== 'undefined' ? disabled : false">
        <span data-bind="text: label, css: $component.classes('option-text')"></span>
    </label>
</script>