<div
	data-bind="modal: $component.showModal, css: classes({ extra: ['modal', fade() ? 'fade' : ''], modifiers: $component.modifiers })"
	tabindex="-1" role="dialog">
	<div class="modal-dialog"
		data-bind="css: classes({ element: 'modal-dialog', extra: [ 'modal-dialog', ...dialogExtraClasses ] })">
		<div data-bind="css: 'modal-content'">
			<div class="modal-header">
				<!-- ko if: backdropClosable -->
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<!-- /ko -->
				<i data-bind="css: $component.iconClass"></i>
				<div class="modal-title" data-bind="text: $component.title"></div>
			</div>
			<div data-bind="if: $component.showModal, css: classes(templateWrapperClass)">
				<!-- ko if: $component.template -->
				<div data-bind="
						template: {
							name: $component.template,
							data: $component.data
						}
					"></div>
				<!-- /ko -->
				<!-- ko if: $componentTemplateNodes -->
				<!-- ko template: { nodes: $componentTemplateNodes, data: $component.data } -->
				<!-- /ko -->
				<!-- /ko -->
			</div>
		</div>
	</div>
</div>