.modal-pick-options {
  &__content {
    padding: 2rem;
  }

  &__section {
    margin-bottom: 2rem;
  }
  
  &__header {
    margin: 0 0 1rem;
  }
  
  &__sections {
    list-style: none;
    padding: 0;
  }
  
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item:not(:last-child) {
    margin-bottom: .75rem;
  }

  &__option {
    margin: 0;
  }

  &__option-checkbox {
    position: relative;
    top: -2px;
    vertical-align: middle;
  }

  &__option-text {
    margin: 0;
    margin-left: .5rem;
    vertical-align: middle;
  }

  &__btn-list {
    text-align: right;
    margin-top: 1.5rem;
  }
}