<div class="multi-select">
    <!-- ko if: multiple == true -->
        <select data-bind="{ selectedOptions: selectedValues, options: optionVals, optionsText: optionsText, multiSelect: { liveSearch: true, selectedTextFormat: selectedTextFormat } }" multiple></select>
    <!-- /ko -->
    <!-- ko if: multiple == false -->
        <select data-bind="{ options: options, value: selectedValue, optionsText: 'label', optionsValue: 'value', multiSelect: { liveSearch: true, selectedTextFormat: 'count > 2' }}"></select>
    <!-- /ko -->
</div>