<div data-bind="if: !$component.conceptSetValid()">
	<div class="heading">
		<i class="fa fa-exclamation-triangle fa-lg"></i> <span data-bind="text: $component.conceptSetValidText"></span><br /><br />
	</div>
</div>
<div data-bind="if: $component.conceptSetValid()">
	<div data-bind="if: !$component.loadingEvidenceSources()">
		<div class="heading">
			<b>Explore Evidence:</b> Evidence comes from the
			<a href="http://www.ohdsi.org/web/wiki/doku.php?id=documentation:laertes_etl"></a>LAERTES evidence base</a>. The evidence base is comprised of evidence found in published literature, product labels and spontaneous reports. Use the evidence sources below to find out what evidence has been associated to the concepts included in this concept set. Report any missing evidence to the OHDSI forums here.
		</div>
		<br/>
		<div class="heading">Available Evidence Sources</div>
		<table class="cohort-generate-sources">
			<thead>
				<th></th>
				<th>Source Name</th>
				<th>Generation Status</th>
				<th>Generated</th>
				<th>Generation Duration</th>
				<th></th>
			</thead>
			<tbody data-bind="foreach:$component.evidenceSources">
				<tr data-bind="css: { 'selected': $component.negativeControls() && $component.negativeControls().sourceKey == $data.sourceKey}">
					<td>
						<div class="btn btn-sm btn-primary" data-bind="visible:!$component.isSourceRunning($data), attr: {'disabled':$component.canGenerate()==false}, click:$component.generate"><i class="fa fa-play"></i>&nbsp;&nbsp;Generate</div>
						<div class="btn btn-sm btn-warning" data-bind="visible:$component.isSourceRunning($data)"><i class="fa fa-spinner fa-spin"></i></div>
					</td>
					<td data-bind="text:sourceName"></td>
					<td class="statusIndicator">
						<span data-bind="text: status"></span>
					</td>
					<td data-bind="text: startTime">
					</td>
					<td data-bind="text: executionDuration">
					</td>
					<td class="rightaligned">
						<div class="btn btn-sm btn-primary" data-bind="visible:!$component.isSourceRunning($data) && isValid, click:$component.loadResults"><i class="fa fa-eye"></i>&nbsp;View Evidence</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="loading" data-bind="if:$component.loadingResults()">loading evidence</div>
<div data-bind="if: $component.negativeControls() && $component.negativeControls().length > 0 && $component.currentEvidenceService() && $component.currentResultSource() && $component.conceptSet() && !$component.loadingResults()">
	<div class="paddedWrapper">
		<div class="heading">Evidence for all <span style="text-transform: lowercase;" data-bind="text: $component.targetDomainId()"></span>s for <span data-bind="text: $component.conceptSet().name()"></span></div>
	</div>
	<div class="container-fluid">
		<div class="pull-left"><button class="btn btn-sm btn-primary" data-bind="click:function() { showNegControlsSaveNewModal(); }">Save New Concept Set From Selection Below</button></div>
		<div class="pull-right" style="padding-bottom: 10px;">
			<i data-bind="attr: { class: $component.recordCountClass }" aria-hidden="true"></i> View database record counts (RC) and descendant record counts (DRC) for: <select data-bind="options: $component.resultSources, optionsText: 'sourceName', optionsValue: 'sourceKey', value: $component.currentResultSource().sourceKey, event: { change: $component.refreshRecordCounts }"></select>
		</div>
	</div>
	<div class="paddedWrapper" id="negControlResults">
		<faceted-datatable params="{reference:$component.negativeControls, columns: negControlColumns, options:negControlOptions, order: $component.negControlOptions.order}">
		</faceted-datatable>
	</div>
</div>
<div data-bind="if: $component.negativeControls() && $component.negativeControls().length <= 0 && $component.currentEvidenceService() && $component.currentResultSource() && $component.conceptSet() && !$component.loadingResults()">
	<div class="paddedWrapper">
		<div class="heading">No evidence found for <span data-bind="text: $component.conceptSet().name()"></span></div>
	</div>
</div>
<div class="loading" data-bind="if:$component.loadingEvidenceSources()">loading</div>
<div id="modalNegControlsSaveNew" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title">Save New Concept Set</div>
			</div>
			<div class="modal-body">
				<label>Concept Set Name:</label>
				<div class="input-group">
					<input class="form-control" id="txtNewConceptSetName" type="text" data-bind="textInput: $component.newConceptSetName" />
					<span class="input-group-btn">
                     <button type="button" class="btn btn-success" data-bind="click:function() { saveNewConceptSet(); }">Save</button>                    
                    </span>
				</div>
			</div>
		</div>
	</div>
</div>
