<div class="wrapperTitle">
	<i class="fa fa-briefcase"></i> Panacea
	<div class="paddedFloater pull-right btn btn-primary btn-sm" data-bind="click:function() {createStudy();}">New Panacea Study</div>
</div>


<div class="paddedWrapper">
	<panacea-browser  params="{services: pageModel.services, model: pageModel, panaceaStudyId: panaceaStudyId}"></panacea-browser>
</div>

<!-- <div data-bind="visible: panaceaView() =='edit'"> -->
<!-- 	<div><span>this is a test...</span></div> -->
<!-- 	<panacea-study-def-manager params="{services: pageModel.services, panaceaStudy: selectedPanaceaStudy}"></panacea-study-def-manager> -->
<!-- </div> -->
