<style>
    div#calibration_wrapper {
        font: 12px Arial;
    }
    
    path {
        stroke: black;
        stroke-width: 2;
        fill: none;
    }
    
    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    
    .line {
        fill: none;
        stroke: #008B8B;
        stroke-width: 2;
        shape-rendering: crispEdges;
    }
    
    div.tooltip {
        position: absolute;
        text-align: center;
        width: 160px;
        height: 28px;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }
    
    div.tooltipMain {
        position: absolute;
        top: 100px;
        margin-left: 100px;
        text-align: center;
        width: 300px;
        height: auto;
        padding: 2px;
        font: 14px sans-serif;
        background: black;
        color: white;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }
    
    .grid .tick {
        stroke: lightgrey;
        opacity: 0.3;
    }
    
    .grid path {
        stroke-width: 0;
    }

</style>

<div id='calibration_wrapper'>


</div>
