<div class="wrapperTitle">
	<i class="fa fa-user"></i> Profiles
</div>
<div class="asset-heading">
	<form data-bind="submit:loadPerson">
		<div class="input-group" role="group">
			<div class="input-group-btn" role="group">
				<button type="button" title="choose a data source" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span data-bind="text:$component.sourceKeyCaption"></span>&nbsp;&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" data-bind="enable: !person() && !loadingPerson(),foreach:config.api.sources.filter(d=>d.hasCDM)">
					<li>
						<a data-bind="text:sourceName,click:$component.setSourceKey"></a>
					</li>
				</ul>
			</div>
			<input type="text" class="form-control" placeholder="Person Id" data-bind="enable: sourceKey(),value: personId">
			<div class="input-group-btn">
				<div class="btn btn-primary" title="toggle chart display" data-bind="css:{active:$component.showSection.profileChart},click:$component.dispToggle, value:'profileChart'">
					<i class="fa fa-line-chart" data-bind="value:'profileChart'" />
				</div>
				<div class="btn btn-primary" title="toggle table display" data-bind="css:{active:$component.showSection.datatable},click:$component.dispToggle, value:'datatable'">
					<i class="fa fa-table" data-bind="value:'datatable'" />
				</div>
			</div>
			<div class="input-group-btn" role="group">
				<button type="button" class="btn btn-primary dropdown-toggle" title="highlight data points" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span data-bind="html:$component.highlightCaption"></span>&nbsp;&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" data-bind="enable: !person() && !loadingPerson()">
					<!-- ko foreach:$component.words -->
					<li>
						<a href="#" data-bind="html:text,click:(word,evt)=>$component.highlight(word.recs, evt)"></a>
					</li>
					<!-- /ko -->
					<li>
						<a href="#" data-bind="html:'  clear highlighting',click:(word,evt)=>$component.highlight([], evt)"></a>
					</li>
				</ul>
			</div>
		</div>
	</form>
	<div style="margin-top:5px;" data-bind="visible:person, with:person">
		<i data-bind="attr: {class : $component.getGenderClass}"></i>&nbsp;
		<span data-bind="text: gender"></span>&nbsp;&nbsp;|&nbsp;&nbsp;
		<span data-bind="text: recordCount + ' events'"></span>&nbsp;&nbsp;|&nbsp;&nbsp;
		<span data-bind="text: `Age ${age} at index`"></span>
		<span data-bind="if: $component.currentCohortDefinition() != null">|&nbsp;&nbsp;Cohort: <a class="asset-heading-link" data-bind="text: $component.currentCohortDefinition().name(), attr: {href: '#/cohortdefinition/' + $component.cohortDefinitionId()}" target="_new"></a></span>
	</div>
</div>

<div data-bind="visible: loadingPerson" class="loading">loading</div>

<div data-bind="visible: cantFindPerson" class="loading">Can't find
	<span data-bind="text:personId" />
</div>

<div class="row">
	<div data-bind="if: person, attr: { class: 'col-xs-12'}">
		<div id="profile-chart" data-bind="
					attr: {
						 style:`padding-bottom:${aspectRatio()*100}%`
						},
					visible:showSection.profileChart,
					profileChart:{
							xfObservable:xfObservable,
							highlightRecs:highlightRecs,
							aspectRatio: aspectRatio,
							short: showSection.datatable(),
							shadedRegions: shadedRegions,
						}"></div>
		<faceted-datatable id="profile-manager-table" data-bind="visible:showSection.datatable" params="{
						reference: personRecords,
						xfObservable: xfObservable,
						columns: columns,
						options: options,
						order: [[3,'asc']],
						searchFilter: searchHighlight
					}"></faceted-datatable>
	</div>
</div>
