<div class="row">
	<div class="col-xs-3">
		<div class="reportControls pad-5">
			<div class="row">
				<div class="col-xs-12">
					<select class="form-control" 
						data-bind="
							css : { invalid: $component.sourceKey()==undefined }, 
							options:$component.config.services[0].sources.filter(d=>d.hasCDM), 
							optionsValue:'sourceKey', 
							optionsText:'sourceName', 
							value:$component.sourceKey, 
							enable: !person(),
							optionsCaption:'Select a Source'"></select>
				</div>
				Person:
				<input id="personId"
								data-bind="
									enable: sourceKey(),
									textInput: $component.personId" />
			</div>
		</div>

		<div class="paddedWrapper">
			<div class="row">
				<div class="col-xs-8 text-center heading">
				</div>
			</div>
		</div>
		<div data-bind="visible:$component.person, with:$component.person">
			<div data-bind="text: gender" />
			<div data-bind="text: recordCount + ' events'" />
			<div id="wordcloud" data-bind="with:$component.dimensions.wordcloud">
				<div class="wordcloud" data-bind="foreach:words($component.filteredRecs)">
					<span data-bind="
						text:text, 
						style:{fontSize:size},
						event:{mouseenter:(word,evt)=>$component.highlight(word.recs, evt), mouseleave:(word,evt)=>$component.highlight([], evt)},
						"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-9">
		<div data-bind="visible:$component.personId">
			<div data-bind="visible: $component.loadingPerson"
						class="loading">loading</div>

			<div data-bind="visible: cantFindPerson" 
					class="loading">Can't find 
						<span data-bind="text:$component.personId" /></div>

			<div data-bind="visible:$component.person">
				<!--div data-bind="visible:$component.filteredRecs().length > 0"-->
					<div id="profile-chart" data-bind="profileChart:{
								profile:$component.person, 
								recs:$component.filteredRecs, 
								zoomFilter:$component.dimensions.profileChart.filter,
								highlightRecs:$component.highlightRecs,
								allRecs:$component.crossfilter().all(),
								showing: true,
							}"></div>
					<!--div class="heading">Profile Records</div-->
					<faceted-datatable-cf id="profile-manager-table" params="{
							recs: $component.filteredRecs,
							columns: $component.columns, 
							facets: $component.facetsObs, 
							order: [[3,'asc']],
							searchFilter: $component.searchHighlight,
							rowClick: $component.datatableRowClickCallback,
						}"></faceted-datatable-cf>
							<!--searchFilter: $component.dimensions.search.filter,-->
				<!--/div-->
			</div>
		</div>

		<div id="modalNoMembers" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						This cohort has no members available to view. Please check the generation status in the Cohort Definition section of Atlas.
					</div>
				</div>
			</div>
		</div>
</div>
