<div class="wrapperTitle">
	<i class="fa fa-registered"></i> R Service Manager
</div>

<div class="paddedWrapper">
	<div class="heading">R Service Bus Instance</div>
	<div class="paddedWrapper" data-bind="if:rsbInfo">
		<div data-bind="text:rsbInfo().name"></div>
		<div data-bind="text:'Online for ' + rsbInfo().uptimeText"></div>
		<div data-bind="text:'Hosted by ' + rsbInfo().servletContainerInfo"></div>
	</div>

	<div class="heading">RPooli Nodes</div>
	<div data-bind="if:nodes">
		<faceted-datatable params="options:options, columns:columns, reference:nodes"></faceted-datatable>
	</div>
	<div class="btn btn-sm btn-primary pull-right" data-bind="click:loadNodes">Refresh Nodes</div>

	<div class="header">RSB Jobs</div>
	<div data-bind="if:rsbJobs">
		<faceted-datatable params="rowClick: showJobDetails, orderColumn: 3, options:jobOptions, columns:jobColumns, reference:rsbJobs"></faceted-datatable>
	</div>
	<div class="btn btn-sm btn-primary pull-right" data-bind="click:loadJobInfo">Refresh Jobs</div>

	<div id="jobDetailModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">RSB Job Details</h4>
				</div>
				<div class="modal-body" data-bind="with:selectedJob">
					<div data-bind="text:'Job Id: ' + jobId"></div>
					<div data-bind="text:'Timestamp: ' + resultTime"></div>
					<div data-bind="text:'RSB Application: ' + applicationName"></div>
					<div data-bind="text:'Success: ' + success"></div>
					<div data-bind="text:'Type: ' + type"></div>
				</div>
				<div class="modal-body">
					<div data-bind="text:selectedJobData">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</div>