<!-- ko if:$component.showSelectionArea -->
<div class="wrapperTitle">
	<span data-bind="if:!$component.model.loadingReport()"><i class="fa fa-area-chart"></i></span>
	<span data-bind="if:$component.model.loadingReport()"><i class="fa fa-circle-o-notch fa-spin"></i></span> Cohort Reporting
</div>

<div class="modal fade" id="cohortDefinitionChooser" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">Choose Cohort Definition</div>
			<div class="modal-body">
				<cohort-definition-browser params="{cohortDefinitionSelected: $component.model.reportCohortDefinitionId}"></cohort-definition-browser>
			</div>
		</div>
	</div>
</div>

<div class="reportControls">
	<div class="row">
		<div class="col-xs-12">
			<button class="form-control btn btn-sm btn-primary" data-bind="click: $component.showBrowser, text:$component.cohortCaption"></button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<select class="form-control" data-bind="css : { invalid: $component.model.reportReportName()==undefined }, options:$component.model.reports(), optionsCaption:'Select a Report', value:$component.model.reportReportName"></select>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<select class="form-control" data-bind="css : { invalid: $component.model.reportSourceKey()==undefined }, options:$component.config.api.sources.filter($component.model.hasResults), optionsValue:'sourceKey', optionsText:'sourceName', value:$component.model.reportSourceKey, optionsCaption:'Select a Source'"></select>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10"></div>
		<div class="col-xs-2">
			<button class="pull-right form-control btn btn-sm btn-primary" data-bind="click: $component.runReport, enable: $component.model.reportValid(), text: $component.model.loadingReport() ? 'Loading...' : 'View Report'"></button>
		</div>
	</div>
	<div class="clear"></div>
</div>
<!-- /ko -->

<div id="reportHeel" data-bind="if: model.currentReport() == 'Heracles Heel' && !model.loadingReport()">
	<div class=" report">
		<faceted-datatable params="{columns: $component.heelDataColumns, reference:$component.reference, options:$component.heelOptions }"></faceted-datatable>
	</div>
</div>

<div id="reportDataCompleteness" data-bind="if: model.currentReport() == 'Data Completeness' && !model.loadingReport()">
	<div class="pad-10 report">
		<div class="reportHeading"><i class="fa fa-area-chart"></i> Data Completeness (<span data-bind="text:$component.model.reportSourceKey()"></span>)</div>
		<faceted-datatable params="{columns: $component.dataCompletColumns, reference:$component.dataCompleteReference, options:$component.dataCompleteOptions, rowClick:$component.dataCompleteRowClick }"></faceted-datatable>
	</div>
	<div class="pad-10 report">
		<span data-bind="text:$component.currentAgeGroup()"></span>
	</div>
	<div class="pad-10 report" id="dataCompletenessSvgDiv">
	</div>
</div>

<div id="reportEntropy" data-bind="if: model.currentReport() == 'Entropy' && !model.loadingReport()">
	<div class="tab-pane" id="care_site_div">
		<table id="care_site_table" class="display">
			<thead>
				<tr>
					<th>Care Site</th>
				</tr>
			</thead>
		</table>
	</div>

	<div class=" report">
		<div class="reportSectionHeading">Entropy by Date</div>
		<div class="evidenceVisualization" id="entropyByDate" />
	</div>
</div>

<div id="reportPerson" data-bind="if: model.currentReport() == 'Person' && !model.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Year of Birth <i data-bind="click:setHelpContent('year-of-birth')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="hist"></div>
			</div>
			<div class="panel-footer">The number of people in this cohort shown with respect to their year of birth.</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Demographics <i data-bind="click:setHelpContent('demographics')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-4">
						<div class="evidenceVisualization" id="gender"></div>
						<div class="evidenceDescription">Gender</div>
					</div>
					<div class="col-xs-4">
						<div class="evidenceVisualization" id="race"></div>
						<div class="evidenceDescription">Race</div>
					</div>
					<div class="col-xs-4">
						<div class="evidenceVisualization" id="ethnicity"></div>
						<div class="evidenceDescription">Ethnicity</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ko if: model.currentReport() == 'Measurement' && !model.loadingReport() -->
<div class="panel panel-danger">
	<div class="panel-heading">
		Report Not implemented
	</div>
	<div class="panel-body">
		This report has not been implemented.
	</div>
</div>
<!-- /ko -->

<div id="reportCohortSpecific" data-bind="if: model.currentReport() == 'Cohort Specific' && !model.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Prevalence by Month <i data-bind="click:setHelpContent('cohort-specific-prevalence-per-month')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="prevalenceByMonth"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Cohort Start<i data-bind="click:setHelpContent('cohort-specific-cohort-start')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="trellisLinePlot"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Persons in Cohort from Start to End<i data-bind="click:setHelpContent('cohort-specific-start-to-end')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="personinCohortFromStartToEnd"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Number of Persons by Duration from Cohort Start to Cohort End<i data-bind="click:setHelpContent('cohort-specific-duration-start-to-end')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="personsByDurationFromStartToEnd"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Distribution of Age at Cohort Start by Cohort Start Year<i data-bind="click:setHelpContent('cohort-specific-duration-start-to-end')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="distributionAgeCohortStartByCohortStartYear"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Age Distributions<i data-bind="click:setHelpContent('cohort-specific-age-distributions')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="evidenceVisualization" id="distributionAgeCohortStartByGender"></div>
						<div class="evidenceDescription">Distribution of Age at Cohort Start by Gender</div>
					</div>
					<div class="col-sm-6">
						<div class="evidenceVisualization" id="ageAtIndex"></div>
						<div class="evidenceDescription">Age at Index</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="reportTornado" data-bind="if: model.currentReport() == 'Tornado' && !model.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Tornado<i data-bind="click:setHelpContent('tornado')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body pad-5">
				<div id="tornadoPlot" class="text-center"><svg width="1000" height="300" preserveAspectRatio></svg></div>
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			Sample Profiles<i data-bind="click:setHelpContent('tornado')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
		</div>
		<div class="panel-body" style="background-color:#222;">
			<div id="tornadoProfiles" class="text-center">
				<div style="color:#eee;" data-bind="if:$component.tornadoProfiles().length == 0">
					Select a Bar from the Tornado Plot to view Sample Profiles for that Strata.
				</div>
				<div class="col-sm-1"></div>
				<!-- ko foreach:$component.tornadoProfiles -->
				<div class="col-sm-2">
					<a target="_new" data-bind="attr: {href: $component.buildProfileLink($data)}">
						<i data-bind="css: $component.genderIcon($data)" class="fa"></i>
						<div data-bind="html:personId"></div>
					</a>
				</div>
				<!-- /ko -->
			</div>
		</div>
	</div>
</div>

<div id="reportConditionsByIndex" data-bind="if: model.currentReport() == 'Conditions by Index' && !model.loadingReport()">
	<div class="pad-5 report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Condition Prevalence<i data-bind="click:setHelpContent('conditions-by-index-condition-prevalence')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#condition-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li id="treemap-tab"><a href="#condition-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="condition-treemap-panel">
						<div id="treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Log of Relative Risk (Red to Green = Negative to Positive), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="condition-table-panel">
						<table id="condition_table" class="display treemap_table" type="condition">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>SOC</th>
									<th>HLGT</th>
									<th>HLT</th>
									<th>PT</th>
									<th>SNOMED</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Relative Risk per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- ko if:model.loadingReportDrilldown -->
		<loading params="status:'Loading Drilldown Report'">
		</loading>
		<!-- /ko -->
		<!-- ko: if data-bind="if: model.activeReportDrilldown -->
		<div class="panel panel-primary">
			<div class="panel-heading">Drilldown Report</div>
			<div class="panel-body">
				<div>
					<div id="conditionDrilldownScatterplotHeading" class="reportSectionHeading">
					</div>
					<div class="evidenceVisualization" id="conditionDrilldownScatterplot"></div>
				</div>
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>

<div id="reportDrugErasByIndex" data-bind="if: model.currentReport() == 'Drugs by Index' && !model.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Drugs by Index Date <i data-bind="click:setHelpContent('drugs-by-index')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#drugs-by-index-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li id="treemap-tab"><a href="#drugs-by-index-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="drugs-by-index-treemap-panel">
						<div id="treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Log of Relative Risk (Red to Green = Negative to Positive), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="drugs-by-index-table-panel">
						<table id="drugs-by-index-table" class="display treemap_table" type="drug">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>ATC 1</th>
									<th>ATC 3</th>
									<th>ATC 5</th>
									<th>Ingredient</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Relative Risk per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>

			</div>
		</div>

		<div class="loader" data-bind="if:$component.model.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$component.model.activeReportDrilldown">
			<div id="drugDrilldownScatterplotHeading" class="reportSectionHeading">
			</div>
			<div class="evidenceVisualization" id="drugDrilldownScatterplot"></div>
		</div>
	</div>
</div>

<div id="reportConditionPeriods" data-bind="if: model.currentReport() == 'Observation Periods' && !model.loadingReport()">
	<div class="report">

		<div class="panel panel-primary">
			<div class="panel-heading">
				Age at First Observation <i data-bind="click:setHelpContent('observation-periods-age-at-first-observation')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="ageatfirstobservation"></div>
			</div>
			<div class="panel-footer">
				The distribution of age at first observation in the cohort.
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Age by Gender <i data-bind="click:setHelpContent('observation-periods-age-by-gender')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="agebygender"></div>
			</div>
			<div class="panel-footer">
				The distribution of age at first observation in the cohort stratified by gender.
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Observation Length<i data-bind="click:setHelpContent('observation-periods-length')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="observationlength"></div>
			</div>
			<div class="panel-footer">
				Distribution of total observation time in cohort.
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Observation Length by Gender<i data-bind="click:setHelpContent('observation-periods-length-by-gender')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="opbygender"></div>
			</div>
			<div class="panel-footer">
				Distribution of total observation time in cohort by gender.
			</div>
		</div>

		<!-- charting library error pending -->
		<!--
		<div class="reportSectionHeading">Cumulative Observation</div>
		<div class="evidenceDescription">Observation time in cohort by % of people in the cohort.</div>
		<div class="evidenceVisualization" id="cumulativeobservation"></div>
		-->

		<div class="panel panel-primary">
			<div class="panel-heading">
				Observation Length by Age Decile<i data-bind="click:setHelpContent('observation-periods-length-by-age-decile')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="opbyage"></div>
			</div>
		</div>

		<!-- tooltip bug
		<div class="panel panel-primary">
			<div class="panel-heading">
				Persons with Continuous Observation by Year<i data-bind="click:setHelpContent('observation-periods-continuous')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="opbyage"></div>
			</div>
		</div>
		-->

		<div class="panel panel-primary">
			<div class="panel-heading">
				Observation Periods per Person<i data-bind="click:setHelpContent('observation-periods-per-person')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="opperperson"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Persons With Continuous Observation By Month<i data-bind="click:setHelpContent('observation-periods-continuous-by-month')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="oppeoplebymonthsingle"></div>
			</div>
		</div>

	</div>
</div>

<div id="reportConditionEras" data-bind="if: model.currentReport() == 'Condition Eras' && !model.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Condition Era Prevalence<i data-bind="click:setHelpContent('condition-era-prevalence')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#conditionera-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li><a href="#conditionera-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="conditionera-treemap-panel">
						<div id="treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Length of Era (Light to Dark = Low to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="conditionera-table-panel" data-bind="eventListener: { event: 'click', selector: '.conditionera_table_selector', callback: handleConditionEraTableClick}">
						<table id="conditionera_table" class="display">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>SOC</th>
									<th>HLGT</th>
									<th>HLT</th>
									<th>PT</th>
									<th>SNOMED</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Length of Era</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="loader" data-bind="if:$component.model.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$component.model.activeReportDrilldown">
			<div class="heading" id="conditionEraDrilldown"></div>
			<div class="reportSectionHeading">Condition Era Prevalence</div>
			<div class="evidenceVisualization" id="trellisLinePlot"></div>

			<div class="reportSectionHeading">Condition Era Prevalence by Month</div>
			<div class="evidenceVisualization" id="conditioneraPrevalenceByMonth"></div>

			<div class="reportSectionHeading">Age at First Diagnosis</div>
			<div class="evidenceVisualization" id="conditioneras_age_at_first_diagnosis"></div>

			<div class="reportSectionHeading">Length of Condition Era</div>
			<div class="evidenceVisualization" id="conditioneras_length_of_era"></div>
		</div>
	</div>
</div>

<div id="reportProceduresByIndex" data-bind="if: model.currentReport() == 'Procedures by Index' && !model.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Procedure Prevalence<i data-bind="click:setHelpContent('procedure-by-index-prevalence')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li id="treemap-tab"><a href="#procedure-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
					<li class="active"><a href="#procedure-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="procedure-treemap-panel">
						<div id="treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Log of Relative Risk (Red to Green = Negative to Positive), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="procedure-table-panel">
						<table id="procedure_table" class="display treemap_table" type="procedure">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>Level 4</th>
									<th>Level 3</th>
									<th>Level 2</th>
									<th>Procedure</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Relative Risk per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="loader" data-bind="if:$component.model.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$component.model.activeReportDrilldown">
			<div id="procedureDrilldownScatterplotHeading" class="reportSectionHeading">
			</div>
			<div class="evidenceVisualization" id="procedureDrilldownScatterplot"></div>
		</div>
	</div>
</div>

<div class="modal" id="helpModal" tabindex="-1 " role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" data-bind="html:helpTitle">
			</div>
			<div class="modal-body" data-bind="html:helpContent">
			</div>
		</div>
	</div>
</div>

<div id="reportCondition" data-bind="visible: model.currentReport() == 'Condition' && !model.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Condition Prevalence <i data-bind="click:setHelpContent('condition-prevalence')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#condition-table-panel" role="tab" data-toggle="tab">Table</a></li>
					<li id="treemap-tab"><a href="#condition-treemap-panel" role="tab" data-toggle="tab">Treemap</a></li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="condition-treemap-panel">
						<div id="treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Records per Person (Light to Dark = Low to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="condition-table-panel" data-bind="eventListener: { event: 'click', selector: '.condition_table_selector', callback: handleConditionTableClick}">
						<table id="condition_table" class="display">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>SOC</th>
									<th>HLGT</th>
									<th>HLT</th>
									<th>PT</th>
									<th>SNOMED</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Records per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="loader" data-bind="if:$component.model.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$component.model.activeReportDrilldown">
			<div class="heading" id="conditionDrilldown"></div>

			<div class="reportSectionHeading">Condition Prevalence</div>
			<div class="evidenceVisualization" id="trellisLinePlot"></div>
			<div class="evidenceDescription">Condition Prevalence</div>

			<div class="reportSectionHeading">Condition Prevalence by Month</div>
			<div class="evidenceVisualization" id="conditionPrevalenceByMonth"></div>
			<div class="evidenceDescription">Condition Prevalence by Month</div>

			<div class="reportSectionHeading">Condition Type</div>
			<div class="evidenceDescription">Condition Type</div>
			<div class="evidenceVisualization" id="conditionsByType"></div>

			<div class="reportSectionHeading">Age at First Diagnosis</div>
			<div class="evidenceVisualization" id="ageAtFirstDiagnosis"></div>
			<div class="evidenceDescription">Age at First Diagnosis</div>
		</div>
	</div>
</div>

<div id="reportDrugEras" data-bind="if: model.currentReport() == 'Drug Eras' && !model.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Drug Era Prevalence<i data-bind="click:setHelpContent('drug-era-prevalence')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#drugera-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li><a href="#drugera-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div role="tabpanel" class="tab-pane" id="drugera-treemap-panel">
						<div id="treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Length of Era (Light to Dark = Low to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="drugera-table-panel" data-bind="eventListener: { event: 'click', selector: '.drugera_table_selector', callback: handleDrugEraTableClick}">
						<table id="drugera_table" class="display">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>ATC 1</th>
									<th>ATC 3</th>
									<th>ATC 5</th>
									<th>Ingredient</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Length of Era</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="loader" data-bind="if:$component.model.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>

		<div data-bind="if:$component.model.activeReportDrilldown">
			<div class="heading" id="drugeraDrilldown"></div>

			<div class="reportSectionHeading">Drug Era Prevalence</div>
			<div class="evidenceVisualization" id="trellisLinePlot"></div>
			<div class="evidenceDescription">Drug Era Prevalence</div>

			<div class="reportSectionHeading">Drug Era Prevalence by Month</div>
			<div class="evidenceVisualization" id="drugeraPrevalenceByMonth"></div>
			<div class="evidenceDescription">Monthly drug era prevalence</div>

			<div class="reportSectionHeading">Age at First Exposure by Gender</div>
			<div class="evidenceVisualization" id="drugeras_age_at_first_exposure"></div>
			<div class="evidenceDescription">Age at First Exposure by Gender</div>

			<div class="reportSectionHeading">Length of Era Distribution</div>
			<div class="evidenceVisualization" id="drugeras_length_of_era"></div>
			<div class="evidenceDescription">Length of Era Distribution</div>
		</div>
	</div>
</div>

<div id="reportDrugExposure" data-bind="if: model.currentReport() == 'Drug Exposure' && !model.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Drug Exposure<i data-bind="click:setHelpContent('drug-exposure')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#drug_table_panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li id="treemap-tab"><a href="#drug_treemap_panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div class="tab-pane" id="drug_treemap_panel">
						<div id="treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Records per Person (Light to Dark = Low to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div class="tab-pane active" id="drug_table_panel" data-bind="eventListener: { event: 'click', selector: '.drug_table_selector', callback: handleDrugTableClick}">
						<table id="drug_table" class="display">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>ATC 1</th>
									<th>ATC 3</th>
									<th>ATC 5</th>
									<th>Ingredient</th>
									<th>RxNorm</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Records per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="loader" data-bind="if:$component.model.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$component.model.activeReportDrilldown">
			<div class="heading" id="drugExposureDrilldown"></div>

			<div class="reportSectionHeading">Drug Exposure Prevalence</div>
			<div class="evidenceVisualization" id="trellisLinePlot"></div>
			<div class="evidenceDescription">Drug Exposure Prevalence</div>

			<div class="reportSectionHeading">Drug Exposure Prevalence by Month</div>
			<div class="evidenceVisualization" id="drugPrevalenceByMonth"></div>
			<div class="evidenceDescription">Drug Exposure Prevalence by Month</div>

			<div class="reportSectionHeading">Age at First Exposure</div>
			<div class="evidenceDescription">Age at First Exposure</div>
			<div class="evidenceVisualization" id="ageAtFirstExposure"></div>

			<div class="reportSectionHeading">Days Supply Distribution</div>
			<div class="evidenceDescription">Days Supply Distribution</div>
			<div class="evidenceVisualization" id="daysSupplyDistribution"></div>

			<div class="reportSectionHeading">Quantity Distribution</div>
			<div class="evidenceDescription">Quantity Distribution</div>
			<div class="evidenceVisualization" id="quantityDistribution"></div>

			<div class="reportSectionHeading">Refills Distribution</div>
			<div class="evidenceDescription">Refills Distribution</div>
			<div class="evidenceVisualization" id="refillsDistribution"></div>

			<div class="reportSectionHeading">Drugs by Type</div>
			<div class="evidenceDescription">Drugs by Type</div>
			<div class="evidenceVisualization" id="drugsByType"></div>
		</div>
	</div>
</div>

<div id="reportProcedure" data-bind="if: model.currentReport() == 'Procedure' && !model.loadingReport()">
	<div class=" report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Procedure Prevalence<i data-bind="click:setHelpContent('procedure-prevalence')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="active"><a href="#procedure-table-panel" role="tab" data-toggle="tab">Table</a>
					</li>
					<li><a href="#procedure-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
					</li>
				</ul>
				<div id='content' class="tab-content">
					<div class="tab-pane" role="tabpanel" id="procedure-treemap-panel">
						<div id="treemap_container">
							<div class="treemap_zoomtarget"></div>
						</div>
						<div class="treemap_legend">Box Size: Prevalence, Color: Records per Person (Light to Dark = Low to High), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
					</div>
					<div class="tab-pane active" role="tabpanel" id="procedure-table-panel" data-bind="eventListener: { event: 'click', selector: '.procedure_table_selector', callback: handleProcedureTableClick}">
						<table id="procedure_table" class="display">
							<thead>
								<tr>
									<th>Concept Id</th>
									<th>Level 4</th>
									<th>Level 3</th>
									<th>Level 2</th>
									<th>Procedure</th>
									<th>Person Count</th>
									<th>Prevalence</th>
									<th>Records per Person</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="loader" data-bind="if:$component.model.loadingReportDrilldown">
			<i class="fa fa-circle-o-notch fa-spin"></i> Loading Drilldown...
		</div>
		<div data-bind="if:$component.model.activeReportDrilldown">
			<div class="heading" id="procedureDrilldown"></div>

			<div class="reportSectionHeading">Procedure Prevalence</div>
			<div class="evidenceVisualization" id="trellisLinePlot"></div>
			<div class="evidenceDescription">Procedure Prevalence</div>

			<div class="reportSectionHeading">Procedure Prevalence by Month</div>
			<div class="evidenceVisualization" id="procedurePrevalenceByMonth"></div>
			<div class="evidenceDescription">Procedure Prevalence by Month</div>

			<div class="reportSectionHeading">Procedures by Type</div>
			<div class="evidenceDescription">Procedures by Type</div>
			<div class="evidenceVisualization" id="proceduresByType"></div>

			<div class="reportSectionHeading">Age at First Occurrence</div>
			<div style="width:30%" class="evidenceDescription">Age at First Occurrence</div>
			<div class="evidenceVisualization" id="ageAtFirstOccurrence"></div>
		</div>
	</div>
</div>

<div id="reportDeath" data-bind="if: model.currentReport() == 'Death' && !model.loadingReport()">
	<div class="report">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Death Prevalence by Age, Gender, Year<i data-bind="click:setHelpContent('death-prevalence')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="trellisLinePlot"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Death Prevalence by Month<i data-bind="click:setHelpContent('death-prevalence-by-month')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="evidenceVisualization" id="deathPrevalenceByMonth"></div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Death Details<i data-bind="click:setHelpContent('death-details')" data-toggle="modal" data-target="#helpModal" class="fa fa-question-circle pull-right"></i>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="evidenceVisualization" id="ageAtDeath"></div>
						<div class="evidenceDescription">Age at Death</div>
					</div>
					<div class="col-sm-6">
						<div class="evidenceVisualization" id="deathByType"></div>
						<div class="evidenceDescription">Death by Type</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
