<loading params="status:'Searching'" data-bind="visible:loading"></loading>

<div data-bind="ifnot:$component.canSearch">
	<div class="wrapperTitle">
		<i class="fa fa-search"></i> Vocabulary
	</div>
	<div class="padded">
		<access-denied params="isAuthenticated: isAuthenticated"></access-denied>
	</div>
</div>

<div data-bind="if:$component.canSearch">
	<div data-bind="visible:!loading()">
		<div class="wrapperTitle">
			<i class="fa fa-search"></i> Vocabulary
		</div>

		<ul class="nav nav-tabs">
			<li role="presentation" data-bind="css: { active: $component.tabMode() == 'simple' }, click: function() { $component.tabMode('simple') };"><a>Search</a>
			</li>
			<li role="presentation" data-bind="css: { active: $component.tabMode() == 'import' }, click: function() { $component.tabMode('import') };"><a>Import</a>
			</li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'simple' }" class="tab-pane">

			<div class="input-group">
				<input id="querytext" placeholder="type your search here" class="form-control" type="text" data-bind="textInput:currentSearch, event: {keypress: onEnter}" />
				<div class="input-group-btn">
					<div data-bind="click:searchClick" class="pull-right btn btn-primary" title="Search" type="button"><i class="fa fa-search"></i></div>
				</div>
			</div>
			<div class="row">
				<div data-bind="click:toggleAdvanced" class="pull-right btn btn-sm btn-link">Advanced Options</div>
			</div>
			<div class="pad-10 advanced-options" data-bind="visible:showAdvanced">
				<div class="row pad-10">
					<div class="btn btn-success btn-sm pull-right" data-bind="click: clearAllAdvanced"><i class="fa fa-eraser"></i> Clear All Selections</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">Domains</div>
					<div class="checkboxListing row">
						<!-- ko foreach: domains -->
						<div class="col-sm-6">
							<input type="checkbox" name="domainId" data-bind="value: DOMAIN_ID"> <span data-bind="text: DOMAIN_NAME"></span>
						</div>
						<!-- /ko -->
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">Vocabularies</div>
					<div class="panel-body">
						<div class="checkboxListing row">
							<!-- ko foreach: vocabularies -->
							<div class="col-sm-6">
								<input type="checkbox" name="vocabularyId" data-bind="value: VOCABULARY_ID"> <span data-bind="text: VOCABULARY_ID + ' : ' + VOCABULARY_NAME"></span>
							</div>
							<!-- /ko -->
						</div>
					</div>
				</div>
			</div>
			<div data-bind="visible:concepts().length > 0 || searchExecuted()">
				<faceted-datatable params="{orderColumn: 7, columns: $component.searchConceptsColumns, options: $component.searchConceptsOptions, reference: $component.concepts, rowCallback: model.contextSensitiveLinkColor }"></faceted-datatable>
				<div class="linkLegend">
					<div class="linkLegendItem">
						<div class="swatch standard">
						</div>
						<div class="linkLegendTitle">Standard</div>
					</div>
					<div class="linkLegendItem">
						<div class="swatch nonStandard">
						</div>
						<div class="linkLegendTitle">Non-Standard</div>
					</div>
					<div class="linkLegendItem">
						<div class="swatch classification">
						</div>
						<div class="linkLegendTitle">Classification</div>
					</div>
				</div>
					<div class="clear"></div>
				</div>
			</div>
		<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'import' }" class="tab-pane">
			<!-- ko if: model.currentConceptSet()!=null -->
			<div class="panel panel-danger">
				<div class="panel-heading">Concept Set Open</div>
				<div class="panel-body">Please close your current Concept Set before trying to import concepts.</div>
			</div>
			<!-- /ko -->
			<!-- ko if: model.currentConceptSet()==null -->
			<ul class="nav nav-pills">
				<li role="presentation" data-bind="click: function() {model.currentImportMode('identifiers');}, attr: {class: model.currentImportMode() == 'identifiers' ? 'active' : ''}"><a>Concept Identifiers</a>
				</li>
					<li role="presentation" data-bind="click: function() {model.currentImportMode('sourcecodes');}, attr: {class: model.currentImportMode() == 'sourcecodes' ? 'active' : ''}"><a>Source Codes</a>
					</li>
					<li role="presentation" data-bind="click: function() {model.currentImportMode('conceptset');}, attr: {class: model.currentImportMode() == 'conceptset' ? 'active' : ''}"><a>Concept Set</a>
					</li>
				</ul>
				<div id="wrapperImportSourcecodes" class="paddedWrapper form-group" data-bind="if:model.currentImportMode() == 'sourcecodes'">
					<div class="heading">Enter Source Codes (<a class="linkish" data-bind="click: function() { clearImportedConceptSet('#textImportSourcecodes');}">click to clear</a>)</div>
					<textarea class="form-control" rows="5" id="textImportSourcecodes"></textarea>
					<a data-bind="click:function() {importSourcecodes();}" class="btn btn-sm btn-primary pull-right"><span class="fa fa-upload"></span> Import Source Codes</a>
					<div class="clear"></div>
				</div>
				<div id="wrapperImportConceptIdentifiers" class="paddedWrapper form-group" data-bind="if:model.currentImportMode() == 'identifiers'">
					<div class="heading">Enter Concept Identifiers (<a class="linkish" data-bind="click: function() { clearImportedConceptSet('#textImportConceptIdentifiers');}">click to clear</a>)</div>
					<textarea class="form-control" rows="5" id="textImportConceptIdentifiers" data-bind="if:model.currentImportMode() == 'conceptset'"></textarea>
					<a data-bind="click:function() {importConceptIdentifiers();}" class="btn btn-sm btn-primary pull-right"><span class="fa fa-upload"></span> Import Concept Identifiers</a>
					<div class="clear"></div>
				</div>

			<div id="wrapperImportConceptSet" class="paddedWrapper form-group" data-bind="if:model.currentImportMode() == 'conceptset'">
				<div class="heading">Concept Set Expression JSON (<a class="linkish" data-bind="click: function() { $('#textImportConceptSet').val('');}">click to clear</a>)</div>
				<textarea class="form-control" rows="5" id="textImportConceptSet"></textarea>
				<div type="button" data-bind="css: {disabled: model.currentConceptSet()!=null}, click:function() {importConceptSetExpression();}" class="btn btn-sm btn-primary pull-right "><i class="fa fa-upload"></i> Import Concept Set Expression</div>
				<div class="clear"></div>

				<!-- ko if: model.selectedConcepts && model.selectedConcepts().length > 0 -->
				<div class="heading ">Imported Concept Set Expression</div>
				<table class="conceptSetTable stripe compact hover " cellspacing="0 " width="100% " data-bind="dataTable:{
				data: model.selectedConcepts(),
				options: { dom: 'Clfiprt',
				colVis: { buttonText: 'Change Columns', align: 'right', overlayFade: 0, showAll: 'Show All Columns', restore: 'Reset Columns' },
				rowCallback: model.contextSensitiveLinkColor,
				lengthMenu: [[25, 50, 100, -1], [25, 50, 100, 'All']],
				orderClasses: false,
				deferRender: true,
				autoWidth: false,
				order: [[3, 'desc']],
				columns: [
					{ title: '<li class=\'fa fa-shopping-cart\'></li>', render: model.renderConceptSetItemSelector, orderable:false, searchable:false},
					{ title: 'Concept Id', data: 'concept.CONCEPT_ID', visible:false},
					{ title: 'Concept Code', data: 'concept.CONCEPT_CODE'},
					{ title: 'Concept Name', render: model.renderBoundLink},
					{ title: 'Domain', data: 'concept.DOMAIN_ID' },
					{ title: 'Standard Concept Code', data: 'concept.STANDARD_CONCEPT', visible:false },
					{ title: 'Standard Concept Caption', data: 'concept.STANDARD_CONCEPT_CAPTION' },
				 	{ title: 'Exclude', class: 'text-center', orderable:false,render: function() { return model.renderCheckbox( 'isExcluded');} },
				  { title: 'Descendants', class: 'text-center', orderable:false,render: function() { return model.renderCheckbox( 'includeDescendants');} },
					{ title: 'Mapped', class: 'text-center', orderable:false,render: function() { return model.renderCheckbox( 'includeMapped');} } ] } }
			">
				</table>

					<div class="linkLegend ">
						<div class="linkLegendItem ">
							<div class="swatch standard ">
							</div>
							<div class="linkLegendTitle ">Standard</div>
						</div>
						<div class="linkLegendItem ">
							<div class="swatch nonStandard ">
							</div>
							<div class="linkLegendTitle ">Non-Standard</div>
						</div>
						<div class="linkLegendItem ">
							<div class="swatch classification ">
							</div>
							<div class="linkLegendTitle ">Classification</div>
						</div>
					</div>
					<!-- /ko -->
				</div>
			<!-- /ko -->
			</div>
		</div>
	</div>
</div>
