<div class="wrapperTitle">
    <i class="fa fa-fw fa-database"></i><span data-bind="text: $component.sourceCaption"></span>
</div>
<div data-bind="if:$component.hasAccess">
	<div data-bind="visible: !loading()">
			<!-- ko if: selectedSource() != null -->
			<div data-bind="if:$component.canReadSource">
					<div class="asset-heading">
							<input type="text" data-bind="textInput: selectedSource().name, enable: canEdit()"/>
							<div class="btn-group" role="group">
									<button class="btn btn-sm btn-success" title="Save"
													data-bind="click: save, enable: dirtyFlag().isDirty() && canSave(), css: {'disabled': !dirtyFlag().isDirty, 'btn-success': dirtyFlag().isDirty}">
											<i class="fa fa-save"></i></button>
									<button class="btn btn-sm btn-primary" title="Close" data-bind="click: close"><i
													class="fa fa-times"></i></button>
									<button class="btn btn-sm btn-danger" title="Delete" data-bind="click: $component.delete, enable: canDelete()"><i class="fa fa-trash-o"></i></button>
							</div>
					</div>
					<div class="pad-10">
							<div class="panel panel-primary">
									<div class="panel-body">
											<div class="source-params" style="width: 100%">
													<div class="source-row">
															<div class="control-group" style="width: 50%">
																	<label for="sourceKey">Source Key:</label>
																	<div class="form-group">
																			<input title="Source key" data-bind="textInput: selectedSource().key, enable: canEdit()" class="form-control" type="text" id="sourceKey"/>
																	</div>
															</div>
															<div class="control-group" style="width: 50%">
																	<label for="dialect">Source dialect:</label>
																	<div class="form-group">
																			<select title="Source dialect" class="form-control" data-bind="options: $component.options.dialectOptions, optionsText: 'name', optionsValue: 'id', value: $component.selectedSource().dialect, enable: canEdit()" id="dialect" />
																	</div>
															</div>
													</div>
													<div class="source-row">
														<div class="control-group" style="flex-grow: 1">
																<label for="connectionString">Connection string:</label>
																<input title="Connection string" data-bind="textInput: selectedSource().connectionString, enable: canEdit()" class="form-control" type="text" id="connectionString"/>
														</div>
													</div>
											<div data-bind="visible: showKrbAuth">
												<div class="source-row">
													<div class="control-group" style="width: 50%">
														<label>Username:</label>
														<div class="form-group">
															<input title="Username" data-bind="textInput: selectedSource().username, enable: canEdit()" class="form-control" type="text"/>
														</div>
													</div>
													<div class="control-group" style="width: 50%" data-bind="visible: !showKrbAuth() || !showKeytabDiv()">
														<label>Password:</label>
														<div class="form-group">
															<input title="Password" data-bind="textInput: selectedSource().password, enable: canEdit()" class="form-control" type="password"/>
														</div>
													</div>
												</div>
												<div class="source-row">
                                                    <div class="control-group" style="width: 50%">
                                                        <label>KrbRealm:</label>
                                                        <div class="form-group">
                                                            <input title="KrbRealm" data-bind="textInput: krbRealm, disable: true" class="form-control" type="text"/>
                                                        </div>
                                                    </div>
													<div class="control-group" style="width: 50%">
														<label>KrbHostFQDN:</label>
														<div class="form-group">
															<input title="KrbHostFQDN" data-bind="textInput: krbHostFQDN, disable: true" class="form-control" type="text"/>
														</div>
													</div>
                                                    <div class="control-group" style="width: 50%">
                                                        <label>KrbAdminServer:</label>
                                                        <div class="form-group">
                                                            <input title="KrbAdminServer" data-bind="textInput: selectedSource().krbAdminServer, enable: canEdit()" class="form-control" type="text"/>
                                                        </div>
                                                    </div>
												</div>
														<div class="form-group" >Authentication method:
                                                        <div><input type="radio" value="keytab"  data-bind="checked: selectedSource().authType"/>Keytab</div>
                                                        <div data-bind="visible: showKeytabDiv">
                                                            <input type="file" id="keytabFile" name="keytabFile" accept=".keytab" data-bind="event: { change: function() { uploadFile($element.files[0]) } }, visible: selectedSource().shouldShowFileInput()"/>
                                                            <span data-bind="text: selectedSource().keytabName, visible: !selectedSource().shouldShowFileInput()"></span>
                                                            <button type="button" class="btn btn-sm btn-danger" style="height:20px; margin-left:15px; padding-top:0" data-bind="visible: !selectedSource().shouldShowFileInput(), click: removeKeytab">Remove</button>
                                                         </div>
														<div><input type="radio" value="password" data-bind="checked: selectedSource().authType"/>User name and password</div>
														</div>
												</div>
											</div>
											<div class="panel panel-primary">
													<div class="panel-heading">Source daimons</div>
													<div class="panel-body">
															<table class="padded">
																	<tbody data-bind="foreach: selectedSource().daimons">
																			<td data-bind="text:daimonType"></td>
																			<td><input type="checkbox" data-bind="checked: enabled, enable: $component.canEdit()" /></td>
																			<td><input type="text" data-bind="textInput: tableQualifier, enable: $component.canEdit() && $data.enabled, attr: { title: daimonType + ' table qualifier' }" /></td>
																	</tbody>
															</table>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
			<div data-bind="ifnot:$component.canReadSource">
					<div class="padded">
							<access-denied params="isAuthenticated: isAuthenticated"></access-denied>
					</div>
			</div>
			<!-- /ko -->
	</div>
</div>
<div data-bind="ifnot:$component.hasAccess">
	<div class="padded">
		<access-denied params="isAuthenticated: isAuthenticated"></access-denied>
	</div>
</div>
