<div data-bind="css: classes()">
  <div data-bind="css: classes('header')">
    <!-- ko foreach: tabs -->
      <span
        data-bind="css: $component.classes({
          element: 'header-title',
          modifiers: $component.selectedTab() == $index() ? 'selected' : null
        }),
        text: $data.title,
        click: () => $component.selectedTab($index())"
      ></span>
    <!-- /ko -->
  </div>
  <!-- ko foreach: tabs -->
    <div data-bind="css: $component.classes({
      element: 'tab',
      modifiers: $component.selectedTab() == $index() ? 'selected' : null,
    })">
      <!-- ko template: { name: $data.templateId, data: context } --><!-- /ko -->
    </div>
  <!-- /ko -->
</div>