<div data-bind="css: classes()">
    <div data-bind="css: classes('header')">
        <!-- ko foreach: tabs -->
        <span
                data-bind="css: $component.classes({
          element: 'header-title',
          modifiers: $component.selectedTab() == $index() ? 'selected' : null
        }),
        text: $data.title,
        click: () => $component.selectTab($index())"
        ></span>
        <!-- /ko -->
    </div>
    <div data-bind="css: classes('tab')">
        <div data-bind='component: { name: $component.componentName, params: $component.componentParams }'></div>
    </div>
</div>