<div class="wrapperHeader">
	<!-- for notifications, job completion, etc. -->
	<div class="user-bar-container">
		<a data-toggle="modal" data-target="#jobModal"><i data-bind="css: {pending: jobNotificationsPending}" class="fa fa-bell"></i></a>
		<span data-bind="if:appConfig.userAuthenticationEnabled===true" style="display: inline-block;">
			<div data-bind="if: !isLoggedIn()"><a data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in"></i> Sign In</a></div>
			<div data-bind="if: isLoggedIn()"><a data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in"></i> Sign Out</a></div>
		</span>
	</div>
</div>

<div data-bind="if:appConfig.userAuthenticationEnabled===true" class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title" id="myModalLabel"><i class="fa fa-sign-in"></i> Sign In</div>
			</div>
			<div class="modal-body">
				<welcome params="{model: pageModel}"></welcome>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="jobModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-bell"></i> Notifications
			</div>
			<div class="modal-body">
				<div data-bind="if: $component.jobListing().length == 0">
					Notifications for jobs will be displayed here. A job could include cohort generation, cohort reporting, or other tasks that can take a long time to complete. This top right notification icon will highlight <i class="fa fa-bell pending"></i> if you
					have new notifications available.
				</div>
				<div data-bind="if: $component.jobListing().length > 0">
					<table class="pad-5" style="width:100%;">
						<thead>
							<th>Job Name</th>
							<th>Progress</th>
							<th>Status</th>
						</thead>
						<tbody>
							<!-- ko foreach: jobListing -->
							<tr>
								<td class="pad-5"><i class="fa fa-tasks"></i> <a data-bind="click:function() {$component.jobNameClick($data)}, text: $data.name" class="linkish"></a></td>
								<td class="pad-5">
									<div data-bind="if:$data.progress">
										<div class="progress">
											<div class="progress-bar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" role="progressbar" data-bind="style:{ width: $component.calculateProgress($data)}, text: $component.calculateProgress($data)"></div>
										</div>
									</div>
								</td>
								<td class="pad-5" data-bind="html: status"></td>
							</tr>
							<!-- /ko -->
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-bind="click:clearJobNotifications">Stop Watching These Jobs</button>
				<button type="button" data-bind="click:clearJobNotificationsPending" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
