<div class="wrapperHeader">
	<!-- ko if: loading -->
		<div data-bind="css: classes('loading')">
			<i class="fa fa-circle-o-notch fa-spin"></i>
		</div>
	<!-- /ko -->
	<!-- ko ifnot: loading -->
	<!-- for notifications, job completion, etc. -->
	<div class="user-bar-container">
		<!-- ko if: isLoggedIn -->
			<a data-bind="click: () => $component.showJobModal(true)"><i data-bind="css: {pending: jobNotificationsPending}" class="fa fa-bell"></i></a>
		<!-- /ko -->
		<div data-bind="if:appConfig.userAuthenticationEnabled===true" style="display: inline-block;">
			<div title="Sign In" data-bind="if: !isLoggedIn() || tokenExpired()"><span class="pipe">|</span><a data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in"></i>Sign In</a></div>
			<div title="Sign Out" data-bind="if: isLoggedIn() && !tokenExpired()"><span class="pipe">|</span><a data-toggle="modal" data-target="#myModal"><strong data-bind="text: authLogin"></strong><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a></div>
		</div>
	</div>
	<!-- /ko -->
</div>

<div data-bind="if:appConfig.userAuthenticationEnabled===true" class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title" id="myModalLabel"><i class="fa fa-sign-in"></i> Sign In</div>
			</div>
			<div class="modal-body">
				<welcome params="{model: model}"></welcome>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<atlas-modal params="
		showModal: $component.showJobModal,
		template: 'notifications-browser-template',
		title: 'Notifications (last 20)',
		data: {
			jobListing: $component.jobListing(),
			clearJobNotificationsPending: $component.clearJobNotificationsPending,
			jobNameClick: $component.jobNameClick
		}
	"
></atlas-modal>

<script type="text/html" id="notifications-browser-template">
	<div>
		<div data-bind="if: jobListing.length == 0">
			Notifications for jobs will be displayed here. A job could include cohort generation, cohort reporting, or other tasks that can take a long time to complete. This top right notification icon will highlight <i class="fa fa-bell pending"></i> if you
			have new notifications available.
		</div>
		<div data-bind="if: jobListing.length > 0">
			<table style="width:100%;">
				<thead>
				<th>Job Name</th>
				<th>Duration</th>
				<th>End time</th>
				<th>Status</th>
				</thead>
				<tbody>
				<!-- ko foreach: jobListing -->
				<tr>
					<td class="pad-5"><i class="fa fa-tasks"></i> <a data-bind="click: () => { $component.data().jobNameClick($data); }, text: $data.name" class="linkish"></a></td>
					<td class="pad-5" data-bind="html: duration"></td>
					<td class="pad-5" data-bind="html: endDate"></td>
					<td class="pad-5" data-bind="html: status"></td>
				</tr>
				<!-- /ko -->
				</tbody>
			</table>
		</div>
	</div>
	<div style="justify-content: flex-end; display: flex;">
		<button type="button" data-bind="click:clearJobNotificationsPending" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
	</div>
	<!--<div class="modal-footer">-->
		<!--<button type="button" data-bind="click:clearJobNotificationsPending" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>-->
	<!--</div>-->
</script>