<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	<span class="glyphicon glyphicon-cog"></span>
</button>
<ul class="dropdown-menu dropdown-menu-right" role="menu" data-bind="foreach:services">
	<li>
		<a href="#" data-bind="click:$parent.setCurrentServiceUrl">
			<div class="service-name">
				<span data-bind="text: name"></span>
				<span data-bind="visible: url == $parent.currentServiceUrl()" class="glyphicon glyphicon-ok-sign"></span>
			</div>
			<div class="service-info" data-bind="text:'Vocabulary ' + version() + ' (' + dialect() + ')'"></div>
		</a>
	</li>
</ul>
