<div class="paddedWrapper">
	<div>
		<!--
		<div data-bind="text: $component.status"></div>
		-->
		<div>
			<div data-bind="if: !isLoggedIn() || tokenExpired()">
				<!--
				<span class="btn btn-sm btn-primary" data-bind="click: $component.signin">Login</span> with my
				<select data-bind="options:$component.authProviders, optionsText:'name', value:$component.currentAuthProvider"></select> credentials
				-->

				<p class="text-danger" data-bind="if: isLoggedIn() && tokenExpired() && !$component.isGoogleIapAuth()">
                    <span data-bind="text: ko.i18n('components.welcome.messages.expired', 'Your session has expired. Please login again.')"></span>
				</p>
				<div data-bind="if: isLoggedIn() && tokenExpired() && $component.isGoogleIapAuth()">
					<p class="text-danger" data-bind="text: ko.i18n('components.welcome.messages.refresh', 'Your session has expired. Please refresh a page to continue.')"></p>

					<div class="form-group">
						<button type="button" class="btn btn-sm btn-default pull-right" data-bind="click: $component.refreshPage, text: ko.i18n('components.welcome.close', 'Close')"></button>
					</div>
				</div>


				<div data-bind="visible: !!$component.authProviders.length, text: ko.i18n('components.welcome.signinWith', 'Sign In with:')"></div>
				<div data-bind="foreach:$component.authProviders" class="text-centered">
					<div class="paddedWrapper">
						<div class="btn btn-sm btn-block btn-default" data-bind="click: function() { $component.signin(name) }"><i data-bind="css:icon"></i> <span data-bind="text:name"></span></div>
					</div>
				</div>
				<form data-bind="if: isDbLoginAtt(), submit:signinWithLoginPass" class="text-centered paddedWrapper">
					<div class="form-group">
						<input type="text" class="form-control" id="lg_username" data-bind="placeholder: !!loginPlaceholder() ? loginPlaceholder() : ko.i18n('components.welcome.username', 'Username')">
						<input type="password" class="form-control" id="lg_password" data-bind="placeholder:  !!passwordPlaceholder() ? passwordPlaceholder() : ko.i18n('components.welcome.password', 'Password')">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-sm btn-default" data-bind="text: ko.i18n('components.welcome.submit', 'Submit')"></button>
					</div>
					<div data-bind="if: isInProgress()" class="text-center">
						<loading/>
					</div>
				</form>
				<div data-bind="if: isBadCredentials() && !isInProgress()" class="error text-center"><span data-bind="text: errorMsg"></span></div>
				<div data-bind="if: reloginRequired() && !isInProgress()" class="error text-center"><span data-bind="text: ko.i18n('components.welcome.saml.loginRequired', 'Please log out from your Service Provider and try to login again.')"></span></div>
			</div>

			<div data-bind="if: isLoggedIn() && !tokenExpired()">
                <div data-bind="text: $component.status"></div>
                <span data-bind="css: classes({ element: 'signout-btn', extra: ['btn btn-sm btn-default'] }), click: $component.signout, visible: $component.token()"><i class="fa fa-sign-out"></i> <span data-bind="text: ko.i18n('components.welcome.signout', 'Sign Out')"></span></span>
                <span data-bind="css: classes({ element: 'signout-btn', extra: ['btn btn-sm btn-default'] }), click: $component.signoutIap, visible: $component.isGoogleIapAuth()"><i class="fa fa-sign-out"></i> <span data-bind="text: ko.i18n('components.welcome.signout', 'Sign Out')"></span></span>
				<div data-bind="if: isPermittedRunAs() && $component.token()">
					<div data-bind="css: classes({element: 'runas-container', extra: 'input-group'})">
						<input type="text" data-bind="css: classes({ element: 'runas-text', extra: 'form-control' }), value: runAsLogin, placeholder: ko.i18n('components.welcome.username', 'Username')">
                        <span data-bind="css: classes({ element: 'runas-btn', extra: ['btn btn-sm btn-danger'] }), click: runAs"><i class="fa fa-users"></i> <span data-bind="text:ko.i18n('components.welcome.runas', 'Run as')"></span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>