.cohort-conceptset-button-pane {
    padding-bottom: 10px;
}

.cohort-conceptset-button-pane button {
    margin-right: 3px;
}

.cohort-conceptset-button-pane button:last-child {
    margin-right: 0;
}

.nav-tabs li span.warning-alarm, .nav-tabs li span.warning-alarm:hover {
    background-color: #ff001a;
    color: #e3e3e3;
}

.nav-tabs li.active span.warning-alarm, .nav-tabs li.active span.warning-alarm:hover {
    color: #fefefe;
    border-color: #ff001a;
}

.nav-tabs li span.warning-info, .nav-tabs li span.warning-info:hover {
    background-color: #337ab7;
    color: #e3e3e3;
}

.nav-tabs li.active span.warning-info, .nav-tabs li.active span.warning-info:hover {
    color: #fefefe;
    border-color: #337ab7;
}

.nav-tabs li span.warning-warn, .nav-tabs li span.warning-warn:hover {
    background-color: #d82;
    color: #e3e3e3;
}

.nav-tabs li.active span.warning-warn, .nav-tabs li.active span.warning-warn:hover {
    color: #fefefe;
    border-color: #d82;
}

.nowrap {
    white-space: nowrap;
}

.btn-generate {
    position:relative;
    min-width: 110px
}

.cohort-definition-manager__exit-message {
     width: 100%;
     height: 600px;
}

.cohort-conceptset-button-pane .btn-success.disabled {
    color: #f3f3f3;
}

.sampleCreatingForm label {
    font-weight: bold !important;
}

.myCustomInputError {
    border-color: #a94442
}

.myCustomInputSuccess {
    border-color: #3c763d
}

.myCustomTextError {
    color: #a94442 !important
}

.myCustomTextSuccess {
    color: #3c763d !important
}

.sample-list.fa-trash {
    color: red;
    cursor: pointer;
}

.sample-list.fa-refresh {
    color: #265a88;
    cursor: pointer;
}
  