<div class="linkLegend">
  <div class="linkLegendItem">
    <div class="swatch standard">
    </div>
    <div class="linkLegendTitle" data-bind="text: ko.i18n('components.conceptLegend.standard', 'Standard')"></div>
  </div>
  <div class="linkLegendItem">
    <div class="swatch nonStandard">
    </div>
    <div class="linkLegendTitle" data-bind="text: ko.i18n('components.conceptLegend.nonStandard', 'Non-Standard')"></div>
  </div>
  <div class="linkLegendItem">
    <div class="swatch classification">
    </div>
    <div class="linkLegendTitle" data-bind="text: ko.i18n('components.conceptLegend.classification', 'Classification')"></div>
  </div>
</div>
</div>