<atlas-modal params="{
        showModal: $component.show,
        iconClass: 'fa fa-save',
        title: ko.i18n('components.conceptSetSaveModal.saveNewConceptSet', 'Save New Concept Set'),
        fade: $component.fade,
        data: $component
    }">
    <div class="concept-set-dialog modal-body">
        <span class="help-block" data-bind="hidden: isNameUnique"><i class="fa fa-exclamation-triangle"></i> <span data-bind="text: ko.i18n('components.conceptSetSaveModal.conceptSetAlreadyExists', 'Concept Set already exists')"></span></span>
        <div class="concept-set-form">
            <label data-bind="text: ko.i18n('components.conceptSetSaveModal.conceptSetNameLabel', 'Concept Set Name:')"></label>
            <input type="text" data-bind="textInput: conceptSetName, placeholder: ko.i18n('components.conceptSetSaveModal.conceptSetNamePlaceholder', 'Concept Set Name')" />
        </div>
    </div>
    <div class="concept-set-dialog modal-footer">
        <button type="button" data-bind="click: onSave, enable: canSave, text: ko.i18n('common.save', 'Save')" class="btn btn-success"></button>
    </div>
</atlas-modal>
