<div class="wrapperTitle">
    <!-- ko if:loading -->
    <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
    <!-- /ko -->
    <!-- ko ifnot:loading -->
    <i class="fa fa-users"></i> Import Users from LDAP/Active Directory
    <!-- /ko -->
</div>

<div class="paddedWrapper">
    <div class="panel panel-primary">
        <div class="panel-heading padded">Importing users</div>
        <div class="panel-body">

            <!-- select sources -->
            <div data-bind="if: hasMultipleProviders && wizardStep() === $component.WIZARD_STEPS.SOURCES">
                    <div class="panel panel-info padded">
                        <div class="panel-body">
                        Please, select a source to import users from.
                        </div>
                    </div>
                    <div class="btn-group users-import__group">
                        <label class="btn"><input name="importSource" id="cbActiveDirectory" type="radio" value="ad" data-bind="checked: importSource" /> Active Directory</label>
                        <label class="btn"><input name="importSource" id="cbLdap" type="radio" value="ldap" data-bind="checked: importSource" /> LDAP server</label>
                    </div>
            </div>

            <!-- login to source -->
            <div data-bind="if: wizardStep() === 'login'">
                <div class="padded">
                    <div class="panel panel-info padded">
                        <div class="panel-body">
                        Please, provide credentials of administrative account to LDAP/Active Directory that has permissions to search across directory.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username or Bind DN:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-primary">Test connection</button>
                    </div>
                </div>
            </div>

            <!-- Role mapping -->
            <div data-bind="if: wizardStep() === WIZARD_STEPS.MAPPING">
                <div class="padded">
                    <div class="panel panel-info padded">
                        <div class="panel-body">
                            Please, provide LDAP/Active Directory groups mapping to Atlas roles if required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="users-import__button-pane">
                <button class="btn btn-sm btn-primary" data-bind="visible: hasPrevious, click: prevStep">Prev</button>
                <button class="btn btn-sm btn-primary" data-bind="visible: hasNext, click: nextStep">Next</button>
            </div>
        </div>

    </div>
</div>

